{% load static %}
<section class="yoga blog">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="title title2">
                    <h2>Gifts & Cards</h2>
                    <img alt="" class="img-fluid" src="{% static 'assets/images/yoga-img/logo/wave-blue.png' %}">
                </div>
            </div>
            <div class="col-12">
                <div class="owl-carousel owl-theme" id="blog-slider">
                    <div class="item">
                        <div class="img-container">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/yoga-img/blog/1.jpg' %}">
                            <div class="overlay"></div>
                            <div class="blog-info set-abs">
                                <div class="center-text d-flex m-b-25">
                                    <i aria-hidden="true" class="fa fa-user-o m-r-5"></i>
                                    <h6 class="m-r-25 font-blog">admin</h6>
                                    <i aria-hidden="true" class="fa fa-calendar-o m-r-5 "></i>
                                    <h6 class="font-blog">5 September 2019</h6>
                                </div>
                                <h4 class="blog-text">Find Great Speaker For Event.</h4>
                                <p class="borders-before"><span>Detais This Event</span></p>
                                <p class="small-font">Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the industry's standard .</p>
                                <div class="social-list">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-google center-content"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-container">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/yoga-img/blog/2.jpg' %}">
                            <div class="overlay"></div>
                            <div class="blog-info set-abs">
                                <div class="center-text d-flex m-b-25">
                                    <i aria-hidden="true" class="fa fa-user-o m-r-5"></i>
                                    <h6 class="m-r-25 font-blog">admin</h6>
                                    <i aria-hidden="true" class="fa fa-calendar-o m-r-5 "></i>
                                    <h6 class="font-blog">5 September 2019</h6>
                                </div>
                                <h4 class="blog-text">Find Great Speaker For Event.</h4>
                                <p class="borders-before"><span>Detais This Event</span></p>
                                <p class="small-font">Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the industry's standard .</p>
                                <div class="social-list">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-google center-content"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-container">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/yoga-img/blog/3.jpg' %}">
                            <div class="overlay"></div>
                            <div class="blog-info set-abs">
                                <div class="center-text d-flex m-b-25">
                                    <i aria-hidden="true" class="fa fa-user-o m-r-5"></i>
                                    <h6 class="m-r-25 font-blog">admin</h6>
                                    <i aria-hidden="true" class="fa fa-calendar-o m-r-5 "></i>
                                    <h6 class="font-blog">5 September 2019</h6>
                                </div>
                                <h4 class="blog-text">Find Great Speaker For Event.</h4>
                                <p class="borders-before"><span>Detais This Event</span></p>
                                <p class="small-font">Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry. Lorem Ipsum has been the industry's standard .</p>
                                <div class="social-list">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-google center-content"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>