{% load static %}
<section class="yoga brand-slider">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel owl-theme" id="gym-brand">
                    <div class="item"><a href="#"><img alt="" class="img-fluid"
                                                       src="{% static 'assets/images/yoga-img/brand/1.png' %}"></a></div>
                    <div class="item"><a href="#"><img alt="" class="img-fluid"
                                                       src="{% static 'assets/images/yoga-img/brand/2.png' %}"></a></div>
                    <div class="item"><a href="#"><img alt="" class="img-fluid"
                                                       src="{% static 'assets/images/yoga-img/brand/3.png' %}"></a></div>
                    <div class="item"><a href="#"><img alt="" class="img-fluid"
                                                       src="{% static 'assets/images/yoga-img/brand/4.png' %}"></a></div>
                </div>
            </div>
        </div>
    </div>
</section>