{% load static %}
<section class="yoga event bg img-1">
    <div class="animated-bg"><i></i><i></i><i></i></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="title title2">
                    <h2 class="text-white">event</h2>
                    <img alt="" class="img-fluid" src="{% static 'assets/images/yoga-img/logo/bottom-curve.png' %}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="event-container d-flex">
                    <div class="yoga-circle">
                        <h3 class="gradient-text">01</h3>
                        <h6 class="month">March</h6>
                    </div>
                    <div class="event-info center-content">
                        <h4 class="text-white address">Menla Mountain Retreat.</h4>
                        <h6 class="text-white time">March 1, 2019 @ 8:00 am - September 30, 2019 @ 5:00 pm</h6>
                        <h6 class="text-white city"><i aria-hidden="true" class="fa fa-map-marker m-r-5"></i>Newyork
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="event-container d-flex">
                    <div class="yoga-circle">
                        <h3 class="gradient-text">02</h3>
                        <h6 class="month">April</h6>
                    </div>
                    <div class="event-info center-content">
                        <h4 class="text-white address">Menla Mountain Center</h4>
                        <h6 class="text-white time">April 2, 2019 @ 8:00 am - September 30, 2019 @ 5:00 pm</h6>
                        <h6 class="text-white city"><i aria-hidden="true" class="fa fa-map-marker m-r-5"></i>Newyork
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="event-container d-flex">
                    <div class="yoga-circle">
                        <h3 class="gradient-text">03</h3>
                        <h6 class="month">January</h6>
                    </div>
                    <div class="event-info center-content">
                        <h4 class="text-white address">Menla Mountain Center</h4>
                        <h6 class="text-white time">August 3, 2019 @ 8:00 am - September 30, 2019 @ 5:00 pm</h6>
                        <h6 class="text-white city"><i aria-hidden="true" class="fa fa-map-marker m-r-5"></i>Australia
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="event-container d-flex">
                    <div class="yoga-circle">
                        <h3 class="gradient-text">04</h3>
                        <h6 class="month">Jun</h6>
                    </div>
                    <div class="event-info center-content">
                        <h4 class="text-white address">Menla Retreat Center</h4>
                        <h6 class="text-white time">August 4, 2019 @ 8:00 am - September 30, 2019 @ 5:00 pm</h6>
                        <h6 class="text-white city"><i aria-hidden="true" class="fa fa-map-marker m-r-5"></i>US</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="event-container d-flex">
                    <div class="yoga-circle">
                        <h3 class="gradient-text">06</h3>
                        <h6 class="month">July</h6>
                    </div>
                    <div class="event-info center-content">
                        <h4 class="text-white address">Mountain Retreat Center</h4>
                        <h6 class="text-white time">August 6, 2019 @ 8:00 am - September 30, 2019 @ 5:00 pm</h6>
                        <h6 class="text-white city"><i aria-hidden="true" class="fa fa-map-marker m-r-5"></i>UK</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="event-container d-flex">
                    <div class="yoga-circle">
                        <h3 class="gradient-text">05</h3>
                        <h6 class="month">April</h6>
                    </div>
                    <div class="event-info center-content">
                        <h4 class="text-white address">Menla Retreat Center</h4>
                        <h6 class="text-white time">August 5, 2019 @ 8:00 am - September 30, 2019 @ 5:00 pm</h6>
                        <h6 class="text-white city"><i aria-hidden="true" class="fa fa-map-marker m-r-5"></i>India</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>