{% load static %}
<section class="yoga pricing" id="plan">
    <div class="animated-bg"><i></i><i></i><i></i></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="title title2">
                    <h2>Gifts & Cards</h2>
                    <img alt="" class="img-fluid" src="{% static 'assets/images/yoga-img/logo/wave-blue.png' %}">
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-12">
                <div class="owl-carousel owl-theme pricing-slider price-margin">
                    <div class="item">
                        <div class="price-container shadows text-center">
                            <div class="service-feature ">
                                <div class="feature-text">
                                    <img alt="" class="image-top" src="{% static 'assets/images/yoga-img/abs-yoga.png' %}">
                                    <h3 class="text-white feature-text-heading">free</h3>
                                </div>
                            </div>
                            <div>
                                <div class="price-feature-container ">
                                    <div class="price-features">
                                        <h5 class="price-feature">Lorem Ipsum is simply </h5>
                                        <h5 class="price-feature">dummy text of the </h5>
                                        <h5 class="price-feature">printing and typesetting </h5>
                                    </div>
                                    <div class="price-value"><h6 class="price">$<span class="large">0</span>/month</h6>
                                    </div>
                                    <a class="btn btn-default btn-gradient" href="#">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container shadows text-center">
                            <div class="service-feature ">
                                <div class="feature-text">
                                    <img alt="" class="image-top" src="{% static 'assets/images/yoga-img/abs-yoga.png' %}">
                                    <h3 class="text-white feature-text-heading">medium</h3>
                                </div>
                            </div>
                            <div>
                                <div class="price-feature-container ">
                                    <div class="price-features">
                                        <h5 class="price-feature">Easy Installations</h5>
                                        <h5 class="price-feature">Unlimited support</h5>
                                        <h5 class="price-feature">Free Forever</h5>
                                    </div>
                                    <div class="price-value"><h6 class="price">$<span class="large">49</span>/month</h6>
                                    </div>
                                    <a class="btn btn-default btn-gradient" href="#">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container shadows text-center">
                            <div class="service-feature ">
                                <div class="feature-text">
                                    <img alt="" class="image-top" src="{% static 'assets/images/yoga-img/abs-yoga.png' %}">
                                    <h3 class="text-white feature-text-heading">business</h3>
                                </div>
                            </div>
                            <div>
                                <div class="price-feature-container">
                                    <div class="price-features">
                                        <h5 class="price-feature">Easy Installations</h5>
                                        <h5 class="price-feature">Unlimited support</h5>
                                        <h5 class="price-feature">Free Forever</h5>
                                    </div>
                                    <div class="price-value"><h6 class="price">$<span class="large">99</span>/month</h6>
                                    </div>
                                    <a class="btn btn-default btn-gradient" href="#">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container price-margin shadows text-center">
                            <div class="service-feature ">
                                <div class="feature-text">
                                    <img alt="" class="image-top" src="{% static 'assets/images/yoga-img/abs-yoga.png' %}">
                                    <h3 class="text-white feature-text-heading">business</h3>
                                </div>
                            </div>
                            <div>
                                <div class="price-feature-container">
                                    <div class="price-features">
                                        <h5 class="price-feature">Easy Installations</h5>
                                        <h5 class="price-feature">Unlimited support</h5>
                                        <h5 class="price-feature">Free Forever</h5>
                                    </div>
                                    <div class="price-value"><h6 class="price">$<span class="large">99</span>/month</h6>
                                    </div>
                                    <a class="btn btn-default btn-gradient" href="#">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>