{% load static %}
<section class="yoga testimonial bg img-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="title title2">
                    <h2 class="text-white">what people say</h2>
                    <img alt="" class="img-fluid" src="{% static 'assets/images/yoga-img/logo/bottom-curve.png' %}">
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1">
                <div class="owl-carousel owl-theme testimonial-slider" id="testimonial-slider">
                    <div class="item">
                        <img alt="" class="img-fluid m-auto" src="{% static 'assets/images/gym/testimonial/quote.png' %}">
                        <div class="text-center testimonial-info">
                            <p class="testimonial-para">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer
                                took a galley of type and scrambled it to.</p>
                            <img alt="" class="img-fluid m-auto"
                                 src="{% static 'assets/images/yoga-img/testimonial/testimonial-img.png' %}">
                            <div class="testimonial-name m-t-10"><h4 class="text-white name">Alan Lakor</h4></div>
                            <div class="testimonial-post"><h6 class="text-white post">CEO OF SC.</h6></div>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" class="img-fluid m-auto" src="{% static 'assets/images/gym/testimonial/quote.png' %}">
                        <div class="text-center testimonial-info">
                            <p class="testimonial-para">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer
                                took a galley of type and scrambled it to.</p>
                            <img alt="" class="img-fluid m-auto"
                                 src="{% static 'assets/images/yoga-img/testimonial/testimonial-img.png' %}">
                            <div class="testimonial-name m-t-10"><h4 class="text-white name">Alan Lakor</h4></div>
                            <div class="testimonial-post"><h6 class="text-white post">CEO OF SC.</h6></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>