{% load static %}
<section class="saas1 faq testimonial-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text m-b-0"><span class="text-uppercase">accordion with image</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="faq-block">
                    <div class="w-100">
                        <div class="accordion faq m-0" id="accordionExample11">
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed p-t-0" data-bs-target="#collapse11"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse show" data-parent="#accordionExample11" id="collapse11">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse22"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample11" id="collapse22">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse33"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample11" id="collapse33">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse44"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample11" id="collapse44">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse55"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample11" id="collapse55">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse66"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample11" id="collapse66">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse77"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample11" id="collapse77">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="faq-img-block">
                    <img alt="faq-person" class="img-fluid" src="{% static 'assets/images/saas1/faq-img.png' %}">
                </div>
            </div>
        </div>
    </div>
</section>