{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Unice" name="description">
    <meta content="Unice" name="keywords">
    <meta content="Unice" name="author">

    <title>Unice</title>

    <!-- Fav icon -->
    <link href="{% static 'assets/images/logo/favicon.png' %}" rel="shortcut icon">
    <!-- Font Family-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <!--bootstrap css-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <!-- color css -->
    <link href="{% static 'assets/css/inner-page.css' %}" rel="stylesheet" type="text/css">
</head>
<body class="bg-purple">

    {% include 'pages/404/components/404.html' %}
<!-- latest jquery-->
<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
<!-- popper js-->
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<!-- Bootstrap js-->
<script src="{% static 'assets/js/bootstrap.js' %}"></script>
<!-- common js-->
<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>
