{% extends 'base-features.html' %}{% load static %}
{% block css %}
<!-- color css -->
<link href="{% static 'assets/css/inner-page.css' %}" rel="stylesheet" type="text/css">
<!--owl carousel css-->
<link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet">
<!--keyframe css-->
<link href="{% static 'assets/css/keyframes.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}

<!--breadcrumb section start-->
<section class="agency breadcrumb-section breadcrumb-section-main inner-3">
    <div class="container">
        <div class="row">
            <div class="col-12"><h2 class="breadcrumb-text text-center">features with footer 1 light</h2>
                <ul class="breadcrumb justify-content-center">

                    <li><a href="#">footer style</a></li>
                    <li>footer 1 light</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end-->

<section class="app1 download">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6" data-aos="fade-right" data-aos-duration="1500">
                <div class="center-content center-mobile">
                    <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing1/mobile.png' %}">
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-6">
                <div class="center-text">
                    <div>
                        <div class="download-img d-flex">
                            <div class="set-relative">
                                <img alt="" class="download-icon img-fluid"
                                     src="{% static 'assets/images/app_landing1/download/download.png' %}">
                                <div class="set-abs elipse center-abs">
                                    <img alt="" src="{% static 'assets/images/app_landing1/download/Ellipse.png' %}">
                                </div>
                            </div>
                            <div class="center-img-content m-l-15">
                                <h3 class="m-b-5">download</h3>
                                <p>the Unice</p>
                            </div>
                        </div>
                        <div class="information">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                do eiusmod tempor unt ut labore et
                                dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud ercitation ullamco laboris nisi ut aliquip ex ea
                                commodo
                                consequat.Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur
                                sint
                                occaecat cupidatat non proident, sunt in culpa.</p>
                        </div>
                        <div class="link-horizontal">
                            <ul>
                                <li>
                                    <a class="icon-btn">
                                        <i aria-hidden="true" class="fa fa-android center-content shadow"></i>
                                        <h6 class="text-center font-primary">android</h6>
                                    </a>
                                </li>
                                <li class="borders-right p-0"></li>
                                <li>
                                    <a class="icon-btn">
                                        <i aria-hidden="true" class="fa fa-apple center-content shadow"></i>
                                        <h6 class="text-center font-primary">ios</h6>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- subscribe section Start-->
<footer class="app1 subscribe light" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="title title1">
                    <div class="main-title">
                        <h2>Subscribe to our newsletter</h2>
                    </div>
                    <div class="sub-title">
                        <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="subscribe">
                    <div class="center-content">
                        <div class="form-group">
                            <div class="d-flex">
                                <input class="form-control " name="email"
                                       placeholder="Please Enter Your Email Address"
                                       type="email">
                                <div class="button-primary">
                                    <button class=" btn btn-default btn-gradient text-white text-uppercase"
                                            type="submit">subscribe
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="socials-lists m-t-50">
                    <ul class="socials-horizontal justify-content-center">
                        <li>
                            <a href="#"><i aria-hidden="true" class="fa fa-facebook center-content"></i></a>
                        </li>
                        <li>
                            <a href="#"><i aria-hidden="true"
                                           class="fa fa-twitter center-content"></i></a>
                        </li>
                        <li>
                            <a href="#"><i aria-hidden="true"
                                           class="fa fa-google center-content"></i></a>
                        </li>
                        <li>
                            <a href="#"><i aria-hidden="true" class="fa fa-instagram center-content"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- subscribe section end-->

<!-- copyright section Start-->
<div class="app1 copyright">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="center-content">
                    <div>
                        <h6 class="copyright-text text-white">Copyright © 2019, Development by Pixelstrap</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- copyright section end-->

{% endblock content %}
{% block scriptcontent %}
<!--owl js-->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<!-- counter js-->
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
{% endblock scriptcontent %}