{% extends 'base-features.html' %}{% load static %}
{% block css %}
<!-- color css -->
<link href="{% static 'assets/css/inner-page.css' %}" rel="stylesheet" type="text/css">
<!--owl carousel css-->
<link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet">
<!--keyframe css-->
<link href="{% static 'assets/css/keyframes.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}

<!--breadcrumb section start-->
<section class="agency breadcrumb-section breadcrumb-section-main inner-3">
    <div class="container">
        <div class="row">
            <div class="col-12"><h2 class="breadcrumb-text text-center">features with footer 3 dark</h2>
                <ul class="breadcrumb justify-content-center">

                    <li><a href="#">footer style</a></li>
                    <li>footer 3 dark</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end-->

<section class="app1 download">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6" data-aos="fade-right" data-aos-duration="1500">
                <div class="center-content center-mobile">
                    <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing1/mobile.png' %}">
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-6">
                <div class="center-text">
                    <div>
                        <div class="download-img d-flex">
                            <div class="set-relative">
                                <img alt="" class="download-icon img-fluid"
                                     src="{% static 'assets/images/app_landing1/download/download.png' %}">
                                <div class="set-abs elipse center-abs">
                                    <img alt="" src="{% static 'assets/images/app_landing1/download/Ellipse.png' %}">
                                </div>
                            </div>
                            <div class="center-img-content m-l-15">
                                <h3 class="m-b-5">download</h3>
                                <p>the Unice</p>
                            </div>
                        </div>
                        <div class="information">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor unt ut
                                labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud ercitation ullamco laboris nisi ut
                                aliquip ex ea
                                commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                dolore eu
                                fugiat nulla pariatur.Excepteur sint occaecat cupidatat non proident, sunt in culpa.
                            </p>
                        </div>
                        <div class="link-horizontal">
                            <ul>
                                <li>
                                    <a class="icon-btn">
                                        <i aria-hidden="true" class="fa fa-android center-content shadow"></i>
                                        <h6 class="text-center font-primary">android</h6>
                                    </a>
                                </li>
                                <li class="borders-right p-0"></li>
                                <li>
                                    <a class="icon-btn">
                                        <i aria-hidden="true" class="fa fa-apple center-content shadow"></i>
                                        <h6 class="text-center font-primary">ios</h6>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--contact section start-->
<footer class="resume copyright copyright-bg dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="link link-horizontal">
                    <ul class="justify-content-center">
                        <li>
                            <a class="copyright-text" href="#">home</a>
                        </li>
                        <li>
                            <a class="copyright-text" href="#">couple</a>
                        </li>
                        <li>
                            <a class="copyright-text" href="#">invitation</a>
                        </li>
                        <li>
                            <a class="copyright-text" href="#">album </a>
                        </li>
                        <li>
                            <a class="copyright-text" href="#">friends say</a>
                        </li>
                        <li>
                            <a class="copyright-text" href="#">gift</a>
                        </li>
                    </ul>
                </div>
                <hr>
            </div>
            <div class="col-12">
                <div class="text-center">
                    <div class="social-link link-horizontal">
                        <ul class="justify-content-center">
                            <li>
                                <a class="copyright-text" href="#">
                                    <i aria-hidden="true" class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a class="copyright-text" href="#">
                                    <i aria-hidden="true" class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a class="copyright-text" href="#">
                                    <i aria-hidden="true" class="fa fa-google"></i>
                                </a>
                            </li>
                            <li>
                                <a class="copyright-text " href="#">
                                    <i aria-hidden="true" class="fa fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="m-l-auto center-para">
                    <h6 class="copyright-text text-center">© 2021 Unice powered by Pixelstrap</h6>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--contact section end-->

{% endblock content %}
{% block scriptcontent %}
<!--owl js-->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<!-- counter js-->
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
<!-- script js-->
<script src="{% static 'assets/js/footer_blog.js' %}"></script>

{% endblock scriptcontent %}