{% load static %}
<section class="saas2 feature booking" id="feaure">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title">
                    <div class="main-title">
                        <h2>Advance Features</h2>
                    </div>
                    <div class="sub-title">
                        <p class="sub-title-para">We believe we have created the most efficient SaaS landing page for
                            your users.
                            Landing page with features that will convince you to use it for your SaaS business.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-md-7">
                <div class="center-text justify-content-center">
                    <div class="image-container">
                        <img alt="" class="img-fluid advance-feature-img"
                             src="{% static 'assets/images/saas2/advance-feature/01.png' %}">
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-5">
                <div>
                    <div class="center-content justify-content-start">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/saas2/advance-feature/1.png' %}">
                        <div class="feature-content">
                            <h5 class="feature-head">Clean Design</h5>
                            <p class="feature-para">Lorem Ipsum is simply dummy text
                                of the printing and industry.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="center-content justify-content-start">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/saas2/advance-feature/2.png' %}">
                        <div class="feature-content">
                            <h5 class="feature-head">Dedicated Support</h5>
                            <p class="feature-para">Lorem Ipsum is simply dummy text
                                of the printing and industry.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="center-content justify-content-start">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/saas2/advance-feature/3.png' %}">
                        <div class="feature-content">
                            <h5 class="feature-head">Easy Customiable</h5>
                            <p class="feature-para">Lorem Ipsum is simply dummy text
                                of the printing and industry.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="center-content justify-content-start">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/saas2/advance-feature/4.png' %}">
                        <div class="feature-content">
                            <h5 class="feature-head">Multiple Demo</h5>
                            <p class="feature-para">Lorem Ipsum is simply dummy text
                                of the printing and industry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>