{% load static %}
<section class="saas2 header" id="home">
    <div class="saas2-content ">
        <div class="bg saas2-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="center-text">
                            <div>
                                <div class="header-text">
                                    <h1>Powerful services</h1>
                                </div>
                                <div class="header-sub-text">
                                    <h3 class="saas2-sub-text">For Powerful <span class="bold-text">Desktop App</span>
                                    </h3>
                                </div>
                                <div class="header-sub-text">
                                    <p class="sub-para text-white">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem Ipsum has beeN</p>
                                </div>
                                <a class="btn btn-default primary-btn transparent">start now</a>
                            </div>
                        </div>
                    </div>
                    <div class="center-text set-abs auto">
                        <img alt="" class="img-fluid img-dextop" src="{% static 'assets/images/saas2/dextop2.png' %}">
                    </div>
                </div>
            </div>

            <img alt="" class="img-fluid set-abs background-animate"
                 src="{% static 'assets/images/saas1/background2.png' %}">
            <img alt="" class="img-fluid set-abs img1 move-up-down"
                 src="{% static 'assets/images/saas2/header-icon/3.png' %}">
            <img alt="" class="img-fluid set-abs img2 move-right-left"
                 src="{% static 'assets/images/saas2/header-icon/2.png' %}">
            <img alt="" class="img-fluid set-abs img3 move-up-down"
                 src="{% static 'assets/images/saas2/header-icon/4.png' %}">
            <img alt="" class="img-fluid set-abs img4 move-up-down"
                 src="{% static 'assets/images/saas2/header-icon/5.png' %}">
            <img alt="" class="img-fluid set-abs img5 move-right-left"
                 src="{% static 'assets/images/saas2/header-icon/7.png' %}">
            <img alt="" class="img-fluid set-abs img6 move-up-down"
                 src="{% static 'assets/images/saas2/header-icon/9.png' %}">
            <img alt="" class="img-fluid set-abs img7 move-up-down"
                 src="{% static 'assets/images/saas2/header-icon/6.png' %}">
            <div class="set-abs round move-right-left">
                <img alt="" class="img-fluid img8" src="{% static 'assets/images/saas2/header-icon/10.png' %}">
                <div class="set-abs inner-circle">
                    <img alt="" class="img-fluid img9" src="{% static 'assets/images/saas2/header-icon/8.png' %}">
                </div>
            </div>
            <div class="center-content bottom-content">
                <div class="bottom">
                    <a class="down" href="#">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/saas2/header-icon/down.png' %}">
                    </a>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
</section>