{% load static %}
<section class="saas2 pricing m-0" id="plan">
    <div class="col-md-10 offset-md-1 col-12">
        <div class="container saas2-services">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="title">
                        <div class="main-title">
                            <h2>pricing plan</h2>
                        </div>
                        <div class="sub-title">
                            <p class="sub-title-para">We believe we have created the most efficient SaaS landing page
                                for
                                your users.
                                Landing page with features that will convince you to use it for your SaaS business.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-8 offset-md-2 offset-lg-0">
                    <div class="owl-carousel owl-theme pricing-slider price-margin">
                        <div class="item">
                            <div class="price-container shadows text-center">
                                <div class="service-feature ">
                                    <div class="feature-text">
                                        <img alt="" class="image-top" src="{% static 'assets/images/yoga-img/abs-yoga.png' %}">
                                        <h3 class="text-white feature-text-heading text-center">free</h3>
                                    </div>
                                </div>
                                <div>
                                    <div class="price-feature-container ">
                                        <div class="price-features">
                                            <h6 class="price text-center-feature">100 MB Disk Space</h6>
                                            <h6 class="price text-center-feature">2 Subdomains</h6>
                                            <h6 class="price text-center-feature">5 Email Accounts</h6>
                                            <h6 class="price text-center-feature">Webmail Support</h6>
                                        </div>
                                        <div class="price-value">
                                            <h6 class="price text-center">$<span class="large">0</span>/month</h6>
                                        </div>
                                        <a class="btn btn-default btn-gradient" href="#">more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="price-container shadows text-center">
                                <div class="service-feature ">
                                    <div class="feature-text">
                                        <img alt="" class="image-top" src="{% static 'assets/images/yoga-img/abs-yoga.png' %}">
                                        <h3 class="text-white feature-text-heading text-center">medium</h3>
                                    </div>
                                </div>
                                <div>
                                    <div class="price-feature-container ">
                                        <div class="price-features">
                                            <h6 class="price text-center-feature">100 MB Disk Space</h6>
                                            <h6 class="price text-center-feature">2 Subdomains</h6>
                                            <h6 class="price text-center-feature">5 Email Accounts</h6>
                                            <h6 class="price text-center-feature">Webmail Support</h6>
                                        </div>
                                        <div class="price-value">
                                            <h6 class="price text-center">$<span class="large">49</span>/month</h6>
                                        </div>
                                        <a class="btn btn-default btn-gradient" href="#">more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="price-container shadows text-center">
                                <div class="service-feature ">
                                    <div class="feature-text">
                                        <img alt="" class="image-top" src="{% static 'assets/images/yoga-img/abs-yoga.png' %}">
                                        <h3 class="text-white feature-text-heading text-center">business</h3>
                                    </div>
                                </div>
                                <div>
                                    <div class="price-feature-container">
                                        <div class="price-features">
                                            <h6 class="price text-center-feature">100 MB Disk Space</h6>
                                            <h6 class="price text-center-feature">2 Subdomains</h6>
                                            <h6 class="price text-center-feature">5 Email Accounts</h6>
                                            <h6 class="price text-center-feature">Webmail Support</h6>
                                        </div>
                                        <div class="price-value">
                                            <h6 class="price text-center">$<span class="large">99</span>/month</h6>
                                        </div>
                                        <a class="btn btn-default btn-gradient" href="#">more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="price-container shadows text-center">
                                <div class="service-feature ">
                                    <div class="feature-text">
                                        <img alt="" class="image-top" src="{% static 'assets/images/yoga-img/abs-yoga.png' %}">
                                        <h3 class="text-white feature-text-heading text-center">business</h3>
                                    </div>
                                </div>
                                <div>
                                    <div class="price-feature-container">
                                        <div class="price-features">
                                            <h6 class="price text-center-feature">100 MB Disk Space</h6>
                                            <h6 class="price text-center-feature">2 Subdomains</h6>
                                            <h6 class="price text-center-feature">5 Email Accounts</h6>
                                            <h6 class="price text-center-feature">Webmail Support</h6>
                                        </div>
                                        <div class="price-value">
                                            <h6 class="price text-center">$<span class="large">99</span>/month</h6>
                                        </div>
                                        <a class="btn btn-default btn-gradient" href="#">more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>