{% load static %}
<section class="saas2 services">
    <div class="container saas2-services">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title">
                    <div class="main-title">
                        <h2>our Features</h2>
                    </div>
                    <div class="sub-title">
                        <p class="sub-title-para">We believe we have created the most efficient SaaS landing page for
                            your users.
                            Landing page with features that will convince you to use it for your SaaS business.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-container">
                <div class="service text-center">
                    <div class="img-block">
                        <img alt="" class="service-img img-fluid" src="{% static 'assets/images/saas2/our-feature/1.png' %}">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text text-center">Content Management</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the ma- jority have
                            suffered.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-container">
                <div class="service text-center">
                    <div class="img-block">
                        <img alt="" class="service-img img-fluid" src="{% static 'assets/images/saas2/our-feature/2.png' %}">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text text-center">Project Analysis</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the ma- jority have
                            suffered.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-container">
                <div class="service text-center">
                    <div class="img-block">
                        <img alt="" class="service-img img-fluid" src="{% static 'assets/images/saas2/our-feature/3.png' %}">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text text-center">Support & Service</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the ma- jority have
                            suffered.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-container">
                <div class="service text-center">
                    <div class="img-block">
                        <img alt="" class="service-img img-fluid" src="{% static 'assets/images/saas2/our-feature/4.png' %}">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text text-center">Project Management</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the ma- jority have
                            suffered.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-container">
                <div class="service text-center">
                    <div class="img-block">
                        <img alt="" class="service-img img-fluid" src="{% static 'assets/images/saas2/our-feature/5.png' %}">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text text-center">Get Free Update</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the ma- jority have
                            suffered.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-container">
                <div class="service text-center">
                    <div class="img-block">
                        <img alt="" class="service-img img-fluid" src="{% static 'assets/images/saas2/our-feature/6.png' %}">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text text-center">Smart Performance</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the ma- jority have
                            suffered.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>