{% load static %}
<div class="col-lg-3 col-md-4 col-sm-6 isotopeSelector watch">
    <div class="overlay">
        <div class="border-portfolio">
            <a class="zoom_gallery" href="{% static 'assets/images/portfolio/4.jpg' %}">
                <div class="overlay-background">
                    <i aria-hidden="true" class="fa fa-link"></i>
                </div>
                <img alt="" class="img-fluid" src="{% static 'assets/images/portfolio/4.jpg' %}">
            </a>
        </div>
    </div>
    <div class="portfolio-text">
        <h3 class="head-text">
            Lorem Ipsum
        </h3>
        <h6 class="head-sub-text">
            Lorem Ipsum
        </h6>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 isotopeSelector watch">
    <div class="overlay">
        <div class="border-portfolio">
            <a class="zoom_gallery" href="{% static 'assets/images/portfolio/5.jpg' %}">
                <div class="overlay-background">
                    <i aria-hidden="true" class="fa fa-link"></i>
                </div>
                <img alt="" class="img-fluid" src="{% static 'assets/images/portfolio/5.jpg' %}">
            </a>
        </div>
    </div>
    <div class="portfolio-text">
        <h3 class="head-text">
            Lorem Ipsum
        </h3>
        <h6 class="head-sub-text">
            Lorem Ipsum
        </h6>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 isotopeSelector watch">
    <div class="overlay">
        <div class="border-portfolio">
            <a class="zoom_gallery" href="{% static 'assets/images/portfolio/4.jpg' %}">
                <div class="overlay-background">
                    <i aria-hidden="true" class="fa fa-link"></i>
                </div>
                <img alt="" class="img-fluid" src="{% static 'assets/images/portfolio/4.jpg' %}">
            </a>
        </div>
    </div>
    <div class="portfolio-text">
        <h3 class="head-text">
            Lorem Ipsum
        </h3>
        <h6 class="head-sub-text">
            Lorem Ipsum
        </h6>
    </div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 isotopeSelector watch">
    <div class="overlay">
        <div class="border-portfolio">
            <a class="zoom_gallery" href="{% static 'assets/images/portfolio/5.jpg' %}">
                <div class="overlay-background">
                    <i aria-hidden="true" class="fa fa-link"></i>
                </div>
                <img alt="" class="img-fluid" src="{% static 'assets/images/portfolio/5.jpg' %}">
            </a>
        </div>
    </div>
    <div class="portfolio-text">
        <h3 class="head-text">
            Lorem Ipsum
        </h3>
        <h6 class="head-sub-text">
            Lorem Ipsum
        </h6>
    </div>
</div>