{% load static %}
{% include 'chatloopapp/index_components/components/slider.html' %}
{% include 'chatloopapp/index_components/components/about.html' %}
{% include 'chatloopapp/index_components/components/feature.html' %}
{% include 'chatloopapp/index_components/components/work.html' %}
{% include 'chatloopapp/index_components/components/screenshot.html' %}
{% include 'chatloopapp/index_components/components/team.html' %}
{% include 'chatloopapp/index_components/components/package.html' %}
{% include 'chatloopapp/index_components/components/testimonial.html' %}
{% include 'chatloopapp/index_components/components/faq.html' %}
{% include 'chatloopapp/index_components/components/news.html' %}
{% include 'chatloopapp/index_components/components/download.html' %}
{% include 'chatloopapp/index_components/components/contactus.html' %}
{% include 'chatloopapp/index_components/components/subscribe.html' %}