{% load static %}

<!--breadcrumb section start-->
<section class="agency breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="breadcrumb-text text-center">features with form popup</h2>
                <ul class="breadcrumb justify-content-center">

                    <li><a href="#">gallery</a></li>
                    <li>form popup</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end-->
