{% load static %}
<section class="agency testimonial format testimonial-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="format-container m-b-50">
                    <h6 class="borders-before text-uppercase font-600  text-white">
                        <span class="color-white">Happy Clients</span>
                    </h6>
                    <div class="format-head-text">
                        <h2 class=" text-white">We Will Ready For <span class="block-span">Your Services</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel owl-theme testimonial-slider" id="agency-testimonial">
                    <div class="item">
                        <div class="testimonial-container testimonial-container2 m-0">
                            <div class="d-flex">
                                <img alt="" class="img-fluid m-r-25" src="{% static 'assets/images/agency/testimonial/1.png' %}">
                                <div class="center-content">
                                    <h6 class="name">Kolan Motto</h6>
                                    <h6 class="post text-center  font-primary">CEO, Therat</h6>
                                </div>
                            </div>
                            <div class="testimonial-info">
                                <p class="m-b-20 para2">It goes without saying that customer data sec urity
                                    and
                                    compliance
                                    is
                                    top of mind in most retail board rooms compliance is top.</p>
                                <div class="primary-border"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-container testimonial-container2 m-0">
                            <div class="d-flex">
                                <img alt="" class="img-fluid m-r-25" src="{% static 'assets/images/agency/testimonial/2.png' %}">
                                <div class="center-content">
                                    <h6 class="name">Kolan Motto</h6>
                                    <h6 class="post text-center  font-primary">CEO, Therat</h6>
                                </div>
                            </div>
                            <div class="testimonial-info">
                                <p class="m-b-20 para2">It goes without saying that customer data sec urity
                                    and
                                    compliance
                                    is
                                    top of mind in most retail board rooms compliance is top.</p>
                                <div class="post primary-border"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-container testimonial-container2 m-0">
                            <div class="d-flex">
                                <img alt="" class="img-fluid m-r-25" src="{% static 'assets/images/agency/testimonial/1.png' %}">
                                <div class="center-content">
                                    <h6 class="name">Kolan Motto</h6>
                                    <h6 class="post text-center  font-primary">CEO, Therat</h6>
                                </div>
                            </div>
                            <div class="testimonial-info">
                                <p class="m-b-20 para2">It goes without saying that customer data sec urity
                                    and
                                    compliance
                                    is
                                    top of mind in most retail board rooms compliance is top.</p>
                                <div class="primary-border"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-container testimonial-container2 m-0">
                            <div class="d-flex">
                                <img alt="" class="img-fluid m-r-25" src="{% static 'assets/images/agency/testimonial/2.png' %}">
                                <div class="center-content">
                                    <h6 class="name">Kolan Motto</h6>
                                    <h6 class="post text-center  font-primary">CEO, Therat</h6>
                                </div>
                            </div>
                            <div class="testimonial-info">
                                <p class="m-b-20 para2">It goes without saying that customer data sec urity
                                    and
                                    compliance
                                    is
                                    top of mind in most retail board rooms compliance is top.</p>
                                <div class="primary-border"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
