{% load static %}
<section class="app2 team">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center text-uppercase m-b-0"><span>testimonial 3</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="owl-carousel owl-theme team-slider" id="app2-slider">
                    <div class="item">
                        <div class="team-container">
                            <img alt="" class="img-fluid members" src="{% static 'assets/images/app_landing2/team/1.png' %}">
                            <div class="text-center">
                                <h5 class="name text-center">Ashekur Rahman</h5>
                                <h6 class="post text-center ">Art Dirrector</h6>
                                <p class="team-para text-center">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting
                                    industry.
                                    Lorem Ipsum has been the</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-container">
                            <img alt="" class="img-fluid members" src="{% static 'assets/images/app_landing2/team/1.png' %}">
                            <div class="text-center">
                                <h5 class="name text-center">Ashekur Rahman</h5>
                                <h6 class="post text-center ">Art Dirrector</h6>
                                <p class="team-para text-center">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting
                                    industry.
                                    Lorem Ipsum has been the</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-container">
                            <img alt="" class="img-fluid members" src="{% static 'assets/images/app_landing2/team/1.png' %}">
                            <div class="text-center">
                                <h5 class="name text-center">Ashekur Rahman</h5>
                                <h6 class="post text-center ">Art Dirrector</h6>
                                <p class="team-para text-center">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting
                                    industry.
                                    Lorem Ipsum has been the</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
