{% load static %}
<section class="gym testimonial">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center text-uppercase m-b-0"><span
                                class="text-white white-border">testimonial 4</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-8 offset-md-2">
                <div class="owl-carousel owl-theme testimonial-slider" id="gym-testimonial">
                    <div class="item">
                        <div>
                            <img alt="" class="img-fluid m-auto" src="{% static 'assets/images/gym/testimonial/quote.png' %}">
                            <div class="text-center testimonial-info">
                                <p class="p-light testimonial-para">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    printer took a galley of type and scrambled it to.</p>
                                <div class="testimonial-name">
                                    <h5 class="text-white name">Alan Lakor</h5>
                                </div>
                                <div class="testimonial-post">
                                    <h6 class="text-white post">CEO OF SC.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <img alt="" class="img-fluid m-auto" src="{% static 'assets/images/gym/testimonial/quote.png' %}">
                            <div class="text-center testimonial-info">
                                <p class="p-light testimonial-para">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    printer took a galley of type and scrambled it to.</p>
                                <div class="testimonial-name">
                                    <h5 class="text-white name">Alan Lakor</h5>
                                </div>
                                <div class="testimonial-post">
                                    <h6 class="text-white post">CEO OF SC.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
