{% load static %}

<!--pricing agency start-->
<section class="agency pricing">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text m-b-0 text-uppercase">
                            <span>pricing 3</span></h2>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="owl-carousel owl-theme pricing-slider price-margin" id="pricing-agency">
                    <div class="item">
                        <div class="price-container shadows text-center bg-white">
                            <div class="price-feature-container set-relative">
                                <div class="feature-text">
                                    <span class="flaticon-rocket-ship feature-icon"></span>
                                    <h3 class="feature-text-heading text-center bold text-uppercase font-primary">
                                        free</h3>
                                    <hr class="set-border">
                                </div>
                                <div class="price-features font-primary">
                                    <h5 class="price-feature text-center">Easy Installations</h5>
                                    <h5 class="price-feature text-center">Unlimited support</h5>
                                    <h5 class="price-feature text-center">Free Forever</h5>
                                </div>
                                <div class="price-value">
                                    <h6 class="price text-center font-primary">$<span
                                            class="large font-primary">0</span>/month</h6>
                                </div>

                                <a class="btn btn-default btn-white" href="#">purchase</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container shadows text-center bg-white">
                            <div class="price-feature-container set-relative">
                                <div class="feature-text">
                                    <span class="flaticon-diamond feature-icon"></span>
                                    <h3 class="feature-text-heading text-center bold text-uppercase font-primary">
                                        medium</h3>
                                    <hr class="set-border">
                                </div>
                                <div class="price-features font-primary">
                                    <h5 class="price-feature text-center">Easy Installations</h5>
                                    <h5 class="price-feature text-center">Unlimited support</h5>
                                    <h5 class="price-feature text-center">Free Forever</h5>
                                </div>
                                <div class="price-value">
                                    <h6 class="price text-center font-primary">$<span
                                            class="large font-primary">49</span>/month
                                    </h6>
                                </div>

                                <a class="btn btn-default btn-white" href="#">purchase</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container shadows text-center bg-white">
                            <div class="price-feature-container set-relative">
                                <div class="feature-text">
                                    <span class="flaticon-pie-chart feature-icon"></span>
                                    <h3 class="feature-text-heading text-center bold text-uppercase font-primary">
                                        business</h3>
                                    <hr class="set-border">
                                </div>
                                <div class="price-features font-primary">
                                    <h5 class="price-feature text-center">Easy Installations</h5>
                                    <h5 class="price-feature text-center">Unlimited support</h5>
                                    <h5 class="price-feature text-center">Free Forever</h5>
                                </div>
                                <div class="price-value">
                                    <h6 class="price text-center font-primary">$<span
                                            class="large font-primary">99</span>/month
                                    </h6>
                                </div>

                                <a class="btn btn-default btn-white" href="#">purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--pricing agency end-->

<!--pricing resume start-->
<section class="resume pricing bg-pink">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text m-b-0 text-uppercase">
                            <span>pricing 4</span></h2>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="owl-carousel owl-theme pricing-slider price-margin" id="pricing-resume">
                    <div class="item">
                        <div class="price-container shadows bg-white text-center">
                            <div class="price-feature-container set-relative">
                                <div class="feature-text">
                                    <span class="flaticon-rocket-ship feature-icon"></span>
                                    <h4 class="feature-text-heading bold text-uppercase">free</h4>
                                    <hr class="set-border">
                                </div>
                                <div class="price-features">
                                    <h5 class="price-feature text-center">Easy Installations</h5>
                                    <h5 class="price-feature text-center">Unlimited support</h5>
                                    <h5 class="price-feature text-center">Free Forever</h5>
                                </div>
                                <div class="price-value">
                                    <h6 class="price text-center">$<span class="large">0</span>/month</h6>
                                </div>

                                <a class="btn btn-default back-white" href="#">purchase</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container shadows bg-white text-center">
                            <div class="price-feature-container set-relative">
                                <div class="feature-text">
                                    <span class="flaticon-diamond feature-icon"></span>
                                    <h4 class="feature-text-heading bold text-uppercase">Silver</h4>
                                    <hr class="set-border">
                                </div>
                                <div class="price-features">
                                    <h5 class="price-feature text-center">Easy Installations</h5>
                                    <h5 class="price-feature text-center">Unlimited support</h5>
                                    <h5 class="price-feature text-center ">Free Forever</h5>
                                </div>
                                <div class="price-value">
                                    <h6 class="price text-center">$<span class="large">50</span>/month</h6>
                                </div>

                                <a class="btn btn-default back-white" href="#">purchase</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container shadows bg-white text-center">
                            <div class="price-feature-container set-relative">
                                <div class="feature-text">
                                    <span class="flaticon-pie-chart feature-icon"></span>
                                    <h4 class="feature-text-heading bold text-uppercase">Golden</h4>
                                    <hr class="set-border">
                                </div>
                                <div class="price-features">
                                    <h5 class="price-feature text-center">Easy Installations</h5>
                                    <h5 class="price-feature text-center">Unlimited support</h5>
                                    <h5 class="price-feature text-center">Free Forever</h5>
                                </div>
                                <div class="price-value">
                                    <h6 class="price text-center">$<span class="large">100</span>/month</h6>
                                </div>

                                <a class="btn btn-default back-white" href="#">purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--pricing resume end-->
