{% load static %}
<section class="wedding counter">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6  counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/wedding-img/icon/1.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="counts text-center">14</h2>
                        </div>
                        <h6 class="count-desc text-center">Total Event</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/wedding-img/icon/2.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="counts text-center">999</h2>
                        </div>
                        <h6 class="count-desc text-center">Total Guest</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/wedding-img/icon/3.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="counts text-center">999</h2>
                        </div>
                        <h6 class="count-desc text-center">Invitation Card</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/wedding-img/icon/4.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="counts text-center">9195</h2>
                        </div>
                        <h6 class="count-desc text-center">Total car</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>