{% load static %}
<section class="wedding countdown-bg bg set-relative">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="title">
                    <img alt="" class="img-fluid title-img"
                         src="{% static 'assets/images/wedding-img/bottom.png' %}">
                    <div class="main-title">
                        <h2 class="gradient-text">count down</h2>
                    </div>
                    <div class="sub-title">
                        <p>A beautiful app for consectetur adipisicing elit, sed do eiusmod tempor incididunt ut mollit
                            anim id est laborum. Sedut perspiciatis unde omnis.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="wedding-time">
                    <div class="row">
                        <div class="col-lg-3 offset-lg-0 col-sm-4 offset-sm-2 col-6">
                            <div class="event-content wedding-content">
                                <div class="count">
                                    <div class="counter-container">
                                        <h2 class="text-center">
                                            <span class="days-text gradient-text" id="days"></span><span
                                                class="days gradient-text">days</span>
                                        </h2>
                                    </div>
                                    <div class="set-border-left"></div>
                                    <div class="set-border-bottom"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 offset-lg-0 col-sm-4 col-6">
                            <div class="event-content wedding-content">
                                <div class="count">
                                    <div class="counter-container">
                                        <h2 class=" text-center">
                                            <span class="days-text gradient-text" id="hours"></span>
                                            <span class="days gradient-text">hours</span>
                                        </h2>
                                    </div>
                                    <div class="set-border-left"></div>
                                    <div class="set-border-bottom"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 offset-lg-0 col-sm-4 offset-sm-2 col-6">
                            <div class="event-content wedding-content">
                                <div class="count">
                                    <div class="counter-container">
                                        <h2 class="text-center">
                                            <span class="days-text gradient-text" id="minutes"></span>
                                            <span class="days gradient-text"> minutes</span>
                                        </h2>
                                    </div>
                                    <div class="set-border-left"></div>
                                    <div class="set-border-bottom"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 offset-lg-0 col-sm-4 col-6">
                            <div class="event-content wedding-content">
                                <div class="count">
                                    <div class="counter-container">
                                        <h2 class=" text-center">
                                            <span class="days-text gradient-text" id="seconds"></span>
                                            <span class="days gradient-text">seconds</span>
                                        </h2>
                                    </div>
                                    <div class="set-border-left"></div>
                                    <div class="set-border-bottom"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="schedule text-center">
                    <h3 class="m-b-15 zexson-text">
                        <i aria-hidden="true" class="fa fa-map-marker m-r-10"></i> Zexson Pro, New York, NY 254
                    </h3>
                    <h4 class="schedule-date">
                        <i aria-hidden="true" class="fa fa-calendar m-r-10"></i>01-04 March 2019
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>