{% load static %}
<footer class="wedding copyright copyright-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-sm-12">
                <div class="text-center">
                    <div class="link-horizontal">
                        <ul>
                            <li>
                                <a class="copyright-text" href="#">
                                    <i aria-hidden="true" class="fa fa-facebook gradient-text"></i>
                                </a>
                            </li>
                            <li>
                                <a class="copyright-text" href="#">
                                    <i aria-hidden="true" class="fa fa-twitter gradient-text"></i>
                                </a>
                            </li>
                            <li>
                                <a class="copyright-text" href="#">
                                    <i aria-hidden="true" class="fa fa-google gradient-text"></i>
                                </a>
                            </li>
                            <li>
                                <a class="copyright-text " href="#">
                                    <i aria-hidden="true" class="fa fa-instagram gradient-text"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-sm-12">
                <div class="link-horizontal">
                    <div class="footer-titles mobile-title">
                        <h3>services<span class="according-menu"></span></h3>
                    </div>
                    <ul class="link justify-content-center footer-contants">
                        <li>
                            <a class="copyright-text" href="#">home</a>
                        </li>
                        <li>
                            <a class="copyright-text" href="#">couple</a>
                        </li>
                        <li>
                            <a class="copyright-text" href="#">invitation</a>
                        </li>
                        <li>
                            <a class="copyright-text" href="#">album </a>
                        </li>
                        <li>
                            <a class="copyright-text" href="#">friends say</a>
                        </li>
                        <li>
                            <a class="copyright-text" href="#">gift</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-sm-12 p-0">
                <div class="m-l-auto center-para">
                    <h6 class="copyright-text text-end">© 2021 Unice powered by Pixelstrap</h6>
                </div>
            </div>
        </div>
    </div>
</footer>