{% load static %}
<section class="wedding testimonial wishes-bg bg set-relative">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="title">
                    <img alt="" class="img-fluid title-img"
                         src="{% static 'assets/images/wedding-img/bottom.png' %}">
                    <div class="main-title">
                        <h2 class="gradient-text">friends wishes</h2>
                    </div>
                    <div class="sub-title">
                        <p>A beautiful app for consectetur adipisicing elit, sed do eiusmod tempor incididunt ut mollit
                            anim id est laborum. Sedut perspiciatis unde omnis.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="owl-carousel owl-theme" id="testimonial-slider">
                    <div class="item">
                        <div class="testimonial-container">
                            <div class="border-around">
                                <img alt="" class="img-fluid m-auto"
                                     src="{% static 'assets/images/wedding-img/testimonial/quote.png' %}">
                                <div class="text-center testimonial-info">
                                    <p class="testimonial-para">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum
                                        has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown
                                        printer took a galley of type and scrambled it to.
                                    </p>
                                    <h4>Alan Lakor</h4>
                                    <h6>CEO OF SC.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-container">
                            <div class="border-around">
                                <img alt="" class="img-fluid m-auto"
                                     src="{% static 'assets/images/wedding-img/testimonial/quote.png' %}">
                                <div class="text-center testimonial-info">
                                    <p class="testimonial-para">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum
                                        has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown
                                        printer took a galley of type and scrambled it to.
                                    </p>
                                    <h4>Alan Lakor</h4>
                                    <h6>CEO OF SC.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>