{% extends 'base.html' %}{% load static %}
{% block css %}
<!--magnific popup css-->
<link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}

<!--breadcrumb section start-->
<section class="agency breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="breadcrumb-text text-center">blog with 4 columns</h2>
                <ul class="breadcrumb justify-content-center">

                    <li><a href="#">blog</a></li>
                    <li><a href="#">blog masonry</a></li>
                    <li>4 columns</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end-->

<!-- section start -->
<section class="portfolio-section agency blog blog-sec">
    <div class="container-fluid">
        <div class="isotopeContainer row">
            <div class="col-lg-3 col-md-6 col-md-6 isotopeSelector">
                <div class="blog-agency">
                    <div class="blog-contain">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/agency/blog/3.png' %}">
                        <div class="img-container">
                            <div class="blog-info bottom-0">
                                <div class="d-flex m-b-20">
                                    <div class="d-flex center-text">
                                        <i aria-hidden="true" class="fa fa-clock-o m-r-10"></i>
                                        <h6 class="m-r-25 font-blog">June 19, 2019</h6>
                                    </div>
                                    <div class="d-flex center-text">
                                        <i aria-hidden="true" class="fa fa-map-marker m-r-10"></i>
                                        <h6 class="font-blog">Phonics ,Newyork</h6>
                                    </div>
                                </div>
                                <h5 class="blog-head font-600">Twice profit than before you</h5>
                                <p class="para2">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text...............
                                </p>
                                <div class="btn-bottom  m-t-20"><a class="text-uppercase" href="#">read more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 isotopeSelector">
                <div class="blog-agency">
                    <div class="blog-contain">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/agency/blog/5.jpg' %}">
                        <div class="img-container">
                            <div class="blog-info bottom-0">
                                <div class="d-flex m-b-20">
                                    <div class="d-flex center-text">
                                        <i aria-hidden="true" class="fa fa-clock-o m-r-10"></i>
                                        <h6 class="m-r-25 font-blog">June 19, 2019</h6>
                                    </div>
                                    <div class="d-flex center-text">
                                        <i aria-hidden="true" class="fa fa-map-marker m-r-10"></i>
                                        <h6 class="font-blog">Phonics ,Newyork</h6>
                                    </div>
                                </div>
                                <h5 class="blog-head font-600">Twice profit than before you</h5>
                                <p class="para2">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text...............
                                </p>
                                <div class="btn-bottom  m-t-20"><a class="text-uppercase" href="#">read more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 isotopeSelector">
                <div class="blog-agency">
                    <div class="blog-contain">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/agency/blog/6.jpg' %}">
                        <div class="img-container">
                            <div class="blog-info bottom-0">
                                <div class="d-flex m-b-20">
                                    <div class="d-flex center-text">
                                        <i aria-hidden="true" class="fa fa-clock-o m-r-10"></i>
                                        <h6 class="m-r-25 font-blog">June 19, 2019</h6>
                                    </div>
                                    <div class="d-flex center-text">
                                        <i aria-hidden="true" class="fa fa-map-marker m-r-10"></i>
                                        <h6 class="font-blog">Phonics ,Newyork</h6>
                                    </div>
                                </div>
                                <h5 class="blog-head font-600">Twice profit than before you</h5>
                                <p class="para2">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text...............
                                </p>
                                <div class="btn-bottom  m-t-20"><a class="text-uppercase" href="#">read more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 isotopeSelector">
                <div class="blog-agency">
                    <div class="blog-contain">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/agency/blog/12.jpg' %}">
                        <div class="img-container">
                            <div class="blog-info bottom-0">
                                <div class="d-flex m-b-20">
                                    <div class="d-flex center-text">
                                        <i aria-hidden="true" class="fa fa-clock-o m-r-10"></i>
                                        <h6 class="m-r-25 font-blog">June 19, 2019</h6>
                                    </div>
                                    <div class="d-flex center-text">
                                        <i aria-hidden="true" class="fa fa-map-marker m-r-10"></i>
                                        <h6 class="font-blog">Phonics ,Newyork</h6>
                                    </div>
                                </div>
                                <h5 class="blog-head font-600">Twice profit than before you</h5>
                                <p class="para2">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text...............
                                </p>
                                <div class="btn-bottom  m-t-20"><a class="text-uppercase" href="#">read more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 isotopeSelector">
                <div class="blog-agency">
                    <div class="blog-contain">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/agency/blog/10.jpg' %}">
                        <div class="img-container">
                            <div class="blog-info bottom-0">
                                <div class="d-flex m-b-20">
                                    <div class="d-flex center-text">
                                        <i aria-hidden="true" class="fa fa-clock-o m-r-10"></i>
                                        <h6 class="m-r-25 font-blog">June 19, 2019</h6>
                                    </div>
                                    <div class="d-flex center-text">
                                        <i aria-hidden="true" class="fa fa-map-marker m-r-10"></i>
                                        <h6 class="font-blog">Phonics ,Newyork</h6>
                                    </div>
                                </div>
                                <h5 class="blog-head font-600">Twice profit than before you</h5>
                                <p class="para2">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text...............
                                </p>
                                <div class="btn-bottom  m-t-20"><a class="text-uppercase" href="#">read more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 isotopeSelector">
                <div class="blog-agency">
                    <div class="blog-contain">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/agency/blog/11.jpg' %}">
                        <div class="img-container">
                            <div class="blog-info bottom-0">
                                <div class="d-flex m-b-20">
                                    <div class="d-flex center-text">
                                        <i aria-hidden="true" class="fa fa-clock-o m-r-10"></i>
                                        <h6 class="m-r-25 font-blog">June 19, 2019</h6>
                                    </div>
                                    <div class="d-flex center-text">
                                        <i aria-hidden="true" class="fa fa-map-marker m-r-10"></i>
                                        <h6 class="font-blog">Phonics ,Newyork</h6>
                                    </div>
                                </div>
                                <h5 class="blog-head font-600">Twice profit than before you</h5>
                                <p class="para2">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text...............
                                </p>
                                <div class="btn-bottom  m-t-20"><a class="text-uppercase" href="#">read more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 isotopeSelector">
                <div class="blog-agency">
                    <div class="blog-contain">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/agency/blog/15.jpg' %}">
                        <div class="img-container">
                            <div class="blog-info bottom-0">
                                <div class="d-flex m-b-20">
                                    <div class="d-flex center-text">
                                        <i aria-hidden="true" class="fa fa-clock-o m-r-10"></i>
                                        <h6 class="m-r-25 font-blog">June 19, 2019</h6>
                                    </div>
                                    <div class="d-flex center-text">
                                        <i aria-hidden="true" class="fa fa-map-marker m-r-10"></i>
                                        <h6 class="font-blog">Phonics ,Newyork</h6>
                                    </div>
                                </div>
                                <h5 class="blog-head font-600">Twice profit than before you</h5>
                                <p class="para2">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text...............
                                </p>
                                <div class="btn-bottom  m-t-20"><a class="text-uppercase" href="#">read more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 isotopeSelector">
                <div class="blog-agency">
                    <div class="blog-contain">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/agency/blog/5.jpg' %}">
                        <div class="img-container">
                            <div class="blog-info bottom-0">
                                <div class="d-flex m-b-20">
                                    <div class="d-flex center-text">
                                        <i aria-hidden="true" class="fa fa-clock-o m-r-10"></i>
                                        <h6 class="m-r-25 font-blog">June 19, 2019</h6>
                                    </div>
                                    <div class="d-flex center-text">
                                        <i aria-hidden="true" class="fa fa-map-marker m-r-10"></i>
                                        <h6 class="font-blog">Phonics ,Newyork</h6>
                                    </div>
                                </div>
                                <h5 class="blog-head font-600">Twice profit than before you</h5>
                                <p class="para2">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text...............
                                </p>
                                <div class="btn-bottom  m-t-20"><a class="text-uppercase" href="#">read more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block scriptcontent %}
<!--magnific popup js-->
<script src="{% static 'assets/js/magnific-popup.js' %}"></script>
<script src="{% static 'assets/js/isotope.min.js' %}"></script>
<script src="{% static 'assets/js/portfolio.js' %}"></script>
{% endblock scriptcontent %}