{% load static %}

<!-- Team Section Start-->
<section class="team" id="team">
    <div class="team-decor">
      <div class="team-circle1"><img src="{% static 'tovo_website/assets/images/team1.png' %}" alt=""></div>
      <div class="team-circle2"><img src="{% static 'tovo_website/assets/images/team3.png' %}" alt=""></div>
      <div class="team-circle3"><img src="{% static 'tovo_website/assets/images/team.png' %}" alt=""></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="title">our <span>smart team</span></h2>
        </div>
        <div class="col-sm-12">
          <div>
            <div class="team-carousel owl-carousel owl-theme">
              <div class="team-item">
                <div class="team-block">
                  <div class="team-box">
                    <div class="team-avtar"><img src="{% static 'tovo_website/assets/images/avtar/1.jpg' %}" alt=""></div>
                    <div class="team-text">
                      <h3>mark jkcno</h3>
                      <h6>designer</h6>
                    </div>
                    <div class="overlay">
                      <ul class="team-social">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="team-item">
                <div class="team-block">
                  <div class="team-box">
                    <div class="team-avtar"><img src="{% static 'tovo_website/assets/images/avtar/15.jpg' %}" alt=""></div>
                    <div class="team-text">
                      <h3>john doe</h3>
                      <h6>devloper</h6>
                    </div>
                    <div class="overlay">
                      <ul class="team-social">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="team-item">
                <div class="team-block">
                  <div class="team-box">
                    <div class="team-avtar"><img src="{% static 'tovo_website/assets/images/avtar/22.jpg' %}" alt=""></div>
                    <div class="team-text">
                      <h3>johanson let</h3>
                      <h6>ux designer</h6>
                    </div>
                    <div class="overlay">
                      <ul class="team-social">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="team-item">
                <div class="team-block">
                  <div class="team-box">
                    <div class="team-avtar"><img src="{% static 'tovo_website/assets/images/avtar/1.jpg' %}" alt=""></div>
                    <div class="team-text">
                      <h3>John Shipmen</h3>
                      <h6>tester</h6>
                    </div>
                    <div class="overlay">
                      <ul class="team-social">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="team-item">
                <div class="team-block">
                  <div class="team-box">
                    <div class="team-avtar"><img src="{% static 'tovo_website/assets/images/avtar/22.jpg' %}" alt=""></div>
                    <div class="team-text">
                      <h3>Walo Boni</h3>
                      <h6>app devloper</h6>
                    </div>
                    <div class="overlay">
                      <ul class="team-social">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="team-item">
                <div class="team-block">
                  <div class="team-box">
                    <div class="team-avtar"><img src="{% static 'tovo_website/assets/images/avtar/1.jpg' %}" alt=""></div>
                    <div class="team-text">
                      <h3>John Shipmen</h3>
                      <h6>app designer</h6>
                    </div>
                    <div class="overlay">
                      <ul class="team-social">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="team-item">
                <div class="team-block">
                  <div class="team-box">
                    <div class="team-avtar"><img src="{% static 'tovo_website/assets/images/avtar/15.jpg' %}" alt=""></div>
                    <div class="team-text">
                      <h3>Robert Tomkins</h3>
                      <h6>ceo</h6>
                    </div>
                    <div class="overlay">
                      <ul class="team-social">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="team-item">
                <div class="team-block">
                  <div class="team-box">
                    <div class="team-avtar"><img src="{% static 'tovo_website/assets/images/avtar/22.jpg' %}" alt=""></div>
                    <div class="team-text">
                      <h3>Rachel Andalaft</h3>
                      <h6>cto</h6>
                    </div>
                    <div class="overlay">
                      <ul class="team-social">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- team Section End-->