{% extends 'base-home.html' %}{% load static %}
{% block css %}
<!-- Font Family-->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<!-- color css -->
<link href="{% static 'assets/css/color-2.css' %}" rel="stylesheet" type="text/css">
<!--keyframe css-->
<link href="{% static 'assets/css/keyframes.css' %}" rel="stylesheet">
<!--owl carousel css-->
<link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet">
<!-- AOS CSS -->
<link href="{% static 'assets/css/aos.css' %}" rel="stylesheet">
<!--magnific popup css-->
<link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
<!--header start-->
{% include "home/app_landing_layout/components/header.html" %}
<!--header end-->
<!--about start-->
{% include "home/app_landing_layout/components/about.html" %}
<!--about end-->
<!--services start-->
{% include "home/app_landing_layout/components/services.html" %}
<!--services end-->
<!--function start-->
{% include "home/app_landing_layout/components/function.html" %}
<!--function end-->
<!--team start-->
{% include "home/app_landing_layout/components/team.html" %}
<!--team end-->
<!--screen-shot start-->
{% include "home/app_landing_layout/components/screenshot.html" %}
<!--screen-shot end-->
<!--team start-->
{% include "home/app_landing_layout/components/team-2.html" %}
<!--team end-->
<!--price start-->
{% include "home/app_landing_layout/components/price.html" %}
<!--price end-->
<!--brand slider start-->
{% include "home/app_landing_layout/components/brand-slider.html" %}
<!--brand slider end-->
<!--footer start-->
{% include "home/app_landing_layout/components/footer.html" %}
<!--footer end-->
<!--copyright css start-->
{% include "home/app_landing_layout/components/copyright.html" %}
<!-- copyright css end-->
{% endblock content %}
{% block scriptcontent %}
<!--magnific popup js-->
<script src="{% static 'assets/js/magnific-popup.js' %}"></script>
<!--owl js-->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<!-- AOS JS -->
<script src="{% static 'assets/js/aos.js' %}"></script>
<!-- tilt JS -->
<script src="{% static 'assets/js/vanilla-tilt.min.js' %}"></script>
<!-- script js-->
<script src="{% static 'assets/js/aos-init.js' %}"></script>
<script src="{% static 'assets/js/script2.js' %}"></script>
<script src="{% static 'assets/js/layout-fix.js' %}"></script>
{% endblock scriptcontent %}