{% load static %}
<div class="col-xl-3 col-sm-6 isotopeSelector">
    <div class="product-box">
        <div class="img-wrapper">
            <div class="front">
                <a href="{% url 'shop_product_no_sidebar' %}">
                    <img alt=""
                         class="img-fluid" src="{% static 'assets/images/inner-page/category/3.jpg' %}">
                </a>
            </div>
            <div class="cart-info cart-wrap">
                <button title="Add to cart"><i class="fa fa-shopping-cart"></i>
                </button>
                <a href="javascript:void(0)" title="Add to Wishlist">
                    <i aria-hidden="true" class="fa fa-heart-o"></i>
                </a>
                <a data-bs-target="#quick-view" data-bs-toggle="modal" href="#"
                   title="Quick View">
                    <i aria-hidden="true" class="fa fa-search"></i>
                </a>
                <a href="{% url 'shop_pages_compare' %}" title="Compare">
                    <i aria-hidden="true" class="fa fa-refresh"></i>
                </a>
            </div>
        </div>
        <div class="product-detail">
            <a href="{% url 'shop_product_no_sidebar' %}">
                <h6>Slim Fit Cotton Shirt</h6>
            </a>
            <h4>$500.00</h4>
        </div>
    </div>
</div>

<div class="col-xl-3 col-sm-6 isotopeSelector">
    <div class="product-box">
        <div class="img-wrapper">
            <div class="front">
                <a href="{% url 'shop_product_no_sidebar' %}">
                    <img alt=""
                         class="img-fluid" src="{% static 'assets/images/inner-page/category/1.jpg' %}">
                </a>
            </div>
            <div class="cart-info cart-wrap">
                <button title="Add to cart"><i class="fa fa-shopping-cart"></i>
                </button>
                <a href="javascript:void(0)" title="Add to Wishlist">
                    <i aria-hidden="true" class="fa fa-heart-o"></i>
                </a>
                <a data-bs-target="#quick-view" data-bs-toggle="modal" href="#"
                   title="Quick View">
                    <i aria-hidden="true" class="fa fa-search"></i>
                </a>
                <a href="{% url 'shop_pages_compare' %}" title="Compare">
                    <i aria-hidden="true" class="fa fa-refresh"></i>
                </a>
            </div>
        </div>
        <div class="product-detail">
            <a href="{% url 'shop_product_no_sidebar' %}">
                <h6>Slim Fit Cotton Shirt</h6>
            </a>
            <h4>$500.00</h4>
        </div>
    </div>
</div>
<div class="col-xl-3 col-sm-6 isotopeSelector">
    <div class="product-box">
        <div class="img-wrapper">
            <div class="front">
                <a href="{% url 'shop_product_no_sidebar' %}">
                    <img alt=""
                         class="img-fluid" src="{% static 'assets/images/inner-page/category/2.jpg' %}">
                </a>
            </div>
            <div class="cart-info cart-wrap">
                <button title="Add to cart"><i class="fa fa-shopping-cart"></i>
                </button>
                <a href="javascript:void(0)" title="Add to Wishlist">
                    <i aria-hidden="true" class="fa fa-heart-o"></i>
                </a>
                <a data-bs-target="#quick-view" data-bs-toggle="modal" href="#"
                   title="Quick View">
                    <i aria-hidden="true" class="fa fa-search"></i>
                </a>
                <a href="{% url 'shop_pages_compare' %}" title="Compare">
                    <i aria-hidden="true" class="fa fa-refresh"></i>
                </a>
            </div>
        </div>
        <div class="product-detail">
            <a href="{% url 'shop_product_no_sidebar' %}">
                <h6>Slim Fit Cotton Shirt</h6>
            </a>
            <h4>$500.00</h4>
        </div>
    </div>
</div>

<div class="col-xl-3 col-sm-6 isotopeSelector">
    <div class="product-box">
        <div class="img-wrapper">
            <div class="front">
                <a href="{% url 'shop_product_no_sidebar' %}"><img
                        alt=""
                        class="img-fluid" src="{% static 'assets/images/inner-page/category/3.jpg' %}"></a>
            </div>
            <div class="cart-info cart-wrap">
                <button title="Add to cart"><i class="fa fa-shopping-cart"></i>
                </button>
                <a href="javascript:void(0)" title="Add to Wishlist">
                    <i aria-hidden="true" class="fa fa-heart-o"></i>
                </a>
                <a data-bs-target="#quick-view" data-bs-toggle="modal" href="#"
                   title="Quick View">
                    <i aria-hidden="true" class="fa fa-search"></i>
                </a>
                <a href="{% url 'shop_pages_compare' %}" title="Compare">
                    <i aria-hidden="true" class="fa fa-refresh"></i>
                </a>
            </div>
        </div>
        <div class="product-detail">
            <a href="{% url 'shop_product_no_sidebar' %}">
                <h6>Slim Fit Cotton Shirt</h6>
            </a>
            <h4>$500.00</h4>
        </div>
    </div>
</div>

<div class="col-xl-3 col-sm-6 isotopeSelector">
    <div class="product-box">
        <div class="img-wrapper">
            <div class="front">
                <a href="{% url 'shop_product_no_sidebar' %}">
                    <img alt=""
                         class="img-fluid" src="{% static 'assets/images/inner-page/category/1.jpg' %}">
                </a>
            </div>
            <div class="cart-info cart-wrap">
                <button title="Add to cart"><i class="fa fa-shopping-cart"></i>
                </button>
                <a href="javascript:void(0)" title="Add to Wishlist">
                    <i aria-hidden="true" class="fa fa-heart-o"></i>
                </a>
                <a data-bs-target="#quick-view" data-bs-toggle="modal" href="#"
                   title="Quick View">
                    <i aria-hidden="true" class="fa fa-search"></i>
                </a>
                <a href="{% url 'shop_pages_compare' %}" title="Compare">
                    <i aria-hidden="true" class="fa fa-refresh"></i>
                </a>
            </div>
        </div>
        <div class="product-detail">
            <a href="{% url 'shop_product_no_sidebar' %}">
                <h6>Slim Fit Cotton Shirt</h6>
            </a>
            <h4>$500.00</h4>
        </div>
    </div>
</div>
<div class="col-xl-3 col-sm-6 isotopeSelector">
    <div class="product-box">
        <div class="img-wrapper">
            <div class="front">
                <a href="{% url 'shop_product_no_sidebar' %}">
                    <img alt=""
                         class="img-fluid" src="{% static 'assets/images/inner-page/category/2.jpg' %}">
                </a>
            </div>
            <div class="cart-info cart-wrap">
                <button title="Add to cart"><i class="fa fa-shopping-cart"></i>
                </button>
                <a href="javascript:void(0)" title="Add to Wishlist">
                    <i aria-hidden="true" class="fa fa-heart-o"></i>
                </a>
                <a data-bs-target="#quick-view" data-bs-toggle="modal" href="#"
                   title="Quick View">
                    <i aria-hidden="true" class="fa fa-search"></i>
                </a>
                <a href="{% url 'shop_pages_compare' %}" title="Compare">
                    <i aria-hidden="true" class="fa fa-refresh"></i>
                </a>
            </div>
        </div>
        <div class="product-detail">
            <a href="{% url 'shop_product_no_sidebar' %}">
                <h6>Slim Fit Cotton Shirt</h6>
            </a>
            <h4>$500.00</h4>
        </div>
    </div>
</div>
