{% load static %}
 <!-- Nav Start-->
 <nav class="navbar navbar-expand-lg navbar-light theme-nav fixed-top">
    <div class="container"><a class="navbar-brand" href="index.html"><img src="../assets/images/logo.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse default-nav" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" id="mymenu">
          <li class="nav-item"><a class="nav-link" href="index.html#home">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="index.html#about">about</a></li>
          <li class="nav-item"><a class="nav-link" href="index.html#feature">feature</a></li>
          <li class="nav-item"><a class="nav-link" href="index.html#screenshot">screenshot</a></li>
          <li class="nav-item"><a class="nav-link" href="index.html#team">team</a></li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="index.html#blog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">blog</a>
            <ul class="dropdown-menu">
              <li class="nav-item"><a class="nav-link" href="blog.html">blog list</a></li>
              <li class="nav-item"><a class="nav-link" href="blog-details.html">blog details</a></li>
              <li class="nav-item"><a class="nav-link" href="blogs-leftside.html">leftsidebar</a></li>
              <li class="nav-item"><a class="nav-link" href="blogs-rightside.html">rightsidebar</a></li>
              <li class="nav-item"><a class="nav-link" href="blog-details-with-leftsidebar.html">details leftsidebar</a></li>
              <li class="nav-item"><a class="nav-link" href="blog-details-with-rightsidebar.html">details rightsidebar</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="index.html#price" data-menuanchor="price">price</a></li>
          <li class="nav-item"><a class="nav-link" href="index.html#contact" data-menuanchor="contact">contact us</a></li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other page</a>
            <ul class="dropdown-menu">
              <li class="nav-item"><a class="nav-link" href="sign-in.html">sign in</a></li>
              <li class="nav-item"><a class="nav-link" href="sign-up.html">sign up</a></li>
              <li class="nav-item"><a class="nav-link" href="forget-pwd.html">Forget Password</a></li>
              <li class="nav-item"><a class="nav-link" href="thank-you.html">Thank you</a></li>
              <li class="nav-item"><a class="nav-link" href="review.html">Review</a></li>
              <li class="nav-item"><a class="nav-link" href="404.html">404</a></li>
              <li class="nav-item"><a class="nav-link" href="faq.html">FAQ</a></li>
              <li class="nav-item"><a class="nav-link" href="download.html">Download</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Nav end-->