{% load static %}
<section class="agency blog blog-bg" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="title">
                    <div class="main-title">
                        <h2 class="text-capitalize text-center">latest blog</h2>
                    </div>
                    <div class="sub-title">
                        <p class="text-center">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="owl-carousel owl-theme" id="blog-slider">
                    <div class="item">
                        <div class="blog-agency">
                            <div class="blog-contain">
                                <img alt="" class="img-fluid" src="{% static 'assets/images/agency/blog/blog-list-1.jpg' %}">
                                <div class="img-container center-content">
                                    <div class="center-content">
                                        <div class="blog-info">
                                            <div class="m-b-10">
                                                <div class="center-text">
                                                    <i aria-hidden="true" class="fa fa-clock-o"></i>
                                                    <h6 class="m-r-25 font-blog">June 19, 2019</h6>
                                                    <i aria-hidden="true" class="fa fa-map-marker"></i>
                                                    <h6 class="font-blog">Phonics</h6>
                                                </div>
                                            </div>
                                            <h5 class="blog-head">Twice profit than before you</h5>
                                            <p class="para2"> Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry.text ever since the 1500s type specimen book
                                                .....</p>
                                            <div class="m-t-20">
                                                <a class="text-uppercase" href="#">read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="blog-agency">
                            <div class="blog-contain">
                                <img alt="" class="img-fluid" src="{% static 'assets/images/agency/blog/blog-list-2.jpg' %}">
                                <div class="img-container center-content">
                                    <div class="center-content">
                                        <div class="blog-info">
                                            <div class="m-b-10">
                                                <div class="center-text">
                                                    <i aria-hidden="true" class="fa fa-clock-o"></i>
                                                    <h6 class="m-r-25 font-blog">June 19, 2019</h6>
                                                    <i aria-hidden="true" class="fa fa-map-marker"></i>
                                                    <h6 class="font-blog">Phonics</h6>
                                                </div>
                                            </div>
                                            <h5 class="blog-head">Twice profit than before you</h5>
                                            <p class="para2"> Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry.text ever since the 1500s type specimen book
                                                .....</p>
                                            <div class="m-t-20">
                                                <a class="text-uppercase" href="#">read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="blog-agency">
                            <div class="blog-contain">
                                <img alt="" class="img-fluid" src="{% static 'assets/images/agency/blog/blog-list-3.jpg' %}">
                                <div class="img-container center-content">
                                    <div class="center-content">
                                        <div class="blog-info">
                                            <div class="m-b-10">
                                                <div class="center-text">
                                                    <i aria-hidden="true" class="fa fa-clock-o"></i>
                                                    <h6 class="m-r-25 font-blog">June 19, 2019</h6>
                                                    <i aria-hidden="true" class="fa fa-map-marker"></i>
                                                    <h6 class="font-blog">Phonics</h6>
                                                </div>
                                            </div>
                                            <h5 class="blog-head">Twice profit than before you</h5>
                                            <p class="para2"> Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry.text ever since the 1500s type specimen book
                                                .....</p>
                                            <div class="m-t-20">
                                                <a class="text-uppercase" href="#">read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>