{% load static %}
<section class="agency pricing price-bg" id="plan">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel owl-theme pricing-slider price-margin ">
                    <div class="item">
                        <div class="price-container shadows">
                            <div class="price-feature-container">
                                <div class="feature-text">
                                    <span class="flaticon-rocket-ship feature-icon"></span>
                                    <h3 class="">free</h3>
                                    <hr class="set-border">
                                </div>
                                <div class="price-features font-primary">
                                    <h5 class="price-feature">Easy Installations</h5>
                                    <h5 class="price-feature">Unlimited support</h5>
                                    <h5 class="price-feature">Free Forever</h5>
                                </div>
                                <div class="price-value">
                                    <h6 class="price">$<span class="large">0</span>/month</h6>
                                </div>

                                <a class="btn btn-default btn-white" href="#">purchase</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container shadows">
                            <div class="price-feature-container">
                                <div class="feature-text">
                                    <span class="flaticon-diamond feature-icon"></span>
                                    <h3 class="">medium</h3>
                                    <hr class="set-border">
                                </div>
                                <div class="price-features font-primary">
                                    <h5 class="price-feature">Easy Installations</h5>
                                    <h5 class="price-feature">Unlimited support</h5>
                                    <h5 class="price-feature">Free Forever</h5>
                                </div>
                                <div class="price-value">
                                    <h6 class="price">$<span class="large">49</span>/month
                                    </h6>
                                </div>
                                <a class="btn btn-default btn-white" href="#">purchase</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container shadows">
                            <div class="price-feature-container">
                                <div class="feature-text">
                                    <span class="flaticon-pie-chart feature-icon"></span>
                                    <h3 class="">business</h3>
                                    <hr class="set-border">
                                </div>
                                <div class="price-features font-primary">
                                    <h5 class="price-feature">Easy Installations</h5>
                                    <h5 class="price-feature">Unlimited support</h5>
                                    <h5 class="price-feature">Free Forever</h5>
                                </div>
                                <div class="price-value">
                                    <h6 class="price">$<span class="large">99</span>/month
                                    </h6>
                                </div>
                                <a class="btn btn-default btn-white" href="#">purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>