{% load static %}
<section class="agency format speaker expert-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="format-container">
                    <h6 class="borders-before">
                        <span>Meet our Expert</span>
                    </h6>
                    <div class="format-head-text">
                        <h2>We Will Ready For Your Services</h2>
                    </div>
                    <div class="format-sub-text">
                        <p class="about-para">
                            Lorem ipsum dolor sit amet, consectetur sed do eiusmod tempor incididunt.
                        </p>
                    </div>
                    <a class=" btn btn-default btn-gradient" href="#">view more</a>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="owl-carousel owl-theme speaker-slider">
                    <div class="item speker-container">
                        <div class="text-center">
                            <div class="team-img">
                                <img alt="" class="img-fluid" src="{% static 'assets/images/event/l3-2.png' %}">
                                <div class="overlay"></div>
                                <div class="social">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-google center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-globe center-content"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="employee">
                                <h5 class="e-name">Sam Rowling</h5>
                                <h6 class="post font-secondary">Team Leader - otstrab</h6>
                            </div>
                        </div>
                    </div>
                    <div class="item speker-container">
                        <div class="text-center">
                            <div class="team-img">
                                <img alt="" class="img-fluid" src="{% static 'assets/images/event/l3-3.png' %}">
                                <div class="overlay"></div>
                                <div class="social">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-google center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-globe center-content"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="employee">
                                <h5 class="e-name">Mark Tucker</h5>
                                <h6 class="post font-secondary">App Developer - Jumpster</h6>
                            </div>
                        </div>
                    </div>
                    <div class="item speker-container">
                        <div class="text-center">
                            <div class="team-img">
                                <img alt="" class="img-fluid" src="{% static 'assets/images/event/l3-4.png' %}">
                                <div class="overlay"></div>
                                <div class="social">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-google center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-globe center-content"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="employee">
                                <h5 class="e-name">Sam Rowling</h5>
                                <h6 class="post font-secondary">Team Leader - otstrab</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>