{% load static %}
<section class="agency video video-bg p-0" id="video">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0">
                <div class="text-center">
                    <div class="d-inline-block">
                        <img alt="" class="img-fluid bg-video" src="{% static 'assets/images/agency/videos/bg.png' %}">
                        <div class="abs-center">
                            <div>
                                <div class="m-b-20">
                                    <a class="button" href="#">
                                        <img alt="" class="img-fluid video-img"
                                             src="{% static 'assets/images/agency/videos/icon.png' %}">
                                    </a>
                                </div>
                                <div>
                                    <a class="video w-100" href="">
                                        <img alt="" class="img-fluid m-b-20"
                                             src="{% static 'assets/images/agency/videos/title-icon.png' %}">
                                    </a>
                                    <div>
                                        <h3 class="video-heading text-white text-center"> Amazing Videos &
                                            Presentations</h3>
                                        <h6 class="video-text text-white  text-center">We create. We Develop. We
                                            Inspire.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>