{% load static %}
<section class="btn-section">
    <div class="container margin-buttons">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text text-uppercase m-b-0">
                            <span>default button</span></h2>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="text-center">
                    <a class="btn btn-default primary-btn" href="#">default</a>
                    <a class="btn btn-default primary-btn success" href="#">success</a>
                    <a class="btn btn-default primary-btn info" href="#">info</a>
                    <a class="btn btn-default primary-btn warning" href="#">warning</a>
                    <a class="btn btn-default primary-btn danger" href="#">danger</a>
                    <a class="btn btn-default primary-btn light" href="#">light</a>
                    <a class="btn btn-default btn-gradient" href="#">gradient</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="btn-section bg-light-inner">
    <div class="container margin-buttons">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text text-uppercase m-b-0">
                            <span>default border button </span></h2>
                    </div>

                </div>
            </div>
            <div class="col-12">
                <div class="text-center">
                    <a class="btn btn-default primary-btn back-white" href="#">default</a>
                    <a class="btn btn-default primary-btn success back-white" href="#">success</a>
                    <a class="btn btn-default primary-btn info back-white" href="#">info</a>
                    <a class="btn btn-default primary-btn warning back-white" href="#">warning</a>
                    <a class="btn btn-default primary-btn danger back-white" href="#">danger</a>
                    <a class="btn btn-default primary-btn light back-white" href="#">light</a>
                </div>
            </div>
        </div>
    </div>
</section>
