{% extends 'base-features.html' %}{% load static %}
{% block css %}
<!-- color css -->
<link href="{% static 'assets/css/inner-page.css' %}" rel="stylesheet" type="text/css">
<!--magnific popup css-->
<link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
{% include 'features/gallery-types/popup-with-googlemap/components/breadcrumb.html' %}
{% include 'features/gallery-types/popup-with-googlemap/components/content.html' %}
{% include 'features/gallery-types/popup-with-googlemap/components/footer.html' %}

{% endblock content %}
{% block scriptcontent %}
<!--magnific popup js-->
<script src="{% static 'assets/js/magnific-popup.js' %}"></script>
<!-- script js-->
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/video-popup.js' %}"></script>
{% endblock scriptcontent %}