{% load static %}
<div class="blog-block">
    <div class="blog-box">
        <div class="overflow-hidden">
            <img alt="blog" class="img-fluid blur-up lazyload "
                 src="{% static 'assets/images/agency/blog/20.jpg' %}">
        </div>
    </div>
</div>
<div class="blog-text m-t-20">
    <h6>July, 24th 2019</h6><a href="#">
    <h3 class="blog-head">Sandford Stadium Improvements</h3></a>
    <div class="blog-divider"></div>
    <div class="blog-description">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been
            the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of
            type and scrambled it to make a type specimen book. It has survived not only five centuries,
            but
            also the leap into electronic typesetting, remaining essentially unchanged. It was
            popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
            recently
            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
            been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
            of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also
            the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the
            1960s with the
            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software
            like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <h5>Mark jkcno</h5>
        <h5 class="pull-right">10 <i class="fa fa-heart-o"></i>, 50 <i class="fa fa-comments-o"></i>
        </h5>
    </div>
</div>