{% load static %}
<div class="quote_2 comment_form_sec">
    <div class="container">
        <div class="row">
            <div class="col-12 quote_form">
                <hr/>
                <h3 class="page-header-comment mb-4">Leave you comment :</h3>
                <form>
                    <div class="row g-3">
                        <div class="form-group col-md-6">
                            <label>Name :</label>
                            <input class="form-control" placeholder="Enter Your Name" required=""
                                   type="text">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email :</label>
                            <input class="form-control" id="inputEmail4" placeholder="Enter Your Email"
                                   required="" type="email">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="exampleTextarea">Message :</label>
                            <textarea class="form-control msg_coment" id="exampleTextarea" placeholder="Leave a Comment"
                                      required="" rows="3"></textarea>
                        </div>
                    </div>
                    <a class="btn btn-default primary-btn m-t-20 radius-0" href="#">Post Comment
                        <span class="con_btn_eff"></span>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>