{% extends 'base.html' %}{% load static %}
{% block css %}
<!--slick css-->
<link href="{% static 'assets/css/slick.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/slick-theme.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}
{% block content %}

<!--breadcrumb section start -->
<section class="breadcrumb-section-main inner-2 breadcrumb-section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-contain ">
                    <div>
                        <h2 class="breadcrumb-txt">shop with no sidebar</h2>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#">product pages</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>no-sidebar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end -->

<!-- section start -->
<section>
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xs-12">
                    {% include 'shop/product-pages/product-page(no-sidebar)/components/collection.html' %}
                    {% include 'shop/product-pages/product-page(no-sidebar)/components/tabs.html' %}
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
<!-- Quick-view modal popup start-->
{% include 'shop/product-pages/product-page(no-sidebar)/components/quick-view-modal.html' %}

{% endblock content %}
{% block scriptcontent %}
<!--slick js-->
<script src="{% static 'assets/js/slick.js' %}"></script>
<!-- script js-->
<script src="{% static 'assets/js/product.js' %}"></script>
{% endblock scriptcontent %}