{% extends 'base.html' %}{% load static %}
{% block css %}
<!-- magnific popup css -->
<link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}
{% block content %}

<!--breadcrumb section start-->
<section class="agency breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12"><h2 class="breadcrumb-text text-center">elements with accordion</h2>
                <ul class="breadcrumb justify-content-center">

                    <li><a href="#">elements</a></li>
                    <li>accordion</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end-->

<!--accordion1 section start-->
<section class="saas1 faq testimonial-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text m-b-0"><span class="text-uppercase">accordion with image</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="faq-block">
                    <div class="w-100">
                        <div class="accordion faq m-0" id="accordionExample11">
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed p-t-0" data-bs-target="#collapse11"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse show" data-parent="#accordionExample11" id="collapse11">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse22"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample11" id="collapse22">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse33"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample11" id="collapse33">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse44"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample11" id="collapse44">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse55"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample11" id="collapse55">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse66"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample11" id="collapse66">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse77"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample11" id="collapse77">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="faq-img-block">
                    <img alt="faq-person" class="img-fluid" src="{% static 'assets/images/saas1/faq-img.png' %}">
                </div>
            </div>
        </div>
    </div>
</section>
<!--accordion1 section end-->

<!--accordion2 section start-->
<section class="saas1 faq accordion testimonial-bg bg-light-inner">
    <div class="container">
        <div class="row">
            <div class="agency col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text m-b-0"><span class="text-uppercase">default accordion</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="faq-block">
                    <div class="w-100">
                        <div class="accordion faq m-0" id="accordionExample">
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed p-t-0" data-bs-target="#collapse1"
                                     data-bs-toggle="collapse" role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse show" data-parent="#accordionExample" id="collapse1">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse2"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample" id="collapse2">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse3"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample" id="collapse3">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse4"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample" id="collapse4">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse5"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample" id="collapse5">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--accordion2 section end-->

<!--accordion3 section start-->
<section class="saas1 accordion faq testimonial-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text m-b-0"><span class="text-uppercase">accordion with form</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="faq-block">
                    <div class="w-100">
                        <div class="accordion faq m-0" id="accordionExample111">
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed p-t-0" data-bs-target="#collapse111"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse show" data-parent="#accordionExample111" id="collapse111">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse222"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample111" id="collapse222">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse333"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample111" id="collapse333">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse444"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample111" id="collapse444">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse555"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample111" id="collapse555">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse666"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample111" id="collapse666">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="register-page section-b-space">

                    <h3>ask your question</h3>
                    <p class="text-sub">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    <div class="theme-card">
                        <form class="theme-form">
                            <input class="form-control" id="fname" placeholder="First Name" required="" type="text">

                            <input class="form-control" id="lname" placeholder="Last Name" required="" type="password">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="your question" rows="6"></textarea>
                            </div>
                            <a class="btn primary-btn btn-default radius-0" href="#">submit</a>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--accordion section end-->

<!--accordion1 section start-->
<section class="saas1 accordion faq testimonial-bg bg-light-inner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text m-b-0"><span class="text-uppercase">accordion with video</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="faq-block">
                    <div class="w-100">
                        <div class="accordion faq m-0" id="accordionExample1111">
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed p-t-0" data-bs-target="#collapse1111"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse show" data-parent="#accordionExample1111" id="collapse1111">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse2222"
                                     data-bs-toggle="collapse" role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample1111" id="collapse2222">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse3333"
                                     data-bs-toggle="collapse" role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample1111" id="collapse3333">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse4444"
                                     data-bs-toggle="collapse" role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample1111" id="collapse4444">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is a brand? A good one is. No one cares about products. People care about
                                        ideas. Is a product an idea?
                                        Noup.No one cares about products. People care about ideas. Is a product an idea?
                                        Noup.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="saas1 testimonial videos">
                    <div class="center-content">
                        <div class="video w-100 mb-0">
                            <a class="button center-content">
                                <img alt="video" class="img-fluid"
                                     src="{% static 'assets/images/saas1/testimonial-video-icon.png' %}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--accordion1 section end-->

{% endblock content %}
{% block scriptcontent %}
<!--magnific popup js-->
<script src="{% static 'assets/js/magnific-popup.js' %}"></script>
<!-- common js-->
<script src="{% static 'assets/js/video-popup.js' %}"></script>
{% endblock scriptcontent %}