{% extends 'base.html' %}{% load static %}
{% block content %}

<!--breadcrumb section start-->
<section class="agency breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="breadcrumb-text text-center">elements with counter</h2>
                <ul class="breadcrumb justify-content-center">

                    <li><a href="#">elements</a></li>
                    <li>counter</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end-->

<!-- counter-1 section start -->
<section class="p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text text-uppercase m-b-0">
                            <span>counter 1</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="resume counter bg-pink">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/resume/icon/1.png' %}">
                    <div class="counter-text">
                        <h3 class="count-text counts">14</h3>
                        <h5 class="count-desc">Total Topics</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/resume/icon/2.png' %}">
                    <div class="counter-text">
                        <h3 class="count-text counts">8</h3>
                        <h5 class="count-desc">Total Speaker</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/resume/icon/3.png' %}">
                    <div class="counter-text">
                        <h3 class="count-text counts">28</h3>
                        <h5 class="count-desc">Total event</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/resume/icon/4.png' %}">
                    <div class="counter-text">
                        <h3 class="count-text counts">9195</h3>
                        <h5 class="count-desc">Total attendance</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- counter-1 section end -->

<!-- counter-2 section start -->
<section class="p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text text-uppercase m-b-0">
                            <span>counter 2</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gym counter  bg-img3 bg1">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/gym/counter/happy-icon.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="text-white counts">1510</h2>
                        </div>
                        <div class="count-desc">
                            <h5 class="text-white">Satisfied Customers</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/gym/counter/project-icon.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="text-white counts">1510</h2>
                        </div>
                        <div class="count-desc">
                            <h5 class="text-white">Satisfied Customers</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/gym/counter/work-icon.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="text-white counts">1510</h2>
                        </div>
                        <div class="count-desc">
                            <h5 class="text-white">Satisfied Customers</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/gym/counter/award-icon.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="text-white counts">1510</h2>
                        </div>
                        <div class="count-desc">
                            <h5 class="text-white">Satisfied Customers</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- counter-2 section end -->

<!-- counter-3 section start -->
<section class="p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text text-uppercase m-b-0">
                            <span>counter 3</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wedding counter bg-light-inner">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/wedding-img/icon/1.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="counts text-center">14</h2>
                        </div>
                        <h6 class="count-desc text-center">Total Topics</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/wedding-img/icon/2.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="counts text-center">8</h2>
                        </div>
                        <h6 class="count-desc text-center">Total Speaker</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/wedding-img/icon/3.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="counts text-center">28</h2>
                        </div>
                        <h6 class="count-desc text-center">Total event</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/wedding-img/icon/4.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="counts text-center">9195</h2>
                        </div>
                        <h6 class="count-desc text-center">Total attendance</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- counter-3 section end -->

<!-- counter-4 section start -->
<section class="p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text text-uppercase m-b-0">
                            <span>counter 4</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="event counter set-relative bg bg-img3 bg-about">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/event/counter/1.png' %}">
                    <div class="counter-text">
                        <h2 class="count-number text-center text-white counts">14</h2>
                        <h6 class="count-desc text-center text-white">Total Topics</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/event/counter/2.png' %}">
                    <div class="counter-text">
                        <h2 class="count-number text-center text-white counts">8</h2>
                        <h6 class="count-desc text-center text-white">Total Speaker</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/event/counter/3.png' %}">
                    <div class="counter-text">
                        <h2 class="count-number text-center text-white counts">28</h2>
                        <h6 class="count-desc text-center text-white">Total event</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/event/counter/4.png' %}">
                    <div class="counter-text">
                        <h2 class="count-number text-center text-white counts">9195</h2>
                        <h6 class="count-desc text-center text-white">Total attendance</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block scriptcontent %}
<!-- counter js-->
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
<!-- script js-->
<script src="{% static 'assets/js/counters.js' %}"></script>

{% endblock scriptcontent %}