{% extends 'base.html' %}{% load static %}
{% block css %}
<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
{% endblock css %}
{% block content %}

<!--breadcrumb section start-->
<section class="breadcrumb-section-main inner-3 agency breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12"><h2 class="breadcrumb-text text-center">elements with countdown</h2>
                <ul class="breadcrumb justify-content-center">

                    <li><a href="#">elements</a></li>
                    <li>countdown</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end-->


<section class="event header" id="home">
    <div class="header3 bg">
        <div class="event-content">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2">
                        <div class="center-text">
                            <div class="text-center w-100">
                                <div class="h1-margin">
                                    <h1 class="text-white">come <span class="typed">ultima</span></h1>
                                </div>
                                <div class="wedding-time">
                                    <div class="row">
                                        <div class="col-sm-3 col-6">
                                            <div class="event-content wedding-content">
                                                <div class="count">
                                                    <div class="counter-container">
                                                        <h2 class="text-white text-end">
                                                            <span class="days-text" id="days">205</span>
                                                            <span class="days gradient-text">days</span>
                                                        </h2>
                                                    </div>
                                                    <div class="set-border-left"></div>
                                                    <div class="set-border-bottom"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-6">
                                            <div class="event-content wedding-content">
                                                <div class="count">
                                                    <div class="counter-container">
                                                        <h2 class=" text-white text-end">
                                                            <span class="days-text gradient-text" id="hours">4</span>
                                                            <span class="days gradient-text">hours</span>
                                                        </h2>
                                                    </div>
                                                    <div class="set-border-left"></div>
                                                    <div class="set-border-bottom"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-6">
                                            <div class="event-content wedding-content">
                                                <div class="count">
                                                    <div class="counter-container">
                                                        <h2 class="text-white text-end">
                                                            <span class="days-text gradient-text" id="minutes">44</span>
                                                            <span class="days gradient-text"> minutes</span>
                                                        </h2>
                                                    </div>
                                                    <div class="set-border-left"></div>
                                                    <div class="set-border-bottom"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-6">
                                            <div class="event-content wedding-content">
                                                <div class="count">
                                                    <div class="counter-container">
                                                        <h2 class=" text-white text-end">
                                                            <span class="days-text gradient-text" id="seconds">14</span>
                                                            <span class="days gradient-text">seconds</span>
                                                        </h2>
                                                    </div>
                                                    <div class="set-border-left"></div>
                                                    <div class="set-border-bottom"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="text-white zexon">
                                    <i aria-hidden="true" class="fa fa-map-marker m-r-10 text-white"></i> Zexson Pro,
                                    New York, NY 254
                                </h4>
                                <h5 class="header-sub-text text-white">
                                    <i aria-hidden="true" class="fa fa-calendar m-r-10"></i>01-04 March 2019
                                </h5>
                                <div class="text-center link-horizontal">
                                    <ul>
                                        <li>
                                            <a class=" btn btn-default back-white text-uppercase border-not">view event
                                                details</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="set-bottom set-abs">
            <a class="center-content down" href="#">
                <img alt="" class="scroll-down" src="{% static 'assets/images/event/image-down.png' %}">
            </a>
        </div>
    </div>
</section>
{% endblock content %}
{% block scriptcontent %}
<!--typed js-->
<script src="{% static 'assets/js/typed.min.js' %}"></script>
<!-- script js-->
<script src="{% static 'assets/js/typed.js' %}"></script>
<script src="{% static 'assets/js/count-down.js' %}"></script>
<script>
    function collapSection() {
        var x = document.getElementById("togglebtn");
        if ((x.style.opacity === "0") && (x.style.visibility === "hidden")) {
            x.style.opacity = "1";
            x.style.visibility = "visible";
        } else {
            x.style.opacity = "0";
            x.style.visibility = "hidden";
        }
    }
</script>
{% endblock scriptcontent %}