{% extends 'base.html' %}{% load static %}
{% block css %}
<!--magnific popup css-->
<link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}

<!--breadcrumb section start-->
<section class="agency breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12"><h2 class="breadcrumb-text text-center">elements with subscribe</h2>
                <ul class="breadcrumb justify-content-center">

                    <li><a href="#">elements</a></li>
                    <li>subscribe</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end-->

<section class="p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text text-uppercase m-b-0">
                            <span>subscribe 1</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="app1 subscribe bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="subscribe">
                    <div class="center-content">
                        <div class="form-group">
                            <div class="flex">
                                <input class="form-control " name="email" placeholder="Please Enter Your Email Address"
                                       type="email">
                                <div class="button-primary">
                                    <button class=" btn btn-default btn-gradient text-white text-uppercase"
                                            type="submit">subscribe
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="socials-lists m-t-50">
                    <ul class="socials-horizontal justify-content-center">
                        <li>
                            <a href="#"><i aria-hidden="true" class="fa fa-facebook center-content"></i></a>
                        </li>
                        <li>
                            <a href="#"><i aria-hidden="true" class="fa fa-twitter center-content"></i></a>
                        </li>
                        <li>
                            <a href="#"><i aria-hidden="true" class="fa fa-google center-content"></i></a>
                        </li>
                        <li>
                            <a href="#"><i aria-hidden="true" class="fa fa-instagram center-content"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text text-uppercase m-b-0">
                            <span>subscribe 2</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="saas1 subscribe" id="contact">

    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="media">
                    <img alt="profile" src="{% static 'assets/images/saas1/subscribe-icon.png' %}">
                    <div class="media-body">
                        <h3 class="mt-0 text-white">Start 30 days free trial</h3>
                        <h6 class="text-white">Our users are impatient. They're probably distracted too. Keep it
                            simple and beautiful, fun and functional.
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="subscribe-input">
                    <form>
                        <input id="useremail" placeholder="This Field is Required" required="" type="email">
                        <input id="submit" type="submit" value="Get Started">
                    </form>
                    <div class="text text-center d-flex">
                        <h6 class="text-white">Free 30-day trial</h6><h6 class="text-white">Easy setup</h6><h6
                            class="text-white">Cancel any time</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text text-uppercase m-b-0">
                            <span>subscribe 3</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="event subscribe subscribe-3 set-relative p-t-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <div class="subscribe">
                    <div class="center-content">
                        <div class="form-group">
                            <div class="flex">
                                <input class="form-control text-capitalize" name="email"
                                       placeholder="Please Enter Your Email Address" type="email">
                                <div class="button-primary">
                                    <button class=" btn btn-default primary-btn text-white text-capitalize"
                                            type="submit">
                                        contact me
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
