{% extends 'base.html' %}{% load static %}
{% block css %}
<!--owl carousel css-->
<link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet">
<!-- magnific popup -->
<link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}
{% block content %}
<!--breadcrumb section start-->
<section class="agency breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="breadcrumb-text text-center">elements with testimonial</h2>
                <ul class="breadcrumb justify-content-center">

                    <li><a href="#">elements</a></li>
                    <li>testimonial</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end-->

<section class="saas1 testimonial videos testimonial-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center m-b-0"><span
                                class="text-uppercase">testimonial 1</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="center-content">
                    <div class="video w-100">
                        <a class="button center-content">
                            <img alt="video" class="img-fluid" src="{% static 'assets/images/saas1/testimonial-video-icon.png' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="testimonial-slider">
                    <div class="owl-carousel saas-1-slider owl-theme" id="saas-1-slider">
                        <div class="item">
                            <div class="testimonial">
                                <div class="testimonial-box">
                                    <img alt="dot" src="{% static 'assets/images/saas1/testimonail-dot.png' %}">
                                    <h6>Life before Company was very chaotic — we got a lot of phone calls, a lot of
                                        mistyped orders. So with Company, the ability to see the order directly from the
                                        customer makes it so streamlined. </h6>
                                </div>
                            </div>
                            <div class="testi-profile">
                                <div class="media">
                                    <img alt="profile-testimonial"
                                         src="{% static 'assets/images/saas1/testi-profile.png' %}">
                                    <div class="media-body">
                                        <h5 class="mt-0">Elmer Harvy</h5>
                                        <h6>Graphics Designer</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial">
                                <div class="testimonial-box">
                                    <img alt="dot" src="{% static 'assets/images/saas1/testimonail-dot.png' %}">
                                    <h6>Life before Company was very chaotic — we got a lot of phone calls, a lot of
                                        mistyped orders. So with Company, the ability to see the order directly from the
                                        customer makes it so streamlined. </h6>
                                </div>
                            </div>
                            <div class="testi-profile">
                                <div class="media">
                                    <img alt="Generic placeholder image"
                                         src="{% static 'assets/images/saas1/testi-profile.png' %}">
                                    <div class="media-body">
                                        <h5 class="mt-0">Elmer Harvy</h5>
                                        <h6>Graphics Designer</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial">
                                <div class="testimonial-box">
                                    <img alt="dot" src="{% static 'assets/images/saas1/testimonail-dot.png' %}">
                                    <h6>Life before Company was very chaotic — we got a lot of phone calls, a lot of
                                        mistyped orders. So with Company, the ability to see the order directly from the
                                        customer makes it so streamlined. </h6>
                                </div>
                            </div>
                            <div class="testi-profile">
                                <div class="media">
                                    <img alt="profile" src="{% static 'assets/images/saas1/testi-profile.png' %}">
                                    <div class="media-body">
                                        <h5 class="mt-0">Elmer Harvy</h5>
                                        <h6>Graphics Designer</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="event testimonial set-relative bg bg-img bg-about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center text-uppercase m-b-0"><span
                                class=" text-white white-border">testimonial 2</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 margin-b">
                <div class="owl-carousel owl-theme testimonial" id="event-testimonial">
                    <div class="item p-t-30">
                        <div class="col-lg-10 offset-lg-1 col-12">
                            <div class="row">
                                <div class="col-xl-3 col-sm-4">
                                    <div class=" testimonial-msg set-relative">
                                        <img alt="" class="img-fluid" src="{% static 'assets/images/event/testimonial/L3-1.png' %}">
                                        <div class="msg-box">
                                            <div class="center-content">
                                                <img alt=""
                                                     class="img-fluid set-abs"
                                                     src="{% static 'assets/images/event/testimonial/message.png' %}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-sm-8">
                                    <div class="quotes set-relative m-b-50">
                                        <img alt="" class="img-fluid set-abs left-quote"
                                             src="{% static 'assets/images/event/testimonial/i1.png' %}">
                                        <div class="quote-text">
                                            <h5>"When you innovate, you make mistakes.It is best to admit them quickly,
                                                & get on
                                                with
                                                improving your other innovations."</h5>
                                        </div>
                                        <img alt="" class="img-fluid set-abs right-quote"
                                             src="{% static 'assets/images/event/testimonial/i2.png' %}">
                                    </div>
                                    <div class="rating">
                                        <div class="stars">
                                            <ul>
                                                <li>
                                                    <i aria-hidden="true" class="fa fa-star yellow"></i>
                                                    <i aria-hidden="true" class="fa fa-star yellow"></i>
                                                    <i aria-hidden="true" class="fa fa-star yellow"></i>
                                                    <i aria-hidden="true" class="fa fa-star yellow"></i>
                                                    <i aria-hidden="true" class="fa fa-star"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <h5 class="name">Jhon Denal - <span> UI Designer</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item p-t-30">
                        <div class="col-lg-10 offset-lg-1 col-12">
                            <div class="row">
                                <div class="col-xl-3 col-sm-4">
                                    <div class=" testimonial-msg set-relative">
                                        <img alt="" class="img-fluid" src="{% static 'assets/images/event/testimonial/L3-1.png' %}">
                                        <div class="msg-box">
                                            <div class="center-content">
                                                <img alt=""
                                                     class="img-fluid set-abs"
                                                     src="{% static 'assets/images/event/testimonial/message.png' %}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-sm-8">
                                    <div class="quotes set-relative m-b-50">
                                        <img alt="" class="img-fluid set-abs left-quote"
                                             src="{% static 'assets/images/event/testimonial/i1.png' %}">
                                        <div class="quote-text">
                                            <h5>"When you innovate, you make mistakes.It is best to admit them quickly,
                                                & get on
                                                with
                                                improving your other innovations."</h5>
                                        </div>
                                        <img alt="" class="img-fluid set-abs right-quote"
                                             src="{% static 'assets/images/event/testimonial/i2.png' %}">
                                    </div>
                                    <div class="rating">
                                        <div class="stars">
                                            <ul>
                                                <li>
                                                    <i aria-hidden="true" class="fa fa-star yellow"></i>
                                                    <i aria-hidden="true" class="fa fa-star yellow"></i>
                                                    <i aria-hidden="true" class="fa fa-star yellow"></i>
                                                    <i aria-hidden="true" class="fa fa-star yellow"></i>
                                                    <i aria-hidden="true" class="fa fa-star"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <h5 class="name">Jhon Denal - <span> UI Designer</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="app2 team">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center text-uppercase m-b-0"><span>testimonial 3</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="owl-carousel owl-theme team-slider" id="app2-slider">
                    <div class="item">
                        <div class="team-container">
                            <img alt="" class="img-fluid members" src="{% static 'assets/images/app_landing2/team/1.png' %}">
                            <div class="text-center">
                                <h5 class="name text-center">Ashekur Rahman</h5>
                                <h6 class="post text-center ">Art Dirrector</h6>
                                <p class="team-para text-center">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting
                                    industry.
                                    Lorem Ipsum has been the</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-container">
                            <img alt="" class="img-fluid members" src="{% static 'assets/images/app_landing2/team/1.png' %}">
                            <div class="text-center">
                                <h5 class="name text-center">Ashekur Rahman</h5>
                                <h6 class="post text-center ">Art Dirrector</h6>
                                <p class="team-para text-center">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting
                                    industry.
                                    Lorem Ipsum has been the</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-container">
                            <img alt="" class="img-fluid members" src="{% static 'assets/images/app_landing2/team/1.png' %}">
                            <div class="text-center">
                                <h5 class="name text-center">Ashekur Rahman</h5>
                                <h6 class="post text-center ">Art Dirrector</h6>
                                <p class="team-para text-center">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting
                                    industry.
                                    Lorem Ipsum has been the</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gym testimonial">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center text-uppercase m-b-0"><span
                                class="text-white white-border">testimonial 4</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-8 offset-md-2">
                <div class="owl-carousel owl-theme testimonial-slider" id="gym-testimonial">
                    <div class="item">
                        <div>
                            <img alt="" class="img-fluid m-auto" src="{% static 'assets/images/gym/testimonial/quote.png' %}">
                            <div class="text-center testimonial-info">
                                <p class="p-light testimonial-para">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    printer took a galley of type and scrambled it to.</p>
                                <div class="testimonial-name">
                                    <h5 class="text-white name">Alan Lakor</h5>
                                </div>
                                <div class="testimonial-post">
                                    <h6 class="text-white post">CEO OF SC.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <img alt="" class="img-fluid m-auto" src="{% static 'assets/images/gym/testimonial/quote.png' %}">
                            <div class="text-center testimonial-info">
                                <p class="p-light testimonial-para">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    printer took a galley of type and scrambled it to.</p>
                                <div class="testimonial-name">
                                    <h5 class="text-white name">Alan Lakor</h5>
                                </div>
                                <div class="testimonial-post">
                                    <h6 class="text-white post">CEO OF SC.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="agency testimonial format testimonial-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="format-container m-b-50">
                    <h6 class="borders-before text-uppercase font-600  text-white">
                        <span class="color-white">Happy Clients</span>
                    </h6>
                    <div class="format-head-text">
                        <h2 class=" text-white">We Will Ready For <span class="block-span">Your Services</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel owl-theme testimonial-slider" id="agency-testimonial">
                    <div class="item">
                        <div class="testimonial-container testimonial-container2 m-0">
                            <div class="d-flex">
                                <img alt="" class="img-fluid m-r-25" src="{% static 'assets/images/agency/testimonial/1.png' %}">
                                <div class="center-content">
                                    <h6 class="name">Kolan Motto</h6>
                                    <h6 class="post text-center  font-primary">CEO, Therat</h6>
                                </div>
                            </div>
                            <div class="testimonial-info">
                                <p class="m-b-20 para2">It goes without saying that customer data sec urity
                                    and
                                    compliance
                                    is
                                    top of mind in most retail board rooms compliance is top.</p>
                                <div class="primary-border"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-container testimonial-container2 m-0">
                            <div class="d-flex">
                                <img alt="" class="img-fluid m-r-25" src="{% static 'assets/images/agency/testimonial/2.png' %}">
                                <div class="center-content">
                                    <h6 class="name">Kolan Motto</h6>
                                    <h6 class="post text-center  font-primary">CEO, Therat</h6>
                                </div>
                            </div>
                            <div class="testimonial-info">
                                <p class="m-b-20 para2">It goes without saying that customer data sec urity
                                    and
                                    compliance
                                    is
                                    top of mind in most retail board rooms compliance is top.</p>
                                <div class="post primary-border"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-container testimonial-container2 m-0">
                            <div class="d-flex">
                                <img alt="" class="img-fluid m-r-25" src="{% static 'assets/images/agency/testimonial/1.png' %}">
                                <div class="center-content">
                                    <h6 class="name">Kolan Motto</h6>
                                    <h6 class="post text-center  font-primary">CEO, Therat</h6>
                                </div>
                            </div>
                            <div class="testimonial-info">
                                <p class="m-b-20 para2">It goes without saying that customer data sec urity
                                    and
                                    compliance
                                    is
                                    top of mind in most retail board rooms compliance is top.</p>
                                <div class="primary-border"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-container testimonial-container2 m-0">
                            <div class="d-flex">
                                <img alt="" class="img-fluid m-r-25" src="{% static 'assets/images/agency/testimonial/2.png' %}">
                                <div class="center-content">
                                    <h6 class="name">Kolan Motto</h6>
                                    <h6 class="post text-center  font-primary">CEO, Therat</h6>
                                </div>
                            </div>
                            <div class="testimonial-info">
                                <p class="m-b-20 para2">It goes without saying that customer data sec urity
                                    and
                                    compliance
                                    is
                                    top of mind in most retail board rooms compliance is top.</p>
                                <div class="primary-border"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block scriptcontent %}
<!--magnific popup js-->
<script src="{% static 'assets/js/magnific-popup.js' %}"></script>
<!--owl js-->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<!-- script js-->
<script src="{% static 'assets/js/testimonial.js' %}"></script>
<script src="{% static 'assets/js/video-popup.js' %}"></script>

{% endblock scriptcontent %}