{% extends 'base.html' %}{% load static %}
{% block css %}
<!--owl carousel css-->
<link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet">
<!--magnific popup css-->
<link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
<!--breadcrumb section start-->
<section class="agency breadcrumb-section bg1 bg-dark bg-fixed">
    <div class="container">
        <div class="row">
            <div class="col-12"><h2 class="breadcrumb-text text-center">elements with video</h2>
                <ul class="breadcrumb justify-content-center">

                    <li><a href="#">Elements</a></li>
                    <li>Video</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end-->

<!--video1 section start-->
<section class="app1 videos bg-theme">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text text-uppercase m-b-0"><span
                                class="text-white white-border">video 1</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="center-content">
                    <div class="video w-100">
                        <a class="button center-content">
                            <img alt="video" class="img-fluid" src="{% static 'assets/images/app_landing1/playl-1.png' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-7 col-sm-12 counters video-description">
                <h3 class="m-b-30 text-white">Discover The New App</h3>
                <div class="m-b-35">
                    <p class="p-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt
                        ut</p>

                    <p class="p-light">ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur.</p>

                    <p class="p-light">cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                        laborum.</p>
                </div>
                <div class="link-horizontal">
                    <ul>
                        <li>
                            <a class="icon-btn">
                                <i aria-hidden="true" class="fa fa-android center-content shadow"></i>
                                <h6 class="text-center text-white">android</h6>
                            </a>
                        </li>
                        <li class="borders-right p-0"></li>
                        <li>
                            <a class="icon-btn">
                                <i aria-hidden="true" class="fa fa-apple center-content shadow"></i>
                                <h6 class="text-center text-white">ios</h6>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--video1 section end-->

<!--video2 section start-->
<section class="saas1 testimonial videos testimonial-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text m-b-0"><span class="text-uppercase">video 2</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="center-content">
                    <div class="video w-100">
                        <a class="button center-content">
                            <img alt="video" class="img-fluid" src="{% static 'assets/images/saas1/testimonial-video-icon.png' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="testimonial-slider">
                    <div class="owl-carousel testimonial-carousel owl-theme">
                        <div class="item">
                            <div class="testimonial">
                                <div class="testimonial-box">
                                    <img alt="dot" src="{% static 'assets/images/saas1/testimonail-dot.png' %}">
                                    <h6>Life before Company was very chaotic — we got a lot of phone calls, a lot of
                                        mistyped orders. So with Company, the ability to see the order directly from the
                                        customer makes it so streamlined. </h6>
                                </div>
                            </div>
                            <div class="testi-profile">
                                <div class="media">
                                    <img alt="profile-testimonial"
                                         src="{% static 'assets/images/saas1/testi-profile.png' %}">
                                    <div class="media-body">
                                        <h5 class="mt-0">Elmer Harvy</h5>
                                        <h6>Graphics Designer</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial">
                                <div class="testimonial-box">
                                    <img alt="dot" src="{% static 'assets/images/saas1/testimonail-dot.png' %}">
                                    <h6>Life before Company was very chaotic — we got a lot of phone calls, a lot of
                                        mistyped orders. So with Company, the ability to see the order directly from the
                                        customer makes it so streamlined. </h6>
                                </div>
                            </div>
                            <div class="testi-profile">
                                <div class="media">
                                    <img alt="Generic placeholder image"
                                         src="{% static 'assets/images/saas1/testi-profile.png' %}">
                                    <div class="media-body">
                                        <h5 class="mt-0">Elmer Harvy</h5>
                                        <h6>Graphics Designer</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial">
                                <div class="testimonial-box">
                                    <img alt="dot" src="{% static 'assets/images/saas1/testimonail-dot.png' %}">
                                    <h6>Life before Company was very chaotic — we got a lot of phone calls, a lot of
                                        mistyped orders. So with Company, the ability to see the order directly from the
                                        customer makes it so streamlined. </h6>
                                </div>
                            </div>
                            <div class="testi-profile">
                                <div class="media">
                                    <img alt="profile" src="{% static 'assets/images/saas1/testi-profile.png' %}">
                                    <div class="media-body">
                                        <h5 class="mt-0">Elmer Harvy</h5>
                                        <h6>Graphics Designer</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--video2 section end-->

<!--video3 section start-->
<section class="music bg-video format">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text text-uppercase m-b-0"><span
                                class="text-white white-border">video 3</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img alt="" class="img-fluid" src="{% static 'assets/images/music/singer.png' %}">
            </div>
            <div class="col-md-6">
                <div class=" center-text">
                    <div>
                        <div class="format-small-text">
                            <h6 class="gradient-text hash-video font-600">#video</h6>
                        </div>
                        <div class="format-head-text">
                            <h3 class="about-font-header text-white">Anet Licker</h3>
                        </div>
                        <div class="format-sub-text">
                            <div class="sub-heading">
                                <h6 class="sub-small-text text-white">Performs in Slide Spring Tour</h6>
                            </div>
                            <p class="text-white sub-para">The page builder elements that we’ve created for you, make
                                the
                                website building process easy and fun.</p>
                        </div>
                        <div class="m-b-40">
                            <div class="link-horizontal">
                                <ul>
                                    <li>
                                        <a class="button icon-btn d-flex" href="#">
                                            <i aria-hidden="true" class="fa fa-play video-icon center-content m-0"></i>
                                            <div class="watch-now center-content">
                                                <h6 class="watch text-white">Watch Now</h6>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex">
                            <h6 class="watch text-white">see all video<i aria-hidden="true"
                                                                         class="fa fa-arrow-right m-l-15"></i>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--video3 section end-->

<!--video4 section start-->
<section>
    <div class="app1 container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text text-uppercase m-b-0"><span>video 4</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="agency video video-bg p-0" id="video">
        <div class="container">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="text-center">
                        <div class="d-inline-block">
                            <img alt="" class="img-fluid bg-video" src="{% static 'assets/images/agency/videos/bg.png' %}">
                            <div class="abs-center">
                                <div>
                                    <div class="m-b-20">
                                        <a class="button" href="#">
                                            <img alt="" class="img-fluid video-img"
                                                 src="{% static 'assets/images/agency/videos/icon.png' %}">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="video w-100" href="">
                                            <img alt="" class="img-fluid m-b-20"
                                                 src="{% static 'assets/images/agency/videos/title-icon.png' %}">
                                        </a>
                                        <div>
                                            <h3 class="video-heading text-white"> Amazing Videos &amp;
                                                Presentations</h3>
                                            <h6 class="video-text text-white">We create. We Develop. We Inspire.</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock content %}
{% block scriptcontent %}
<!--magnific popup js-->
<script src="{% static 'assets/js/magnific-popup.js' %}"></script>
<!--owl js-->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<!-- script js-->
<script src="{% static 'assets/js/video-popup.js' %}"></script>
<script src="{% static 'assets/js/zoom-gallery.js' %}"></script>
<script src="{% static 'assets/js/video-page.js' %}"></script>

{% endblock scriptcontent %}