{% extends 'base.html' %}{% load static %}
{% block css %}
    <!--slick css-->
    <link href="{% static 'assets/css/slick.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/slick-theme.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}
{% block content %}
<!--breadcrumb section start -->
<section class="breadcrumb-section-main inner-2 breadcrumb-section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-contain ">
                    <div>
                        <h2 class="breadcrumb-txt">shop with accordian</h2>
                    </div>
                    <div>
                        <ul>

                            <li><a href="#">product pages</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>accordian</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end -->

<!-- section start -->

{% include 'shop/product-pages/product-page(accordian)/components/collection.html' %}
<!-- Section ends -->

<!-- product-tab starts -->
{% include 'shop/product-pages/product-page(accordian)/components/tabs.html' %}

<!-- product-tab ends -->

<!-- product section start -->
{% include 'shop/product-pages/product-page(accordian)/components/related-products.html' %}

<!-- Quick-view modal popup start-->
{% include 'shop/product-pages/product-page(accordian)/components/quick-view-modal.html' %}

{% endblock content %}
{% block scriptcontent %}
<!--slick js-->
<script src="{% static 'assets/js/slick.js' %}"></script>
<!-- script js-->
<script src="{% static 'assets/js/product.js' %}" type="text/javascript"></script>
{% endblock scriptcontent %}