{% extends 'base.html' %}

{% load static %}

{% block css %}
      <!-- Plugins css start-->
      <link rel="stylesheet" type="text/css" href="{% static 'assets/css/datatables.css'%}">
      <!-- Plugins css Ends-->
{% endblock  %}

{% block content %}

      <div class="page-body">
        {% include "layout/breadcrumb.html" %}
          <div class="container-fluid">

                {% include "table/data-table/datatable-basic/components/zero-configuration.html" %}
                {% include "table/data-table/datatable-basic/components/feature.html" %}
                {% include "table/data-table/datatable-basic/components/default.html" %}
                {% include "table/data-table/datatable-basic/components/multi-column.html" %}
                {% include "table/data-table/datatable-basic/components/multiple-tables.html" %}
                {% include "table/data-table/datatable-basic/components/hidden-columns.html" %}
                {% include "table/data-table/datatable-basic/components/complex-headers.html" %}
                {% include "table/data-table/datatable-basic/components/dom-positioning.html" %}
                {% include "table/data-table/datatable-basic/components/flexible-table.html" %}
                {% include "table/data-table/datatable-basic/components/state-saving.html" %}
                {% include "table/data-table/datatable-basic/components/alternative.html" %}
                {% include "table/data-table/datatable-basic/components/scroll-vertical.html" %}
                {% include "table/data-table/datatable-basic/components/scroll-vertical-dynamic.html" %}
                {% include "table/data-table/datatable-basic/components/scroll.html" %}
                {% include "table/data-table/datatable-basic/components/language.html" %}

             </div>
        </div>

{% endblock %}

{% block scriptcontent %}
      <!-- Plugins JS start-->
      <script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js'%}"></script>
      <script src="{% static 'assets/js/datatable/datatables/datatable.custom.js'%}"></script>
      <script src="{% static 'assets/js/tooltip-init.js'%}"></script>
      <!-- Plugins JS Ends-->
{% endblock  %}
    