{% load static %}

<!--breadcrumb section start-->
<section class="agency breadcrumb-section bg-dark breadcrumb-slider p-0">
    <div class="owl-carousel owl-theme img-slider">
        <div class="item">
            <div class="bg1"></div>
        </div>
        <div class="item">
            <div class="bg2"></div>
        </div>
        <div class="item">
            <div class="bg3"></div>
        </div>
        <div class="item">
            <div class="bg4"></div>
        </div>
    </div>
    <div class="container set-over">
        <div class="row">
            <div class="col-12"><h2 class="breadcrumb-text text-center">features with gallery background</h2>
                <ul class="breadcrumb justify-content-center">

                    <li><a href="#">breadcrumb style</a></li>
                    <li>gallery background</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end-->
