{% load static %}
<div class="col-lg-6">
    <div class="typography-box">
        <div class="headings">
            <h3>Text Color</h3>
            <span>You can Give text color by using txt-* class</span>
        </div>
        <div class="typo-content">
            <p class="text-primary">This is Primary text You can archive this adding
                <code>.text-primary</code> class</p>
            <p class="text-secondary">This is Secondary text You can archive this adding <code>.text-secondary</code>
                class</p>
            <p class="text-success">This is Success text You can archive this adding
                <code>.text-success</code> class</p>
            <p class="text-info">This is Info text You can archive this adding <code>.text-info</code> class
            </p>
            <p class="text-warning">This is Warning text You can archive this adding
                <code>.text-warning</code> class</p>
            <p class="text-danger">This is Danger text You can archive this adding <code>.text-danger</code>
                class</p>
            <p class="text-dark">This is Dark text You can archive this adding <code>.text-dark</code> class
            </p>
            <p class="text-muted">This is Primary text You can archive this adding <code>.text-muted</code>
                class</p>
        </div>
    </div>
    <div class="typography-box">
        <div class="headings">
            <h3>Text Color</h3>
            <span>You can Give text color by using txt-* class</span>
        </div>
        <div class="typo-content">
            <form>
                <div class="row g-3">
                    <div class="col-12 mb-3">
                        <label for="name">First Name</label>
                        <input class="form-control" id="name" placeholder="Enter Your name" required=""
                               type="text">
                    </div>
                    <div class="col-12 mb-3">
                        <label for="email">Email</label>
                        <input class="form-control" id="email" placeholder="Email" required="" type="text">
                    </div>
                    <div class="col-12 mb-3">
                        <label>Write Your Message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                  placeholder="Write Your Message" rows="5"></textarea>
                    </div>
                </div>
                <div class="row">

                </div>
            </form>
        </div>
    </div>
    <div class="typography-box">
        <div class="headings">
            <h3>Inline text elements</h3>
            <span>Styling for common inline HTML5 elements.</span>
        </div>
        <div class="typo-content">
            <p>You can use the mark tag to
                <mark>highlight</mark>
                text.
            </p>
            <p>
                <del>This line of text is meant to be treated as deleted text.</del>
            </p>
            <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
            <p>
                <ins>This line of text is meant to be treated as an addition to the document.</ins>
            </p>
            <p><u>This line of text will render as underlined</u></p>
            <p>
                <small>This line of text is meant to be treated as fine print.</small>
            </p>
            <p><strong>This line rendered as bold text.</strong></p>
            <p><em>This line rendered as italicized text.</em></p>
        </div>
    </div>
    <div class="typography-box">
        <div class="headings">
            <h3>lists</h3>
            <span>Styling for common inline HTML5 elements.</span>
        </div>
        <div class="typo-content input_button">
            <div class="row">
                <div class="col-sm-6">
                    <form>
                        <div>
                            <input id="one" name="gender" type="radio" value="male">
                            <label for="one">radio button1</label>
                        </div>
                        <div>
                            <input id="two" name="gender" type="radio" value="male">
                            <label for="two">radio button2</label>
                        </div>
                        <div>
                            <input id="three" name="gender" type="radio" value="male">
                            <label for="three">radio button3</label>
                        </div>
                        <div>
                            <input id="four" name="gender" type="radio" value="male">
                            <label for="four">radio button4</label>
                        </div>

                    </form>
                </div>
                <div class="col-sm-6">
                    <form>
                        <div>
                            <input id="six" name="gender" type="checkbox" value="male">
                            <label for="six">checkbox button1</label>
                        </div>
                        <div>
                            <input id="seven" name="gender" type="checkbox" value="male">
                            <label for="seven">checkbox button2</label>
                        </div>
                        <div>
                            <input id="eight" name="gender" type="checkbox" value="male">
                            <label for="eight">checkbox button3</label>
                        </div>
                        <div>
                            <input id="nine" name="gender" type="checkbox" value="male">
                            <label for="nine">checkbox button4</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="typography-box">
        <div class="headings">
            <h3>social icons</h3>
        </div>
        <div class="typo-content">
            <div class="socials-lists">
                <ul class="socials-horizontal justify-content-center">
                    <li>
                        <a href="#"><i aria-hidden="true"
                                       class="fa fa-facebook center-content"></i></a>
                    </li>
                    <li>
                        <a href="#"><i aria-hidden="true" class="fa fa-twitter center-content"></i></a>
                    </li>
                    <li>
                        <a href="#"><i aria-hidden="true" class="fa fa-google center-content"></i></a>
                    </li>
                    <li>
                        <a href="#"><i aria-hidden="true" class="fa fa-instagram center-content"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
