{% load static %}
<div class="col-lg-6 col-sm-12 col-xs-12">
    <div class="checkout-title">
        <h3>Billing Details</h3></div>
    <div class="row check-out">
        <div class="form-group col-sm-6 col-xs-12">
            <div class="field-label">First Name</div>
            <input name="field-name" placeholder="" type="text" value="">
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <div class="field-label">Last Name</div>
            <input name="field-name" placeholder="" type="text" value="">
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <div class="field-label">Phone</div>
            <input name="field-name" placeholder="" type="text" value="">
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <div class="field-label">Email Address</div>
            <input name="field-name" placeholder="" type="text" value="">
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="field-label">Country</div>
            <select>
                <option>India</option>
                <option>South Africa</option>
                <option>United State</option>
                <option>Australia</option>
            </select>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="field-label">Address</div>
            <input name="field-name" placeholder="Street address" type="text" value="">
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <div class="field-label">Town/City</div>
            <input name="field-name" placeholder="" type="text" value="">
        </div>
        <div class="form-group col-md-12 col-sm-6 col-xs-12">
            <div class="field-label">State / County</div>
            <input name="field-name" placeholder="" type="text" value="">
        </div>
        <div class="form-group col-md-12 col-sm-6 col-xs-12">
            <div class="field-label">Postal Code</div>
            <input name="field-name" placeholder="" type="text" value="">
        </div>
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input id="account-option" name="shipping-option" type="checkbox">  
            <label for="account-option">Create An Account?</label>
        </div>
    </div>
</div>