{% load static %}
<section class="saas1 build-bg">
    <div class="build-right-slider">
        <div class="owl-carousel owl-theme sync2" id="sync2">
            <div class="item">
                <img alt="work-slider" class="img-fluid work-slide" src="{% static 'assets/images/saas1/work.png' %}">
            </div>
            <div class="item">
                <img alt="work-slider" class="img-fluid work-slide" src="{% static 'assets/images/saas1/work.png' %}">
            </div>
            <div class="item">
                <img alt="work-slider" class="img-fluid work-slide" src="{% static 'assets/images/saas1/work.png' %}">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="sync1 owl-carousel owl-theme overflow-hidden" id="sync1">
                    <div class="item">
                        <div class="build-box">
                            <h3 class="build-head text-white"><span class="theme-color">Let’s </span>Build Something
                                Great. Together</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <ul>
                                <li><img alt="icon" src="{% static 'assets/images/saas1/build-.png' %}">We provide free initial
                                    consultation
                                    and support.
                                </li>
                                <li><img alt="icon" src="{% static 'assets/images/saas1/build-.png' %}">We work with some of the
                                    most
                                    successful businesses
                                </li>
                                <li><img alt="icon" src="{% static 'assets/images/saas1/build-.png' %}">We Are Entrepreneurs &
                                    Innovators of
                                    Website Building
                                </li>
                                <li><img alt="icon" src="{% static 'assets/images/saas1/build-.png' %}">We’d love to hear from you
                                    to
                                    discuss
                                    web design.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="build-box">
                            <h3 class="build-head text-white"><span class="theme-color">Let’s </span>Build Something
                                Great. Together</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <ul>
                                <li><img alt="icon" src="{% static 'assets/images/saas1/build-.png' %}">We provide free initial
                                    consultation
                                    and support.
                                </li>
                                <li><img alt="icon" src="{% static 'assets/images/saas1/build-.png' %}">We work with some of the
                                    most
                                    successful businesses
                                </li>
                                <li><img alt="icon" src="{% static 'assets/images/saas1/build-.png' %}">We Are Entrepreneurs &
                                    Innovators of
                                    Website Building
                                </li>
                                <li><img alt="icon" src="{% static 'assets/images/saas1/build-.png' %}">We’d love to hear from you
                                    to
                                    discuss
                                    web design.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="build-box">
                            <h3 class="build-head text-white"><span class="theme-color">Let’s </span>Build Something
                                Great. Together</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <ul>
                                <li><img alt="icon" src="{% static 'assets/images/saas1/build-.png' %}">We provide free initial
                                    consultation
                                    and support.
                                </li>
                                <li><img alt="icon" src="{% static 'assets/images/saas1/build-.png' %}">We work with some of the
                                    most
                                    successful businesses
                                </li>
                                <li><img alt="icon" src="{% static 'assets/images/saas1/build-.png' %}">We Are Entrepreneurs &
                                    Innovators of
                                    Website Building
                                </li>
                                <li><img alt="icon" src="{% static 'assets/images/saas1/build-.png' %}">We’d love to hear from you
                                    to
                                    discuss
                                    web design.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>