{% load static %}
<section class="saas1 service" id="feature">
    <div class="about-chat">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="title">
                        <img alt="title-logo" class="img-fluid" src="{% static 'assets/images/saas1/title-logo.png' %}">
                        <div class="main-title">
                            <h2>
                                <span class="theme-color">A</span>wesome <span class="theme-color">F</span>eatures

                            </h2>
                        </div>
                        <hr>
                        <div class="sub-title">
                            <p class="p-padding">We believe we have created the most efficient SaaS landing page for
                                your
                                users. Landing page with features that will convince you to use it for your SaaS
                                business.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 service-container">
                    <div class="chat-box">
                        <img alt="stay-connected" src="{% static 'assets/images/saas1/feature/1.png' %}">
                        <div class="feature-content">
                            <h4 class="service-heading"> Responsive <span class="theme-color">Layout</span>
                            </h4>
                            <hr>
                            <p>Responsive code that makes your landing page look good on all devices (desktops,
                                tablets, and phones). Created with mobile specialists</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 service-container">
                    <div class="chat-box">
                        <img alt="stay-connected" src="{% static 'assets/images/saas1/feature/2.png' %}">
                        <div class="feature-content">
                            <h4 class="service-heading"> Sass Landing<span class="theme-color"> Page</span>
                            </h4>
                            <hr>
                            <p>Responsive code that makes your landing page look good on all devices (desktops,
                                tablets, and phones). Created with mobile specialists</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 service-container">
                    <div class="chat-box">
                        <img alt="stay-connected" src="{% static 'assets/images/saas1/feature/3.png' %}">
                        <div class="feature-content">
                            <h4 class="service-heading"><span class="theme-color">Smart</span> Responsive </h4>
                            <hr>
                            <p>Responsive code that makes your landing page look good on all devices (desktops,
                                tablets, and phones). Created with mobile specialists</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 service-container">
                    <div class="chat-box">
                        <img alt="stay-connected" src="{% static 'assets/images/saas1/feature/4.png' %}">
                        <div class="feature-content">
                            <h4 class="service-heading"> Smart and<span class="theme-color"> optimized</span>
                            </h4>
                            <hr>
                            <p>Responsive code that makes your landing page look good on all devices (desktops,
                                tablets, and phones). Created with mobile specialists</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 service-container">
                    <div class="chat-box">
                        <img alt="stay-connected" src="{% static 'assets/images/saas1/feature/5.png' %}">
                        <div class="feature-content">
                            <h4 class="service-heading"> Well <span class="theme-color">Documented</span>
                            </h4>
                            <hr>
                            <p>Responsive code that makes your landing page look good on all devices (desktops,
                                tablets, and phones). Created with mobile specialists</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 service-container">
                    <div class="chat-box">
                        <img alt="stay-connected" src="{% static 'assets/images/saas1/feature/6.png' %}">
                        <div class="feature-content">
                            <h4 class="service-heading"> Easy <span class="theme-color">Integration</span>
                            </h4>
                            <hr>
                            <p>Responsive code that makes your landing page look good on all devices (desktops,
                                tablets, and phones). Created with mobile specialists</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>