{% load static %}
<section class="saas1 header" id="home">
    <div class="saas1-header bg header8-content">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="center-text">
                        <div>
                            <div class="header-text">
                                <div class="d-flex">
                                    <h1><span class="theme-color">S</span>imple <span
                                            class="small-text">and </span><span class="theme-color">S</span>mart</h1>
                                    <div class="center-content slider-logo">
                                        <img alt="" class="img-fluid" src="{% static 'assets/images/saas1/slider-logo.png' %}">
                                    </div>
                                </div>
                            </div>
                            <div class="header-sub-text">
                                <h3 class="text-white">Landing Page Templates For<span> SaaS</span> Companies</h3>
                            </div>
                            <div class="header-sub-text">
                                <h6>For as low as<span class="theme-color"> $0.95 </span>per user account</h6>
                            </div>
                            <div class="link-horizontal">
                                <ul>
                                    <li>
                                        <a class="btn btn-default primary-btn transparent">watch demo<img
                                                alt="video-icon" class="m-l-5"
                                                src="{% static 'assets/images/saas1/video-icon.png' %}"></a>
                                    </li>
                                    <li>
                                        <a class="btn btn-default primary-btn transparent">start now</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="auto">
                    <div class="center-text slider-banner">
                        <div class="owl-carousel owl-theme overflow-hidden slider-1">
                            <div class="item">
                                <img alt="slid-banner" src="{% static 'assets/images/saas1/slider-laptop2.png' %}">
                            </div>
                            <div class="item">
                                <img alt="slid-banner" src="{% static 'assets/images/saas1/slider-laptop2.png' %}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img alt="" class="img-fluid set-abs background" src="{% static 'assets/images/saas1/background2.png' %}">
    <img alt="" class="img-fluid set-abs dot" src="{% static 'assets/images/saas1/dot.png' %}">
</section>