{% load static %}
<section class="saas1 howitwork" id="how-work">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="title">
                    <img alt="title-logo" class="img-fluid" src="{% static 'assets/images/saas1/title-logo.png' %}">
                    <div class="main-title">
                        <h2>
                            <span class="theme-color">H</span>ow <span class="theme-color">I</span>t <span
                                class="theme-color">W</span>ork

                        </h2>
                    </div>
                    <hr>
                    <div class="sub-title">
                        <p class="p-padding">Guide to setup and configuration. You can present below a guide and a
                            description of how your system configuration works and add some animated screens.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 work-tab">
                <ul class="nav nav-pills justify-content-center " id="pills-tab" role="tablist">

                    <li class="nav-item  text-center">
                        <a aria-controls="pills-work1" aria-selected="true" class="nav-link" data-bs-toggle="pill" href="#pills-work1"
                           id="pills-work1-tab" role="tab">
                            <img alt="tab-image-1" src="{% static 'assets/images/saas1/tab-icon/installation.png' %}">
                            <h6>Initializing</h6>
                            <span></span>
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <a aria-controls="pills-work2" aria-selected="false" class="nav-link" data-bs-toggle="pill" href="#pills-work2"
                           id="pills-work2-tab" role="tab">
                            <img alt="tab-image-2" src="{% static 'assets/images/saas1/tab-icon/001-tap.png' %}">
                            <h6>Add Instances</h6>
                            <span></span>
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <a aria-controls="pills-work3" aria-selected="false" class="nav-link active" data-bs-toggle="pill"
                           href="#pills-work3" id="pills-work3-tab" role="tab">
                            <img alt="tab-image-3" src="{% static 'assets/images/saas1/tab-icon/button.png' %}">
                            <h6>Configuration</h6>
                            <span></span>
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <a aria-controls="pills-contact-1" aria-selected="false" class="nav-link" data-bs-toggle="pill"
                           href="#pills-contact-1" id="pills-contact1" role="tab">
                            <img alt="tab-image-4" src="{% static 'assets/images/saas1/tab-icon/002-settings.png' %}">
                            <h6>API Setting</h6>
                            <span></span>
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <a aria-controls="pills-contact-2" aria-selected="false" class="nav-link" data-bs-toggle="pill"
                           href="#pills-contact-2" id="pills-contact2" role="tab">
                            <img alt="tab-image-5" src="{% static 'assets/images/saas1/tab-icon/key-1.png' %}">
                            <h6>Security</h6>
                            <span></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="work-tab-bg work-content p-t-50">
        <div class="tab-content text-center" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-work1" role="tabpanel">
                <img alt="tab-image-1" class="img-fluid" src="{% static 'assets/images/saas1/tab/Initializing.png' %}">
            </div>
            <div class="tab-pane fade" id="pills-work2" role="tabpanel">
                <img alt="tab-image-2" class="img-fluid" src="{% static 'assets/images/saas1/tab/Add-instant.png' %}">
            </div>
            <div class="tab-pane fade" id="pills-work3" role="tabpanel">
                <img alt="tab-image-3" class="img-fluid" src="{% static 'assets/images/saas1/tab/Configuration.png' %}">
            </div>
            <div class="tab-pane fade" id="pills-contact-1" role="tabpanel">
                <img alt="tab-image-4" class="img-fluid" src="{% static 'assets/images/saas1/tab/Api.png' %}">
            </div>
            <div class="tab-pane fade" id="pills-contact-2" role="tabpanel">
                <img alt="tab-image-5" class="img-fluid" src="{% static 'assets/images/saas1/tab/Security.png' %}">
            </div>
        </div>
    </div>

</section>