{% extends 'base.html' %}{% load static %}
{% block css %}
<link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800" rel="stylesheet">
{% endblock css %}
{% block content %}
<!--breadcrumb section start-->
<section class="agency breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="breadcrumb-text text-center">protfolio with portfolio details 7</h2>
                <ul class="breadcrumb justify-content-center">

                    <li><a href="#">portfolio details</a></li>
                    <li>protfolio details 7</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end-->

<!-- section start -->
{% include 'portfolio/portfolio-details/portfolio-detail7/components/portfolio-detail7.html' %}

{% endblock content %}
{% block scriptcontent %}
    <!--owl js-->
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/sticky-kit.js' %}" type="text/javascript"></script>
    <!-- script js-->
    <script src="{% static 'assets/js/product.js' %}" type="text/javascript"></script>
{% endblock scriptcontent %}