{% extends 'base.html' %}{% load static %}
{% block css %}
<link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800" rel="stylesheet">
{% endblock css %}
{% block content %}
<!--breadcrumb section start-->
<section class="breadcrumb-section-main inner-3 agency breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12"><h2 class="breadcrumb-text text-center">portfolio with creative style 2</h2>
                <ul class="breadcrumb justify-content-center">

                    <li><a href="#">creative modern</a></li>
                    <li>creative style 2</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end -->

<!-- section start -->
{% include 'portfolio/trending-layouts/portfolio-creative-2/components/portfolio-creative-2.html' %}
{% endblock content %}