{% load static %}
<section class="resume about bg-light-inner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text text-uppercase m-b-0">
                            <span>progress 2</span></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-center radial">
                    <div class="radial-bar radial-bar-primary" data-label="98%">
                    </div>
                    <h4 class="color-light m-t-15">Photoshop</h4>
                    <div class="border-container">
                        <div class="borders-bottom"></div>
                    </div>
                    <div>
                        <h4>4 Years Experince</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-center radial">
                    <div class="radial-bar radial-bar-primary radial-90" data-label="90%">
                    </div>
                    <h4 class="color-light m-t-15">illustrator</h4>
                    <div class="border-container">
                        <div class="borders-bottom"></div>
                    </div>
                    <div>
                        <h4>4 Years Experince</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-center radial">
                    <div class="radial-bar radial-bar-primary radial-80" data-label="80%">
                    </div>
                    <h4 class="color-light m-t-15">html & css</h4>
                    <div class="border-container">
                        <div class="borders-bottom"></div>
                    </div>
                    <div>
                        <h4>4 Years Experince</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="text-center radial">
                    <div class="radial-bar radial-bar-primary radial-70" data-label="70%">
                    </div>
                    <h4 class="color-light m-t-15">wordpress</h4>
                    <div class="border-container">
                        <div class="borders-bottom"></div>
                    </div>
                    <div>
                        <h4>4 Years Experince</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center m-t-50">
            <a class="btn btn-default primary-btn">know more now</a>
        </div>
    </div>
</section>