{% load static %}
<div class="vertical-slider">
    <div data-wall-section-nav id="wrapper">
        <section class="prtfolio-full-screen p-0">
            <img alt="" class="img-fluid img-to-bg" src="{% static 'assets/images/portfolio/multiple-carousel/2.jpg' %}">
        </section>
        <section class="prtfolio-full-screen p-0">
            <img alt="" class="img-fluid img-to-bg" src="{% static 'assets/images/portfolio/multiple-carousel/3.jpg' %}">
        </section>
        <section class="prtfolio-full-screen p-0">
            <img alt="" class="img-fluid img-to-bg" src="{% static 'assets/images/portfolio/multiple-carousel/4.jpg' %}">
        </section>
        <section class="prtfolio-full-screen p-0">
            <img alt="" class="img-fluid img-to-bg" src="{% static 'assets/images/portfolio/multiple-carousel/5.jpg' %}">
        </section>
    </div>
    <div id="wall"> <!-- wrapper -->
        <section></section>
        <section></section>
    </div>
    <ul class="dot" data-wall-section-nav>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>