{% extends 'base-home.html' %}{% load static %}
{% block css %}
<!-- Font Family-->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<!-- color css -->
<link href="{% static 'assets/css/color-5.css' %}" rel="stylesheet" type="text/css">
<!--owl carousel css-->
<link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
<!-- header Start-->
{% include 'home/gym_layout/components/header.html' %}
<!-- header end-->
<!-- about section Start-->
{% include 'home/gym_layout/components/about.html' %}
<!-- about section end-->
<!--schedule section start-->
{% include 'home/gym_layout/components/schedule.html' %}
<!--schedule section end-->
<!-- progress section Start-->
{% include 'home/gym_layout/components/progress.html' %}
<!-- progress section end-->
<!--counter section start-->
{% include 'home/gym_layout/components/counter.html' %}
<!--counter section end-->
<!--trainer section start-->
{% include 'home/gym_layout/components/trainer.html' %}
<!--trainer section end-->
<!--testimonial section start-->
{% include 'home/gym_layout/components/testimonial.html' %}
<!--testimonial section end-->
<!--pricing section start-->
{% include 'home/gym_layout/components/pricing.html' %}
<!--pricing section end-->
<!--calculate bmi start-->
{% include 'home/gym_layout/components/calculate.html' %}
<!--calculate bmi end-->
<!--brand slider start-->
{% include 'home/gym_layout/components/brand-slider.html' %}
<!--brand slider end-->
<!--footer start-->
{% include 'home/gym_layout/components/footer.html' %}
<!--footer end-->
<!--copyright css start-->
{% include 'home/gym_layout/components/copyright.html' %}
<!-- copyright css end-->
{% endblock content %}
{% block scriptcontent %}
<!--magnific popup js-->
<script src="{% static 'assets/js/magnific-popup.js' %}"></script>
<!--owl js-->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<!--AOS js-->
<script src="{% static 'assets/js/aos.js' %}"></script>
<!-- script js-->
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
<!-- script js-->
<script src="{% static 'assets/js/counters.js' %}"></script>
<script src="{% static 'assets/js/script5.js' %}"></script>
<script src="{% static 'assets/js/layout-fix.js' %}"></script>
{% endblock scriptcontent %}