{% extends 'base.html' %}{% load static %}
{% block content %}

<!--breadcrumb section start -->
<section class="breadcrumb-section-main inner-2 breadcrumb-section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-contain ">
                    <div>
                        <h2 class="breadcrumb-txt">shop with cart</h2>
                    </div>
                    <div>
                        <ul>

                            <li><a href="#">shop pages</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i>cart</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end -->

<!-- section start -->
{% include 'shop/shop-pages/cart/components/cart.html' %}

<!-- Section ends -->

{% endblock content %}