{% extends 'base-home.html' %}{% load static %}
{% block css %}
 <!-- Font Family-->
 <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
 <!-- color css -->
 <link href="{% static 'assets/css/color-9.css' %}" rel="stylesheet" type="text/css">
 <link href="{% static 'assets/css/keyframes.css' %}" rel="stylesheet" type="text/css">
 <!--owl carousel css-->
 <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet">
 <link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet">
<!-- flat Icons -->
 <link href="{% static 'assets/css/flaticon.css' %}" rel="stylesheet" type="text/css">
 <!--magnific popup css-->
 <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
<!--header css start-->
{% include 'home/sass_layout/components/header.html' %}
<!--header css end-->
<!--feature css start-->
{% include 'home/sass_layout/components/feature.html' %}
<!--feature css end-->
<!--business css start-->
{% include 'home/sass_layout/components/business.html' %}
<!--business css end-->
<!--service css start-->
{% include 'home/sass_layout/components/service.html' %}
<!--service css end-->
<!--slider css start-->
{% include 'home/sass_layout/components/slider.html' %}
<!--slider css start-->
<!--pricing css start-->
{% include 'home/sass_layout/components/pricing.html' %}
<!--pricing css end-->
<!--testimonial css start-->
{% include 'home/sass_layout/components/testimonial.html' %}
<!--testimonial css end-->
<!--brand css start-->
{% include 'home/sass_layout/components/brand.html' %}
<!--brand css end-->
<!--footer start-->
{% include 'home/sass_layout/components/footer.html' %}
<!--footer end-->
{% endblock content %}
{% block scriptcontent %}
<!--tilt js-->
<script src="{% static 'assets/js/vanilla-tilt.min.js' %}"></script>
<!--AOS js-->
<script src="{% static 'assets/js/aos.js' %}"></script>
<!--owl js-->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<!-- script js-->
<script src="{% static 'assets/js/script9.js' %}"></script>
<script src="{% static 'assets/js/layout-fix.js' %}"></script>
{% endblock scriptcontent %}