{% extends 'base-home.html' %}{% load static %}
{% block css %}
<!-- Font Family-->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<!-- color css -->
<link href="{% static 'assets/css/color-6.css' %}" rel="stylesheet" type="text/css">
<!--owl carousel css-->
<link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet">

<!-- AOS css-->
<link href="{% static 'assets/css/aos.css' %}" rel="stylesheet" type="text/css">
<!--magnific popup css-->
<link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet">

{% endblock css %}
{% block content %}

<!--header start-->
<section class="agency header" id="header">
    <div class="agency bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="center-text">
                        <div>
                            <div class="header-text">
                                <h1 class="text-uppercase"><span class="bold-text">Digital</span> Agency</h1>
                            </div>
                            <div class="header-sub-text">
                                <p>Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                    ever
                                    since the 1500s.</p>
                            </div>
                            <div class="link-horizontal">
                                <ul>
                                    <li>
                                        <a class=" btn btn-default btn-gradient">request a quote</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-default btn-gradient text-white active">start now</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="set-abs abs-horizon-center girl-boy">
        <img alt="" class="img-fluid" data-tilt data-tilt-max="5" data-tilt-perspective="500"
             data-tilt-speed="400" src="{% static 'assets/images/agency/slider/img.png' %}">
        <div class="plus-container plus-container6">
            <div class="plus white">
            </div>
        </div>
        <div class="plus-container plus-container7">
            <div class="plus white">
            </div>
        </div>
        <div class="plus-container plus-container8">
            <div class="plus white">
            </div>
        </div>
        <div class="circle-container">
            <div class="gradient-circle-big">
            </div>
        </div>
        <div class="circle-container small">
            <div class="gradient-circle-small">
            </div>
        </div>
    </div>
    <div class="plus-container">
        <div class="plus">
        </div>
    </div>
    <div class="plus-container plus-container2">
        <div class="plus plus-medium">
        </div>
    </div>
    <div class="plus-container plus-container3">
        <div class="plus plus-small">
        </div>
    </div>
    <div class="plus-container plus-container4">
        <div class="plus plus-small">
        </div>
    </div>
    <div class="plus-container plus-container5">
        <div class="plus plus-medium">
        </div>
    </div>
</section>
<!--header end-->

<!--agency content start-->
<section class="agency agency-content about-bg">
    <h3 class="text-as-shadow">About <br/> us</h3>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 offset-xl-3 col-md-9 offset-md-3">
                <div class="agency-header-center-container">
                    <div class="borders"></div>
                    <div class="agency-head">
                        <h3 class="agency-head-text">We Are Here <span class="block-span">For Made Your Idea</span></h3>
                    </div>
                </div>

                <p class="agency-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                    do eiusm od tempor
                    incididunt
                    ut labore et dolore magna aliqua ut enim adminim veni am for humanity for
                    savings
                    anything
                    for your future.</p>
                <a class=" btn btn-default btn-gradient" href="#">view more</a>
            </div>
        </div>
    </div>
    <div class="side-img  set-abs left-0 top-0" data-aos="fade-right" data-aos-duration="4500"
    >
        <div class="plus-container plus-container9">
            <div class="plus white">
            </div>
        </div>
        <div class="plus-container plus-container10">
            <div class="plus plus-medium white">
            </div>
        </div>
        <div class="plus-container plus-container11">
            <div class="plus plus plus-small white">
            </div>
        </div>
        <img alt="" class="img-fluid about-img" src="{% static 'assets/images/agency/about-us/image.png' %}">
    </div>
    <img alt="" class="img-fluid blue-img" src="{% static 'assets/images/agency/agency-abs-img.png' %}">
</section>
<!--agency content end-->

<!--service section start-->
<section class="agency format service-bg" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-lg-1">
                <div class="center-text">
                    <div class="format-container">
                        <h6 class="borders-before text-uppercase">
                            <span>Our services</span>
                        </h6>
                        <div class="format-head-text">
                            <h2 class="about-font-header">Services we’re <span class="block-span">
                                            provided</span></h2>
                        </div>
                        <div class="format-sub-text">
                            <p class="about-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt.</p>
                        </div>
                        <a class=" btn btn-default btn-gradient" href="#">view more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-8">
                <div class="row">
                    <div class="col-sm-4 center-content unset-height">
                        <ul class="icon-collection" data-aos="fade-left" data-aos-duration="500">
                            <li class="about-icon">
                                <a class="center-content" href="#"><img alt=""
                                                                        src="{% static 'assets/images/agency/service/1.png' %}">
                                    <h5>Buisness Planning</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 center-content unset-height">
                        <ul class="icon-collection" data-aos="fade-left" data-aos-duration="2000">
                            <li class="about-icon">
                                <a class="center-content" href="#"><img alt=""
                                                                        src="{% static 'assets/images/agency/service/2.png' %}">
                                    <h5>Divorce Planning</h5>
                                </a>
                            </li>
                            <li class="about-icon">
                                <a class="center-content" href="#"><img alt=""
                                                                        src="{% static 'assets/images/agency/service/3.png' %}">
                                    <h5>Finance Planning</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 center-content unset-height">
                        <ul class="icon-collection" data-aos="fade-left" data-aos-duration="3000">
                            <li class="about-icon">
                                <a class="center-content" href="#"><img alt=""
                                                                        src="{% static 'assets/images/agency/service/4.png' %}">
                                    <h5>Estate Planning</h5>
                                </a>
                            </li>
                            <li class="about-icon">
                                <a class="center-content" href="#"><img alt=""
                                                                        src="{% static 'assets/images/agency/service/5.png' %}">
                                    <h5>Build Planning</h5>
                                </a>
                            </li>
                            <li class="about-icon">
                                <a class="center-content" href="#"><img alt=""
                                                                        src="{% static 'assets/images/agency/service/6.png' %}">
                                    <h5>Invest Planning</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--service section end-->

<!--video section start-->
<section class="agency video video-bg p-0" id="video">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0">
                <div class="text-center">
                    <div class="d-inline-block">
                        <img alt="" class="img-fluid bg-video" src="{% static 'assets/images/agency/videos/bg.png' %}">
                        <div class="abs-center">
                            <div>
                                <div class="m-b-20">
                                    <a class="button" href="#">
                                        <img alt="" class="img-fluid video-img"
                                             src="{% static 'assets/images/agency/videos/icon.png' %}">
                                    </a>
                                </div>
                                <div>
                                    <a class="video w-100" href="">
                                        <img alt="" class="img-fluid m-b-20"
                                             src="{% static 'assets/images/agency/videos/title-icon.png' %}">
                                    </a>
                                    <div>
                                        <h3 class="video-heading text-white text-center"> Amazing Videos &
                                            Presentations</h3>
                                        <h6 class="video-text text-white  text-center">We create. We Develop. We
                                            Inspire.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--video section end-->

<!--counter section start-->
<section class="agency counter counter-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6 counter-container">
                <div class="counters hover-counter">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/agency/counter/1.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="counts text-center">2556</h2>
                        </div>
                        <div class="count-desc">
                            <h5 class="text-center">days worked</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters hover-counter active">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/agency/counter/2.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="counts text-center">306</h2>
                        </div>
                        <div class="count-desc">
                            <h5 class="text-center">Project Finished</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters hover-counter">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/agency/counter/3.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="counts text-center">485</h2>
                        </div>
                        <div class="count-desc">
                            <h5 class="text-center">CofeeCoffee Cup</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters hover-counter">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/agency/counter/4.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="counts text-center">568</h2>
                        </div>
                        <div class="count-desc">
                            <h5 class="text-center">Happy Clients</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--counter section end-->

<!-- price-plan Start-->
<section class="agency pricing price-bg" id="plan">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel owl-theme pricing-slider price-margin ">
                    <div class="item">
                        <div class="price-container shadows">
                            <div class="price-feature-container">
                                <div class="feature-text">
                                    <span class="flaticon-rocket-ship feature-icon"></span>
                                    <h3 class="">free</h3>
                                    <hr class="set-border">
                                </div>
                                <div class="price-features font-primary">
                                    <h5 class="price-feature">Easy Installations</h5>
                                    <h5 class="price-feature">Unlimited support</h5>
                                    <h5 class="price-feature">Free Forever</h5>
                                </div>
                                <div class="price-value">
                                    <h6 class="price">$<span class="large">0</span>/month</h6>
                                </div>

                                <a class="btn btn-default btn-white" href="#">purchase</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container shadows">
                            <div class="price-feature-container">
                                <div class="feature-text">
                                    <span class="flaticon-diamond feature-icon"></span>
                                    <h3 class="">medium</h3>
                                    <hr class="set-border">
                                </div>
                                <div class="price-features font-primary">
                                    <h5 class="price-feature">Easy Installations</h5>
                                    <h5 class="price-feature">Unlimited support</h5>
                                    <h5 class="price-feature">Free Forever</h5>
                                </div>
                                <div class="price-value">
                                    <h6 class="price">$<span class="large">49</span>/month
                                    </h6>
                                </div>
                                <a class="btn btn-default btn-white" href="#">purchase</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container shadows">
                            <div class="price-feature-container">
                                <div class="feature-text">
                                    <span class="flaticon-pie-chart feature-icon"></span>
                                    <h3 class="">business</h3>
                                    <hr class="set-border">
                                </div>
                                <div class="price-features font-primary">
                                    <h5 class="price-feature">Easy Installations</h5>
                                    <h5 class="price-feature">Unlimited support</h5>
                                    <h5 class="price-feature">Free Forever</h5>
                                </div>
                                <div class="price-value">
                                    <h6 class="price">$<span class="large">99</span>/month
                                    </h6>
                                </div>
                                <a class="btn btn-default btn-white" href="#">purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- price-plan end-->

<!-- speaker section start-->
<section class="agency format speaker expert-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="format-container">
                    <h6 class="borders-before">
                        <span>Meet our Expert</span>
                    </h6>
                    <div class="format-head-text">
                        <h2>We Will Ready For Your Services</h2>
                    </div>
                    <div class="format-sub-text">
                        <p class="about-para">
                            Lorem ipsum dolor sit amet, consectetur sed do eiusmod tempor incididunt.
                        </p>
                    </div>
                    <a class=" btn btn-default btn-gradient" href="#">view more</a>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="owl-carousel owl-theme speaker-slider">
                    <div class="item speker-container">
                        <div class="text-center">
                            <div class="team-img">
                                <img alt="" class="img-fluid" src="{% static 'assets/images/event/l3-2.png' %}">
                                <div class="overlay"></div>
                                <div class="social">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-google center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-globe center-content"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="employee">
                                <h5 class="e-name">Sam Rowling</h5>
                                <h6 class="post font-secondary">Team Leader - otstrab</h6>
                            </div>
                        </div>
                    </div>
                    <div class="item speker-container">
                        <div class="text-center">
                            <div class="team-img">
                                <img alt="" class="img-fluid" src="{% static 'assets/images/event/l3-3.png' %}">
                                <div class="overlay"></div>
                                <div class="social">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-google center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-globe center-content"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="employee">
                                <h5 class="e-name">Mark Tucker</h5>
                                <h6 class="post font-secondary">App Developer - Jumpster</h6>
                            </div>
                        </div>
                    </div>
                    <div class="item speker-container">
                        <div class="text-center">
                            <div class="team-img">
                                <img alt="" class="img-fluid" src="{% static 'assets/images/event/l3-4.png' %}">
                                <div class="overlay"></div>
                                <div class="social">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-google center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-globe center-content"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="employee">
                                <h5 class="e-name">Sam Rowling</h5>
                                <h6 class="post font-secondary">Team Leader - otstrab</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- speaker section end-->

<!-- testimonial section start-->
<section class="agency testimonial format testimonial-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="format-container m-b-50">
                    <h6 class="borders-before">
                        <span>Happy Clients</span>
                    </h6>
                    <div class="format-head-text">
                        <h2 class=" text-white">We Will Ready For <span class="block-span">Your Services</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel owl-theme testimonial-slider" id="testimonial-slider">
                    <div class="item">
                        <div class="testimonial-container testimonial-container2 m-0">
                            <div class="d-flex">
                                <img alt="" class="img-fluid m-r-25" src="{% static 'assets/images/agency/testimonial/1.png' %}">
                                <div class="center-content">
                                    <h6 class="name">Kolan Motto</h6>
                                    <h6 class="post font-primary">CEO, Therat</h6>
                                </div>
                            </div>
                            <div class="testimonial-info">
                                <p class="m-b-20 para2">
                                    It goes without saying that customer data sec urity and compliance
                                    is top of mind in most retail board rooms is top.
                                </p>
                                <div class="primary-border"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-container testimonial-container2 m-0">
                            <div class="d-flex">
                                <img alt="" class="img-fluid m-r-25" src="{% static 'assets/images/agency/testimonial/2.png' %}">
                                <div class="center-content">
                                    <h6 class="name">Kolan Motto</h6>
                                    <h6 class="post font-primary">CEO, Therat</h6>
                                </div>
                            </div>
                            <div class="testimonial-info">
                                <p class="m-b-20 para2">
                                    It goes without saying that customer data sec urity and compliance
                                    is top of mind in most retail board rooms is top.
                                </p>
                                <div class="post primary-border"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-container testimonial-container2 m-0">
                            <div class="d-flex">
                                <img alt="" class="img-fluid m-r-25" src="{% static 'assets/images/agency/testimonial/1.png' %}">
                                <div class="center-content">
                                    <h6 class="name">Kolan Motto</h6>
                                    <h6 class="post font-primary">CEO, Therat</h6>
                                </div>
                            </div>
                            <div class="testimonial-info">
                                <p class="m-b-20 para2">
                                    It goes without saying that customer data sec urity and compliance
                                    is top of mind in most retail board rooms is top.
                                </p>
                                <div class="primary-border"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-container testimonial-container2 m-0">
                            <div class="d-flex">
                                <img alt="" class="img-fluid m-r-25" src="{% static 'assets/images/agency/testimonial/2.png' %}">
                                <div class="center-content">
                                    <h6 class="name">Kolan Motto</h6>
                                    <h6 class="post font-primary">CEO, Therat</h6>
                                </div>
                            </div>
                            <div class="testimonial-info">
                                <p class="m-b-20 para2">
                                    It goes without saying that customer data sec urity and compliance
                                    is top of mind in most retail board rooms is top.
                                </p>
                                <div class="primary-border"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial section end-->

<!-- blog section start-->
<section class="agency blog blog-bg" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="title">
                    <div class="main-title">
                        <h2 class="text-capitalize text-center">latest blog</h2>
                    </div>
                    <div class="sub-title">
                        <p class="text-center">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="owl-carousel owl-theme" id="blog-slider">
                    <div class="item">
                        <div class="blog-agency">
                            <div class="blog-contain">
                                <img alt="" class="img-fluid" src="{% static 'assets/images/agency/blog/blog-list-1.jpg' %}">
                                <div class="img-container center-content">
                                    <div class="center-content">
                                        <div class="blog-info">
                                            <div class="m-b-10">
                                                <div class="center-text">
                                                    <i aria-hidden="true" class="fa fa-clock-o"></i>
                                                    <h6 class="m-r-25 font-blog">June 19, 2019</h6>
                                                    <i aria-hidden="true" class="fa fa-map-marker"></i>
                                                    <h6 class="font-blog">Phonics</h6>
                                                </div>
                                            </div>
                                            <h5 class="blog-head">Twice profit than before you</h5>
                                            <p class="para2"> Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry.text ever since the 1500s type specimen book
                                                .....</p>
                                            <div class="m-t-20">
                                                <a class="text-uppercase" href="#">read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="blog-agency">
                            <div class="blog-contain">
                                <img alt="" class="img-fluid" src="{% static 'assets/images/agency/blog/blog-list-2.jpg' %}">
                                <div class="img-container center-content">
                                    <div class="center-content">
                                        <div class="blog-info">
                                            <div class="m-b-10">
                                                <div class="center-text">
                                                    <i aria-hidden="true" class="fa fa-clock-o"></i>
                                                    <h6 class="m-r-25 font-blog">June 19, 2019</h6>
                                                    <i aria-hidden="true" class="fa fa-map-marker"></i>
                                                    <h6 class="font-blog">Phonics</h6>
                                                </div>
                                            </div>
                                            <h5 class="blog-head">Twice profit than before you</h5>
                                            <p class="para2"> Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry.text ever since the 1500s type specimen book
                                                .....</p>
                                            <div class="m-t-20">
                                                <a class="text-uppercase" href="#">read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="blog-agency">
                            <div class="blog-contain">
                                <img alt="" class="img-fluid" src="{% static 'assets/images/agency/blog/blog-list-3.jpg' %}">
                                <div class="img-container center-content">
                                    <div class="center-content">
                                        <div class="blog-info">
                                            <div class="m-b-10">
                                                <div class="center-text">
                                                    <i aria-hidden="true" class="fa fa-clock-o"></i>
                                                    <h6 class="m-r-25 font-blog">June 19, 2019</h6>
                                                    <i aria-hidden="true" class="fa fa-map-marker"></i>
                                                    <h6 class="font-blog">Phonics</h6>
                                                </div>
                                            </div>
                                            <h5 class="blog-head">Twice profit than before you</h5>
                                            <p class="para2"> Lorem Ipsum is simply dummy text of the printing and
                                                typesetting industry.text ever since the 1500s type specimen book
                                                .....</p>
                                            <div class="m-t-20">
                                                <a class="text-uppercase" href="#">read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog section end-->

<!--footer start-->
<footer class="agency footer2 p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 set-first">
                <div class="logo-sec">
                    <div class="footer-title mobile-title">
                        <h3 class="text-white">About Us</h3>
                    </div>
                    <div class="footer-contant">
                        <img alt="" class="img-fluid footer-logo" src="{% static 'assets/images/logo/1.png' %}">
                        <div class="footer-para">
                            <h6 class="text-white para-address">Unice</h6>
                            <h6 class="text-white para-address">324 Madison Street New york City, </h6>
                            <h6 class="text-white para-address">NY 10001.</h6>
                        </div>
                        <ul class="d-d-flex footer-social social">
                            <li class="footer-social-list">
                                <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
                            </li>
                            <li class="footer-social-list">
                                <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
                            </li>
                            <li class="footer-social-list">
                                <a href="#"><i aria-hidden="true" class="fa fa-google"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12">
                <div class="footer-title mobile-title">
                    <h3 class="text-white">services</h3>
                </div>
                <div class="footer-contant">
                    <h5 class="footer-headings">services</h5>
                    <div>
                        <ul class="footer-lists op-text">
                            <li>
                                <a href="#">Portfolio Website</a>
                            </li>
                            <li>
                                <a href="#">Set up an account</a>
                            </li>
                            <li>
                                <a href="#">Invoice Creation</a>
                            </li>
                            <li>
                                <a href="#">Get Our Specials</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12">
                <div class="footer-title mobile-title">
                    <h3 class="text-white">brand</h3>
                </div>
                <div class="footer-contant">
                    <h5 class="footer-headings">brand</h5>
                    <div>
                        <ul class="footer-lists op-text">
                            <li>
                                <a href="#">Chat24</a>
                            </li>
                            <li>
                                <a href="#">Zoom</a>
                            </li>
                            <li>
                                <a href="#">Alpha Payment</a>
                            </li>
                            <li>
                                <a href="#">Upwork</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12">
                <div class="footer-title mobile-title">
                    <h3 class="text-white">Support</h3>
                </div>
                <div class="footer-contant">
                    <h5 class="footer-headings">Support</h5>
                    <div>
                        <ul class="footer-lists op-text">
                            <li>
                                <a href="#">For Freelancers</a>
                            </li>
                            <li>
                                <a href="#">For Companies</a>
                            </li>
                            <li>
                                <a href="#">For Business</a>
                            </li>
                            <li>
                                <a href="#">General Help</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 set-last">
                <div class="footer-title mobile-title">
                    <h3 class="text-white">Post Tags</h3>
                </div>
                <div class="footer-contant">
                    <h5 class="footer-headings">Post Tags</h5>
                    <div class="link-btns">
                        <ul>
                            <li class="buttons">
                                <a href="#">app</a>
                            </li>
                            <li class="buttons">
                                <a href="#">business</a>
                            </li>
                            <li class="buttons">
                                <a href="#">corporation</a>
                            </li>
                            <li class="buttons">
                                <a href="#">creative</a>
                            </li>
                            <li class="buttons">
                                <a href="#">design</a>
                            </li>
                            <li class="buttons">
                                <a href="#">fashion</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--footer end-->
        <div class="row">
            <div class="col-12">
                <div class="brand-container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="link-horizontal">
                                <ul>
                                    <li>
                                        <a class="center-content" href="#">
                                            <img alt="" class="img-fluid" src="{% static 'assets/images/agency/brand/1.png' %}">
                                        </a>
                                    </li>
                                    <li class="borders-right p-0"></li>
                                    <li>
                                        <a class="center-content" href="#">
                                            <img alt="" class="img-fluid" src="{% static 'assets/images/agency/brand/2.png' %}">
                                        </a>
                                    </li>
                                    <li class="borders-right p-0"></li>
                                    <li>
                                        <a class="center-content" href="#">
                                            <img alt="" class="img-fluid" src="{% static 'assets/images/agency/brand/3.png' %}">
                                        </a>
                                    </li>
                                    <li class="borders-right p-0"></li>
                                    <li>
                                        <a class="center-content" href="#">
                                            <img alt="" class="img-fluid" src="{% static 'assets/images/agency/brand/4.png' %}">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="list float-right">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <img alt="" class="img-fluid"
                                                 src="{% static 'assets/images/agency/brand/paytm-1.png' %}">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img alt="" class="img-fluid"
                                                 src="{% static 'assets/images/agency/brand/paytm-2.png' %}">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img alt="" class="img-fluid"
                                                 src="{% static 'assets/images/agency/brand/paytm-3.png' %}">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img alt="" class="img-fluid"
                                                 src="{% static 'assets/images/agency/brand/paytm-4.png' %}">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer end--><!--copyright start-->
<div class="agency copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="link-horizontal">
                    <ul>
                        <li>
                            <a class="copyright-text" href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a class="copyright-text" href="#">Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <h6 class="copyright-text text-white text-end">Copyright ©2021 Unice by
                        <i aria-hidden="true" class="fa fa-heart"></i> pixelstrap
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!--copyright start-->

{% endblock content %}
{% block scriptcontent %}
<!--owl js-->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

<!-- AOS JS -->
<script src="{% static 'assets/js/aos.js' %}"></script>

<!-- tilt JS -->
<script src="{% static 'assets/js/vanilla-tilt.min.js' %}"></script>

<!-- counter js-->
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>

<!--magnific popup js-->
<script src="{% static 'assets/js/magnific-popup.js' %}"></script>



<!-- common js-->
<script src="{% static 'assets/js/aos-init.js' %}"></script>
<script src="{% static 'assets/js/video-popup.js' %}"></script>
<script src="{% static 'assets/js/script6.js' %}"></script>
<script src="{% static 'assets/js/layout-fix.js' %}"></script>

{% endblock scriptcontent %}