{% extends 'base-home.html' %}{% load static %}
{% block css %}
<!-- Font Family-->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<!-- color css -->
<link href="{% static 'assets/css/color-2.css' %}" rel="stylesheet" type="text/css">
<!--keyframe css-->
<link href="{% static 'assets/css/keyframes.css' %}" rel="stylesheet">
<!--owl carousel css-->
<link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet">
<!-- AOS CSS -->
<link href="{% static 'assets/css/aos.css' %}" rel="stylesheet">
<!--magnific popup css-->
<link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}

<!--header start-->
<section class="app2 header overflow-unset" id="home">
    <div class="app2-header bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-md-6">
                    <div class="center-text">
                        <div>
                            <h6 class="header-top-line"># app landing page</h6>
                            <div class="header-text">
                                <h1>the best <span class="bold-text">landing page</span> for your app</h1>
                            </div>
                            <div class="header-sub-text">
                                <p class="text-white">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                    ever
                                    since the 1500s.</p>
                            </div>
                            <div class="link-horizontal">
                                <ul>
                                    <li>
                                        <a class="btn btn-default btn-white">get app
                                            now</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-default primary-btn transparent">discover
                                            more</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-md-6">
                    <div class="img-mobile set-abs">
                        <img alt="" class="headaer-image" src="{% static 'assets/images/app_landing2/h2-mobile.png' %}">

                    </div>
                    <div class="wave-orange"></div>
                </div>
            </div>
        </div>
        <div class="wave"></div>
    </div>
</section>
<!--header end-->

<!--about start-->
<section class="app2 about format">

    <div class="animated-bg"><i></i><i></i><i></i></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-5 counters set-height">
                <img alt="" class="img-fluid mobile1" src="{% static 'assets/images/app_landing2/mobile.png' %}">
                <img alt="" class="img-fluid j-img" src="{% static 'assets/images/app_landing2/j.png' %}">
            </div>
            <div class="col-sm-7 counters">
                <div class="abouts  center-text">
                    <div>
                        <div>
                            <h6 class="font-primary borders-before text-uppercase"><span>our progress</span></h6>
                        </div>
                        <div class="format-head-text">
                            <h3 class="about-font-header font-secondary">Great Application Ever</h3>
                        </div>
                        <div class="format-sub-text">
                            <p class="about-para">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.</p>
                        </div>
                        <ul class="icon-collection">
                            <li class="about-icon">
                                <a class="center-content" href="#"><img
                                        alt="" class="img-fluid" src="{% static 'assets/images/app_landing2/about-icons/1.png' %}"></a>
                            </li>
                            <li class="about-icon">
                                <a class="center-content" href="#"><img
                                        alt="" class="img-fluid" src="{% static 'assets/images/app_landing2/about-icons/2.png' %}"></a>
                            </li>
                            <li class="about-icon">
                                <a class="center-content" href="#"><img
                                        alt="" class="img-fluid" src="{% static 'assets/images/app_landing2/about-icons/3.png' %}"></a>
                            </li>
                        </ul>
                        <a class="btn btn-default btn-gradient m-t-50">learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--about end-->

<!--services start-->
<section class="app2 services p-t-0" id="services">
    <div class="animated-bg"><i></i><i></i><i></i></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title2">
                    <img alt="" class="img-fluid title-img" src="{% static 'assets/images/logo/2.png' %}">
                    <h6 class="font-primary borders main-text text-uppercase"><span>feature</span></h6>
                    <div class="sub-title">
                        <h2 class="title-text text-capitalize text-center">Powerful Features </h2>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 service-container">
                <div class="service">
                    <div class="img-block">
                        <img alt="" class="service-img img-fluid"
                             src="{% static 'assets/images/app_landing2/service/2-1.png' %}">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text">Fast and optimized</h4>
                        <p>Unlike team chat apps, Flow is designed to help your team stay focused by keeping relevant
                            and actionable.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-container">
                <div class="service">
                    <div class="img-block">
                        <img alt="" class="service-img img-fluid"
                             src="{% static 'assets/images/app_landing2/service/2-2.png' %}">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text">Well Documented</h4>
                        <p>Unlike team chat apps, Flow is designed to help your team stay focused by keeping relevant
                            and actionable.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-container">
                <div class="service">
                    <div class="img-block">
                        <img alt="" class="service-img img-fluid"
                             src="{% static 'assets/images/app_landing2/service/2-3.png' %}">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text">Easy Integration</h4>
                        <p>Unlike team chat apps, Flow is designed to help your team stay focused by keeping relevant
                            and actionable.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-container">
                <div class="service">
                    <div class="img-block">
                        <img alt="" class="service-img img-fluid"
                             src="{% static 'assets/images/app_landing2/service/2-4.png' %}">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text">Team Collaboration</h4>
                        <p>Unlike team chat apps, Flow is designed to help your team stay focused by keeping relevant
                            and actionable.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-container">
                <div class="service">
                    <div class="img-block">
                        <img alt="" class="service-img img-fluid"
                             src="{% static 'assets/images/app_landing2/service/2-5.png' %}">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text">User Permissions</h4>
                        <p>Unlike team chat apps, Flow is designed to help your team stay focused by keeping relevant
                            and actionable.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-container">
                <div class="service">
                    <div class="img-block">
                        <img alt="" class="service-img img-fluid"
                             src="{% static 'assets/images/app_landing2/service/2-6.png' %}">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text">Unlimited Storage</h4>
                        <p>Unlike team chat apps, Flow is designed to help your team stay focused by keeping relevant
                            and actionable.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--services end-->

<!--function start-->
<section class="app2 format quality p-t-0">
    <div class="animated-bg"><i></i><i></i><i></i></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 counters set-order-2">
                <div class="abouts center-text">
                    <div>
                        <div class="format-head-text">
                            <h3 class="about-font-header font-secondary">High Quality Functions</h3>
                        </div>
                        <div class="format-sub-text">
                            <p class="about-para">You can now use all Social Network from this Lunatic app also. Writers
                                and stars of Veep
                                have responded incredulous to the news an Australian politician required stitches after
                                knocking himself unconscious while laughing.</p>
                        </div>
                        <ul class="icon-collection">
                            <li class="about-icon">
                                <a class="center-content" href="#">
                                    <h4 class="quality">2 M</h4>
                                    <h6 class="users ">user</h6>
                                </a>
                            </li>
                            <li class="about-icon">
                                <a class="center-content" href="#">
                                    <h4 class="quality">2.5 M</h4>
                                    <h6 class="users">download</h6>
                                </a>
                            </li>
                        </ul>
                        <a class="btn btn-default btn-gradient m-t-45">learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6  counters set-height overflow-hide">
                <img alt="" class="img-fluid mobile2" data-aos="fade-left" data-aos-duration="1500"
                     src="{% static 'assets/images/app_landing2/l-2.png' %}">
            </div>
        </div>
    </div>
</section>
<!--function end-->

<!--team start-->
<section class="app2 team p-t-0">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title2">
                    <img alt="" class="img-fluid title-img" src="{% static 'assets/images/logo/2.png' %}">
                    <h6 class="font-primary borders main-text"><span>Client Review</span></h6>
                    <div class="sub-title">
                        <h2 class="title-text text-capitalize text-center">Our Clients Love Us</h2>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="owl-carousel owl-theme team-slider">
                    <div class="item">
                        <div class="team-container">
                            <img alt="" class="img-fluid members" src="{% static 'assets/images/app_landing2/team/1.png' %}">
                            <div class="text-center">
                                <h5 class="name">Ashekur Rahman</h5>
                                <h6 class="post">Art Dirrector</h6>
                                <p class="team-para">Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry.
                                    Lorem Ipsum has been the</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-container">
                            <img alt="" class="img-fluid members" src="{% static 'assets/images/app_landing2/team/2.png' %}">
                            <div class="text-center">
                                <h5 class="name">Ashekur Rahman</h5>
                                <h6 class="post">Art Dirrector</h6>
                                <p class="team-para">Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry.
                                    Lorem Ipsum has been the</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-container">
                            <img alt="" class="img-fluid members" src="{% static 'assets/images/app_landing2/team/3.png' %}">
                            <div class="text-center">
                                <h5 class="name">Ashekur Rahman</h5>
                                <h6 class="post">Art Dirrector</h6>
                                <p class="team-para">Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry.
                                    Lorem Ipsum has been the</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--team end-->

<!--screen-shot start-->
<section class="app2 screenshot p-t-0" id="screen-shot">
    <div class="animated-bg"><i></i><i></i><i></i></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title2">
                    <img alt="" class="img-fluid title-img" src="{% static 'assets/images/logo/2.png' %}">
                    <h6 class="font-primary borders main-text"><span>screen shot</span></h6>
                    <div class="sub-title">
                        <h2 class="title-text text-capitalize text-center">screen shot</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row set-relative">
            <div class="col-12">
                <!-- Swiper -->
                <div class="owl-carousel owl-theme screenshot-slider" id="screenshot-slider">
                    <div class="item">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing2/screenshot/1.png' %}">
                    </div>
                    <div class="item">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing2/screenshot/2.png' %}">
                    </div>
                    <div class="item">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing2/screenshot/1.png' %}">
                    </div>
                    <div class="item">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing2/screenshot/2.png' %}">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--screen-shot end-->

<!--team start-->
<section class="app2 team-section p-t-0">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title2">
                    <img alt="" class="img-fluid title-img" src="{% static 'assets/images/logo/2.png' %}">
                    <h6 class="font-primary borders main-text"><span>our team</span></h6>
                    <div class="sub-title">
                        <h2 class="title-text text-capitalize text-center">our team member</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 teams">
                <div class="our-team">
                    <div class="set-relative">
                        <div class="border-around overflow-hide m-auto">
                            <div class="set-relative overflow-hide">
                                <img alt="" class="img-fluid team" src="{% static 'assets/images/app_landing2/team/1.png' %}">
                                <div class="overlay-team set-abs">
                                    <img alt="" class="img-fluid wave"
                                         src="{% static 'assets/images/app_landing2/team/hover-wave.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="set-relative set-border">
                        <div class="set-abs top-0 borders"></div>
                    </div>
                    <div class="employee">
                        <h4 class="e-name">ken pitersan</h4>
                        <h6 class="post">Seniour UI/Xi Designer</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 teams">
                <div class="our-team">
                    <div class="set-relative">
                        <div class="border-around overflow-hide m-auto">
                            <div class="set-relative overflow-hide">
                                <img alt="" class="img-fluid team" src="{% static 'assets/images/app_landing2/team/2.png' %}">
                                <div class="overlay-team set-abs">
                                    <img alt="" class="img-fluid wave"
                                         src="{% static 'assets/images/app_landing2/team/hover-wave.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="set-relative set-border">
                        <div class="set-abs top-0 borders"></div>
                    </div>
                    <div class="employee">
                        <h4 class="e-name">ken pitersan</h4>
                        <h6 class="post">Seniour UI/Xi Designer</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 teams">
                <div class="our-team">
                    <div class="set-relative">
                        <div class="border-around overflow-hide m-auto">
                            <div class="set-relative overflow-hide">
                                <img alt="" class="img-fluid team" src="{% static 'assets/images/app_landing2/team/3.png' %}">
                                <div class="overlay-team set-abs">
                                    <img alt="" class="img-fluid wave"
                                         src="{% static 'assets/images/app_landing2/team/hover-wave.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="set-relative set-border">
                        <div class="set-abs top-0 borders"></div>
                    </div>
                    <div class="employee">
                        <h4 class="e-name">ken pitersan</h4>
                        <h6 class="post">Seniour UI/Xi Designer</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 teams">
                <div class="our-team">
                    <div class="set-relative">
                        <div class="border-around overflow-hide m-auto">
                            <div class="set-relative overflow-hide">
                                <img alt="" class="img-fluid team" src="{% static 'assets/images/app_landing2/team/4.png' %}">
                                <div class="overlay-team set-abs">
                                    <img alt="" class="img-fluid wave"
                                         src="{% static 'assets/images/app_landing2/team/hover-wave.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="set-relative set-border">
                        <div class="set-abs top-0 borders"></div>
                    </div>
                    <div class="employee">
                        <h4 class="e-name">ken pitersan</h4>
                        <h6 class="post">Seniour UI/Xi Designer</h6>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--team end-->

<!--price start-->
<section class="app2 pricing p-t-0" id="plan">
    <div class="animated-bg"><i></i><i></i><i></i></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title2">
                    <img alt="" class="img-fluid title-img" src="{% static 'assets/images/logo/2.png' %}">
                    <h6 class="font-primary borders main-text"><span>pricing</span></h6>
                    <div class="sub-title">
                        <h2 class="title-text text-capitalize text-center">our plan</h2>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="owl-carousel owl-theme pricing-slider price-margin">
                    <div class="item">
                        <div class="price-container shadows text-center">
                            <div class="service-feature ">
                                <div class="feature-text">
                                    <span class="flaticon-rocket-ship feature-icon "></span>
                                    <h3 class="text-white">free</h3>
                                </div>
                            </div>
                            <div>
                                <div class="price-feature-container ">
                                    <div class="price-features">
                                        <h5 class="price-feature">Easy Installations</h5>
                                        <h5 class="price-feature">Unlimited support</h5>
                                        <h5 class="price-feature">Free Forever</h5>
                                    </div>
                                    <div class="price-value">
                                        <h6 class="price">$<span class="large">0</span>/month</h6>
                                    </div>
                                    <a class="btn btn-default btn-white" href="#">purchase</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container shadows text-center">
                            <div class="service-feature ">
                                <div class="feature-text">
                                    <span class="flaticon-diamond feature-icon"></span>
                                    <h3 class="text-white">medium</h3>
                                </div>
                            </div>
                            <div>
                                <div class="price-feature-container ">
                                    <div class="price-features">
                                        <h5 class="price-feature">Easy Installations</h5>
                                        <h5 class="price-feature">Unlimited support</h5>
                                        <h5 class="price-feature">Free Forever</h5>
                                    </div>
                                    <div class="price-value">
                                        <h6 class="price">$<span class="large">49</span>/month</h6>
                                    </div>
                                    <a class="btn btn-default btn-white" href="#">purchase</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container shadows text-center">
                            <div class="service-feature ">
                                <div class="feature-text">
                                    <span class="flaticon-pie-chart feature-icon"></span>
                                    <h3 class="text-white">business</h3>
                                </div>
                            </div>
                            <div>
                                <div class="price-feature-container">
                                    <div class="price-features">
                                        <h5 class="price-feature">Easy Installations</h5>
                                        <h5 class="price-feature">Unlimited support</h5>
                                        <h5 class="price-feature">Free Forever</h5>
                                    </div>
                                    <div class="price-value">
                                        <h6 class="price">$<span class="large">99</span>/month</h6>
                                    </div>
                                    <a class="btn btn-default btn-white" href="#">purchase</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--price end-->

<!--brand slider start-->
<section class="app2 brand-sliders p-t-0">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title2">
                    <img alt="" class="img-fluid title-img" src="{% static 'assets/images/logo/2.png' %}">
                    <h6 class="font-primary borders main-text"><span>brand logo</span></h6>
                    <div class="sub-title">
                        <h2 class="title-text text-capitalize text-center">trusted us</h2>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="owl-carousel owl-theme brand-slider" id="brand-slider">
                    <div class="item">
                        <a href="#">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing2/brand/1.png' %}">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing2/brand/2.png' %}">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing2/brand/3.png' %}">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing2/brand/4.png' %}">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing2/brand/5.png' %}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--brand slider end-->

<!--footer start-->
<footer class="app2 bg footer2 p-0">
    <div class="subscribe subscribe-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                    <div class="subscribe">
                        <div class="center-content">
                            <div class="form-group m-0">
                                <div class="flex">
                                    <i aria-hidden="true" class="fa fa-envelope icon"></i>
                                    <input class="form-control text-capitalize" name="email"
                                           placeholder="example@gmail.com" type="email">
                                    <div class="button-primary">
                                        <button class=" btn btn-default btn-gradient text-white text-capitalize"
                                                type="submit">
                                            subscribe now
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="logo-sec">
                        <div class="footer-title mobile-title p-t-0">
                            <h3 class="text-white">About Us</h3>
                        </div>
                        <div class="footer-contant">
                            <img alt="" class="img-fluid footer-logo" src="{% static 'assets/images/logo/1.png' %}">
                            <div class="footer-para">
                                <p class="text-white">Lorem ipsum dolor sit consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim lorem
                                    sed do </p>
                            </div>
                            <ul class="d-flex footer-social social">
                                <li class="footer-social-list">
                                    <a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
                                </li>
                                <li class="footer-social-list">
                                    <a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
                                </li>
                                <li class="footer-social-list">
                                    <a href="#"><i aria-hidden="true" class="fa fa-google"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-title mobile-title">
                        <h3 class="text-white">Post Tags</h3>
                    </div>
                    <div class="footer-contant">
                        <h5 class="footer-headings">Post Tags</h5>
                        <div class="link-btns">
                            <ul>
                                <li class="buttons">
                                    <a href="#">app</a>
                                </li>
                                <li class="buttons">
                                    <a href="#">business</a>
                                </li>
                                <li class="buttons">
                                    <a href="#">corporation</a>
                                </li>
                                <li class="buttons">
                                    <a href="#">creative</a>
                                </li>
                                <li class="buttons">
                                    <a href="#">design</a>
                                </li>
                                <li class="buttons">
                                    <a href="#">fashion</a>
                                </li>
                                <li class="buttons">
                                    <a href="#">food</a>
                                </li>
                                <li class="buttons">
                                    <a href="#">mobile</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <div class="footer-title mobile-title">
                        <h3 class="text-white">blog categories</h3>
                    </div>
                    <div class="footer-contant">
                        <h5 class="footer-headings">Blog Categories</h5>
                        <div>
                            <ul class="footer-lists">
                                <li>
                                    <a href="#">App Review</a>
                                </li>
                                <li>
                                    <a href="#">Audio Post</a>
                                </li>
                                <li>
                                    <a href="#">Default Post</a>
                                </li>
                                <li>
                                    <a href="#">Uncategorized</a>
                                </li>
                                <li>
                                    <a href="#">Video Post</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-title mobile-title">
                        <h3 class="text-white">Contact Info</h3>
                    </div>
                    <div class="footer-contant">
                        <h5 class="footer-headings">Contact Info</h5>
                        <div>
                            <ul class="footer-lists contacts">
                                <li>
                                    <i aria-hidden="true" class="fa fa-map-marker"></i>
                                    Lorem ipsum dolor sit consectetur adipisicing elit, sed do eiusmod
                                </li>
                                <li>
                                    <i aria-hidden="true" class="fa fa-phone m-r-15"></i>(+066) 518 - 457 - 5181
                                </li>
                                <li><i aria-hidden="true" class="fa fa-envelope m-r-15"></i>contact@gmail.com
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
<!--footer end-->

<!--copyright css start-->
<div class="app2 copyright">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="center-content">
                    <div>
                        <h6 class="copyright-text text-white">Copyright © 2019, Development by Pixelstrap</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- copyright css end-->

{% endblock content %}
{% block scriptcontent %}

<!--magnific popup js-->
<script src="{% static 'assets/js/magnific-popup.js' %}"></script>

<!--owl js-->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

<!-- AOS JS -->
<script src="{% static 'assets/js/aos.js' %}"></script>

<!-- tilt JS -->
<script src="{% static 'assets/js/vanilla-tilt.min.js' %}"></script>

<!-- script js-->
<script src="{% static 'assets/js/aos-init.js' %}"></script>
<script src="{% static 'assets/js/script2.js' %}"></script>
<script src="{% static 'assets/js/layout-fix.js' %}"></script>
{% endblock scriptcontent %}