{% extends 'base-home.html' %}{% load static %}
{% block css %}
<!-- Font Family-->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<!-- color css -->
<link href="{% static 'assets/css/color-5.css' %}" rel="stylesheet" type="text/css">
<!--owl carousel css-->
<link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}

<!-- header Start-->
<section class="gym header" id="home">
    <div class="header5-content">
        <div class="owl-carousel owl-theme default-dots gym-slider" id="gym-slider">
            <div class="item">
                <div class="gym-header bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <div class="center-text">
                                    <div class="text-center">
                                        <div class="header-text">
                                            <h1><span class="bold-text">build your</span> body more strong</h1>
                                        </div>
                                        <div class="header-sub-text">
                                            <p class="text-white p-light">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem Ipsum has been the industry's standard dummy text ever since the
                                                1500s,
                                                when an unknown printer took.
                                            </p>
                                        </div>
                                        <div class="link-horizontal">
                                            <ul class="justify-content-center">
                                                <li>
                                                    <a class=" btn btn-default"><span>register 20%<sup>off</sup></span></a>
                                                </li>
                                                <li>
                                                    <a class=" btn btn-default">start now</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="gym-header bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <div class="center-text">
                                    <div class="text-center">
                                        <div class="header-text">
                                            <h1><span class="bold-text">build your</span> body more strong</h1>
                                        </div>
                                        <div class="header-sub-text">
                                            <p class="text-white p-light">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry.
                                                Lorem Ipsum has been the industry's standard dummy text ever since the
                                                1500s,
                                                when an unknown printer took.
                                            </p>
                                        </div>
                                        <div class="link-horizontal">
                                            <ul class="justify-content-center">
                                                <li>
                                                    <a class=" btn btn-default"><span>register 20%<sup>off</sup></span></a>
                                                </li>
                                                <li>
                                                    <a class=" btn btn-default">start now</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- header end-->

<!-- about section Start-->
<section class="gym format" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-center center-content">
                    <div class="about-img">
                        <div class="borders-around">
                            <div>
                                <div class="bg-black"></div>
                            </div>
                            <img alt="" class="img-fluid format-img" src="{% static 'assets/images/gym/l5.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="center-text">
                    <div>
                        <div class="format-small-text">
                            <h6 class="font-primary borders-before"><span>our progress</span></h6>
                        </div>
                        <div class="format-head-text">
                            <h3 class="about-font-header gradient-text">about us</h3>
                        </div>
                        <div class="format-sub-text">
                            <p class="p-light about-para">
                                Lorem Ipsum is simply dummy text of the printing andv typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s.
                            </p>
                            <p class="p-light about-para">
                                When an unknown printer took a galley of type and scrambled it to make a type specimen
                                book. Lorem
                                Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry.
                            </p>
                        </div>
                        <a class="btn btn-default primary-btn" href="#">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section end-->

<!--schedule section start-->
<section class="gym format bg-schedule" id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title">
                    <div class="main-title">
                        <h2 class="text-white m-b-15">classes schedule</h2>
                    </div>
                    <img alt="" class="img-fluid" src="{% static 'assets/images/logo/l5-title-bottom.png' %}">
                </div>
            </div>
            <div class="col-12">
                <div class="owl-carousel owl-theme default-dots gym-about-slider" id="gym-about-slider">
                    <div class="row">
                        <div class="col-lg-5 item">
                            <div class=" center-text">
                                <div>
                                    <div class="format-small-text">
                                        <h6 class="text-white borders-before"><span>#1 Day Training</span></h6>
                                    </div>
                                    <div class="format-head-text">
                                        <h3 class="text-white about-font-header">Monday</h3>
                                    </div>
                                    <div class="format-sub-text">
                                        <p class="p-light about-para text-white">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem
                                            Ipsum has been the industry's standard dummy text ever since the 1500s
                                        </p>
                                        <p class="p-light about-para text-white">
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                        </p>
                                    </div>
                                    <ul class="icon-collection">
                                        <li class="about-icon">
                                            <a class="center-content" href="#">
                                                <img alt="" class="img-fluid icons"
                                                     src="{% static 'assets/images/gym/icons/2.png' %}">
                                            </a>
                                        </li>
                                        <li class="about-icon">
                                            <a class="center-content" href="#">
                                                <img alt="" class="img-fluid icons"
                                                     src="{% static 'assets/images/gym/icons/1.png' %}">
                                            </a>
                                        </li>
                                        <li class="about-icon">
                                            <a class="center-content" href="#">
                                                <img alt="" class="img-fluid icons"
                                                     src="{% static 'assets/images/gym/icons/3.png' %}">
                                            </a>
                                        </li>
                                    </ul>
                                    <a class="btn btn-default back-white m-t-45">learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 item ">
                            <div class=" center-text">
                                <div>
                                    <div class="format-small-text">
                                        <h6 class="text-white borders-before"><span>#1 Day Training</span></h6>
                                    </div>
                                    <div class="format-head-text">
                                        <h3 class="text-white about-font-header">Monday</h3>
                                    </div>
                                    <div class="format-sub-text">
                                        <p class="p-light about-para text-white">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem
                                            Ipsum has been the industry's standard dummy text ever since the 1500s
                                        </p>
                                        <p class="p-light about-para text-white">
                                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                        </p>
                                    </div>
                                    <ul class="icon-collection">
                                        <li class="about-icon">
                                            <a class="center-content" href="#">
                                                <img alt="" class="img-fluid icons"
                                                     src="{% static 'assets/images/gym/icons/2.png' %}">
                                            </a>
                                        </li>
                                        <li class="about-icon">
                                            <a class="center-content" href="#">
                                                <img alt="" class="img-fluid icons"
                                                     src="{% static 'assets/images/gym/icons/1.png' %}">
                                            </a>
                                        </li>
                                        <li class="about-icon">
                                            <a class="center-content" href="#">
                                                <img alt="" class="img-fluid icons"
                                                     src="{% static 'assets/images/gym/icons/3.png' %}">
                                            </a>
                                        </li>
                                    </ul>
                                    <a class="btn btn-default back-white m-t-45">learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--schedule section end-->

<!-- about section Start-->
<section class="gym format">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-center center-content">
                    <div class="about-img">
                        <div class="borders-around">
                            <div>
                                <div class="bg-black"></div>
                            </div>
                            <img alt="" class="img-fluid format-img" src="{% static 'assets/images/gym/about.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class=" center-text">
                    <div>
                        <div class="format-small-text">
                            <h6 class="font-primary borders-before"><span>our progress</span></h6>
                        </div>
                        <div class="format-head-text">
                            <h3 class="about-font-header gradient-text">Choose Workout</h3>
                        </div>
                        <div class="format-sub-text">
                            <div class="sub-heading">
                                <h4>1. ABS Workout</h4>
                            </div>
                            <p class="p-light about-para">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s.
                            </p>
                            <div class="sub-heading">
                                <h4>2. Posture Correction</h4>
                            </div>
                            <p class="p-light about-para">
                                When an unknown printer took a galley of type and scrambled it to make a type specimen
                                book. Lorem
                                Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry.
                            </p>
                        </div>
                        <a class="btn btn-default primary-btn" href="#">BOOK WORKOUT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section end-->

<!--counter section start-->
<section class="gym counter  bg-img3 bg1">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/gym/counter/happy-icon.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="text-white counts">1510</h2>
                        </div>
                        <div class="count-desc">
                            <h5 class="text-white">Satisfied Customers</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/gym/counter/project-icon.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="text-white counts">306</h2>
                        </div>
                        <div class="count-desc">
                            <h5 class="text-white">Projects Completed</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/gym/counter/work-icon.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="text-white counts">48502</h2>
                        </div>
                        <div class="count-desc">
                            <h5 class="text-white">Hours Worked</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/gym/counter/award-icon.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="text-white counts">12</h2>
                        </div>
                        <div class="count-desc">
                            <h5 class="text-white">Awwards Winning</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--counter section end-->

<!--trainer section start-->
<section class="gym trainers">
    <div class="container overflow-hide">
        <div class="row">
            <div class="col-12">
                <div class="title">
                    <div class="text-center">
                        <div>
                            <h6 class=" borders-before"><span>OUR PROGRESS</span></h6>
                        </div>
                        <div class="main-title">
                            <h2>our trainers</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="owl-carousel owl-theme trainers-slider" id="trainers-slider">
                    <div class="item">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/gym/traniers/1.jpg' %}">
                        <div class="text-center trainers-info">
                            <h3 class=" m-b-10">Ethan Robbines</h3>
                            <div class="socials-lists">
                                <ul class="socials-horizontal justify-content-center">
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-google center-content"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-instagram center-content"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/gym/traniers/2.jpg' %}">
                        <div class="text-center trainers-info">
                            <h3 class=" m-b-10">Ethan Robbines</h3>
                            <div class="socials-lists">
                                <ul class="socials-horizontal justify-content-center">
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-google center-content"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-instagram center-content"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/gym/traniers/3.jpg' %}">
                        <div class="text-center trainers-info">
                            <h3 class=" m-b-10">Ethan Robbines</h3>
                            <div class="socials-lists">
                                <ul class="socials-horizontal justify-content-center">
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-google center-content"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-instagram center-content"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/gym/traniers/4.jpg' %}">
                        <div class="text-center trainers-info">
                            <h3 class=" m-b-10">Ethan Robbines</h3>
                            <div class="socials-lists">
                                <ul class="socials-horizontal justify-content-center">
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-google center-content"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-instagram center-content"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/gym/traniers/5.jpg' %}">
                        <div class="text-center trainers-info">
                            <h3 class=" m-b-10">Ethan Robbines</h3>
                            <div class="socials-lists">
                                <ul class="socials-horizontal justify-content-center">
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-google center-content"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-instagram center-content"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/gym/traniers/3.jpg' %}">
                        <div class="text-center trainers-info">
                            <h3 class=" m-b-10">Ethan Robbines</h3>
                            <div class="socials-lists">
                                <ul class="socials-horizontal justify-content-center">
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-google center-content"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-instagram center-content"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--trainer section end-->

<!--testimonial section start-->
<section class="gym testimonial">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title">
                    <div class="text-center">
                        <div>
                            <h6 class=" borders-before text-white"><span>OUR PROGRESS</span></h6>
                        </div>
                        <div class="main-title">
                            <h2 class="text-white">what people say</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-2">
                <div class="owl-carousel owl-theme testimonial-slider" id="testimonial-slider">
                    <div class="item">
                        <div>
                            <img alt="" class="img-fluid m-auto" src="{% static 'assets/images/gym/testimonial/quote.png' %}">
                            <div class="text-center testimonial-info">
                                <p class="p-light testimonial-para">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    printer took a galley of type and scrambled it to.
                                </p>
                                <div class="testimonial-name">
                                    <h5 class="text-white name">Alan Lakor</h5>
                                </div>
                                <div class="testimonial-post">
                                    <h6 class="text-white post">CEO OF SC.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <img alt="" class="img-fluid m-auto" src="{% static 'assets/images/gym/testimonial/quote.png' %}">
                            <div class="text-center testimonial-info">
                                <p class="p-light testimonial-para">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    printer took a galley of type and scrambled it to.
                                </p>
                                <div class="testimonial-name">
                                    <h5 class="text-white name">Alan Lakor</h5>
                                </div>
                                <div class="testimonial-post">
                                    <h6 class="text-white post">CEO OF SC.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--testimonial section end-->

<!--pricing section start-->
<section class="gym pricing set-relative" id="plan">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title">
                    <div class="text-center">
                        <div>
                            <h6 class=" borders-before"><span>OUR PROGRESS</span></h6>
                        </div>
                        <div class="main-title">
                            <h2>price plan</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="owl-carousel owl-theme price-margin pricing-slider">
                    <div class="item">
                        <div class="price-container hover-overlay shadows bg-white text-center">
                            <div class="price-feature-container set-relative">
                                <div class="feature-text">
                                    <span class="flaticon-rocket-ship feature-icon"></span>
                                    <h4 class="feature-text-heading bold text-uppercase">free</h4>
                                    <hr class="set-border">
                                </div>
                                <div class="price-features">
                                    <h5 class="price-feature">Easy Installations</h5>
                                    <h5 class="price-feature">Unlimited support</h5>
                                    <h5 class="price-feature">Free Forever</h5>
                                </div>
                                <div class="price-value">
                                    <h6 class="price text-center">$<span class="large">0</span>/month</h6>
                                </div>
                                <a class="btn btn-default back-white" href="#">purchase</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container hover-overlay shadows bg-white text-center">
                            <div class="price-feature-container set-relative">
                                <div class="feature-text">
                                    <span class="flaticon-diamond feature-icon"></span>
                                    <h4 class="feature-text-heading bold text-uppercase">Gold Plan</h4>
                                    <hr class="set-border">
                                </div>
                                <div class="price-features">
                                    <h5 class="price-feature">Easy Installations</h5>
                                    <h5 class="price-feature">Unlimited support</h5>
                                    <h5 class="price-feature"> Gold Plan</h5>
                                </div>
                                <div class="price-value">
                                    <h6 class="price text-center">$<span class="large">100</span>/month</h6>
                                </div>

                                <a class="btn btn-default back-white" href="#">purchase</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container hover-overlay shadows bg-white text-center">
                            <div class="price-feature-container set-relative">
                                <div class="feature-text">
                                    <span class="flaticon-pie-chart feature-icon"></span>
                                    <h4 class="feature-text-heading bold text-uppercase">Silver plan</h4>
                                    <hr class="set-border">
                                </div>
                                <div class="price-features">
                                    <h5 class="price-feature">Easy Installations</h5>
                                    <h5 class="price-feature">Unlimited support</h5>
                                    <h5 class="price-feature">Silver plan</h5>
                                </div>
                                <div class="price-value">
                                    <h6 class="price text-center">$<span class="large">50</span>/month</h6>
                                </div>
                                <a class="btn btn-default back-white" href="#">purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--pricing section end-->

<!--calculate bmi start-->
<section class="gym format bg-cal-bmi" id="bmi">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <div class=" center-text">
                    <div>
                        <div class="format-small-text">
                            <h6 class="text-white"><span>our progress</span></h6>
                        </div>
                        <div class="format-head-text">
                            <h3 class="text-white about-font-header">calculate your BMI</h3>
                        </div>
                        <div class="format-sub-text">
                            <p class="p-light about-para text-white">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                        </div>
                        <div class="link-horizontal">
                            <ul>
                                <li>
                                    <div class="checkbox">
                                        <label class="text-white center-text"><input type="checkbox" value="">Metric
                                            Units</label>
                                    </div>
                                </li>
                                <li class="about-icon">
                                    <div class="checkbox">
                                        <label class="text-white center-text"><input type="checkbox" value="">Imperial
                                            Units</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="link-horizontal m-t-40 m-b-40">
                            <ul>
                                <li>
                                    <a class="btn btn-default primary-btn transparent">Weight/Kg</a>
                                </li>
                                <li>
                                    <a class="btn btn-default primary-btn transparent">Height/Cm</a>
                                </li>
                            </ul>
                        </div>
                        <a class="btn btn-default back-white">CALCULATE</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-6">
                <div class="center-text">
                    <table class="calculate-bmi">
                        <tr>
                            <td>BMI</td>
                            <td>Weight Status</td>
                        </tr>
                        <tr>
                            <td>Below 18.5</td>
                            <td>Underweight</td>
                        </tr>
                        <tr>
                            <td>18.5 - 24.9</td>
                            <td>Normal</td>
                        </tr>
                        <tr>
                            <td>25 - 29.9</td>
                            <td>Overweight</td>
                        </tr>
                        <tr>
                            <td>30 and Above</td>
                            <td>Obese</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!--calculate bmi end-->

<!--brand slider start-->
<section class="gym brand-slider">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel owl-theme" id="gym-brand">
                    <div class="item">
                        <a href="#">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/gym/brand/1.jpg' %}">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/gym/brand/2.jpg' %}">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/gym/brand/3.jpg' %}">
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/gym/brand/4.jpg' %}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--brand slider end-->

<!--footer start-->
<footer class="gym footer2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 set-first">
                <div class="logo-sec">
                    <div class="footer-title mobile-title">
                        <h3 class="text-white">About Us</h3>
                    </div>
                    <div class="footer-contant">
                        <img alt="" class="img-fluid footer-logo" src="{% static 'assets/images/logo/1.png' %}">
                        <div class="footer-para">
                            <h6 class="text-white para-address">Unice</h6>
                            <h6 class="text-white para-address">324 Madison Street New york City, </h6>
                            <h6 class="text-white para-address">NY 10001.</h6>
                        </div>
                        <ul class="d-flex footer-social social">
                            <li class="footer-social-list">
                                <a href="#">
                                    <i aria-hidden="true" class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="footer-social-list">
                                <a href="#">
                                    <i aria-hidden="true" class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="footer-social-list">
                                <a href="#">
                                    <i aria-hidden="true" class="fa fa-google"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12">
                <div class="footer-title mobile-title">
                    <h3 class="text-white">services</h3>
                </div>
                <div class="footer-contant">
                    <h5 class="footer-headings">services</h5>
                    <div>
                        <ul class="footer-lists op-text">
                            <li>
                                <a href="#">Portfolio Website</a>
                            </li>
                            <li>
                                <a href="#">Set up an account</a>
                            </li>
                            <li>
                                <a href="#">Invoice Creation</a>
                            </li>
                            <li>
                                <a href="#">Get Our Specials</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12">
                <div class="footer-title mobile-title">
                    <h3 class="text-white">brand</h3>
                </div>
                <div class="footer-contant">
                    <h5 class="footer-headings">brand</h5>
                    <div>
                        <ul class="footer-lists op-text">
                            <li>
                                <a href="#">Chat24</a>
                            </li>
                            <li>
                                <a href="#">Zoom</a>
                            </li>
                            <li>
                                <a href="#">Alpha Payment</a>
                            </li>
                            <li>
                                <a href="#">Upwork</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12">
                <div class="footer-title mobile-title">
                    <h3 class="text-white">Support</h3>
                </div>
                <div class="footer-contant">
                    <h5 class="footer-headings">Support</h5>
                    <div>
                        <ul class="footer-lists op-text">
                            <li>
                                <a href="#">For Freelancers</a>
                            </li>
                            <li>
                                <a href="#">For Companies</a>
                            </li>
                            <li>
                                <a href="#">For Business</a>
                            </li>
                            <li>
                                <a href="#">General Help</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 set-last">
                <div class="footer-title mobile-title">
                    <h3 class="text-white">Post Tags</h3>
                </div>
                <div class="footer-contant">
                    <h5 class="footer-headings">Post Tags</h5>
                    <div class="link-btns">
                        <ul>
                            <li class="buttons">
                                <a href="#">app</a>
                            </li>
                            <li class="buttons">
                                <a href="#">business</a>
                            </li>
                            <li class="buttons">
                                <a href="#">corporation</a>
                            </li>
                            <li class="buttons">
                                <a href="#">creative</a>
                            </li>
                            <li class="buttons">
                                <a href="#">design</a>
                            </li>
                            <li class="buttons">
                                <a href="#">fashion</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
<!--footer end-->

<!--copyright css start-->
<div class="gym copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="link-horizontal">
                    <ul>
                        <li>
                            <a class="copyright-text op-text" href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a class="copyright-text op-text" href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <h6 class="copyright-text text-white text-end op-text">Copyright ©2021 Unice by <i
                            aria-hidden="true" class="fa fa-heart"></i>pixelstrap</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- copyright css end-->

{% endblock content %}
{% block scriptcontent %}
<!--magnific popup js-->
<script src="{% static 'assets/js/magnific-popup.js' %}"></script>
<!--owl js-->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<!--AOS js-->
<script src="{% static 'assets/js/aos.js' %}"></script>

<!-- script js-->
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
<!-- script js-->
<script src="{% static 'assets/js/counters.js' %}"></script>
<script src="{% static 'assets/js/script5.js' %}"></script>
<script src="{% static 'assets/js/layout-fix.js' %}"></script>
{% endblock scriptcontent %}