{% extends 'base-home.html' %}{% load static %}
{% block css %}
<!-- Font Family-->
<link href="https://fonts.googleapis.com/css?family=Capriola&amp;subset=latin-ext" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<!-- color css -->
<link href="{% static 'assets/css/color-1.css' %}" rel="stylesheet" type="text/css">
<!--keyframe css-->
<link href="{% static 'assets/css/keyframes.css' %}" rel="stylesheet">
<!--owl carousel css-->
<link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet">
<!-- Swiper CSS -->
<link href="{% static 'assets/css/swiper.min.css' %}" rel="stylesheet">
<!-- AOS CSS -->
<link href="{% static 'assets/css/aos.css' %}" rel="stylesheet">
<!--magnific popup css-->
<link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}

<section class="app1 header" id="home">
    <div class="app1-header bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="center-text">
                        <div>
                            <div class="header-text">
                                <h1>Showcase your app with Unice</h1>
                            </div>
                            <div class="header-sub-text">
                                <p class="text-white p-light">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting
                                    industry. Lorem Ipsum has been</p>
                            </div>
                            <div class="link-horizontal">
                                <ul>
                                    <li>
                                        <a class="icon-btn">
                                            <i aria-hidden="true" class="fa fa-android center-content"></i>
                                            <h6 class="text-center text-white">android</h6>
                                        </a>
                                    </li>
                                    <li class="borders-right p-0"></li>
                                    <li>
                                        <a class="icon-btn">
                                            <i aria-hidden="true" class="fa fa-apple center-content"></i>
                                            <h6 class="text-center text-white">ios</h6>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rotate">
                    <img alt="" class="img-fluid" data-tilt data-tilt-max="3"
                         data-tilt-perspective="500" data-tilt-speed="400" src="{% static 'assets/images/app_landing1/preview_movie.png' %}">

                </div>
                <div class="squares">
                    <img alt="" class="img-fluid img-1 set-abs" src="{% static 'assets/images/app_landing1/Ellipse.png' %}">
                    <img alt="" class="img-fluid img-2 set-abs" src="{% static 'assets/images/app_landing1/Ellipse.png' %}">
                </div>
                <div class="animation-circle-inverse">
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- header section end-->


<!-- services section Start-->

<section class="services" id="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <div class="title">
                    <div class="main-title">
                        <h2>Advance Services</h2>
                    </div>
                    <div class="sub-title">
                        <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service service-overlay" data-tilt data-tilt-max="6" data-tilt-perspective="500"
                     data-tilt-speed="400">
                    <div class="img-block">
                        <img alt="" class="service-img img-fluid" src="{% static 'assets/images/app_landing1/icons/1-1.png' %}">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text">Powerful System</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the ma- jority have
                            suffered.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="service service-overlay" data-tilt data-tilt-max="6" data-tilt-perspective="500"
                     data-tilt-speed="400">
                    <div class="img-block">
                        <img alt="" class="service-img img-fluid" src="{% static 'assets/images/app_landing1/icons/1-2.png' %}">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text">Personalization</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the ma- jority have
                            suffered.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service service-overlay" data-tilt data-tilt-max="6" data-tilt-perspective="500"
                     data-tilt-speed="400">
                    <div class="img-block">
                        <img alt="" class="service-img img-fluid" src="{% static 'assets/images/app_landing1/icons/1-3.png' %}">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text">Ease Of Access</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the ma- jority have
                            suffered.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- services section end-->


<!-- about section Start-->

<section class="app1 about bg-theme">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <div class="title title">
                    <div class="main-title">
                        <h2 class="text-white">About Unice</h2>
                    </div>
                    <div class="sub-title">
                        <p class="text-white para">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.
                            Lorem Ipsum has been</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-7 col-lg-6 col-sm-12">
                <div class="row set-padding">
                    <div class="col-sm-6 counters">
                        <div class="abouts">
                            <div>
                                <img alt="" class="service-img img-fluid"
                                     src="{% static 'assets/images/app_landing1/about/Ellipse-3-copy.png' %}">
                                <h3 class="text-white">7576</h3>
                                <h5 class="text-white">happy clients</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 counters">
                        <div class="abouts">
                            <div>
                                <img alt="" class="service-img img-fluid"
                                     src="{% static 'assets/images/app_landing1/about/close.png' %}">
                                <h3 class="text-white">402</h3>
                                <h5 class="text-white">Tickets Closed</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 counters">
                        <div class="abouts">
                            <div>
                                <img alt="" class="service-img img-fluid"
                                     src="{% static 'assets/images/app_landing1/about/love.png' %}">
                                <h3 class="text-white">8899</h3>
                                <h5 class="text-white">Followers</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 counters">
                        <div class="abouts">
                            <div>
                                <img alt="" class="service-img img-fluid"
                                     src="{% static 'assets/images/app_landing1/about/coffee.png' %}">
                                <h3 class="text-white">85</h3>
                                <h5 class="text-white">Cups of Coffee</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="set-abs mobile mobile-img bottom-0">
        <div class="set-relative">
            <img alt="" class="img-fluid mobile-screen" src="{% static 'assets/images/app_landing1/about/1-1.png' %}">
            <div class="set-abs mobile rectangle r-2  center-content bottom-0">
                <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing1/icons/1-2.png' %}">
            </div>
            <div class="set-abs mobile rectangle center-content bottom-0">
                <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing1/Ellipse-2-copy-241.png' %}">
            </div>
            <div class="set-abs mobile center-content galaxy bottom-0">
                <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing1/about/Layer-27.png' %}">
            </div>
        </div>
    </div>
</section>

<!-- about section end-->


<!-- download section Start-->

<section class="app1 download">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6" data-aos="fade-right" data-aos-duration="1500">
                <div class="center-content center-mobile">
                    <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing1/mobile.png' %}">
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-6">
                <div class="center-text">
                    <div>
                        <div class="download-img">
                            <div class="set-relative">
                                <img alt="" class="download-icon img-fluid"
                                     src="{% static 'assets/images/app_landing1/download/download.png' %}">
                                <div class="set-abs elipse center-abs">
                                    <img alt="" src="{% static 'assets/images/app_landing1/download/Ellipse.png' %}">
                                </div>
                            </div>
                            <div class="center-img-content m-l-15">
                                <h3 class="m-b-5">download</h3>
                                <p>the Unice</p>
                            </div>
                        </div>
                        <div class="information">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                do eiusmod tempor unt ut labore et
                                dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud ercitation ullamco laboris nisi ut aliquip ex ea
                                commodo
                                consequat.Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Excepteur
                                sint
                                occaecat cupidatat non proident, sunt in culpa.</p>
                        </div>
                        <div class="link-horizontal">
                            <ul>
                                <li>
                                    <a class="icon-btn">
                                        <i aria-hidden="true" class="fa fa-android center-content shadow"></i>
                                        <h6 class="text-center font-primary">android</h6>
                                    </a>
                                </li>
                                <li>
                                    <a class="icon-btn">
                                        <i aria-hidden="true" class="fa fa-apple center-content shadow"></i>
                                        <h6 class="text-center font-primary">ios</h6>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- download section end-->


<!-- screenshot section Start-->

<section class="app1 screenshot bg-theme" id="screenshot">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 m-b-10">
                <div class="title title1">
                    <div class="main-title">
                        <h2 class="text-white">Screen Shot</h2>
                    </div>
                    <div class="sub-title">
                        <p class="text-white para">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.
                            Lorem Ipsum has been</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row set-relative">
            <div class="col-12">
                <!-- Swiper -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing1/screen-shot/1.png' %}">
                        </div>
                        <div class="swiper-slide">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing1/screen-shot/2.png' %}">
                        </div>
                        <div class="swiper-slide">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing1/screen-shot/3.png' %}">
                        </div>
                        <div class="swiper-slide">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing1/screen-shot/4.png' %}">
                        </div>
                        <div class="swiper-slide">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing1/screen-shot/4.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="set-abs screen-container">
                <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing1/screen-shot/mockup-2.png' %}">
            </div>
        </div>
    </div>
</section>

<!-- screenshot section end-->


<!-- pricing section Start-->

<section class="app1 pricing mb-0" id="plan">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <div class="title title1">
                    <div class="main-title">
                        <h2 class="font-primary">price Plan</h2>
                    </div>
                    <div class="sub-title">
                        <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel owl-theme pricing-slider price-margin">
                    <div class="item">
                        <div class="price-container  shadows text-center">
                            <div class="price-feature-container set-relative">
                                <div class="feature-text">
                                    <h3 class="feature-text-heading font-primary">Basic</h3>
                                    <hr/>
                                </div>
                                <div class="price-value">
                                    <h4 class="price">$5</h4>
                                </div>
                                <div class="price-features">
                                    <h5 class="price-feature">Up To 1 Exports</h5>
                                    <h5 class="price-feature">Limited Coustomization</h5>
                                    <h5 class="price-feature">30 day Validity</h5></div>
                                <a class=" btn btn-default btn-gradient text-white" href="#">purchase</a>
                                <div class="set-abs bottom-0">
                                    <img alt="" class="img-fluid pricing-img"
                                         src="{% static 'assets/images/app_landing1/pricing/11.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container shadows text-center">
                            <div class="price-feature-container set-relative">
                                <div class="feature-text">
                                    <h3 class="feature-text-heading font-primary">Standard</h3>
                                    <hr/>
                                </div>
                                <div class="price-value">
                                    <h4 class="price">$10</h4>
                                </div>
                                <div class="price-features">
                                    <h5 class="price-feature">Up To 1 Exports</h5>
                                    <h5 class="price-feature">Limited Coustomization</h5>
                                    <h5 class="price-feature">30 day Validity</h5></div>
                                <a class=" btn btn-default btn-gradient text-white" href="#">purchase</a>
                                <div class="set-abs bottom-0">
                                    <img alt="" class="img-fluid pricing-img"
                                         src="{% static 'assets/images/app_landing1/pricing/22.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container shadows text-center">
                            <div class="price-feature-container set-relative">
                                <div class="feature-text">
                                    <h3 class="feature-text-heading font-primary">Advance</h3>
                                    <hr/>
                                </div>
                                <div class="price-value">
                                    <h4 class="price">$15</h4>
                                </div>
                                <div class="price-features">
                                    <h5 class="price-feature">Up To 1 Exports</h5>
                                    <h5 class="price-feature">Limited Coustomization</h5>
                                    <h5 class="price-feature">30 day Validity</h5></div>
                                <a class=" btn btn-default btn-gradient text-white" href="#">purchase</a>
                                <div class="set-abs bottom-0">
                                    <img alt="" class="img-fluid pricing-img"
                                         src="{% static 'assets/images/app_landing1/pricing/33.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- pricing section end-->


<!-- videos section Start-->

<section class="app1 videos bg-theme">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="center-content">
                    <div class="video w-100">
                        <a class="button center-content">
                            <img alt="video" class="img-fluid" src="{% static 'assets/images/app_landing1/playl-1.png' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-7 col-sm-12 counters video-description">
                <h3 class="m-b-30 text-white">Discover The New App</h3>
                <div class="m-b-35">
                    <p class="p-light">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    </p>
                    <p class="p-light">
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur.
                    </p>
                    <p class="p-light">
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="link-horizontal">
                    <ul>
                        <li>
                            <a class="icon-btn">
                                <i aria-hidden="true" class="fa fa-android center-content shadow"></i>
                                <h6 class="text-center text-white">android</h6>
                            </a>
                        </li>
                        <li class="borders-right p-0"></li>
                        <li>
                            <a class="icon-btn">
                                <i aria-hidden="true" class="fa fa-apple center-content shadow"></i>
                                <h6 class="text-center text-white">ios</h6>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- videos section end-->


<!-- subscribe section Start-->

<footer class="app1 subscribe bg" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="title title1">
                    <div class="main-title">
                        <h2>Subscribe to our newsletter</h2>
                    </div>
                    <div class="sub-title">
                        <p class="para">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="subscribe">
                    <div class="center-content">
                        <div class="form-group">
                            <div class="d-flex">
                                <input class="form-control " maxlength="45" name="email"
                                       placeholder="Please Enter Your Email Address" type="email">
                                <div class="button-primary">
                                    <button class=" btn btn-default btn-gradient text-white text-uppercase"
                                            type="submit">subscribe
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="socials-lists m-t-50">
                    <ul class="socials-horizontal justify-content-center">
                        <li>
                            <a href="#">
                                <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i aria-hidden="true" class="fa fa-google center-content"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i aria-hidden="true" class="fa fa-instagram center-content"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- subscribe section end-->


<!-- copyright section Start-->

<div class="app1 copyright">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="center-content">
                    <div>
                        <h6 class="copyright-text text-white">Copyright © 2019, Development by Pixelstrap</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- copyright section end-->


{% endblock content %}
{% block scriptcontent %}

<!--magnific popup js-->
<script src="{% static 'assets/js/magnific-popup.js' %}"></script>

<!--owl js-->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

<!-- Swiper JS -->
<script src="{% static 'assets/js/swiper.min.js' %}"></script>

<!-- AOS JS -->
<script src="{% static 'assets/js/aos.js' %}"></script>

<!-- TILT JS -->
<script src="{% static 'assets/js/vanilla-tilt.min.js' %}"></script>

<!-- script js-->
<script src="{% static 'assets/js/video-popup.js' %}"></script>
<script src="{% static 'assets/js/script1.js' %}"></script>
<script src="{% static 'assets/js/aos-init.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/layout-fix.js' %}"></script>
{% endblock scriptcontent %}