{% load static %}
<!-- news section-->
<section class="team-bg" id="news">
    <div class="animation-circle-inverse"><i></i><i></i><i></i></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
          <div class="section-title">
            <h2>Our Recent Blog</h2>
            <div class="line"></div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem voluptatem obcaecati!
              ipsum dolor sit Rem autem voluptatem obcaecati
            </p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="news-slider owl-carousel owl-theme">
            <div class="item news-slid">
              <div class="news-box"><a href="{% url 'blog_details' %}"><img class="img-fluid" src="{% static 'chatloopapp/assets/images/blog/1.jpg' %}" alt="news-1"></a>
                <div class="blog-hover">
                  <h4>lorem ipsum dolor sit amet</h4>
                  <ul class="list-inline blog-details-list">
                    <li><a href="#">John Doe</a></li>
                    <li><a href="#">1 Oct</a></li>
                    <li><a href="#">25 comments</a></li>
                    <li><a href="#">3 View</a></li>
                  </ul>
                </div>
              </div>
              <div class="news-text">
                <p>lorem ipsum dolor sit amet, consecteturamet adipisicing elit, tempor incididunt ut labore. lorem ipsum dolor sit amet.</p><a class="btn-theme" href="{% url 'blog_details' %}">View more</a>
              </div>
            </div>
            <div class="item news-slid">
              <div class="news-box"><a href="{% url 'blog_details' %}"><img class="img-fluid" src="{% static 'chatloopapp/assets/images/blog/2.jpg' %}" alt="news-1"></a>
                <div class="blog-hover">
                  <h4>lorem ipsum dolor sit amet</h4>
                  <ul class="list-inline blog-details-list">
                    <li><a href="#">John Doe</a></li>
                    <li><a href="#">2 Oct</a></li>
                    <li><a href="#">25 comments</a></li>
                    <li><a href="#">3 View</a></li>
                  </ul>
                </div>
              </div>
              <div class="news-text">
                <p>lorem ipsum dolor sit amet, consecteturamet adipisicing elit, tempor incididunt ut labore. lorem ipsum dolor sit amet.</p><a class="btn-theme" href="{% url 'blog_details' %}">View more</a>
              </div>
            </div>
            <div class="item news-slid">
              <div class="news-box"><a href="{% url 'blog_details' %}"><img class="img-fluid" src="{% static 'chatloopapp/assets/images/blog/3.jpg' %}" alt="news-1"></a>
                <div class="blog-hover">
                  <h4>lorem ipsum dolor sit amet</h4>
                  <ul class="list-inline blog-details-list">
                    <li><a href="#">John Doe</a></li>
                    <li><a href="#">3 Oct</a></li>
                    <li><a href="#">25 comments</a></li>
                    <li><a href="#">3 View</a></li>
                  </ul>
                </div>
              </div>
              <div class="news-text">
                <p>lorem ipsum dolor sit amet, consecteturamet adipisicing elit, tempor incididunt ut labore. lorem ipsum dolor sit amet.</p><a class="btn-theme" href="{% url 'blog_details' %}">View more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end news section-->