{% load static %}
<!-- team section-->
<section class="team-bg" id="team">
    <div class="animation-circle-inverse"><i></i><i></i><i></i></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="section-title">
            <h2>Our Work Place</h2>
            <div class="line"></div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="team-slider owl-carousel owl-theme">
            <div class="item">
              <div class="team-box">
                <div class="team-under-box">
                  <div class="team-under-box-button text-white"><i class="fa fa-plus" aria-hidden="true"></i></div><img class="img-fluid" src="{% static 'chatloopapp/assets/images/1.jpg' %}" alt="1">
                  <div class="team-overlay">
                    <div class="social-icon">
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="team-box">
                <div class="team-under-box">
                  <div class="team-under-box-button text-white"><i class="fa fa-plus" aria-hidden="true"></i></div><img class="img-fluid" src="{% static 'chatloopapp/assets/images/2.jpg' %}" alt="2">
                  <div class="team-overlay">
                    <div class="social-icon">
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="team-box">
                <div class="team-under-box">
                  <div class="team-under-box-button text-white"><i class="fa fa-plus" aria-hidden="true"></i></div><img class="img-fluid" src="{% static 'chatloopapp/assets/images/3.jpg' %}" alt="3">
                  <div class="team-overlay">
                    <div class="social-icon">
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="team-box">
                <div class="team-under-box">
                  <div class="team-under-box-button text-white"><i class="fa fa-plus" aria-hidden="true"></i></div><img class="img-fluid" src="{% static 'chatloopapp/assets/images/2.jpg' %}" alt="2">
                  <div class="team-overlay">
                    <div class="social-icon">
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="team-box">
                <div class="team-under-box">
                  <div class="team-under-box-button text-white"><i class="fa fa-plus" aria-hidden="true"></i></div><img class="img-fluid" src="{% static 'chatloopapp/assets/images/1.jpg' %}" alt="1">
                  <div class="team-overlay">
                    <div class="social-icon">
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="team-box">
                <div class="team-under-box">
                  <div class="team-under-box-button text-white"><i class="fa fa-plus" aria-hidden="true"></i></div><img class="img-fluid" src="{% static 'chatloopapp/assets/images/2.jpg' %}" alt="2">
                  <div class="team-overlay">
                    <div class="social-icon">
                      <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="team-hover">
            <div class="row">
              <div class="col-md-4">
                <div class="team-profile"><img class="img-fluid" src="{% static 'chatloopapp/assets/images/1.jpg' %}" alt="1"></div>
              </div>
              <div class="col-md-8">
                <div class="d-flex-1">
                  <div class="hover-text">
                    <div class="team-close-btn"><a><i class="fa fa-times" aria-hidden="true"></i></a></div>
                    <h3>Mark Jecno</h3>
                    <h4 class="m-0 text-muted">Devloper & Designer</h4>
                    <h5>PHP, Laravel, Cake , Wordpress, HTML5 </h5>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end team section-->