{% load static %}
<!-- testimonail page-->
    <section class="testimonial" id="testimonial">
      <div class="animation-circle-inverse"><i></i><i></i><i></i></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="testimonil-box">
              <div class="testimonial-slider owl-carousel owl-theme">
                <div class="item testi-profile">
                  <div class="media">
                    <div class="animated-circle"><img class="img-fluid align-self-center" src="{% static 'chatloopapp/assets/images/1.png' %}" alt="1"></div>
                    <div class="media-body">
                      <h3 class="mt-0 sub-title">Mark Jecno  (Designer & Devloper)</h3>
                      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    </div>
                  </div>
                </div>
                <div class="item testi-profile">
                  <div class="media">
                    <div class="animated-circle"><img class="img-fluid align-self-center" src="{% static 'chatloopapp/assets/images/1.png' %}" alt="1"></div>
                    <div class="media-body">
                      <h3 class="mt-0 sub-title">Mark Jecno  (Designer & Devloper)</h3>
                      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    </div>
                  </div>
                </div>
                <div class="item testi-profile">
                  <div class="media">
                    <div class="animated-circle"><img class="img-fluid align-self-center" src="{% static 'chatloopapp/assets/images/1.png' %}" alt="1"></div>
                    <div class="media-body">
                      <h3 class="mt-0 sub-title">Mark Jecno  (Designer & Devloper)</h3>
                      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end testimonial section-->