{% load static %}
<section class="app2 team-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center text-uppercase m-b-0"><span>team 3</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center teams">
                <div class="our-team">
                    <div class="set-relative">
                        <div class="border-around overflow-hide m-auto">
                            <div class="set-relative overflow-hide">
                                <img alt="" class="img-fluid team" src="{% static 'assets/images/app_landing2/team/1.png' %}">
                                <div class="overlay-team set-abs">
                                    <img alt="" class="img-fluid wave"
                                         src="{% static 'assets/images/app_landing2/team/hover-wave-black.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="set-relative set-border">
                        <div class="set-abs top-0 borders"></div>
                    </div>
                    <div class="employee">
                        <h4 class="e-name text-center">ken pitersan</h4>
                        <h6 class="post text-center ">Seniour UI/Xi Designer</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center teams">
                <div class="our-team">
                    <div class="set-relative">
                        <div class="border-around overflow-hide m-auto">
                            <div class="set-relative overflow-hide">
                                <img alt="" class="img-fluid team" src="{% static 'assets/images/app_landing2/team/2.png' %}">
                                <div class="overlay-team set-abs">
                                    <img alt="" class="img-fluid wave"
                                         src="{% static 'assets/images/app_landing2/team/hover-wave-black.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="set-relative set-border">
                        <div class="set-abs top-0 borders"></div>
                    </div>
                    <div class="employee">
                        <h4 class="e-name text-center">ken pitersan</h4>
                        <h6 class="post text-center ">Seniour UI/Xi Designer</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center teams">
                <div class="our-team">
                    <div class="set-relative">
                        <div class="border-around overflow-hide m-auto">
                            <div class="set-relative overflow-hide">
                                <img alt="" class="img-fluid team" src="{% static 'assets/images/app_landing2/team/3.png' %}">
                                <div class="overlay-team set-abs">
                                    <img alt="" class="img-fluid wave"
                                         src="{% static 'assets/images/app_landing2/team/hover-wave-black.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="set-relative set-border">
                        <div class="set-abs top-0 borders"></div>
                    </div>
                    <div class="employee">
                        <h4 class="e-name text-center">ken pitersan</h4>
                        <h6 class="post text-center ">Seniour UI/Xi Designer</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 text-center teams">
                <div class="our-team">
                    <div class="set-relative">
                        <div class="border-around overflow-hide m-auto">
                            <div class="set-relative overflow-hide">
                                <img alt="" class="img-fluid team" src="{% static 'assets/images/app_landing2/team/4.png' %}">
                                <div class="overlay-team set-abs">
                                    <img alt="" class="img-fluid wave"
                                         src="{% static 'assets/images/app_landing2/team/hover-wave-black.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="set-relative set-border">
                        <div class="set-abs top-0 borders"></div>
                    </div>
                    <div class="employee">
                        <h4 class="e-name text-center">ken pitersan</h4>
                        <h6 class="post text-center ">Seniour UI/Xi Designer</h6>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>