{% load static %}
<section class="event speaker set-relative" id="speaker">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center text-uppercase m-b-0"><span>team 1</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 speker-container">
                <div class="text-center">
                    <div class="team-img">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/event/l3-1.png' %}">
                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-google center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-globe center-content"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Vicky Smith</h5>
                        <h6 class="post text-center ">UI/UX Designer - Little Big</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 speker-container">
                <div class="text-center">
                    <div class="team-img">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/event/l3-2.png' %}">
                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-google center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-globe center-content"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Sam Rowling</h5>
                        <h6 class="post text-center ">Team Leader - otstrab</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 speker-container">
                <div class="text-center">
                    <div class="team-img">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/event/l3-3.png' %}">
                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-google center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-globe center-content"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Mark Tucker</h5>
                        <h6 class="post text-center ">App Developer - Jumpster</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 speker-container">
                <div class="text-center">
                    <div class="team-img">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/event/l3-4.png' %}">

                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-google center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-globe center-content"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Sam Rowling</h5>
                        <h6 class="post text-center ">Team Leader - otstrab</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>