{% load static %}
<section class="agency format speaker expert-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center text-uppercase m-b-0"><span>team 4</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="format-container">
                    <h6 class="borders-before text-uppercase font-600">
                        <span>Meet our Expert</span>
                    </h6>
                    <div class="format-head-text">
                        <h2>We Will Ready For <span class="block-span">Your Services</span>
                        </h2>
                    </div>
                    <div class="format-sub-text">
                        <p class="about-para">Lorem ipsum dolor sit amet, consectetur
                            sed do eiusmod tempor incididunt.</p>
                    </div>
                    <a class=" btn btn-default btn-gradient text-white" href="#">view more</a>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="owl-carousel owl-theme speaker-slider">
                    <div class="item speker-container">
                        <div class="text-center">
                            <div class="team-img">
                                <img alt="" class="img-fluid" src="{% static 'assets/images/event/l3-2.png' %}">
                                <div class="overlay"></div>
                                <div class="social">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-google center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-globe center-content"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="employee">
                                <h5 class="e-name text-center font-secondary">Sam Rowling</h5>
                                <h6 class="post text-center ">Team Leader - otstrab</h6>
                            </div>
                        </div>
                    </div>
                    <div class="item speker-container">
                        <div class="text-center">
                            <div class="team-img">
                                <img alt="" class="img-fluid" src="{% static 'assets/images/event/l3-3.png' %}">
                                <div class="overlay"></div>
                                <div class="social">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-google center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-globe center-content"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="employee">
                                <h5 class="e-name text-center font-secondary">Mark Tucker</h5>
                                <h6 class="post text-center ">App Developer - Jumpster</h6>
                            </div>
                        </div>
                    </div>
                    <div class="item speker-container">
                        <div class="text-center">
                            <div class="team-img">

                                <img alt="" class="img-fluid" src="{% static 'assets/images/event/l3-4.png' %}">

                                <div class="overlay"></div>
                                <div class="social">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-google center-content"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i aria-hidden="true" class="fa fa-globe center-content"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="employee">
                                <h5 class="e-name text-center font-secondary">Sam Rowling</h5>
                                <h6 class="post text-center ">Team Leader - otstrab</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>