{% load static %}
<section class="resume about" id="about">
    <div class="container">
        <div class="title title2">
            <div class="row">
                <div class=" offset-md-2 col-md-8">
                    <h6 class="font-primary borders main-text text-uppercase"><span>about</span></h6>
                    <div class="sub-title">
                        <div>
                            <h2 class="title-text">About me</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-6">
                <div class="text-center radial">
                    <div class="radial-bar radial-bar-primary" data-label="95%">
                    </div>
                    <h4 class="color-light">Photoshop</h4>
                    <div class="border-container">
                        <div class="borders-bottom"></div>
                    </div>
                    <div>
                        <h4>4 Years Experince</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="text-center radial">
                    <div class="radial-bar radial-bar-primary radial-90" data-label="90%">
                    </div>
                    <h4 class="color-light">illustrator</h4>
                    <div class="border-container">
                        <div class="borders-bottom"></div>
                    </div>
                    <div>
                        <h4>4 Years Experince</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="text-center radial">
                    <div class="radial-bar radial-bar-primary radial-80" data-label="80%"></div>
                    <h4 class="color-light">html & css</h4>
                    <div class="border-container">
                        <div class="borders-bottom"></div>
                    </div>
                    <div>
                        <h4>4 Years Experince</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="text-center radial">
                    <div class="radial-bar radial-bar-primary radial-70" data-label="70%">
                    </div>
                    <h4 class="color-light">wordpress</h4>
                    <div class="border-container">
                        <div class="borders-bottom"></div>
                    </div>
                    <div>
                        <h4>4 Years Experince</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center m-t-50">
            <a class="btn btn-default primary-btn">know more now</a>
        </div>
    </div>
</section>