{% load static %}
<section class="resume counter bg-pink">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/resume/icon/1.png' %}">
                    <div class="counter-text">
                        <h3 class="count-text counts">1510</h3>
                        <h5 class="count-desc">Satisfied Customers</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/resume/icon/2.png' %}">
                    <div class="counter-text">
                        <h3 class="count-text counts">306</h3>
                        <h5 class="count-desc">Total Speaker</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/resume/icon/3.png' %}">
                    <div class="counter-text">
                        <h3 class="count-text counts">48502</h3>
                        <h5 class="count-desc">Hours Worked</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/resume/icon/4.png' %}">
                    <div class="counter-text">
                        <h3 class="count-text counts">12</h3>
                        <h5 class="count-desc">Awwards Winning</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>