{% load static %}
<section class="resume pricing bg-pink" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="title title2">
                    <h6 class="font-primary borders main-text text-uppercase"><span>pricing</span></h6>
                    <div class="sub-title">
                        <div>
                            <h2>you can hire me</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="owl-carousel owl-theme pricing-slider">
                    <div class="item">
                        <div class="price-container price-margin shadows bg-white text-center">
                            <div class="price-feature-container set-relative">
                                <div class="feature-text">
                                    <span class="flaticon-rocket-ship feature-icon"></span>
                                    <h4 class="feature-text-heading bold text-uppercase">free</h4>
                                    <hr class="set-border">
                                </div>
                                <div class="price-features">
                                    <h5 class="price-feature">Easy Installations</h5>
                                    <h5 class="price-feature">Unlimited support</h5>
                                    <h5 class="price-feature">Free Forever</h5>
                                </div>
                                <div class="price-value">
                                    <h6 class="price text-center">$<span class="large">0</span>/month</h6>
                                </div>
                                <a class="btn btn-default back-white" href="#">purchase</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container price-margin shadows bg-white text-center">
                            <div class="price-feature-container set-relative">
                                <div class="feature-text">
                                    <span class="flaticon-diamond feature-icon"></span>
                                    <h4 class="feature-text-heading bold text-uppercase">Silver</h4>
                                    <hr class="set-border">
                                </div>
                                <div class="price-features">
                                    <h5 class="price-feature">Easy Installations</h5>
                                    <h5 class="price-feature">Unlimited support</h5>
                                    <h5 class="price-feature ">Free Forever</h5>
                                </div>
                                <div class="price-value">
                                    <h6 class="price text-center">$<span class="large">50</span>/month</h6>
                                </div>
                                <a class="btn btn-default back-white" href="#">purchase</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container price-margin shadows bg-white text-center">
                            <div class="price-feature-container set-relative">
                                <div class="feature-text">
                                    <span class="flaticon-pie-chart feature-icon"></span>
                                    <h4 class="feature-text-heading bold text-uppercase">Golden</h4>
                                    <hr class="set-border">
                                </div>
                                <div class="price-features">
                                    <h5 class="price-feature">Easy Installations</h5>
                                    <h5 class="price-feature">Unlimited support</h5>
                                    <h5 class="price-feature">Free Forever</h5>
                                </div>
                                <div class="price-value">
                                    <h6 class="price text-center">$<span class="large">100</span>/month</h6>
                                </div>
                                <a class="btn btn-default back-white" href="#">purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>