{% load static %}
<section class="resume schedule">
    <div class="container">
        <div class="title title2">
            <div class="row">
                <div class=" offset-md-2 col-md-8">
                    <h6 class="font-primary borders main-text text-uppercase"><span>details</span></h6>
                    <div class="sub-title">
                        <div>
                            <h2 class="title-text">services & experience</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="cal-time">
                    <div class="time">
                        <h5 class="text-capitalize">Monday, September 30, 2019</h5>
                    </div>
                </div>
                <div class="event-container scrollbar">
                    <div>
                        <div class=" cal-time events">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="schedule-event">
                                        <h4 class="names">LATEST ANIMATION</h4>
                                        <img alt="" class="img-fluid schedule-img"
                                             src="{% static 'assets/images/resume/icon/icon-resume.png' %}">
                                        <p class="schedule-description">Lorem Ipsum is simply dummy text of the printing
                                            and typesetting
                                            industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                            the 1500s, when an
                                            unknown printer took a galley of.</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="timing">
                                        <h5 class="event-time">08:00</h5>
                                        <div class="border-container">
                                            <div class="border-dashed"></div>
                                        </div>
                                        <h5 class="event-time">10:00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" cal-time events">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="schedule-event">
                                        <h4 class="names">MASTER IN WEBDESIGN</h4>
                                        <img alt="" class="img-fluid schedule-img"
                                             src="{% static 'assets/images/resume/icon/icon-resume.png' %}">
                                        <p class="schedule-description">Lorem Ipsum is simply dummy text of the printing
                                            and typesetting
                                            industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                            the 1500s, when
                                            an unknown printer took a galley of.</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="timing">
                                        <h5 class="active event-time center-content">08:00</h5>
                                        <div class="border-container">
                                            <div class="border-dashed active"></div>
                                        </div>
                                        <h5 class="active event-time center-content">10:00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" cal-time events">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="schedule-event">
                                        <h4 class="names">ADVANCE DEGREE</h4>
                                        <img alt="" class="img-fluid schedule-img"
                                             src="{% static 'assets/images/resume/icon/icon-resume.png' %}">
                                        <p class="schedule-description">Lorem Ipsum is simply dummy text of the printing
                                            and typesetting
                                            industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                            the 1500s, when
                                            an unknown printer took a galley of.</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="timing">
                                        <h5 class="event-time center-content">08:00</h5>
                                        <div class="border-container">
                                            <div class="border-dashed"></div>
                                        </div>
                                        <h5 class="event-time center-content">10:00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" cal-time events">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="schedule-event">
                                        <h4 class="names">LATEST ANIMATION</h4>
                                        <img alt="" class="img-fluid schedule-img"
                                             src="{% static 'assets/images/resume/icon/icon-resume.png' %}">
                                        <p class="schedule-description">Lorem Ipsum is simply dummy text of the printing
                                            and typesetting
                                            industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                            the 1500s, when an
                                            unknown printer took a galley of.</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="timing">
                                        <h5 class="event-time center-content">08:00</h5>
                                        <div class="border-container">
                                            <div class="border-dashed"></div>
                                        </div>
                                        <h5 class="event-time center-content">10:00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>