{% load static %}
<section class="resume services bg-pink">
    <div class="container">
        <div class="row">
            <div class=" offset-md-2 col-md-8">
                <div class="title title2">
                    <h6 class="font-primary borders main-text text-uppercase"><span>details</span></h6>
                    <div class="sub-title">
                        <div>
                            <h2 class="title-text">services & experience</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-sm-6 p-l-0">
                        <div class="service bg-white">
                            <div class="img-block">
                                <img alt="" class="service-img img-fluid"
                                     src="{% static 'assets/images/resume/service-exprience/1.png' %}">
                            </div>
                            <div class="service-feature">
                                <h4 class="feature-text text-center">UI design</h4>
                                <p>Unlike team chat apps, Flow is designed to help your team stay focused by keeping
                                    relevant and actionable.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 p-l-0">
                        <div class="service bg-white">
                            <div class="img-block">
                                <img alt="" class="service-img img-fluid"
                                     src="{% static 'assets/images/resume/service-exprience/2.png' %}">
                            </div>
                            <div class="service-feature">
                                <h4 class="feature-text text-center">UX design</h4>
                                <p>Unlike team chat apps, Flow is designed to help your team stay focused by keeping
                                    relevant and actionable.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 p-l-0">
                        <div class="service bg-white">
                            <div class="img-block">
                                <img alt="" class="service-img img-fluid"
                                     src="{% static 'assets/images/resume/service-exprience/3.png' %}">
                            </div>
                            <div class="service-feature">
                                <h4 class="feature-text text-center">web design</h4>
                                <p>Unlike team chat apps, Flow is designed to help your team stay focused by keeping
                                    relevant and actionable.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 p-l-0">
                        <div class="service bg-white">
                            <div class="img-block">
                                <img alt="" class="service-img img-fluid"
                                     src="{% static 'assets/images/resume/service-exprience/4.png' %}">
                            </div>
                            <div class="service-feature">
                                <h4 class="feature-text text-center">web Devloper</h4>
                                <p>Unlike team chat apps, Flow is designed to help your team stay focused by keeping
                                    relevant and actionable.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-sm-6 p-l-0">
                        <div class="service bg-white">
                            <div class="img-block">
                                <img alt="" class="service-img img-fluid"
                                     src="{% static 'assets/images/resume/service-exprience/5.png' %}">
                            </div>
                            <div class="service-feature">
                                <h4 class="feature-text text-center">web design</h4>
                                <p>Unlike team chat apps, Flow is designed to help your team stay focused by keeping
                                    relevant and actionable.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 p-l-0">
                        <div class="service  text-center bg-white">
                            <div class="img-block">
                                <img alt="" class="service-img img-fluid"
                                     src="{% static 'assets/images/resume/service-exprience/6.png' %}">
                            </div>
                            <div class="service-feature">
                                <h4 class="feature-text text-center">web design</h4>
                                <p>Unlike team chat apps, Flow is designed to help your team stay focused by keeping
                                    relevant and actionable.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 p-l-0">
                        <div class="service bg-white">
                            <div class="img-block">
                                <img alt="" class="service-img img-fluid"
                                     src="{% static 'assets/images/resume/service-exprience/7.png' %}">
                            </div>
                            <div class="service-feature">
                                <h4 class="feature-text text-center">web design</h4>
                                <p>Unlike team chat apps, Flow is designed to help your team stay focused by keeping
                                    relevant and actionable.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 p-l-0">
                        <div class="service bg-white">
                            <div class="img-block">
                                <img alt="" class="service-img img-fluid"
                                     src="{% static 'assets/images/resume/service-exprience/8.png' %}">
                            </div>
                            <div class="service-feature">
                                <h4 class="feature-text text-center">web design</h4>
                                <p>Unlike team chat apps, Flow is designed to help your team stay focused by keeping
                                    relevant and actionable.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>