{% load static %}
<section class="demo-section section-py-space" id="Applications">
    <div class="title">
      <div class="logo-wrraper"><img class="img-fluid bg-img" src="{% static 'assets/images/logo/logo-icon.png' %}" alt=""></div>
      <h2>Usefull application</h2>
    </div>
    <div class="container-fluid apps">
      <div class="row demo-block">
        <div class="col-xl-3 col-lg-4 col-sm-6 wow pulse">
          <div class="demo-box"><a href="{% url 'social_app' %}">
              <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/landing/application/1.jpg' %}" alt=""></div>
              <div class="demo-detail">                       
                <div class="demo-title">
                  <h3>Social App</h3>
                </div>
              </div></a></div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 wow pulse">
          <div class="demo-box"><a href="{% url 'knowledgebase' %}">
              <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/landing/application/2.jpg' %}" alt=""></div>
              <div class="demo-detail">                       
                <div class="demo-title">
                  <h3>Knowledgebase</h3>
                </div>
              </div></a></div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 wow pulse">
          <div class="demo-box"><a href="{% url 'support_ticket' %}">
              <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/landing/application/3.jpg' %}" alt=""></div>
              <div class="demo-detail">                       
                <div class="demo-title">
                  <h3>Support Ticket</h3>
                </div>
              </div></a></div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 wow pulse">
          <div class="demo-box"><a href="email-application.html">
              <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/landing/application/4.jpg' %}" alt=""></div>
              <div class="demo-detail">                       
                <div class="demo-title">
                  <h3>Email Dashboard</h3>
                </div>
              </div></a></div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 wow pulse">
          <div class="demo-box"><a href="{% url 'to_do' %}">
              <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/landing/application/5.jpg' %}" alt=""></div>
              <div class="demo-detail">                       
                <div class="demo-title">
                  <h3>To-Do</h3>
                </div>
              </div></a></div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 wow pulse">
          <div class="demo-box"><a href="{% url 'cards_view' %}">
              <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/landing/application/6.jpg' %}" alt=""></div>
              <div class="demo-detail">                       
                <div class="demo-title">
                  <h3>Job Search</h3>
                </div>
              </div></a></div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 wow pulse">
          <div class="demo-box"><a href="{% url 'ecommerce_product_page' %}">
              <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/landing/application/7.jpg' %}" alt=""></div>
              <div class="demo-detail">                       
                <div class="demo-title">
                  <h3>Ecommerce</h3>
                </div>
              </div></a></div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 wow pulse">
          <div class="demo-box"><a href="{% url 'kanban_board' %}">
              <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/landing/application/8.jpg' %}" alt=""></div>
              <div class="demo-detail">                       
                <div class="demo-title">
                  <h3>Kanban</h3>
                </div>
              </div></a></div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 wow pulse">
          <div class="demo-box"><a href="{% url 'file_manager' %}">
              <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/landing/application/9.jpg' %}" alt=""></div>
              <div class="demo-detail">                       
                <div class="demo-title">
                  <h3>File Manager</h3>
                </div>
              </div></a></div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 wow pulse">
          <div class="demo-box"><a href="{% url 'project_project_list' %}">
              <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/landing/application/10.jpg' %}" alt=""></div>
              <div class="demo-detail">                       
                <div class="demo-title">
                  <h3>Project</h3>
                </div>
              </div></a></div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 wow pulse">
          <div class="demo-box"><a href="{% url 'contacts' %}">
              <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/landing/application/11.jpg' %}" alt=""></div>
              <div class="demo-detail">                       
                <div class="demo-title">
                  <h3>Contacts</h3>
                </div>
              </div></a></div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 wow pulse">
          <div class="demo-box"><a href="{% url 'chat_chat_app' %}">
              <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/landing/application/12.jpg' %}" alt=""></div>
              <div class="demo-detail">                       
                <div class="demo-title">
                  <h3>Chat</h3>
                </div>
              </div></a></div>
        </div>
      </div>
    </div>
  </section>