{% load static %}
<section class="core-feature section-py-space" id="core-feature">
    <div class="title">
      <div class="logo-wrraper"><img class="img-fluid bg-img" src="{% static 'assets/images/logo/logo-icon.png' %}" alt=""></div>
      <h2>Core Feature             </h2>
    </div>
    <div class="custom-container">
      <div class="row feature-block">
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="alert-octagon"></i></div>
              <h6>SweetAlert2</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="users"></i></div>
              <h6>Avatar</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="thermometer"></i></div>
              <h6>Scrollable</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="command"></i></div>
              <h6>Tree view</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="bold">                        </i></div>
              <h6>Bootstrap notify</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="star"></i></div>
              <h6>Rating </h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="droplet"></i></div>
              <h6>Dropzone</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="map-pin"></i></div>
              <h6>Tour</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="codepen"></i></div>
              <h6>Animated modal</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="book-open"></i></div>
              <h6>Owl Carousel</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="tag"></i></div>
              <h6>Ribbons </h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="more-horizontal"></i></div>
              <h6>Pagination </h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="skip-forward"></i></div>
              <h6>Steps </h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="bookmark"></i></div>
              <h6>Breadcrumb  </h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="sliders"></i></div>
              <h6>Range Slider </h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="crop"></i></div>
              <h6>image cropper </h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="file"></i></div>
              <h6>Sticky </h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="loader"></i></div>
              <h6>Progress </h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="feather"></i></div>
              <h6>Tooltip </h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="target"></i></div>
              <h6>Spinners </h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="chevron-down"></i></div>
              <h6>Dropdown </h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="copy"></i></div>
              <h6>Tabs </h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="map"></i></div>
              <h6>Accordion  </h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="align-justify"></i></div>
              <h6>Navs</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="airplay"></i></div>
              <h6>Shadow</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="gitlab"></i></div>
              <h6>state color</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="list"></i></div>
              <h6>List  </h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="grid"></i></div>
              <h6>Grid </h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="help-circle"></i></div>
              <h6>Helper classes </h6>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6">
          <div class="feature-box">
            <div>
              <div class="icon-wrraper"><i data-feather="type"></i></div>
              <h6>Typography</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>