{% load static %}
<section class="demo-section section-pb-space" id="dashboard">
    <div class="title">
      <div class="logo-wrraper"><img class="img-fluid bg-img" src="{% static 'assets/images/logo/logo-icon.png' %}" alt=""></div>
      <h2>wingo dashboard</h2>
    </div>
    <div class="container-fluid">
      <div class="row demo-block">
        <div class="col-lg-4 col-sm-6 wow pulse">
          <div class="demo-box"><a href="index.html">                      
              <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/landing/dashboard/1.jpg' %}" alt=""></div>
              <div class="demo-title">
                <h3>Default Dashboard</h3>
              </div></a></div>
        </div>
        <div class="col-lg-4 col-sm-6 wow pulse">
          <div class="demo-box">     <a href="dashboard-02.html">                
              <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/landing/dashboard/2.jpg' %}" alt=""></div>
              <div class="demo-title">
                <h3>Ecommerce Dashboard</h3>
              </div></a></div>
        </div>
        <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0 wow pulse">
          <div class="demo-box">         <a href="dashboard-03.html">            
              <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/landing/dashboard/3.jpg' %}" alt=""></div>
              <div class="demo-title">
                <h3>Business Dashboard</h3>
              </div></a></div>
        </div>
      </div>
    </div>
  </section>