{% load static %}
<section class="unique-cards">
    <div class="title">
      <div class="logo-wrraper"><img class="img-fluid bg-img" src="{% static 'assets/images/logo/logo-icon.png' %}" alt=""></div>
      <h2>email templates</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/landing/email-template/1.jpg' %}" alt=""></div>
        </div>
      </div>
    </div>
  </section>