{% load static %}
<section class="framework section-pb-space light-bg" id="framework">
    <div class="custom-container">
      <div class="row">                 
        <div class="col-sm-12 wow pulse">
          <div class="title">
            <div class="logo-wrraper"><img class="img-fluid bg-img" src="{% static 'assets/images/logo/logo-icon.png' %}" alt=""></div>
            <h2>Top Frameworks </h2>
          </div>
        </div>
        <div class="col-sm-12 framworks">                 
          <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item"><a class="nav-link d-flex active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"> <img src="{% static 'assets/images/landing/icon/html/html.png' %}" alt="">
                <div class="text-start">
                  <h5 class="mb-0">HTML</h5>
                  <p class="mb-0">Frameworks</p>
                </div></a></li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <ul class="framworks-list">
                <li class="bounceIn wow">
                  <div> <img src="{% static 'assets/images/landing/icon/laravel/bootstrap.png' %}" alt=""></div>
                  <h6>Booxstrap 5</h6>
                </li>
                <li class="bounceIn wow">
                  <div> <img src="{% static 'assets/images/landing/icon/html/css.png' %}" alt=""></div>
                  <h6>CSS</h6>
                </li>
                <li class="bounceIn wow">
                  <div> <img src="{% static 'assets/images/landing/icon/html/sass.png' %}" alt=""></div>
                  <h6>Sass</h6>
                </li>
                <li class="bounceIn wow">
                  <div> <img src="{% static 'assets/images/landing/icon/html/pug.png' %}" alt=""></div>
                  <h6>Pug</h6>
                </li>
                <li class="bounceIn wow">
                  <div> <img src="{% static 'assets/images/landing/icon/html/npm.png' %}" alt=""></div>
                  <h6>NPM</h6>
                </li>
                <li class="bounceIn wow">
                  <div> <img src="{% static 'assets/images/landing/icon/html/gulp.png' %}" alt=""></div>
                  <h6>Gulp</h6>
                </li>
                <li class="bounceIn wow">
                  <div> <img src="{% static 'assets/images/landing/icon/html/kit.png' %}" alt=""></div>
                  <h6>Starter Kit</h6>
                </li>
                <li class="bounceIn wow">
                  <div> <img src="{% static 'assets/images/landing/icon/html/uikits.png' %}" alt=""></div>
                  <h6>40+ UI Kits</h6>
                </li>
                <li class="bounceIn wow">
                  <div> <img src="{% static 'assets/images/landing/icon/html/layout.png' %}" alt=""></div>
                  <h6>8+ Layout</h6>
                </li>
                <li class="bounceIn wow">
                  <div> <img src="{% static 'assets/images/landing/icon/html/builders.png' %}" alt=""></div>
                  <h6>Builders</h6>
                </li>
                <li class="bounceIn wow">
                  <div> <img src="{% static 'assets/images/landing/icon/html/iconset.png' %}" alt=""></div>
                  <h6>11 Icon Sets</h6>
                </li>
                <li class="bounceIn wow">
                  <div> <img src="{% static 'assets/images/landing/icon/html/forms.png' %}" alt=""></div>
                  <h6>Forms</h6>
                </li>
                <li class="bounceIn wow">
                  <div> <img src="{% static 'assets/images/landing/icon/html/table.png' %}" alt=""></div>
                  <h6>Tables</h6>
                </li>
                <li class="bounceIn wow">
                  <div> <img src="{% static 'assets/images/landing/icon/html/apps.png' %}" alt=""></div>
                  <h6>17+ Apps</h6>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>