{% load static %}
<section class="color-theme section-py-space">
    <div class="title">
      <h1>Theme color</h1>
    </div>
    <div class="custom-container">
      <ul class="theme-color">
        <li>
          <div class="color-primary"><a href="{% url 'index' %}"><img src="{% static 'assets/images/landing/color-theme/1.jpg' %}"></a></div>
        </li>
        <li>
          <div class="color-secondary"><a href="{% url 'index' %}"><img src="{% static 'assets/images/landing/color-theme/2.jpg' %}"></a></div>
        </li>
        <li>
          <div class="color-success"><a href="{% url 'index' %}"><img src="{% static 'assets/images/landing/color-theme/3.jpg' %}"></a></div>
        </li>
        <li>
          <div class="color-danger"><a href="{% url 'index' %}"><img src="{% static 'assets/images/landing/color-theme/4.jpg' %}"></a></div>
        </li>
        <li>
          <div class="color-info"><a href="{% url 'index' %}"><img src="{% static 'assets/images/landing/color-theme/5.jpg' %}"></a></div>
        </li>
        <li>
          <div class="color-light"><a href="{% url 'index' %}"><img src="{% static 'assets/images/landing/color-theme/6.jpg' %}"></a></div>
        </li>
      </ul>
    </div>
  </section>