{% load static %}
<section class="unique-cards">
    <div class="title">
      <div class="logo-wrraper"><img class="img-fluid bg-img" src="{% static 'assets/images/logo/logo-icon.png' %}" alt=""></div>
      <h2>unique cards</h2>
    </div>
    <div class="custom-container">
      <div class="row">
        <div class="col-lg-3">
          <div class="row">
            <div class="col-lg-12 col-sm-6 lan-col-50">
              <div class="card">
                <div class="img-wrraper"><img class="img-fluid bg-img" src="{% static 'assets/images/landing/unique-cards/1.jpg' %}" alt=""></div>
              </div>
            </div>
            <div class="col-lg-12 col-sm-6 lan-col-50">
              <div class="card">
                <div class="img-wrraper"><img class="img-fluid bg-img" src="{% static 'assets/images/landing/unique-cards/2.jpg' %}" alt=""></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="img-wrraper"><img class="img-fluid bg-img" src="{% static 'assets/images/landing/unique-cards/3.jpg' %}" alt=""></div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="img-wrraper"><img class="img-fluid bg-img" src="{% static 'assets/images/landing/unique-cards/4.jpg' %}" alt=""></div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-4">
                  <div class="card">
                    <div class="img-wrraper"><img class="img-fluid bg-img" src="{% static 'assets/images/landing/unique-cards/5.jpg' %}" alt=""></div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="card">
                    <div class="img-wrraper"><img class="img-fluid bg-img" src="{% static 'assets/images/landing/unique-cards/6.jpg' %}" alt=""></div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="card">
                    <div class="img-wrraper"><img class="img-fluid bg-img" src="{% static 'assets/images/landing/unique-cards/7.jpg' %}" alt=""></div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="card">
                    <div class="img-wrraper"><img class="img-fluid bg-img" src="{% static 'assets/images/landing/unique-cards/8.jpg' %}" alt=""></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="card">
                <div class="img-wrraper"><img class="img-fluid bg-img" src="{% static 'assets/images/landing/unique-cards/9.jpg' %}" alt=""></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="row">
            <div class="col-lg-12 col-sm-4 lan-col-50">
              <div class="card">
                <div class="img-wrraper"><img class="img-fluid bg-img" src="{% static 'assets/images/landing/unique-cards/10.jpg' %}" alt=""></div>
              </div>
            </div>
            <div class="col-lg-12 col-sm-4 lan-col-50">
              <div class="card">
                <div class="img-wrraper"><img class="img-fluid bg-img" src="{% static 'assets/images/landing/unique-cards/11.jpg' %}" alt=""></div>
              </div>
            </div>
            <div class="col-lg-12 col-sm-4">
              <div class="card">
                <div class="img-wrraper"><img class="img-fluid bg-img" src="{% static 'assets/images/landing/unique-cards/12.jpg' %}" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>