{% load static %}
<section class="ecommerce ecommerce-home">
    <div class="ecommerce-home-slider owl-carousel owl-theme">
        <div class="item">
            <img alt="#" class="bg-img" src="{% static 'assets/images/ecommerce/1.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-sm-8">
                        <div class="contain">
                            <div>
                                <h1>Exclusive Offer</h1>
                                <p>I must explain to you how all this mistaken idea of denouncing pleasure and
                                    praising pain was born and I will give you a complete account of the system.</p>
                                <a class="btn btn-default primary-btn  radius-0" href="#">View all</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <img alt="#" class="bg-img" src="{% static 'assets/images/ecommerce/2.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-sm-8">
                        <div class="contain">
                            <div>
                                <h1>Big collection</h1>
                                <p>I must explain to you how all this mistaken idea of denouncing pleasure and
                                    praising pain was born and I will give you a complete account of the system.</p>
                                <a class="btn btn-default primary-btn  radius-0" href="#">View all</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ecommerce collection">
    <div class="container">
        <div class="row banner-three">
            <div class="col-md-4">
                <div class="main-wrapper">
                    <img alt="#" class="bg-img" src="{% static 'assets/images/inner-page/collection/3.jpg' %}">
                    <div class="banner-contain">
                        <a class="btn btn-default primary-btn  radius-0" href="#">View all</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="main-wrapper">
                    <img alt="#" class="bg-img" src="{% static 'assets/images/inner-page/collection/5.jpg' %}">
                    <div class="banner-contain">
                        <a class="btn btn-default primary-btn  radius-0" href="#">View all</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="main-wrapper">
                    <img alt="#" class="bg-img" src="{% static 'assets/images/inner-page/collection/6.jpg' %}">
                    <div class="banner-contain">
                        <a class="btn btn-default primary-btn  radius-0" href="#">View all</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>