{% load static %}
<section class="ecommerce feature-product">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <div class="title title2">
                    <div class="sub-title">
                        <div>
                            <h2 class="title-text">Newest Product</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="product-slider owl-carousel owl-theme">
                    <div class="item">
                        <div class="product-box">
                            <a class="badge badge-light" href="#">On sale</a>
                            <div class="img-wrapper">
                                <div class="front">
                                    <a href="#"><img alt=""
                                                     class="img-fluid" src="{% static 'assets/images/inner-page/category/2.jpg' %}"></a>
                                </div>
                                <div class="back">
                                    <a href="#"><img alt=""
                                                     class="img-fluid" src="{% static 'assets/images/inner-page/category/4.jpg' %}"></a>
                                </div>
                                <div class="cart-info cart-wrap">
                                    <a href="#" title="Add to cart"><i aria-hidden="true"
                                                                       class="fa fa-shopping-cart"></i>
                                    </a>
                                    <a href="javascript:void(0)" title="Add to Wishlist"><i aria-hidden="true"
                                                                                            class="fa fa-heart-o"></i></a>
                                    <a data-bs-target="#quick-view" data-bs-toggle="modal" href="#" title="Quick View"><i
                                            aria-hidden="true" class="fa fa-search"></i></a> <a href="{% url 'shop_pages_compare' %}"
                                                                                                title="Compare"><i
                                        aria-hidden="true" class="fa fa-refresh"></i></a></div>
                            </div>
                            <div class="product-detail">
                                <a href="{% url 'shop_product_no_sidebar' %}"><h6>Slim Fit Cotton
                                    Shirt</h6></a>
                                <h4>$500.00</h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-box">
                            <div class="img-wrapper">
                                <a class="badge badge-dark" href="#">50% off</a>
                                <div class="front">
                                    <a href="#">
                                        <img alt="" class="img-fluid"
                                             src="{% static 'assets/images/inner-page/category/5.jpg' %}">
                                    </a>
                                </div>
                                <div class="back">
                                    <a href="#">
                                        <img alt="" class="img-fluid"
                                             src="{% static 'assets/images/inner-page/category/1.jpg' %}">
                                    </a>
                                </div>
                                <div class="cart-info cart-wrap">
                                    <a href="#" title="Add to cart">
                                        <i aria-hidden="true" class="fa fa-shopping-cart"></i>
                                    </a>
                                    <a href="javascript:void(0)" title="Add to Wishlist">
                                        <i aria-hidden="true" class="fa fa-heart-o"></i>
                                    </a>
                                    <a data-bs-target="#quick-view" data-bs-toggle="modal" href="#" title="Quick View">
                                        <i aria-hidden="true" class="fa fa-search"></i>
                                    </a>
                                    <a href="{% url 'shop_pages_compare' %}" title="Compare">
                                        <i aria-hidden="true" class="fa fa-refresh"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product-detail">
                                <div>
                                    <a href="{% url 'shop_product_no_sidebar' %}"><h6>Slim Fit Cotton Shirt</h6></a>
                                    <h4>$500.00</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-box">
                            <div class="img-wrapper">
                                <div class="front">
                                    <a href="#"><img alt=""
                                                     class="img-fluid" src="{% static 'assets/images/inner-page/category/3.jpg' %}"></a>
                                </div>
                                <div class="back">
                                    <a href="#"><img alt=""
                                                     class="img-fluid" src="{% static 'assets/images/inner-page/category/2.jpg' %}"></a>
                                </div>
                                <div class="cart-info cart-wrap">
                                    <a href="#" title="Add to cart"><i aria-hidden="true"
                                                                       class="fa fa-shopping-cart"></i>
                                    </a>
                                    <a href="javascript:void(0)" title="Add to Wishlist"><i aria-hidden="true"
                                                                                            class="fa fa-heart-o"></i></a>
                                    <a data-bs-target="#quick-view" data-bs-toggle="modal" href="#" title="Quick View"><i
                                            aria-hidden="true" class="fa fa-search"></i></a> <a href="{% url 'shop_pages_compare' %}"
                                                                                                title="Compare"><i
                                        aria-hidden="true" class="fa fa-refresh"></i></a></div>
                            </div>
                            <div class="product-detail">
                                <a href="{% url 'shop_product_no_sidebar' %}"><h6>Slim Fit Cotton
                                    Shirt</h6></a>
                                <h4>$500.00</h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-box">
                            <a class="badge badge-dark" href="#">Sale</a>
                            <div class="img-wrapper">
                                <div class="front">
                                    <a href="#"><img alt=""
                                                     class="img-fluid" src="{% static 'assets/images/inner-page/category/4.jpg' %}"></a>
                                </div>
                                <div class="back">
                                    <a href="#"><img alt=""
                                                     class="img-fluid" src="{% static 'assets/images/inner-page/category/1.jpg' %}"></a>
                                </div>
                                <div class="cart-info cart-wrap">
                                    <a href="#" title="Add to cart"><i aria-hidden="true"
                                                                       class="fa fa-shopping-cart"></i>
                                    </a>
                                    <a href="javascript:void(0)" title="Add to Wishlist"><i aria-hidden="true"
                                                                                            class="fa fa-heart-o"></i></a>
                                    <a data-bs-target="#quick-view" data-bs-toggle="modal" href="#" title="Quick View"><i
                                            aria-hidden="true" class="fa fa-search"></i></a> <a href="{% url 'shop_pages_compare' %}"
                                                                                                title="Compare"><i
                                        aria-hidden="true" class="fa fa-refresh"></i></a></div>
                            </div>
                            <div class="product-detail">
                                <a href="{% url 'shop_product_no_sidebar' %}"><h6>Slim Fit Cotton
                                    Shirt</h6></a>
                                <h4>$500.00</h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="product-box">
                            <a class="badge badge-success" href="#">5% off</a>
                            <div class="img-wrapper">
                                <div class="front">
                                    <a href="#"><img alt=""
                                                     class="img-fluid" src="{% static 'assets/images/inner-page/category/2.jpg' %}"></a>
                                </div>
                                <div class="back">
                                    <a href="#"><img alt=""
                                                     class="img-fluid" src="{% static 'assets/images/inner-page/category/2.jpg' %}"></a>
                                </div>
                                <div class="cart-info cart-wrap">
                                    <a href="#" title="Add to cart"><i aria-hidden="true"
                                                                       class="fa fa-shopping-cart"></i>
                                    </a>
                                    <a href="javascript:void(0)" title="Add to Wishlist"><i aria-hidden="true"
                                                                                            class="fa fa-heart-o"></i></a>
                                    <a data-bs-target="#quick-view" data-bs-toggle="modal" href="#" title="Quick View"><i
                                            aria-hidden="true" class="fa fa-search"></i></a> <a href="{% url 'shop_pages_compare' %}"
                                                                                                title="Compare"><i
                                        aria-hidden="true" class="fa fa-refresh"></i></a></div>
                            </div>
                            <div class="product-detail">
                                <a href="{% url 'shop_product_no_sidebar' %}"><h6>Slim Fit Cotton
                                    Shirt</h6></a>
                                <h4>$500.00</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>