{% load static %}
<section class="ecommerce-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="title title2">
                    <div class="sub-title">
                        <div>
                            <h2 class="title-text">Special Products</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 filter-section">
                <div class="filter-container isotopeFilters">
                    <ul class="list-inline filter">
                        <li class="active"><a data-filter="*" href="#">All</a></li>
                        <li><a data-filter=".new" href="#">New</a></li>
                        <li><a data-filter=".trending" href="#">Trending</a></li>
                        <li><a data-filter=".branding" href="#">Western</a></li>
                        <li><a data-filter=".Traditional" href="#">Traditional</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="isotopeContainer row">
            <div class="col-lg-3 col-sm-6 isotopeSelector branding new ">
                <div class="product-box">
                    <a class="badge badge-success" href="#">On sale</a>
                    <div class="img-wrapper">
                        <div class="front">
                            <a href="#"><img alt="" class="img-fluid"
                                             src="{% static 'assets/images/inner-page/category/2.jpg' %}"></a>
                        </div>
                        <div class="back">
                            <a href="#"><img alt="" class="img-fluid"
                                             src="{% static 'assets/images/inner-page/category/4.jpg' %}"></a>
                        </div>
                        <div class="cart-info cart-wrap">
                            <a href="#" title="Add to cart"><i aria-hidden="true" class="fa fa-shopping-cart"></i>
                            </a>
                            <a href="javascript:void(0)" title="Add to Wishlist"><i aria-hidden="true"
                                                                                    class="fa fa-heart-o"></i></a> <a
                                data-bs-target="#quick-view" data-bs-toggle="modal" href="#" title="Quick View"><i
                                aria-hidden="true" class="fa fa-search"></i></a> <a href="{% url 'shop_pages_compare' %}"
                                                                                    title="Compare"><i
                                aria-hidden="true" class="fa fa-refresh"></i></a></div>
                    </div>
                    <div class="product-detail">
                        <a href="{% url 'shop_product_no_sidebar' %}"><h6>Slim Fit Cotton
                            Shirt</h6></a>
                        <h4>$500.00</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 isotopeSelector trending branding">
                <div class="product-box">
                    <a class="badge badge-dark" href="#">50%</a>
                    <div class="img-wrapper">
                        <div class="front">
                            <a href="#"><img alt="" class="img-fluid"
                                             src="{% static 'assets/images/inner-page/category/13.jpg' %}"></a>
                        </div>
                        <div class="back">
                            <a href="#"><img alt="" class="img-fluid"
                                             src="{% static 'assets/images/inner-page/category/2.jpg' %}"></a>
                        </div>
                        <div class="cart-info cart-wrap">
                            <a href="#" title="Add to cart"><i aria-hidden="true" class="fa fa-shopping-cart"></i>
                            </a>
                            <a href="javascript:void(0)" title="Add to Wishlist"><i aria-hidden="true"
                                                                                    class="fa fa-heart-o"></i></a> <a
                                data-bs-target="#quick-view" data-bs-toggle="modal" href="#" title="Quick View"><i
                                aria-hidden="true" class="fa fa-search"></i></a> <a href="{% url 'shop_pages_compare' %}"
                                                                                    title="Compare"><i
                                aria-hidden="true" class="fa fa-refresh"></i></a></div>
                    </div>
                    <div class="product-detail">
                        <a href="{% url 'shop_product_no_sidebar' %}"><h6>Slim Fit Cotton
                            Shirt</h6></a>
                        <h4>$500.00</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 isotopeSelector branding new trending">
                <div class="product-box">
                    <a class="badge badge-light" href="#">On sale</a>
                    <div class="img-wrapper">
                        <div class="front">
                            <a href="#"><img alt="" class="img-fluid"
                                             src="{% static 'assets/images/inner-page/category/4.jpg' %}"></a>
                        </div>
                        <div class="back">
                            <a href="#"><img alt="" class="img-fluid"
                                             src="{% static 'assets/images/inner-page/category/1.jpg' %}"></a>
                        </div>
                        <div class="cart-info cart-wrap">
                            <a href="#" title="Add to cart"><i aria-hidden="true" class="fa fa-shopping-cart"></i>
                            </a>
                            <a href="javascript:void(0)" title="Add to Wishlist"><i aria-hidden="true"
                                                                                    class="fa fa-heart-o"></i></a> <a
                                data-bs-target="#quick-view" data-bs-toggle="modal" href="#" title="Quick View"><i
                                aria-hidden="true" class="fa fa-search"></i></a> <a href="{% url 'shop_pages_compare' %}"
                                                                                    title="Compare"><i
                                aria-hidden="true" class="fa fa-refresh"></i></a></div>
                    </div>
                    <div class="product-detail">
                        <a href="{% url 'shop_product_no_sidebar' %}"><h6>Slim Fit Cotton
                            Shirt</h6></a>
                        <h4>$500.00</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 isotopeSelector trending Traditional">
                <div class="product-box">
                    <a class="badge badge-light" href="#">On sale</a>
                    <div class="img-wrapper">
                        <div class="front">
                            <a href="#"><img alt="" class="img-fluid"
                                             src="{% static 'assets/images/inner-page/category/12.jpg' %}"></a>
                        </div>
                        <div class="back">
                            <a href="#"><img alt="" class="img-fluid"
                                             src="{% static 'assets/images/inner-page/category/2.jpg' %}"></a>
                        </div>
                        <div class="cart-info cart-wrap">
                            <a href="#" title="Add to cart"><i aria-hidden="true" class="fa fa-shopping-cart"></i>
                            </a>
                            <a href="javascript:void(0)" title="Add to Wishlist"><i aria-hidden="true"
                                                                                    class="fa fa-heart-o"></i></a> <a
                                data-bs-target="#quick-view" data-bs-toggle="modal" href="#" title="Quick View"><i
                                aria-hidden="true" class="fa fa-search"></i></a> <a href="{% url 'shop_pages_compare' %}"
                                                                                    title="Compare"><i
                                aria-hidden="true" class="fa fa-refresh"></i></a></div>
                    </div>
                    <div class="product-detail">
                        <a href="{% url 'shop_product_no_sidebar' %}"><h6>Slim Fit Cotton
                            Shirt</h6></a>
                        <h4>$500.00</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 isotopeSelector new Traditional">
                <div class="product-box">
                    <div class="img-wrapper">
                        <div class="front">
                            <a href="#"><img alt="" class="img-fluid"
                                             src="{% static 'assets/images/inner-page/category/11.jpg' %}"></a>
                        </div>
                        <div class="back">
                            <a href="#"><img alt="" class="img-fluid"
                                             src="{% static 'assets/images/inner-page/category/2.jpg' %}"></a>
                        </div>
                        <div class="cart-info cart-wrap">
                            <a href="#" title="Add to cart"><i aria-hidden="true" class="fa fa-shopping-cart"></i>
                            </a>
                            <a href="javascript:void(0)" title="Add to Wishlist"><i aria-hidden="true"
                                                                                    class="fa fa-heart-o"></i></a> <a
                                data-bs-target="#quick-view" data-bs-toggle="modal" href="#" title="Quick View"><i
                                aria-hidden="true" class="fa fa-search"></i></a> <a href="{% url 'shop_pages_compare' %}"
                                                                                    title="Compare"><i
                                aria-hidden="true" class="fa fa-refresh"></i></a></div>
                    </div>
                    <div class="product-detail">
                        <a href="{% url 'shop_product_no_sidebar' %}"><h6>Slim Fit Cotton
                            Shirt</h6></a>
                        <h4>$500.00</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 isotopeSelector new Traditional">
                <div class="product-box">
                    <div class="img-wrapper">
                        <div class="front">
                            <a href="#"><img alt="" class="img-fluid"
                                             src="{% static 'assets/images/inner-page/category/5.jpg' %}"></a>
                        </div>
                        <div class="back">
                            <a href="#"><img alt="" class="img-fluid"
                                             src="{% static 'assets/images/inner-page/category/2.jpg' %}"></a>
                        </div>
                        <div class="cart-info cart-wrap">
                            <a href="#" title="Add to cart"><i aria-hidden="true" class="fa fa-shopping-cart"></i>
                            </a>
                            <a href="javascript:void(0)" title="Add to Wishlist"><i aria-hidden="true"
                                                                                    class="fa fa-heart-o"></i></a> <a
                                data-bs-target="#quick-view" data-bs-toggle="modal" href="#" title="Quick View"><i
                                aria-hidden="true" class="fa fa-search"></i></a> <a href="{% url 'shop_pages_compare' %}"
                                                                                    title="Compare"><i
                                aria-hidden="true" class="fa fa-refresh"></i></a></div>
                    </div>
                    <div class="product-detail">
                        <a href="{% url 'shop_product_no_sidebar' %}"><h6>Slim Fit Cotton
                            Shirt</h6></a>
                        <h4>$500.00</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 isotopeSelector trending branding">
                <div class="product-box">
                    <a class="badge badge-dark" href="#">Trending</a>
                    <div class="img-wrapper">
                        <div class="front">
                            <a href="#"><img alt="" class="img-fluid"
                                             src="{% static 'assets/images/inner-page/category/3.jpg' %}"></a>
                        </div>
                        <div class="back">
                            <a href="#"><img alt="" class="img-fluid"
                                             src="{% static 'assets/images/inner-page/category/2.jpg' %}"></a>
                        </div>
                        <div class="cart-info cart-wrap">
                            <a href="#" title="Add to cart"><i aria-hidden="true" class="fa fa-shopping-cart"></i>
                            </a>
                            <a href="javascript:void(0)" title="Add to Wishlist"><i aria-hidden="true"
                                                                                    class="fa fa-heart-o"></i></a> <a
                                data-bs-target="#quick-view" data-bs-toggle="modal" href="#" title="Quick View"><i
                                aria-hidden="true" class="fa fa-search"></i></a> <a href="{% url 'shop_pages_compare' %}"
                                                                                    title="Compare"><i
                                aria-hidden="true" class="fa fa-refresh"></i></a></div>
                    </div>
                    <div class="product-detail">
                        <a href="{% url 'shop_product_no_sidebar' %}"><h6>Slim Fit Cotton
                            Shirt</h6></a>
                        <h4>$500.00</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 isotopeSelector Traditional">
                <div class="product-box">
                    <div class="img-wrapper">
                        <div class="front">
                            <a href="#"><img alt="" class="img-fluid"
                                             src="{% static 'assets/images/inner-page/category/1.jpg' %}"></a>
                        </div>
                        <div class="back">
                            <a href="#"><img alt="" class="img-fluid"
                                             src="{% static 'assets/images/inner-page/category/2.jpg' %}"></a>
                        </div>
                        <div class="cart-info cart-wrap">
                            <a href="#" title="Add to cart"><i aria-hidden="true" class="fa fa-shopping-cart"></i>
                            </a>
                            <a href="javascript:void(0)" title="Add to Wishlist"><i aria-hidden="true"
                                                                                    class="fa fa-heart-o"></i></a> <a
                                data-bs-target="#quick-view" data-bs-toggle="modal" href="#" title="Quick View"><i
                                aria-hidden="true" class="fa fa-search"></i></a> <a href="{% url 'shop_pages_compare' %}"
                                                                                    title="Compare"><i
                                aria-hidden="true" class="fa fa-refresh"></i></a></div>
                    </div>
                    <div class="product-detail">
                        <a href="{% url 'shop_product_no_sidebar' %}"><h6>Slim Fit Cotton
                            Shirt</h6></a>
                        <h4>$500.00</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="down-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0">
                <div class="small-banner">
                    <img alt="full banner" class="bg-img" src="{% static 'assets/images/ecommerce/full-banner2.jpg' %}">
                </div>
            </div>
            <div class="container">
                <div class="banner-contain">
                    <div>
                        <h3>Buy it and get 50% discount</h3>
                        <a class="btn btn-default primary-btn  radius-0 mt-3" href="#">View all</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>