{% extends 'home/yoga_layout/components/yoga-base.html' %}{% load static %}
{% block content %}
<!--loader start-->
<div class="loader-wrapper">
    <div class="loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!--loader end-->
<!-- Nav Start-->
{% include 'home/yoga_layout/components/navbar.html' %}
<!-- Nav end-->
<!-- header Start-->
{% include 'home/yoga_layout/components/header.html' %}
<!-- header end-->
<!--experience section start-->
{% include 'home/yoga_layout/components/experience.html' %}
<!--experience section end-->
<!--schedule section start-->
{% include 'home/yoga_layout/components/schedule.html' %}
<!--schedule section end-->
<!--expert section start-->
{% include 'home/yoga_layout/components/expert.html' %}
<!--expert section end-->
<!-- testimonial section Start-->
{% include 'home/yoga_layout/components/testimonial.html' %}
<!-- testimonial section end-->
<!-- pricing section start-->
{% include 'home/yoga_layout/components/pricing.html' %}
<!-- pricing section end-->
<!-- subscribe section start-->
{% include 'home/yoga_layout/components/subscribe.html' %}
<!-- subscribe section end-->
<!-- blog section start-->
{% include 'home/yoga_layout/components/blog.html' %}
<!-- blog section end-->
<!-- event section start-->
{% include 'home/yoga_layout/components/event.html' %}
<!-- event section end-->
<!-- brand section start-->
{% include 'home/yoga_layout/components/brand.html' %}
<!-- brand section end-->
<!-- copyright section start-->
{% include 'home/yoga_layout/components/copyright.html' %}
<!-- copyright section end-->
{% endblock content %}