{% extends 'base.html' %}{% load static %}
{% block content %}

<!--breadcrumb section start-->
<section class="agency breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="breadcrumb-text text-center">blog with no-sidebar</h2>
                <ul class="breadcrumb justify-content-center">
                    <li><a href="#">blog</a></li>
                    <li><a href="#">blog list view </a></li>
                    <li>no sidebar</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end-->

<!-- section start -->
<section class="agency blog blog-sec blog-list">
    <div class="container">
        <div class="row">
            {% include 'blog/blog-list-view/blog-list-nosidebar/components/blog-top.html' %}
            {% include 'blog/blog-list-view/blog-list-nosidebar/components/blog-bottom.html' %}
        </div>
    </div>
</section>
{% endblock content %}