{% load static %}

<!-- counter-3 section start -->
<section class="p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text text-uppercase m-b-0">
                            <span>counter 3</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wedding counter bg-light-inner">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/wedding-img/icon/1.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="counts text-center">14</h2>
                        </div>
                        <h6 class="count-desc text-center">Total Topics</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/wedding-img/icon/2.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="counts text-center">8</h2>
                        </div>
                        <h6 class="count-desc text-center">Total Speaker</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/wedding-img/icon/3.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="counts text-center">28</h2>
                        </div>
                        <h6 class="count-desc text-center">Total event</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/wedding-img/icon/4.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="counts text-center">9195</h2>
                        </div>
                        <h6 class="count-desc text-center">Total attendance</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- counter-3 section end -->

<!-- counter-4 section start -->
<section class="p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text text-uppercase m-b-0">
                            <span>counter 4</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="event counter set-relative bg bg-img3 bg-about">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/event/counter/1.png' %}">
                    <div class="counter-text">
                        <h2 class="count-number text-center text-white counts">14</h2>
                        <h6 class="count-desc text-center text-white">Total Topics</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/event/counter/2.png' %}">
                    <div class="counter-text">
                        <h2 class="count-number text-center text-white counts">8</h2>
                        <h6 class="count-desc text-center text-white">Total Speaker</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/event/counter/3.png' %}">
                    <div class="counter-text">
                        <h2 class="count-number text-center text-white counts">28</h2>
                        <h6 class="count-desc text-center text-white">Total event</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/event/counter/4.png' %}">
                    <div class="counter-text">
                        <h2 class="count-number text-center text-white counts">9195</h2>
                        <h6 class="count-desc text-center text-white">Total attendance</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>