
{% extends 'base.html' %}{% load static %}
{% block css %}
<!--magnific popup css-->
<link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}

<!--breadcrumb section start-->
<section class="agency breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="breadcrumb-text text-center">blog with video-layout</h2>
                <ul class="breadcrumb justify-content-center">

                    <li><a href="#">blog</a></li>
                    <li><a href="#">blog details</a></li>
                    <li>video layout</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end-->

<!-- section start -->
<section class="agency blog-sec blog-sidebar single_blog_item videos">
    <div class="container">
        <div class="row">
            {% include 'blog/blog-details/blog-detail-video/components/blog-main.html' %}
            {% include 'blog/blog-details/blog-detail-video/components/blog-side.html' %}
        </div>
    </div>
</section>
{% endblock content %}
{% block scriptcontent %}
<!--magnific popup js-->
<script src="{% static 'assets/js/magnific-popup.js' %}"></script>
<script src="{% static 'assets/js/isotope.min.js' %}"></script>
<script src="{% static 'assets/js/portfolio.js' %}"></script>
<!-- script js-->
<script src="{% static 'assets/js/video-popup.js' %}"></script>
{% endblock scriptcontent %}