{% load static %}
<section>
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-10 col-xs-12 order-up">
                    <div class="product-right-slick">
                        <div><img alt="" class="img-fluid image_zoom_cls-0"
                                  src="{% static 'assets/images/inner-page/category/11.jpg' %}"></div>
                        <div><img alt="" class="img-fluid image_zoom_cls-1"
                                  src="{% static 'assets/images/inner-page/category/12.jpg' %}"></div>
                        <div><img alt="" class="img-fluid image_zoom_cls-2"
                                  src="{% static 'assets/images/inner-page/category/13.jpg' %}"></div>
                        <div><img alt="" class="img-fluid image_zoom_cls-3"
                                  src="{% static 'assets/images/inner-page/category/5.jpg' %}"></div>
                    </div>
                </div>
                <div class="col-lg-1 col-sm-2 col-xs-12">
                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="slider-right-nav">
                                <div><img alt="" class="img-fluid" src="{% static 'assets/images/inner-page/category/11.jpg' %}">
                                </div>
                                <div><img alt="" class="img-fluid" src="{% static 'assets/images/inner-page/category/12.jpg' %}">
                                </div>
                                <div><img alt="" class="img-fluid" src="{% static 'assets/images/inner-page/category/13.jpg' %}">
                                </div>
                                <div><img alt="" class="img-fluid" src="{% static 'assets/images/inner-page/category/5.jpg' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="product-right product-description-box">
                        <h2 class="m-b-20 m-t-20">Women Pink Shirt</h2>
                        <div class="border-product">
                            <h6 class="product-title">product details</h6>
                            <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem,</p>
                        </div>
                        <div class="single-product-tables border-product detail-section">
                            <table>
                                <tbody>
                                <tr>
                                    <td>Febric:</td>
                                    <td>Chiffon</td>
                                </tr>
                                <tr>
                                    <td>Color:</td>
                                    <td>Red</td>
                                </tr>
                                <tr>
                                    <td>Material:</td>
                                    <td>Crepe printed</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="border-product">
                            <h6 class="product-title mb-2">share it</h6>
                            <div class="product-icon">
                                <ul class="product-social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                                <form class="d-inline-block">
                                    <button class="wishlist-btn"><i class="fa fa-heart"></i><span class="title-font">Add To WishList</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="border-product pb-0">
                            <h6 class="product-title">100% SECURE PAYMENT</h6>
                            <div class="payment-card-bottom">
                                <ul class="d-flex">
                                    <li>
                                        <a href="#"><img alt="" src="{% static 'assets/images/inner-page/product/visa.png' %}"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img alt=""
                                                         src="{% static 'assets/images/inner-page/product/mastercard.png' %}"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img alt=""
                                                         src="{% static 'assets/images/inner-page/product/paypal.png' %}"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img alt=""
                                                         src="{% static 'assets/images/inner-page/product/american-express.png' %}"></a>
                                    </li>
                                    <li>
                                        <a href="#"><img alt="" src="{% static 'assets/images/inner-page/product/discover.png' %}"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="product-right product-form-box">
                        <h4>
                            <del>$459.00</del>
                            <span>55% off</span></h4>
                        <h3>$32.96</h3>
                        <ul class="color-variant">
                            <li class="bg-light0"></li>
                            <li class="bg-light1"></li>
                            <li class="bg-light2"></li>
                        </ul>
                        <div class="product-description border-product">
                            <h6 class="product-title">select size</h6>
                            <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="sizemodal"
                                 role="dialog" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Sheer Straight Kurta</h5>
                                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                                                </button>
                                        </div>
                                        <div class="modal-body"><img
                                                alt="" class="img-fluid"
                                                src="{% static 'assets/images/inner-page/product/size-chart.jpg' %}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="size-box">
                                <ul>
                                    <li class="active"><a href="#">s</a></li>
                                    <li><a href="#">m</a></li>
                                    <li><a href="#">l</a></li>
                                    <li><a href="#">xl</a></li>
                                </ul>
                            </div>
                            <h6 class="product-title">quantity</h6>
                            <div class="qty-box">
                                <div class="input-group"><span class="input-group-prepend"><button class="btn quantity-left-minus"
                                                                                                   data-field=""
                                                                                                   data-type="minus"
                                                                                                   type="button"><i
                                        class="fa fa-chevron-left"></i></button>
                                </span>
                                    <input class="form-control input-number" name="quantity" type="text" value="1">
                                    <span class="input-group-prepend"><button class="btn quantity-right-plus"
                                                                              data-field=""
                                                                              data-type="plus" type="button"><i
                                            class="fa fa-chevron-right"></i></button></span></div>
                            </div>
                        </div>
                        <div class="product-buttons"><a class="btn btn-default primary-btn radius-0" data-bs-target="#addtocart" data-bs-toggle="modal"
                                                        href="#">add to cart</a>
                            <a class="btn btn-default primary-btn radius-0" href="#">buy now</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>