{% load static %}
<div class="card">
    <div class="card-header"><h3 class="card-head">basic Alerts</h3></div>
    <div class="card-body">
        <div class="alert alert-primary dark" role="alert">This is a info alert—check it out!</div>
        <div class="alert alert-secondary dark" role="alert">This is a light alert—check it out!</div>
        <div class="alert alert-success dark" role="alert">This is a success alert—check it out!</div>
        <div class="alert alert-info dark" role="alert">This is a danger alert—check it out!</div>
        <div class="alert alert-warning dark" role="alert">This is a secondary alert—check it out!</div>
        <div class="alert alert-danger dark" role="alert">This is a warning alert—check it out!</div>
        <div class="alert alert-dark dark mb-0" role="alert">This is a dark alert—check it out!</div>
    </div>
</div>
<div class="card">
    <div class="card-header"><h3 class="card-head">link Alerts</h3></div>
    <div class="card-body">
        <div class="alert alert-primary dark" role="alert">
            <a href="#">This is a info alert—check it out!</a>
        </div>
        <div class="alert alert-secondary dark" role="alert">
            <a href="#">This is a info alert—check it out!</a>
        </div>
        <div class="alert alert-success dark" role="alert">
            <a href="#">This is a info alert—check it out!</a>
        </div>
        <div class="alert alert-info dark" role="alert">
            <a href="#">This is a info alert—check it out!</a>
        </div>
        <div class="alert alert-warning dark" role="alert">
            <a href="#">This is a info alert—check it out!</a>
        </div>
        <div class="alert alert-danger dark" role="alert">
            <a href="#">This is a info alert—check it out!</a>
        </div>
        <div class="alert alert-dark dark mb-0" role="alert">
            <a href="#">This is a info alert—check it out!</a>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header"><h3 class="card-head">outline Alerts</h3></div>
    <div class="card-body">
        <div class="alert alert-primary dark outline" role="alert">This is a info alert—check it out!
        </div>
        <div class="alert alert-secondary dark outline" role="alert">This is a light alert—check it
            out!
        </div>
        <div class="alert alert-success dark outline" role="alert">This is a success alert—check it
            out!
        </div>
        <div class="alert alert-info dark outline" role="alert">This is a danger alert—check it out!
        </div>
        <div class="alert alert-warning dark outline" role="alert">This is a secondary alert—check it
            out!
        </div>
        <div class="alert alert-danger dark outline" role="alert">This is a warning alert—check it
            out!
        </div>
        <div class="alert alert-dark dark outline mb-0" role="alert">This is a dark alert—check it
            out!
        </div>
    </div>
</div>