{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Unice" name="description">
    <meta content="Unice" name="keywords">
    <meta content="Unice" name="author">
    <title>Unice</title>

    <!-- Fav icon -->
    <link href="{% static 'assets/images/logo/favicon.png' %}" rel="shortcut icon">

    <!-- Font Family-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <!--bootstrap css-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">

    <!-- color css -->
    <link href="{% static 'assets/css/color-10.css' %}" rel="stylesheet" type="text/css">

    <!--keyframe css-->
    <link href="{% static 'assets/css/keyframes.css' %}" rel="stylesheet">

    <!--owl carousel css-->
    <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet">

    <!-- Icons -->
    <link href="{% static 'assets/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/themify.css' %}" rel="stylesheet" type="text/css">

    <!--magnific popup css-->
    <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet">


</head>
<body data-offset="50" data-spy="scroll" data-bs-target=".navbar" class="">
<!--loader start-->
<div class="loader-wrapper">
    <div class="loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!--loader end-->

<!-- Nav Start-->
<header class="yoga loding-header nav-abs custom-scroll header-rel">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar-expand-lg theme-nav w-100">
                    <a class="logo-responsive navbar-brand" href="{% url 'yoga' %}"><img
                            alt="logo" class="logo-abs h-auto" src="{% static 'assets/images/logo/1.png' %}"></a>
                    <div class="responsive-btn ms-auto"><a class="toggle-nav" href="#"><i aria-hidden="true"
                                                                                          class="fa fa-bars"></i></a>
                    </div>
                    <div class="navbar ms-md-auto ms-lg-0 res-width" id="togglebtn">
                        <div class="responsive-btn">
                            <h5 class="btn-back">back</h5>
                        </div>
                        <ul class="navbar-nav me-auto main-menu">
                            <li><a class="dropdown" href="#">home</a>
                                <ul>
                                    <li><a href="{% url 'agency' %}">agency</a></li>
                                    <li><a href="{% url 'index' %}">app landing 1</a></li>
                                    <li><a href="{% url 'app_landing_2' %}">app landing 2</a></li>
                                    <li><a href="{% url 'event' %}">event</a></li>
                                    <li><a href="{% url 'gym' %}">gym</a></li>
                                    <li><a href="{% url 'music' %}">music</a></li>
                                    <li><a href="{% url 'resume' %}">resume</a></li>
                                    <li><a href="{% url 'saas1' %}">saas1</a></li>
                                    <li><a href="{% url 'saas2' %}">saas2</a></li>
                                    <li><a href="{% url 'wedding' %}">wedding</a></li>
                                    <li><a href="{% url 'yoga' %}">yoga</a></li>
                                    <li><a href="{% url 'ecommerce' %}">Ecommerce</a></li>
                                    <li><a href="{% url 'portfolio_metro' %}">portfolio-metro</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown" href="#">blog</a>
                                                                <ul>

                                    <li class="sub-menu"><a class="sub-menu-title" href="#">blog grid view</a>
                                        <ul>
                                            <li><a href="{% url 'left_sidebar' %}">left sidebar</a></li>
                                            <li><a href="{% url 'right_sidebar' %}">Right sidebar</a></li>
                                            <li><a href="{% url 'no_sidebar' %}">No sidebar</a></li>

                                            <li><a href="{% url 'full_width_left__sidebar' %}">full width left sidebar</a></li>
                                            <li><a href="{% url 'full_width_right_sidebar' %}">full width right sidebar</a></li>
                                            <li><a href="{% url 'full_width_no_sidebar' %}">full width no sidebar</a></li>
                                        </ul>
                                    </li>

                                    <li class="sub-menu"><a class="sub-menu-title" href="#">blog List view</a>
                                        <ul>

                                            <li><a href="{% url 'list_view_left_sidebar' %}">Left sidebar</a></li>
                                            <li><a href="{% url 'list_view_right_sidebar' %}">Right sidebar</a></li>
                                            <li><a href="{% url 'list_view_no_sidebar' %}">No sidebar</a></li>

                                        </ul>
                                    </li>

                                    <li class="sub-menu"><a class="sub-menu-title" href="#">blog List Creative</a>
                                        <ul>
                                            <li><a href="{% url 'creative_left_sidebar' %}">left sidebar</a>
                                            </li>
                                            <li><a href="{% url 'creative_right_sidebar' %}">right sidebar</a>
                                            </li>
                                            <li><a href="{% url 'creative_no_sidebar' %}">No sidebar</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="sub-menu"><a class="sub-menu-title" href="#">blog mix layout</a>
                                        <ul>
                                            <li><a href="{% url 'list_mix_with_left_sidebar' %}">List mix with Left sidebar</a></li>
                                            <li><a href="{% url 'list_mix_with_right_sidebar' %}">List mix with right sidebar</a></li>
                                            <li><a href="{% url 'list_mix_with_no_sidebar' %}">List mix with no sidebar</a></li>
                                            <li><a href="{% url 'list_full_width_no_sidebar' %}">List full width no sidebar</a></li>
                                            <li><a href="{% url 'grid_mix_with_right_sidebar' %}">grid mix with right sidebar</a></li>
                                            <li><a href="{% url 'grid_mix_with_no_sidebar' %}">grid mix with no sidebar</a></li>
                                        </ul>
                                    </li>

                                    <li class="sub-menu"><a class="sub-menu-title" href="#">blog details</a>
                                        <ul>
                                            <li><a href="{% url 'details_left_sidebar' %}">Left sidebar</a></li>
                                            <li><a href="{% url 'details_right_sidebar' %}">Right sidebar</a></li>
                                            <li><a href="{% url 'details_no_sidebar' %}">No sidebar</a></li>
                                            <li><a href="{% url 'details_gallery_layout' %}">gallery layout</a></li>
                                            <li><a href="{% url 'details_video_layout' %}">Video layout</a></li>
                                        </ul>
                                    </li>

                                    <li class="sub-menu"><a class="sub-menu-title" href="#">blog masonry</a>
                                        <ul>
                                            <li><a href="{% url 'masonry_2_columns' %}">2 columns</a></li>
                                            <li><a href="{% url 'masonry_3_columns' %}">3 columns</a></li>
                                            <li><a href="{% url 'masonry_4_columns' %}">4 columns</a></li>
                                            <li><a href="{% url 'masonry_left_columns' %}">left columns</a></li>
                                            <li><a href="{% url 'masonry_right_sidebar' %}">right sidebar</a></li>
                                            <li><a href="{% url 'masonry_no_sidebar' %}"> no sidebar</a></li>
                                            <li><a href="{% url 'masonry_grid_list_mix' %}">Grid list mix</a></li>
                                            <li><a href="{% url 'masonry_grid_list_creative_mix' %}">Grid list creative mix</a></li>
                                        </ul>
                                    </li>

                                </ul>                                <ul>

                                    <li class="sub-menu"><a class="sub-menu-title" href="#">blog grid view</a>
                                        <ul>
                                            <li><a href="{% url 'left_sidebar' %}">left sidebar</a></li>
                                            <li><a href="{% url 'right_sidebar' %}">Right sidebar</a></li>
                                            <li><a href="{% url 'no_sidebar' %}">No sidebar</a></li>

                                            <li><a href="{% url 'full_width_left__sidebar' %}">full width left sidebar</a></li>
                                            <li><a href="{% url 'full_width_right_sidebar' %}">full width right sidebar</a></li>
                                            <li><a href="{% url 'full_width_no_sidebar' %}">full width no sidebar</a></li>
                                        </ul>
                                    </li>

                                    <li class="sub-menu"><a class="sub-menu-title" href="#">blog List view</a>
                                        <ul>

                                            <li><a href="{% url 'list_view_left_sidebar' %}">Left sidebar</a></li>
                                            <li><a href="{% url 'list_view_right_sidebar' %}">Right sidebar</a></li>
                                            <li><a href="{% url 'list_view_no_sidebar' %}">No sidebar</a></li>

                                        </ul>
                                    </li>

                                    <li class="sub-menu"><a class="sub-menu-title" href="#">blog List Creative</a>
                                        <ul>
                                            <li><a href="{% url 'creative_left_sidebar' %}">left sidebar</a>
                                            </li>
                                            <li><a href="{% url 'creative_right_sidebar' %}">right sidebar</a>
                                            </li>
                                            <li><a href="{% url 'creative_no_sidebar' %}">No sidebar</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="sub-menu"><a class="sub-menu-title" href="#">blog mix layout</a>
                                        <ul>
                                            <li><a href="{% url 'list_mix_with_left_sidebar' %}">List mix with Left sidebar</a></li>
                                            <li><a href="{% url 'list_mix_with_right_sidebar' %}">List mix with right sidebar</a></li>
                                            <li><a href="{% url 'list_mix_with_no_sidebar' %}">List mix with no sidebar</a></li>
                                            <li><a href="{% url 'list_full_width_no_sidebar' %}">List full width no sidebar</a></li>
                                            <li><a href="{% url 'grid_mix_with_right_sidebar' %}">grid mix with right sidebar</a></li>
                                            <li><a href="{% url 'grid_mix_with_no_sidebar' %}">grid mix with no sidebar</a></li>
                                        </ul>
                                    </li>

                                    <li class="sub-menu"><a class="sub-menu-title" href="#">blog details</a>
                                        <ul>
                                            <li><a href="{% url 'details_left_sidebar' %}">Left sidebar</a></li>
                                            <li><a href="{% url 'details_right_sidebar' %}">Right sidebar</a></li>
                                            <li><a href="{% url 'details_no_sidebar' %}">No sidebar</a></li>
                                            <li><a href="{% url 'details_gallery_layout' %}">gallery layout</a></li>
                                            <li><a href="{% url 'details_video_layout' %}">Video layout</a></li>
                                        </ul>
                                    </li>

                                    <li class="sub-menu"><a class="sub-menu-title" href="#">blog masonry</a>
                                        <ul>
                                            <li><a href="{% url 'masonry_2_columns' %}">2 columns</a></li>
                                            <li><a href="{% url 'masonry_3_columns' %}">3 columns</a></li>
                                            <li><a href="{% url 'masonry_4_columns' %}">4 columns</a></li>
                                            <li><a href="{% url 'masonry_left_columns' %}">left columns</a></li>
                                            <li><a href="{% url 'masonry_right_sidebar' %}">right sidebar</a></li>
                                            <li><a href="{% url 'masonry_no_sidebar' %}"> no sidebar</a></li>
                                            <li><a href="{% url 'masonry_grid_list_mix' %}">Grid list mix</a></li>
                                            <li><a href="{% url 'masonry_grid_list_creative_mix' %}">Grid list creative mix</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a class="dropdown" href="#">pages</a>
                                <ul>
                                    <li><a href="{% url 'pages_404' %}">404</a></li>
                                    <li><a href="{% url 'faqs' %}">faqs</a></li>
                                    <li><a href="{% url 'collection' %}">collection</a></li>
                                    <li><a href="{% url 'typography' %}">typography</a></li>
                                    <li><a href="{% url 'maintenance' %}">Maintenance</a></li>
                                    <li><a href="{% url 'about_us' %}">About us</a></li>
                                    <li class="sub-menu"><a href="#">team</a>
                                        <ul>
                                            <li><a class="sub-menu-title" href="{% url 'team' %}">team</a></li>
                                            <li><a href="{% url 'team_grid' %}">team grid</a></li>
                                            <li><a href="{% url 'team_list' %}">team list</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-menu"><a class="sub-menu-title" href="#">coming soon</a>
                                        <ul>
                                            <li><a href="{% url 'coming_soon_1' %}">coming soon 1</a></li>
                                            <li><a href="{% url 'coming_soon_2' %}">coming soon 2</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="navbar-nav ms-auto main-menu">
                            <li class="mega-menu"><a class="dropdown" href="#">elements</a>
                                <div class="mega-menu-container resize">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="menu-container">
                                                    <ul>
                                                        <li><a href="{% url 'alerts' %}">alerts</a></li>
                                                        <li><a href="{% url 'accordion' %}">accordion</a></li>
                                                        <li><a href="{% url 'boxshadow' %}">box shadow</a></li>
                                                        <li><a href="{% url 'buttons' %}">buttons</a></li>
                                                        <li><a href="{% url 'contact' %}">contact</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="menu-container">
                                                    <ul>
                                                        <li><a href="{% url 'event_schedule' %}">event-schedule</a></li>
                                                        <li><a href="{% url 'gallery' %}">gallery</a></li>
                                                        <li><a href="{% url 'pricing' %}">pricing</a></li>
                                                        <li><a href="{% url 'counter' %}">counter</a></li>
                                                        <li><a href="{% url 'countdown' %}">countdown</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="menu-container">
                                                    <ul>
                                                        <li><a href="{% url 'progress_bar' %}">progress bar</a></li>
                                                        <li><a href="{% url 'testimonial' %}">testimonial</a></li>
                                                        <li><a href="{% url 'video' %}">video</a></li>
                                                        <li><a href="{% url 'service' %}">service</a></li>
                                                        <li><a href="{% url 'subscribe' %}">subscribe</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mega-menu"><a class="dropdown" href="#">portfolio</a>
                                <div class="mega-menu-container">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="menu-container">
                                                    <a class="menu-head" data-bs-target=".demo2" data-bs-toggle="collapse"
                                                       href="#">portfolio basic</a>
                                                    <ul>
                                                        <li><a href="{% url 'portfolio_2_column' %}">basic – 2 Grid</a></li>
                                                        <li><a href="{% url 'portfolio_3_column' %}">basic – 3 Grid</a></li>
                                                        <li><a href="{% url 'portfolio_4_column' %}">basic – 4 Grid</a></li>
                                                        <li><a href="{% url 'portfolio_title_2' %}">basic w tittle – 2
                                                            Grid</a></li>
                                                        <li><a href="{% url 'portfolio_3_column_with_title' %}">basic w tittle – 3
                                                            Grid</a></li>
                                                        <li><a href="{% url 'portfolio_4_column_with_title' %}">basic w tittle – 4
                                                            Grid</a></li>
                                                        <li><a href="{% url 'portfolio_with_parallex_effect' %}">parallex</a></li>
                                                        <li><a href="{% url 'portfolio_centered_slides' %}">centered slides</a>
                                                        </li>
                                                        <li><a href="{% url 'portfolio_vertical_slider' %}">vertical
                                                            slides</a></li>
                                                        <li><a href="{% url 'portfolio_4_slide_with_center_slider' %}">multi
                                                            carousel</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="menu-container">
                                                    <a class="menu-head" data-bs-target=".demo2" data-bs-toggle="collapse"
                                                       href="#">portfolio masonry</a>
                                                    <ul>
                                                        <li><a href="{% url 'portfolio_masonry_creative_layout_1' %}">full-width 1</a></li>
                                                        <li><a href="{% url 'portfolio_masonry_creative_layout_2' %}">full-width 2</a></li>
                                                        <li><a href="{% url 'portfolio_masonry_creative_layout_3' %}">full-width 3</a></li>
                                                        <li><a href="{% url 'portfolio_masonry_2_column' %}">full-width – 2 Grid</a></li>
                                                        <li><a href="{% url 'portfolio_masonry_3_column' %}">full-width – 3 Grid</a></li>
                                                        <li><a href="{% url 'portfolio_masonry_4_column' %}">full-width – 4 Grid</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="menu-container">
                                                    <a class="menu-head" data-bs-target=".demo2" data-bs-toggle="collapse"
                                                       href="#">creative modern</a>
                                                    <ul>
                                                        <li><a href="{% url 'trending_layout_1' %}">creative style 1</a>
                                                        </li>
                                                        <li><a href="{% url 'trending_layout_2' %}">creative style 2</a>
                                                        </li>
                                                        <li><a href="{% url 'trending_layout_3' %}">creative style 3</a>
                                                        </li>
                                                        <li><a href="{% url 'trending_layout_4' %}">creative style 4</a>
                                                        </li>
                                                        <li><a href="{% url 'trending_layout_5' %}"> modern – 4 Grid</a>
                                                        </li>
                                                        <li><a href="{% url 'trending_layout_6' %}">modern – 3 Grid</a>
                                                        </li>
                                                        <li><a href="{% url 'trending_layout_7' %}">modern – 2 Grid</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="menu-container">
                                                    <a class="menu-head" data-bs-target=".demo2" data-bs-toggle="collapse"
                                                       href="#">portfolio details</a>
                                                    <ul>
                                                        <li><a href="{% url 'portfolio_details_details_wit_slider' %}">portfolio details 1</a></li>
                                                        <li><a href="{% url 'portfolio_details_with_big_breadcrumb' %}">portfolio details 2</a>
                                                        </li>
                                                        <li><a href="{% url 'portfolio_details_full_width' %}">portfolio details 3</a>
                                                        </li>
                                                        <li><a href="{% url 'portfolio_details_container_layout' %}">portfolio details 4</a>
                                                        </li>
                                                        <li><a href="{% url 'portfolio_details_two_images_layout' %}">portfolio details 5</a>
                                                        </li>
                                                        <li><a href="{% url 'portfolio_details_video_portfolio' %}">portfolio details 6</a>
                                                        </li>
                                                        <li><a href="{% url 'portfolio_details_left_side_images' %}">portfolio details 7</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mega-menu"><a class="dropdown" href="#">shop</a>
                                <div class="mega-menu-container">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <div class="menu-container">
                                                    <a class="menu-head" data-bs-target=".demo2" data-bs-toggle="collapse"
                                                       href="#">shop categories</a>
                                                    <ul>
                                                        <li><a href="{% url 'shop_categories_left_sidebar' %}">left
                                                            sidebar</a></li>
                                                        <li><a href="{% url 'shop_categories_two_sidebar' %}">two
                                                            grid</a></li>
                                                        <li><a href="{% url 'shop_categories_three_sidebar' %}">three
                                                            grid</a></li>
                                                        <li><a href="{% url 'shop_categories_six_sidebar' %}">six
                                                            grid</a></li>
                                                        <li><a href="{% url 'shop_categories_right_sidebar' %}">right
                                                            sidebar</a></li>
                                                        <li><a href="{% url 'shop_categories_right_2_grid' %}">right 2
                                                            grid</a></li>
                                                        <li><a href="{% url 'shop_categories_right_3_grid' %}">right 3
                                                            grid</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col menu-container">
                                                <a class="menu-head" data-bs-target=".demo2" data-bs-toggle="collapse"
                                                   href="#">shop categories</a>
                                                <ul>
                                                    <li><a href="{% url 'shop_categories_right_6_grid' %}">right 6
                                                        grid</a></li>
                                                    <li><a href="{% url 'shop_categories_no_sidebar' %}">no sidebar</a>
                                                    </li>
                                                    <li><a href="{% url 'shop_categories_no_sidebar_2' %}">no sidebar 2
                                                        grid</a></li>
                                                    <li><a href="{% url 'shop_categories_no_sidebar_3' %}">no sidebar 3
                                                        grid</a></li>
                                                    <li><a href="{% url 'shop_categories_no_sidebar_6' %}">no sidebar 6
                                                        grid</a></li>
                                                    <li><a href="{% url 'shop_categories_metro' %}">category metro</a></li>
                                                </ul>
                                            </div>
                                            <div class="col menu-container">
                                                <a class="menu-head" data-bs-target=".demo2" data-bs-toggle="collapse"
                                                   href="#">product pages</a>
                                                <ul>
                                                    <li><a href="{% url 'shop_product_no_sidebar' %}">no sidebar</a></li>
                                                    <li><a href="{% url 'shop_product_left_sidebar' %}">left sidebar</a></li>
                                                    <li><a href="{% url 'shop_product_right_sidebar' %}">right sidebar</a>
                                                    </li>
                                                    <li><a href="{% url 'shop_product_3_grid' %}">3 grid</a></li>
                                                    <li><a href="{% url 'shop_product_3_grid_left' %}">3 grid-left</a></li>
                                                    <li><a href="{% url 'shop_product_3_grid_right' %}">3 grid-right</a></li>
                                                </ul>
                                            </div>
                                            <div class="col menu-container">
                                                <a class="menu-head" data-bs-target=".demo2" data-bs-toggle="collapse"
                                                   href="#">product pages</a>
                                                <ul>
                                                    <li><a href="{% url 'shop_product_accordian' %}">accordian</a></li>
                                                    <li><a href="{% url 'shop_product_bundle' %}">bundle</a></li>
                                                    <li><a href="{% url 'shop_product_image_swatch' %}">image swatch</a></li>
                                                    <li><a href="{% url 'shop_product_image_outside' %}">image outside</a>
                                                    </li>
                                                    <li><a href="{% url 'shop_product_image_sticky' %}">image sticky</a></li>
                                                </ul>
                                            </div>
                                            <div class="col ">
                                                <div class="menu-container">
                                                    <a class="menu-head" data-bs-target=".demo2" data-bs-toggle="collapse"
                                                       href="#">shop pages</a>
                                                    <ul>
                                                        <li><a href="{% url 'shop_pages_cart' %}">cart</a></li>
                                                        <li><a href="{% url 'shop_pages_checkout' %}">checkout</a></li>
                                                        <li><a href="{% url 'shop_pages_compare' %}">compare</a></li>
                                                        <li><a href="{% url 'shop_pages_compare_2' %}">compare 2</a></li>
                                                        <li><a href="{% url 'shop_pages_signup' %}">sign up</a></li>
                                                        <li><a href="{% url 'shop_pages_login' %}">login</a></li>
                                                        <li><a href="{% url 'shop_pages_wishlist' %}">wishlist</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mega-menu"><a class="dropdown" href="#">features</a>
                                <div class="mega-menu-container">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="menu-container">
                                                    <a class="menu-head" data-bs-target=".demo2" data-bs-toggle="collapse"
                                                       href="#">header style</a>
                                                    <ul>
                                                        <li><a href="{% url 'features_glass_header' %}">transparent header</a>
                                                        </li>
                                                        <li><a href="{% url 'features_light_header' %}">light header</a></li>
                                                        <li><a href="{% url 'features_dark_header' %}">dark header</a></li>
                                                        <li><a href="{% url 'features_header_right_navigation' %}">header right
                                                            navigation</a></li>
                                                        <li><a href="{% url 'features_logo_center' %}">header center logo</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="menu-container">
                                                    <a class="menu-head" data-bs-target=".demo2" data-bs-toggle="collapse"
                                                       href="#">footer style</a>
                                                    <ul>
                                                        <li><a href="{% url 'features_footer_default' %}">footer default</a></li>
                                                        <li><a href="{% url 'features_footer_dark_light' %}">footer1 light</a></li>
                                                        <li><a href="{% url 'features_footer_dark_gradient' %}">footer1 dark</a></li>
                                                        <li><a href="{% url 'features_footer_creative' %}">footer2 light</a></li>
                                                        <li><a href="footer2-dark.html">footer2 dark</a></li>
                                                        <li><a href="{% url 'features_footer_light' %}">footer3 light</a></li>
                                                        <li><a href="{% url 'features_footer_dark' %}">footer3 dark</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="menu-container">
                                                    <a class="menu-head" data-bs-target=".demo2" data-bs-toggle="collapse"
                                                       href="#">breadcrumb style</a>
                                                    <ul>
                                                        <li><a href="{% url 'features_classic_types' %}">Classic Types</a></li>
                                                        <li><a href="{% url 'features_breadcrumb_left' %}">breadcrumb left</a></li>
                                                        <li><a href="{% url 'features_breadcrumb_right' %}">breadcrumb right</a></li>
                                                        <li><a href="{% url 'features_breadcrumb_center' %}">breadcrumb center</a></li>
                                                        <li><a href="{% url 'features_breadcrumb_dark' %}">breadcrumb dark</a></li>
                                                        <li><a href="{% url 'features_parallex_background' %}">parallex background</a></li>
                                                        <li><a href="{% url 'features_with_background' %}">with background</a></li>
                                                        <li><a href="{% url 'features_gallery_background' %}">gallery background</a></li>
                                                        <li><a href="{% url 'features_video_background' %}">video background</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="menu-container">
                                                    <a class="menu-head" data-bs-target=".demo2" data-bs-toggle="collapse"
                                                       href="#">gallery</a>
                                                    <ul>
                                                        <li><a href="{% url 'features_zoom_gallery' %}">zoom gallery</a></li>
                                                        <li><a href="{% url 'features_form_in_popup' %}">form popup</a></li>
                                                        <li><a href="{% url 'features_modal_in_popup' %}">modal popup</a></li>
                                                        <li><a href="{% url 'features_youtube_in_popup' %}">youtube popup</a></li>
                                                        <li><a href="{% url 'features_map_in_popup' %}">google map popup</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Nav end-->

<!-- header Start-->
<section class="yoga header" id="home">
    <div class="yoga-content owl-carousel owl-theme overflow-hidden yoga-slider">
        <div class="item">
            <div class="yogas bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="center-text">
                                <div class="bottom-0 set-abs girl center-content">
                                    <img alt="" class="img-fluid girl-img"
                                         src="{% static 'assets/images/yoga-img/girl-1050x640.png' %}">
                                </div>
                                <div class="text-end">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <div class="right-way">
                                                <div class="header-text"><h1>right way <span
                                                        class="bold-text">yoga</span></h1></div>
                                                <div class="header-sub-text">
                                                    <p class="text-white">Lorem Ipsum is simply dummy text of the
                                                        printing and
                                                        typesetting industry. Lorem Ipsum has been the industry's
                                                        standard dummy
                                                        text ever since the 1500s</p>
                                                </div>
                                                <a class=" btn btn-default back-white border-not">read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="animation-circle-inverse">
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="yogas bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="center-text">
                                <div class="bottom-0 set-abs girl center-content">
                                    <img alt="" class="img-fluid girl-img"
                                         src="{% static 'assets/images/yoga-img/girl-1050x640.png' %}">
                                </div>
                                <div class="text-end">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <div class="right-way">
                                                <div class="header-text">
                                                    <h1>right way <span class="bold-text">yoga</span></h1>
                                                </div>
                                                <div class="header-sub-text">
                                                    <p class="text-white">Lorem Ipsum is simply dummy text of the
                                                        printing and
                                                        typesetting industry. Lorem Ipsum has been the industry's
                                                        standard dummy
                                                        text ever since the 1500s</p>
                                                </div>
                                                <a class=" btn btn-default back-white border-not">read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="animation-circle-inverse">
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- header end-->

<!-- Tap on Top-->
<div class="tap-top">
    <div><i class="fa fa-angle-double-up"></i></div>
</div>
<!-- Tap on Ends-->

<!-- latest jquery-->
<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>

<!-- popper js-->
<script src="{% static 'assets/js/popper.min.js' %}"></script>

<!-- Bootstrap js-->
<script src="{% static 'assets/js/bootstrap.js' %}"></script>
<!--  costamizer option -->
<script src="{% static 'assets/js/custamizer-option.js' %}"></script>

<!--magnific popup js-->
<script src="{% static 'assets/js/magnific-popup.js' %}"></script>

<!--owl js-->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

<!-- script js-->
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/script10.js' %}"></script>
</body>
</html>
