{% extends 'base-features.html' %}{% load static %}
{% block css %}
<!-- color css -->
<link href="{% static 'assets/css/color-5.css' %}" rel="stylesheet" type="text/css">
<!--owl carousel css-->
<link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}

<!-- header Start-->
<section class="gym header" id="home">
    <div class="header5-content">
        <div class="owl-carousel owl-theme default-dots gym-slider" id="gym-slider">
            <div class="item">
                <div class="gym-header bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <div class="center-text">
                                    <div class="text-center">
                                        <div class="header-text">
                                            <h1><span class="bold-text">build your</span> body more strong</h1>
                                        </div>
                                        <div class="header-sub-text">
                                            <p class="text-white p-light">Lorem Ipsum is simply dummy text of the
                                                printing
                                                and
                                                typesetting industry. Lorem Ipsum
                                                has been the industry's standard dummy text ever since the 1500s,
                                                when
                                                an
                                                unknown
                                                printer took.</p>
                                        </div>
                                        <div class="link-horizontal">
                                            <ul class="justify-content-center">
                                                <li>
                                                    <a class=" btn btn-default"><span>register 20%<sup>off</sup></span></a>
                                                </li>
                                                <li>
                                                    <a class=" btn btn-default">start now</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="gym-header bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <div class="center-text">
                                    <div class="text-center">
                                        <div class="header-text">
                                            <h1><span class="bold-text">build your</span> body more strong</h1>
                                        </div>
                                        <div class="header-sub-text">
                                            <p class="text-white p-light">Lorem Ipsum is simply dummy text of the
                                                printing
                                                and
                                                typesetting industry. Lorem Ipsum
                                                has been the industry's standard dummy text ever since the 1500s,
                                                when
                                                an
                                                unknown
                                                printer took.</p>
                                        </div>
                                        <div class="link-horizontal">
                                            <ul class="justify-content-center">
                                                <li>
                                                    <a class=" btn btn-default"><span>register 20%<sup>off</sup></span></a>
                                                </li>
                                                <li>
                                                    <a class=" btn btn-default">start now</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- header end-->

{% endblock content %}
{% block scriptcontent %}
<!--owl js-->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>

<!-- script js-->
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>

<!-- script js-->
<script src="{% static 'assets/js/script5.js' %}"></script>

{% endblock scriptcontent %}