{% extends 'base.html' %}{% load static %}
{% block content %}

<!--breadcrumb section start-->
<section class="agency breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="breadcrumb-text text-center">blog with no-sidebar</h2>
                <ul class="breadcrumb justify-content-center">

                    <li><a href="#">blog</a></li>
                    <li><a href="#">blog details</a></li>
                    <li>no sidebar</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end -->

<!-- section start -->
<section class="agency blog-sec blog-sidebar single_blog_item">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog-block">
                    <div class="blog-box">
                        <div class="overflow-hidden">
                            <img alt="blog" class="img-fluid blur-up lazyload "
                                 src="{% static 'assets/images/agency/blog/20.jpg' %}">
                        </div>
                    </div>
                </div>
                <div class="blog-text m-t-20">
                    <h6>July, 24th 2019</h6><a href="#">
                    <h3 class="blog-head">Sandford Stadium Improvements</h3></a>
                    <div class="blog-divider"></div>
                    <div class="blog-description">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of
                            type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            but
                            also the leap into electronic typesetting, remaining essentially unchanged. It was
                            popularised in
                            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                            recently
                            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and
                            scrambled it to make a type specimen book. It has survived not only five centuries, but also
                            the leap
                            into electronic typesetting, remaining essentially unchanged. It was popularised in the
                            1960s with the
                            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software
                            like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <h5>Mark jkcno</h5>
                        <h5 class="pull-right">10 <i class="fa fa-heart-o"></i>, 50 <i class="fa fa-comments-o"></i>
                        </h5>
                    </div>
                </div>
                <!-- Comment Sec Start -->

                <h3 class="page-header-comment">Comments :</h3>
                <div class="comment-list blog_comment">
                    <div class="comment_sec">
                        <article class="row">
                            <div class="col-12">
                                <div class="blog_center">
                                    <div>
                                        <figure class="thumbnail">
                                            <img alt="" src="{% static 'assets/images/app_landing2/team/1.png' %}">
                                        </figure>
                                    </div>
                                    <div class="blog_user arrow left">
                                        <div class="panel-body">
                                            <div class="text-start">
                                                <div class="comment-user">
                                                    <i class="fa fa-user"></i><h6>That Guy</h6>
                                                </div>
                                                <div class="comment-date">
                                                    <i class="fa fa-clock-o"></i><h6> Dec 16, 2014 </h6>
                                                </div>
                                            </div>
                                            <div class="comment-post">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commodo consequat.
                                                </p>
                                            </div>
                                            <a class="link-btn" href="#"><i class="fa fa-reply"></i> reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!--Comment Sec Start-->
                        <article class="row">
                            <div class="col-11 offset-1">
                                <div class="blog_center re_comment">
                                    <div>
                                        <figure class="thumbnail">
                                            <img alt="" src="{% static 'assets/images/app_landing2/team/2.png' %}">
                                        </figure>
                                    </div>
                                    <div class="blog_user arrow left">
                                        <div class="panel-body">
                                            <div class="text-start">
                                                <div class="comment-user">
                                                    <i class="fa fa-user"></i><h6> That Guy </h6>
                                                </div>
                                                <div class="comment-date">
                                                    <i class="fa fa-clock-o"></i><h6> Dec 16, 2014 </h6>
                                                </div>
                                            </div>
                                            <div class="comment-post">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                </p>
                                            </div>
                                            <a class="link-btn" href="#"><i class="fa fa-reply pe-2"></i>reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!--Comment Sec End-->
                    </div>
                    <div class="comment_sec">
                        <article class="row">
                            <div class="col-12">
                                <div class="blog_center">
                                    <div>
                                        <figure class="thumbnail">
                                            <img alt="" src="{% static 'assets/images/app_landing2/team/3.png' %}">
                                        </figure>
                                    </div>
                                    <div class="blog_user arrow left">
                                        <div class="panel-body">
                                            <div class="text-start">
                                                <div class="comment-user"><i class="fa fa-user"></i><h6> That Guy </h6>
                                                </div>
                                                <div class="comment-date"><i class="fa fa-clock-o"></i><h6> Dec 16,
                                                    2014</h6></div>
                                            </div>
                                            <div class="comment-post">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commodo consequat.
                                                </p>
                                            </div>
                                            <a class="link-btn" href="#"><i class="fa fa-reply pe-2"></i>reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="comment_sec">
                        <article class="row">
                            <div class="col-12">
                                <div class="blog_center">
                                    <div>
                                        <figure class="thumbnail">
                                            <img alt="" src="{% static 'assets/images/app_landing2/team/4.png' %}">
                                        </figure>
                                    </div>
                                    <div class="blog_user arrow left">
                                        <div class="panel-body">
                                            <div class="text-start">
                                                <div class="comment-user"><i class="fa fa-user"></i><h6> That Guy </h6>
                                                </div>
                                                <div class="comment-date"><i class="fa fa-clock-o"></i><h6> Dec 16,
                                                    2014</h6></div>
                                            </div>
                                            <div class="comment-post">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commodo consequat.
                                                </p>
                                            </div>
                                            <a class="link-btn" href="#"><i class="fa fa-reply pe-2"></i>reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <!-- Comment Sec End -->
                <div class="quote_2 comment_form_sec">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 quote_form">
                                <hr/>
                                <h3 class="page-header-comment mb-4">Leave you comment :</h3>
                                <form>
                                    <div class="row g-3">
                                        <div class="form-group col-md-6">
                                            <label>Name :</label>
                                            <input class="form-control" placeholder="Enter Your Name" required=""
                                                   type="text">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">Email :</label>
                                            <input class="form-control" id="inputEmail4" placeholder="Enter Your Email"
                                                   required="" type="email">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="exampleTextarea">Message :</label>
                                            <textarea class="form-control msg_coment" id="exampleTextarea" placeholder="Leave a Comment"
                                                      required="" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <a class="btn btn-default primary-btn m-t-20 radius-0" href="#">Post Comment
                                        <span class="con_btn_eff"></span>
                                    </a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}