{% extends 'base.html' %}{% load static %}
{% block css %}
<link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800" rel="stylesheet">
<!-- magnific popup css -->
<link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" type="text/css">
{% endblock css %}
{% block content %}

<!--breadcrumb section start-->
<section class="agency breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12"><h2 class="breadcrumb-text text-center">portfolio with basic 3-col</h2>
                <ul class="breadcrumb justify-content-center">

                    <li><a href="#">portfolio basic</a></li>
                    <li>basic - 3 col</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end-->

<!-- section start -->
<section class="portfolio-section port-col zoom-gallery fullwidth-portfolio masonray-sec">
    <div class="filter-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="filter-container isotopeFilters">
                        <ul class="list-inline filter">
                            <li class="active"><a data-filter="*" href="#">All </a></li>
                            <li><a data-filter=".fashion" href="#">Fashion</a></li>
                            <li><a data-filter=".bags" href="#">Bags</a></li>
                            <li><a data-filter=".shoes" href="#">Shoes</a></li>
                            <li><a data-filter=".watch" href="#">Watch</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="isotopeContainer row">
            <div class="col-lg-4 col-md-4 col-sm-6 isotopeSelector shoes">
                <div class="overlay">
                    <div class="border-portfolio">
                        <a class="zoom_gallery" href="{% static 'assets/images/portfolio/1.jpg' %}">
                            <div class="overlay-background">
                                <i aria-hidden="true" class="fa fa-link"></i>
                            </div>
                            <img alt="" class="img-fluid" src="{% static 'assets/images/portfolio/1.jpg' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 isotopeSelector fashion">
                <div class="overlay">
                    <div class="border-portfolio">
                        <a class="zoom_gallery" href="{% static 'assets/images/portfolio/2.jpg' %}">
                            <div class="overlay-background">
                                <i aria-hidden="true" class="fa fa-link"></i>
                            </div>
                            <img alt="" class="img-fluid" src="{% static 'assets/images/portfolio/2.jpg' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 isotopeSelector shoes">
                <div class="overlay">
                    <div class="border-portfolio">
                        <a class="zoom_gallery" href="{% static 'assets/images/portfolio/3.jpg' %}">
                            <div class="overlay-background">
                                <i aria-hidden="true" class="fa fa-link"></i>
                            </div>
                            <img alt="" class="img-fluid" src="{% static 'assets/images/portfolio/3.jpg' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 isotopeSelector fashion">
                <div class="overlay">
                    <div class="border-portfolio">
                        <a class="zoom_gallery" href="{% static 'assets/images/portfolio/5.jpg' %}">
                            <div class="overlay-background">
                                <i aria-hidden="true" class="fa fa-link"></i>
                            </div>
                            <img alt="" class="img-fluid" src="{% static 'assets/images/portfolio/5.jpg' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 isotopeSelector watch">
                <div class="overlay">
                    <div class="border-portfolio">
                        <a class="zoom_gallery" href="{% static 'assets/images/portfolio/4.jpg' %}">
                            <div class="overlay-background">
                                <i aria-hidden="true" class="fa fa-link"></i>
                            </div>
                            <img alt="" class="img-fluid" src="{% static 'assets/images/portfolio/4.jpg' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 isotopeSelector watch">
                <div class="overlay">
                    <div class="border-portfolio">
                        <a class="zoom_gallery" href="{% static 'assets/images/portfolio/6.jpg' %}">
                            <div class="overlay-background">
                                <i aria-hidden="true" class="fa fa-link"></i>
                            </div>
                            <img alt="" class="img-fluid" src="{% static 'assets/images/portfolio/6.jpg' %}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pagination Start -->
    <div class="pagination_sec">
        <div class="content_detail__pagination cdp">
            <ul>
                <li><a class="prev" href="#"><i aria-hidden="true" class="fa fa-angle-double-left"></i></a></li>
                <li><a class="active cdp_i" href="#">1</a></li>
                <li><a class="cdp_i" href="#">2</a></li>
                <li><a class="cdp_i" href="#">3</a></li>
                <li><a class="next" href="#"><i aria-hidden="true" class="fa fa-angle-double-right"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- pagination End -->
</section>
<!-- Section ends -->

{% endblock content %}
{% block scriptcontent %}
<!--magnific popup js-->
<script src="{% static 'assets/js/magnific-popup.js' %}"></script>
<script src="{% static 'assets/js/isotope.min.js' %}"></script>
<script src="{% static 'assets/js/portfolio.js' %}"></script>
<!-- script js-->
<script src="{% static 'assets/js/zoom-gallery.js' %}"></script>
{% endblock scriptcontent %}