{% extends 'base.html' %}{% load static %}
{% block content %}
<!--breadcrumb section start-->
{% include 'layout/breadcrumb.html' %}

<!--breadcrumb section end-->

<!-- section start -->
<section class="agency blog blog-sec blog-sidebar  blog-list sider">
    <div class="container">
        <div class="row ps-0 pe-0">
            {% include 'blog/blog-list-view/blog-list-rightsidebar/components/blog-main.html' %}
            {% include 'blog/blog-list-view/blog-list-rightsidebar/components/blog-side.html' %}
        </div>
    </div>
</section>
{% endblock content %}