{% extends 'base.html' %}{% load static %}
{% block content %}

<!--breadcrumb section start-->
{% include 'layout/breadcrumb.html' %}

<!--breadcrumb section end-->

<!-- section start -->
<section class="agency blog blog-sec blog-sidebar">
    <div class="container">
        <div class="row">
            {% include 'blog/blog-grid-view/blog-rightsidebar/components/blog-main.html' %}
            {% include 'blog/blog-grid-view/blog-rightsidebar/components/blog-side.html' %}
        </div>
    </div>
</section>
{% endblock content %}