{% load static %}

<!-- Login-popup section start -->
<section class="login-popup">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="text-center">
                    <h2 class="m-b-20">click here for the youtube popup</h2>
                    <a class="button popup-with-form btn btn-default primary-btn">click here
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Login-popup section end -->
