{% load static %}
<section class="gym format">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="center-text">
                    <div class="text-center">
                        <div class="format-head-text">
                            <h3 class="about-font-header gradient-text">about us</h3>
                        </div>
                        <div class="format-sub-text mb-0">
                            <p class="p-light about-para">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s.When an unknown printer
                                took a galley of
                                type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>