{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="page-body">
  {% include "layout/breadcrumb.html" %}
<div class="container-fluid">
  <div class="row">
                {% include "forms/form-widgets/switch/section1.html" %}
                {% include "forms/form-widgets/switch/section2.html" %}

             </div>
        </div>
</div>
{% endblock %}


{% block scriptcontent %}

    <!-- Plugins JS start-->
    <script src="{% static 'assets/js/tooltip-init.js'%}"></script>
    <!-- Plugins JS Ends-->

{% endblock  %}


    
               
                
