{% load static %}
<section class="music gallery bg-gallery bg-shadow-top-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title4">
                    <div class="main-title">
                        <h2>gallery</h2>
                    </div>
                    <div class="sub-title">
                        <p>Latest Photo Our Music Event</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="owl-carousel owl-theme gallery-slider" id="gallery-slider">
                    <div class="item">
                        <img alt="" src="{% static 'assets/images/music/gallery/1.jpg' %}">
                        <div class="abs-center w-100 text-container">
                            <h5 class="text-white overlay-text text-center">Special Music Event<span>2019</span></h5>
                        </div>
                        <div class="overlay"></div>
                    </div>
                    <div class="item">
                        <img alt="" src="{% static 'assets/images/music/gallery/2.jpg' %}">
                        <div class="abs-center w-100 text-container">
                            <h5 class="text-white overlay-text text-center">Special Music Event<span>2019</span></h5>
                        </div>
                        <div class="overlay"></div>
                    </div>
                    <div class="item">
                        <img alt="" src="{% static 'assets/images/music/gallery/3.png' %}">
                        <div class="abs-center w-100 text-container">
                            <h5 class="text-white overlay-text text-center">Special Music Event<span>2019</span></h5>
                        </div>
                        <div class="overlay"></div>
                    </div>
                    <div class="item">
                        <img alt="" src="{% static 'assets/images/music/gallery/4.jpg' %}">
                        <div class="abs-center w-100 text-container">
                            <h5 class="text-white overlay-text text-center">Special Music Event<span>2019</span></h5>
                        </div>
                        <div class="overlay"></div>
                    </div>
                    <div class="item">
                        <img alt="" src="{% static 'assets/images/music/gallery/5.jpg' %}">
                        <div class="abs-center w-100 text-container">
                            <h5 class="text-white overlay-text text-center">Special Music Event<span>2019</span></h5>
                        </div>
                        <div class="overlay"></div>
                    </div>
                    <div class="item">
                        <img alt="" src="{% static 'assets/images/music/gallery/5.jpg' %}">
                        <div class="abs-center w-100 text-container">
                            <h5 class="text-white overlay-text text-center">Special Music Event<span>2019</span></h5>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>