{% load static %}
<div class="music side-section" id="side-section">
    <div class="jp-jplayer" id="jquery_jplayer_1_1"></div>
    <div aria-label="media player" class="jp-audio" id="jp_container_1_1" role="application">
        <div class="jp-type-playlist">
            <div class="jp-gui jp-interface">
                <div class="side-player">
                    <div class="text-center">
                        <div class="gradient-block">
                            <div class="animation-circle-inverse">
                                <i></i>
                                <i></i>
                                <i></i>
                            </div>
                            <h6 class="now-play">now playing</h6>
                        </div>
                        <img alt="" class="img-fluid girls" src="{% static 'assets/images/music/icons/girl-side.jpg' %}">
                        <div class="author-text">
                            <h5 class="song-text">Latest Song</h5>
                            <h6 class="song-sub-text">Zrial doj</h6>
                        </div>
                    </div>
                    <div class="container">
                        <div class="jp-progress">
                            <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                            </div>
                        </div>
                        <div class="jp-time-holder">
                            <div aria-label="time" class="jp-current-time" role="timer">&nbsp;</div>
                            <div aria-label="duration" class="jp-duration" role="timer">&nbsp;</div>
                        </div>
                        <div class="jp-controls">
                            <div class="button-container">
                                <button class="jp-previous" role="button" tabindex="0"></button>
                                <button class="jp-play" role="button" tabindex="0"></button>
                                <button class="jp-next" role="button" tabindex="0"></button>
                            </div>
                            <button class="btn-sidebar" onclick="sidesection()">
                                <i aria-hidden="true" class="fa fa-times"></i>
                            </button>
                        </div>
                        <div class="jp-playlist">
                            <ul>
                                <li>&nbsp;</li>
                            </ul>
                        </div>
                    </div>
                    <div class="jp-no-solution">
                        <span>Update Required</span>
                        To play the media you will need to either update your browser to a recent version or update your
                        <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="music header" id="header">
    <div class="music-content">
        <div class="music-bg bg bg-shadow-top">
            <div class="text-center w-100" data-tilt data-tilt-max="3" data-tilt-perspective="500"
                 data-tilt-speed="400">
                <div class="img-height">
                    <img alt="" class="img-fluid" src="{% static 'assets/images/music/man.png' %}">
                </div>
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="circle">
            <img alt="" class="img-fluid" src="{% static 'assets/images/music/icons/aero.png' %}">
        </div>
        <h1>2020 <span>21</span></h1>
    </div>
    <div class="left-side">
        <h6 class="follow-text">follow us</h6>
        <ul>
            <li><a href="#"><img alt="" class="img-fluid" src="{% static 'assets/images/music/icons/insta.png' %}"></a></li>
            <li><a href="#"><img alt="" class="img-fluid" src="{% static 'assets/images/music/icons/twitter.png' %}"></a></li>
            <li><a href="#"><img alt="" class="img-fluid" src="{% static 'assets/images/music/icons/facebook.png' %}"></a></li>
        </ul>
    </div>
    <div class="container music-container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="play-bg d-flex">
                    <div class="song-text-container h-100">
                        <div class="d-flex h-100">
                            <div class="center-img">
                                <img alt="" class="img-fluid" src="{% static 'assets/images/music/icons/girl.png' %}">
                            </div>
                            <div class="song-text">
                                <h5 class="text-white song-head">Latest Song</h5>
                                <h6 class="text-white song-sub-head">Zrial doj</h6>
                            </div>
                        </div>
                    </div>
                    <div class="play-setting m-auto">
                        <div class="jp-jplayer" id="jquery_jplayer_1"></div>
                        <div aria-label="media player" class="jp-audio" id="jp_container_1" role="application">
                            <div class="jp-type-playlist">
                                <div class="jp-gui jp-interface p-0 d-flex">
                                    <div class="jp-controls">
                                        <button class="jp-play m-r-15" role="button" tabindex="0"></button>
                                    </div>
                                    <a onclick="sidesection()"><i aria-hidden="true" class="fa fa-ellipsis-v"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>