{% load static %}
<section class="music sponsor bg-unset" id="sponsor">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title4">
                    <div class="main-title">
                        <h2 class="text-uppercase">sponsors</h2>
                    </div>
                    <div class="sub-title">
                        <p>Our new sponsors 2019</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="sponsor-img">
                    <div class="text-center">
                        <div class="overlay-box">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/music/sponser/1.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="sponsor-img">
                    <div class="text-center">
                        <div class="overlay-box">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/music/sponser/2.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="sponsor-img">
                    <div class="text-center">
                        <div class="overlay-box">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/music/sponser/3.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="sponsor-img">
                    <div class="text-center">
                        <div class="overlay-box">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/music/sponser/4.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="sponsor-img">
                    <div class="text-center">
                        <div class="overlay-box">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/music/sponser/5.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="sponsor-img">
                    <div class="text-center">
                        <div class="overlay-box">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/music/sponser/6.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="sponsor-img">
                    <div class="text-center">
                        <div class="overlay-box">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/music/sponser/7.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="sponsor-img">
                    <div class="text-center">
                        <div class="overlay-box">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/music/sponser/8.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="sponsor-img">
                    <div class="text-center">
                        <div class="overlay-box">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/music/sponser/9.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="sponsor-img">
                    <div class="text-center">
                        <div class="overlay-box">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/music/sponser/10.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="sponsor-img">
                    <div class="text-center">
                        <div class="overlay-box">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/music/sponser/11.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="sponsor-img">
                    <div class="text-center">
                        <div class="overlay-box">
                            <img alt="" class="img-fluid" src="{% static 'assets/images/music/sponser/12.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>