{% load static %}
<section class="music testimonial sponsor bg-shadow-top-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title4">
                    <div class="main-title">
                        <h2>testimonial</h2>
                    </div>
                    <div class="sub-title">
                        <p>Our happy client</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 offset-md-2">
                <div class="owl-carousel owl-theme music-testimonial-slider" id="music-testimonial-slider">
                    <div class="item ">
                        <div>
                            <img alt="" class="img-fluid" src="{% static 'assets/images/music/testimonial/quote.png' %}">
                            <div class="text-center testimonial-info">
                                <p class="testimonial-para">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                                <h6 class="gradient-text text-uppercase m-b-5 font-large">Alan Licker</h6>
                                <h6 class="font-small">CEO OF SC.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="item ">
                        <div>
                            <img alt="" class="img-fluid" src="{% static 'assets/images/music/testimonial/quote.png' %}">
                            <div class="text-center testimonial-info">
                                <p class="testimonial-para">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum
                                    has been the industry's standard dummy text ever since the 1500s,</p>
                                <h6 class="gradient-text text-uppercase m-b-5 font-large">Alan Licker</h6>
                                <h6 class="font-small">CEO OF SC.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>