{% load static %}
<section class="app2 pricing p-t-0" id="plan">
    <div class="animated-bg"><i></i><i></i><i></i></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title2">
                    <img alt="" class="img-fluid title-img" src="{% static 'assets/images/logo/2.png' %}">
                    <h6 class="font-primary borders main-text"><span>pricing</span></h6>
                    <div class="sub-title">
                        <h2 class="title-text text-capitalize text-center">our plan</h2>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="owl-carousel owl-theme pricing-slider price-margin">
                    <div class="item">
                        <div class="price-container shadows text-center">
                            <div class="service-feature ">
                                <div class="feature-text">
                                    <span class="flaticon-rocket-ship feature-icon "></span>
                                    <h3 class="text-white">free</h3>
                                </div>
                            </div>
                            <div>
                                <div class="price-feature-container ">
                                    <div class="price-features">
                                        <h5 class="price-feature">Easy Installations</h5>
                                        <h5 class="price-feature">Unlimited support</h5>
                                        <h5 class="price-feature">Free Forever</h5>
                                    </div>
                                    <div class="price-value">
                                        <h6 class="price">$<span class="large">0</span>/month</h6>
                                    </div>
                                    <a class="btn btn-default btn-white" href="#">purchase</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container shadows text-center">
                            <div class="service-feature ">
                                <div class="feature-text">
                                    <span class="flaticon-diamond feature-icon"></span>
                                    <h3 class="text-white">medium</h3>
                                </div>
                            </div>
                            <div>
                                <div class="price-feature-container ">
                                    <div class="price-features">
                                        <h5 class="price-feature">Easy Installations</h5>
                                        <h5 class="price-feature">Unlimited support</h5>
                                        <h5 class="price-feature">Free Forever</h5>
                                    </div>
                                    <div class="price-value">
                                        <h6 class="price">$<span class="large">49</span>/month</h6>
                                    </div>
                                    <a class="btn btn-default btn-white" href="#">purchase</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container shadows text-center">
                            <div class="service-feature ">
                                <div class="feature-text">
                                    <span class="flaticon-pie-chart feature-icon"></span>
                                    <h3 class="text-white">business</h3>
                                </div>
                            </div>
                            <div>
                                <div class="price-feature-container">
                                    <div class="price-features">
                                        <h5 class="price-feature">Easy Installations</h5>
                                        <h5 class="price-feature">Unlimited support</h5>
                                        <h5 class="price-feature">Free Forever</h5>
                                    </div>
                                    <div class="price-value">
                                        <h6 class="price">$<span class="large">99</span>/month</h6>
                                    </div>
                                    <a class="btn btn-default btn-white" href="#">purchase</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>