{% load static %}
<section class="app2 screenshot p-t-0" id="screen-shot">
    <div class="animated-bg"><i></i><i></i><i></i></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title2">
                    <img alt="" class="img-fluid title-img" src="{% static 'assets/images/logo/2.png' %}">
                    <h6 class="font-primary borders main-text"><span>screen shot</span></h6>
                    <div class="sub-title">
                        <h2 class="title-text text-capitalize text-center">screen shot</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row set-relative">
            <div class="col-12">
                <!-- Swiper -->
                <div class="owl-carousel owl-theme screenshot-slider" id="screenshot-slider">
                    <div class="item">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing2/screenshot/1.png' %}">
                    </div>
                    <div class="item">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing2/screenshot/2.png' %}">
                    </div>
                    <div class="item">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing2/screenshot/1.png' %}">
                    </div>
                    <div class="item">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing2/screenshot/2.png' %}">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>