{% load static %}
<section class="app2 services p-t-0" id="services">
    <div class="animated-bg"><i></i><i></i><i></i></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title2">
                    <img alt="" class="img-fluid title-img" src="{% static 'assets/images/logo/2.png' %}">
                    <h6 class="font-primary borders main-text text-uppercase"><span>feature</span></h6>
                    <div class="sub-title">
                        <h2 class="title-text text-capitalize text-center">Powerful Features </h2>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 service-container">
                <div class="service">
                    <div class="img-block">
                        <img alt="" class="service-img img-fluid"
                             src="{% static 'assets/images/app_landing2/service/2-1.png' %}">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text">Fast and optimized</h4>
                        <p>Unlike team chat apps, Flow is designed to help your team stay focused by keeping relevant
                            and actionable.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-container">
                <div class="service">
                    <div class="img-block">
                        <img alt="" class="service-img img-fluid"
                             src="{% static 'assets/images/app_landing2/service/2-2.png' %}">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text">Well Documented</h4>
                        <p>Unlike team chat apps, Flow is designed to help your team stay focused by keeping relevant
                            and actionable.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-container">
                <div class="service">
                    <div class="img-block">
                        <img alt="" class="service-img img-fluid"
                             src="{% static 'assets/images/app_landing2/service/2-3.png' %}">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text">Easy Integration</h4>
                        <p>Unlike team chat apps, Flow is designed to help your team stay focused by keeping relevant
                            and actionable.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-container">
                <div class="service">
                    <div class="img-block">
                        <img alt="" class="service-img img-fluid"
                             src="{% static 'assets/images/app_landing2/service/2-4.png' %}">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text">Team Collaboration</h4>
                        <p>Unlike team chat apps, Flow is designed to help your team stay focused by keeping relevant
                            and actionable.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-container">
                <div class="service">
                    <div class="img-block">
                        <img alt="" class="service-img img-fluid"
                             src="{% static 'assets/images/app_landing2/service/2-5.png' %}">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text">User Permissions</h4>
                        <p>Unlike team chat apps, Flow is designed to help your team stay focused by keeping relevant
                            and actionable.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-container">
                <div class="service">
                    <div class="img-block">
                        <img alt="" class="service-img img-fluid"
                             src="{% static 'assets/images/app_landing2/service/2-6.png' %}">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text">Unlimited Storage</h4>
                        <p>Unlike team chat apps, Flow is designed to help your team stay focused by keeping relevant
                            and actionable.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>