{% load static %}
<section class="app2 team-section p-t-0">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title2">
                    <img alt="" class="img-fluid title-img" src="{% static 'assets/images/logo/2.png' %}">
                    <h6 class="font-primary borders main-text"><span>our team</span></h6>
                    <div class="sub-title">
                        <h2 class="title-text text-capitalize text-center">our team member</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 teams">
                <div class="our-team">
                    <div class="set-relative">
                        <div class="border-around overflow-hide m-auto">
                            <div class="set-relative overflow-hide">
                                <img alt="" class="img-fluid team" src="{% static 'assets/images/app_landing2/team/1.png' %}">
                                <div class="overlay-team set-abs">
                                    <img alt="" class="img-fluid wave"
                                         src="{% static 'assets/images/app_landing2/team/hover-wave.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="set-relative set-border">
                        <div class="set-abs top-0 borders"></div>
                    </div>
                    <div class="employee">
                        <h4 class="e-name">ken pitersan</h4>
                        <h6 class="post">Seniour UI/Xi Designer</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 teams">
                <div class="our-team">
                    <div class="set-relative">
                        <div class="border-around overflow-hide m-auto">
                            <div class="set-relative overflow-hide">
                                <img alt="" class="img-fluid team" src="{% static 'assets/images/app_landing2/team/2.png' %}">
                                <div class="overlay-team set-abs">
                                    <img alt="" class="img-fluid wave"
                                         src="{% static 'assets/images/app_landing2/team/hover-wave.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="set-relative set-border">
                        <div class="set-abs top-0 borders"></div>
                    </div>
                    <div class="employee">
                        <h4 class="e-name">ken pitersan</h4>
                        <h6 class="post">Seniour UI/Xi Designer</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 teams">
                <div class="our-team">
                    <div class="set-relative">
                        <div class="border-around overflow-hide m-auto">
                            <div class="set-relative overflow-hide">
                                <img alt="" class="img-fluid team" src="{% static 'assets/images/app_landing2/team/3.png' %}">
                                <div class="overlay-team set-abs">
                                    <img alt="" class="img-fluid wave"
                                         src="{% static 'assets/images/app_landing2/team/hover-wave.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="set-relative set-border">
                        <div class="set-abs top-0 borders"></div>
                    </div>
                    <div class="employee">
                        <h4 class="e-name">ken pitersan</h4>
                        <h6 class="post">Seniour UI/Xi Designer</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 teams">
                <div class="our-team">
                    <div class="set-relative">
                        <div class="border-around overflow-hide m-auto">
                            <div class="set-relative overflow-hide">
                                <img alt="" class="img-fluid team" src="{% static 'assets/images/app_landing2/team/4.png' %}">
                                <div class="overlay-team set-abs">
                                    <img alt="" class="img-fluid wave"
                                         src="{% static 'assets/images/app_landing2/team/hover-wave.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="set-relative set-border">
                        <div class="set-abs top-0 borders"></div>
                    </div>
                    <div class="employee">
                        <h4 class="e-name">ken pitersan</h4>
                        <h6 class="post">Seniour UI/Xi Designer</h6>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>