{% load static %}
<section class="app2 team p-t-0">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title2">
                    <img alt="" class="img-fluid title-img" src="{% static 'assets/images/logo/2.png' %}">
                    <h6 class="font-primary borders main-text"><span>Client Review</span></h6>
                    <div class="sub-title">
                        <h2 class="title-text text-capitalize text-center">Our Clients Love Us</h2>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="owl-carousel owl-theme team-slider">
                    <div class="item">
                        <div class="team-container">
                            <img alt="" class="img-fluid members" src="{% static 'assets/images/app_landing2/team/1.png' %}">
                            <div class="text-center">
                                <h5 class="name">Ashekur Rahman</h5>
                                <h6 class="post">Art Dirrector</h6>
                                <p class="team-para">Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry.
                                    Lorem Ipsum has been the</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-container">
                            <img alt="" class="img-fluid members" src="{% static 'assets/images/app_landing2/team/2.png' %}">
                            <div class="text-center">
                                <h5 class="name">Ashekur Rahman</h5>
                                <h6 class="post">Art Dirrector</h6>
                                <p class="team-para">Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry.
                                    Lorem Ipsum has been the</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-container">
                            <img alt="" class="img-fluid members" src="{% static 'assets/images/app_landing2/team/3.png' %}">
                            <div class="text-center">
                                <h5 class="name">Ashekur Rahman</h5>
                                <h6 class="post">Art Dirrector</h6>
                                <p class="team-para">Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry.
                                    Lorem Ipsum has been the</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>