{% load static %}
<section class="landing-footer section-py-space" id="footer">
    <div class="custom-container">
      <div class="row">
        <div class="col-12">
          <div class="footer-contain"><img class="img-fluid" src="{% static 'assets/images/logo/logo-icon.png' %}" alt="">
            <h2>if you like our products Please Rate Us                     </h2>
            <ul class="star-rate">
              <li><i class="fa fa-star font-warning"></i></li>
              <li><i class="fa fa-star font-warning"></i></li>
              <li><i class="fa fa-star font-warning"></i></li>
              <li><i class="fa fa-star font-warning"></i></li>
              <li><i class="fa fa-star font-warning"></i></li>
            </ul>
            <div class="btn-footer"><a class="btn btn-lg btn-primary" target="_blank" href="{% url 'index' %}" data-bs-original-title="" title="">Check Now</a><a class="btn btn-lg btn-secondary" target="_blank" href="https://themeforest.net/user/pixelstrap/portfolio" data-bs-original-title="" title="">Buy Now</a><a class="btn btn-lg btn-success" target="_blank" href="https://themeforest.net/user/pixelstrap/portfolio" data-bs-original-title="" title="">Our Portfolio</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>