{% load static %}
<section class="landing-home" id="home"><img class="img-fluid bg-img-cover" src="{% static 'assets/images/landing/landing-home/home-bg.png' %}" alt="">
    <div class="custom-container">
      <div class="row">
        <div class="col-12">
          <div class="landing-home-contain">
            <div>                                             
              <h2>On Stop<span>For all admin template</span></h2>
              <p> Zeta is Perfect Admin template for any business. it has all features and modules to create your amazing C-panel. this template for selling Default, Crypto, Ecommerce etc......</p>
              <ul class="landing-icon">
                <li><img class="img-fluid" src="{% static 'assets/images/landing/icon/html/html.png' %}" alt=""></li>
                <li> <a href="{% url 'index' %}">View Demo</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="animat-block">
      <li><img class="img-fluid" src="{% static 'assets/images/landing/landing-home/1.png' %}" alt=""></li>
      <li><img class="img-fluid" src="{% static 'assets/images/landing/landing-home/2.jpg' %}" alt=""></li>
      <li><img class="img-fluid" src="{% static 'assets/images/landing/landing-home/3.jpg' %}" alt=""></li>
      <li><img class="img-fluid" src="{% static 'assets/images/landing/landing-home/circle.png' %}" alt=""></li>
      <li><img class="img-fluid" src="{% static 'assets/images/landing/landing-home/circle.png' %}" alt=""></li>
      <li><img class="img-fluid" src="{% static 'assets/images/landing/landing-home/react-orange.png' %}" alt=""></li>
      <li><img class="img-fluid" src="{% static 'assets/images/landing/landing-home/react-yellow.png' %}" alt=""></li>
      <li><img class="img-fluid" src="{% static 'assets/images/landing/landing-home/react-yellow.png' %}" alt=""></li>
    </ul>
  </section>