{% load static %}
<section class="framework section-py-space" id="framework">
    <div class="custom-container">
      <div class="row">                 
        <div class="col-sm-12 wow pulse"> 
          <div class="title">                      
            <h1>Top Frameworks</h1>
          </div>
        </div>
        <div class="col-sm-12 framworks">                 
          <ul class="framworks-list">
            <li class="bounceIn wow">
              <div> <img src="{% static 'assets/images/landing/icon/laravel/bootstrap.png' %}" alt=""></div>
              <h6>Booxstrap 5</h6>
            </li>
            <li class="bounceIn wow">
              <div> <img src="{% static 'assets/images/landing/icon/html/css.png' %}" alt=""></div>
              <h6>CSS</h6>
            </li>
            <li class="bounceIn wow">
              <div> <img src="{% static 'assets/images/landing/icon/html/sass.png' %}" alt=""></div>
              <h6>Sass</h6>
            </li>
            <li class="bounceIn wow">
              <div> <img src="{% static 'assets/images/landing/icon/html/pug.png' %}" alt=""></div>
              <h6>Pug</h6>
            </li>
            <li class="bounceIn wow">
              <div> <img src="{% static 'assets/images/landing/icon/html/npm.png' %}" alt=""></div>
              <h6>NPM</h6>
            </li>
            <li class="bounceIn wow">
              <div> <img src="{% static 'assets/images/landing/icon/html/gulp.png' %}" alt=""></div>
              <h6>Gulp</h6>
            </li>
            <li class="bounceIn wow">
              <div> <img src="{% static 'assets/images/landing/icon/html/kit.png' %}" alt=""></div>
              <h6>Starter Kit</h6>
            </li>
            <li class="bounceIn wow">
              <div> <img src="{% static 'assets/images/landing/icon/html/uikits.png' %}" alt=""></div>
              <h6>40+ UI Kits</h6>
            </li>
            <li class="bounceIn wow">
              <div> <img src="{% static 'assets/images/landing/icon/html/layout.png' %}" alt=""></div>
              <h6>8+ Layout</h6>
            </li>
            <li class="bounceIn wow">
              <div> <img src="{% static 'assets/images/landing/icon/html/builders.png' %}" alt=""></div>
              <h6>Builders</h6>
            </li>
            <li class="bounceIn wow">
              <div> <img src="{% static 'assets/images/landing/icon/html/iconset.png' %}" alt=""></div>
              <h6>11 Icon Sets</h6>
            </li>
            <li class="bounceIn wow">
              <div> <img src="{% static 'assets/images/landing/icon/html/forms.png' %}" alt=""></div>
              <h6>Forms</h6>
            </li>
            <li class="bounceIn wow">
              <div> <img src="{% static 'assets/images/landing/icon/html/table.png' %}" alt=""></div>
              <h6>Tables</h6>
            </li>
            <li class="bounceIn wow">
              <div> <img src="{% static 'assets/images/landing/icon/html/apps.png' %}" alt=""></div>
              <h6>17+ Apps</h6>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>