{% load static %}
<section class="demo-section section-py-space" id="Applications">
    <div class="title">
      <h1>Usefull application</h1>
    </div>
    <div class="custom-container">
      <div class="row demo-block" id="aniimated-thumbnials" itemscope="">
        <figure class="reveal col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope="">
          <div class="demo-box">
            <div class="img-wrraper"><a href="{% url 'social_app' %}"><img class="img-fluid" src="{% static 'assets/images/landing/application/1.jpg' %}" alt=""></a></div>
            <div class="demo-detail">                       
              <div class="demo-title">                          <a class="btn" href="{% url 'social_app' %}">Social App</a></div>
            </div>
          </div>
        </figure>
        <figure class="reveal col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope="">
          <div class="demo-box">
            <div class="img-wrraper"><a href="{% url 'knowledgebase' %}"><img class="img-fluid" src="{% static 'assets/images/landing/application/2.jpg' %}" alt=""></a></div>
            <div class="demo-detail">                       
              <div class="demo-title"><a class="btn" href="{% url 'knowledgebase' %}">Knowledgebase  </a></div>
            </div>
          </div>
        </figure>
        <figure class="reveal col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope="">
          <div class="demo-box">
            <div class="img-wrraper"><a href="{% url 'support_ticket' %}"><img class="img-fluid" src="{% static 'assets/images/landing/application/3.jpg' %}" alt=""></a></div>
            <div class="demo-detail">                       
              <div class="demo-title"><a class="btn" href="{% url 'support_ticket' %}">Support Ticket</a></div>
            </div>
          </div>
        </figure>
        <figure class="reveal col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope="">
          <div class="demo-box">
            <div class="img-wrraper"><a href="{% url 'email_application' %}"><img class="img-fluid" src="{% static 'assets/images/landing/application/4.jpg' %}" alt=""></a></div>
            <div class="demo-detail">                       
              <div class="demo-title"><a class="btn" href="{% url 'email_application' %}">Email Dashboard                           </a></div>
            </div>
          </div>
        </figure>
        <figure class="reveal col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope="">
          <div class="demo-box">
            <div class="img-wrraper"><a href="{% url 'to_do' %}"><img class="img-fluid" src="{% static 'assets/images/landing/application/5.jpg' %}" alt=""></a></div>
            <div class="demo-detail">                       
              <div class="demo-title">                          <a class="btn" href="{% url 'to_do' %}">To-Do</a></div>
            </div>
          </div>
        </figure>
        <figure class="reveal col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope="">
          <div class="demo-box">
            <div class="img-wrraper"><a href="{% url 'cards_view' %}"><img class="img-fluid" src="{% static 'assets/images/landing/application/6.jpg' %}" alt=""></a></div>
            <div class="demo-detail">                       
              <div class="demo-title"><a class="btn" href="{% url 'cards_view' %}">Job Search</a></div>
            </div>
          </div>
        </figure>
        <figure class="reveal col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope="">
          <div class="demo-box">
            <div class="img-wrraper"><a href="{% url 'ecommerce_product_page' %}"><img class="img-fluid" src="{% static 'assets/images/landing/application/7.jpg' %}" alt=""></a></div>
            <div class="demo-detail">                       
              <div class="demo-title"><a class="btn" href="{% url 'ecommerce_product_page' %}">Ecommerce                           </a></div>
            </div>
          </div>
        </figure>
        <figure class="reveal col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope="">
          <div class="demo-box">
            <div class="img-wrraper"><a href="{% url 'kanban_board' %}"><img class="img-fluid" src="{% static 'assets/images/landing/application/8.jpg' %}" alt=""></a></div>
            <div class="demo-detail">                       
              <div class="demo-title"><a class="btn" href="{% url 'kanban_board' %}">Kanban                           </a></div>
            </div>
          </div>
        </figure>
        <figure class="reveal col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope="">
          <div class="demo-box">
            <div class="img-wrraper"><a href="{% url 'file_manager' %}"><img class="img-fluid" src="{% static 'assets/images/landing/application/9.jpg' %}" alt=""></a></div>
            <div class="demo-detail">                       
              <div class="demo-title"><a class="btn" href="{% url 'file_manager' %}">File Manager                           </a></div>
            </div>
          </div>
        </figure>
        <figure class="reveal col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope="">
          <div class="demo-box">
            <div class="img-wrraper"><a href="{% url 'project_project_list' %}"><img class="img-fluid" src="{% static 'assets/images/landing/application/10.jpg' %}" alt=""></a></div>
            <div class="demo-detail">                       
              <div class="demo-title"><a class="btn" href="{% url 'project_project_list' %}">Project </a></div>
            </div>
          </div>
        </figure>
        <figure class="reveal col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope="">
          <div class="demo-box">
            <div class="img-wrraper"><a href="{% url 'contacts' %}"><img class="img-fluid" src="{% static 'assets/images/landing/application/11.jpg' %}" alt=""></a></div>
            <div class="demo-detail">                       
              <div class="demo-title"><a class="btn" href="{% url 'contacts' %}">Contacts                           </a></div>
            </div>
          </div>
        </figure>
        <figure class="reveal col-xl-3 col-sm-6" itemprop="associatedMedia" itemscope="">
          <div class="demo-box">
            <div class="img-wrraper"><a href="{% url 'chat_chat_app' %}"><img class="img-fluid" src="{% static 'assets/images/landing/application/12.jpg' %}" alt=""></a></div>
            <div class="demo-detail">                       
              <div class="demo-title">                          <a class="btn" href="{% url 'chat_chat_app' %}">Chat</a></div>
            </div>
          </div>
        </figure>
      </div>
    </div>
  </section>