{% load static %}
<section class="demo-section section-py-space" id="widget">
    <div class="title">
      <h1>Widget</h1>
    </div>
    <div class="custom-container">
      <div class="row demo-block">
        <div class="col-md-4 wow pulse">  
          <div class="demo-box">
            <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/landing/demo/general.jpg' %}" alt=""></div>
            <div class="demo-title"><a class="btn" href="{% url 'index' %}">General</a></div>
          </div>
        </div>
        <div class="col-md-4 wow pulse">  
          <div class="demo-box">
            <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/landing/demo/chart.jpg' %}" alt=""></div>
            <div class="demo-title"><a class="btn" href="{% url 'dashboard_ecommerce' %}">Chart</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>