{% extends 'base.html' %}{% load static %}
{% block content %}

<!--breadcrumb section start-->
<section class="agency breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="breadcrumb-text text-center">pages with team-list</h2>
                <ul class="breadcrumb justify-content-center">

                    <li><a href="#">pages</a></li>
                    <li><a href="#">team</a></li>
                    <li>team-list</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end-->

<section class="event team-sec team-grid speaker set-relative" id="speaker">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 speker-container">
                <div class="d-flex">
                    <div class="team-img ">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/event/l3-1.png' %}">
                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-google center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-globe center-content"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Vicky Smith</h5>
                        <h6 class="post text-center ">UI/UX Designer - Little Big</h6>
                        <p class="team-para ">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 speker-container">
                <div class="d-flex">
                    <div class="team-img">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/event/l3-2.png' %}">
                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-google center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-globe center-content"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Sam Rowling</h5>
                        <h6 class="post text-center ">Team Leader - otstrab</h6>
                        <p class="team-para ">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 speker-container">
                <div class="d-flex">
                    <div class="team-img">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/event/l3-3.png' %}">
                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-google center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-globe center-content"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Mark Tucker</h5>
                        <h6 class="post text-center ">App Developer - Jumpster</h6>
                        <p class="team-para ">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 speker-container">
                <div class="d-flex">
                    <div class="team-img">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/event/l3-4.png' %}">

                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-google center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-globe center-content"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Sam Rowling</h5>
                        <h6 class="post text-center ">Team Leader - otstrab</h6>
                        <p class="team-para ">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 speker-container">
                <div class="d-flex">
                    <div class="team-img">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/event/l3-1.png' %}">
                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-google center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-globe center-content"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Vicky Smith</h5>
                        <h6 class="post text-center ">UI/UX Designer - Little Big</h6>
                        <p class="team-para ">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 speker-container">
                <div class="d-flex">
                    <div class="team-img">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/event/l3-2.png' %}">
                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-google center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-globe center-content"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Sam Rowling</h5>
                        <h6 class="post text-center ">Team Leader - otstrab</h6>
                        <p class="team-para ">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 speker-container">
                <div class="d-flex">
                    <div class="team-img">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/event/l3-3.png' %}">
                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-google center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-globe center-content"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Mark Tucker</h5>
                        <h6 class="post text-center ">App Developer - Jumpster</h6>
                        <p class="team-para ">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1 speker-container">
                <div class="d-flex">
                    <div class="team-img">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/event/l3-4.png' %}">

                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-facebook center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-twitter center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-google center-content"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i aria-hidden="true" class="fa fa-globe center-content"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Sam Rowling</h5>
                        <h6 class="post text-center ">Team Leader - otstrab</h6>
                        <p class="team-para ">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock content %}