{% load static %}
<div class="col-lg-9 order-lg-2">
    <div>
        <div class="col-12 blog-sec blog-list">
            <div class="blog-agency">
                <div class="row blog-contain ps-0 pe-0">
                    <div class="col-xl-3 col-lg-4 col-md-6 p-0">
                        <div class=" text-center">
                            <img alt="" class="img-fluid blog-img" src="{% static 'assets/images/agency/blog/6.jpg' %}">
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-6 p-0">
                        <div class="img-container center-content">
                            <div class="center-content">
                                <div class="blog-info">
                                    <div class="m-b-20">
                                        <div class="center-text">
                                            <i aria-hidden="true" class="fa fa-clock-o m-r-10"></i>
                                            <h6 class="m-r-25 font-blog">June 19, 2019</h6>
                                            <i aria-hidden="true" class="fa fa-map-marker m-r-10"></i>
                                            <h6 class="font-blog">Phonics ,Newyork</h6>
                                        </div>
                                    </div>
                                    <h5 class="blog-head font-600">Twice profit than before you</h5>
                                    <p class="para2">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since
                                        the 1500s,
                                        when an unknown printer took a galley of type and scrambled it to
                                        make a type.
                                    </p>
                                    <div class="btn-bottom m-t-20">
                                        <a class="text-uppercase" href="#">read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 blog-sec blog-list">
            <div class="blog-agency">
                <div class="row blog-contain ps-0 pe-0">
                    <div class="col-xl-3 col-lg-4 col-md-6 p-0">
                        <div class=" text-center">
                            <img alt="" class="img-fluid blog-img" src="{% static 'assets/images/agency/blog/2.jpg' %}">
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-6 p-0">
                        <div class="img-container center-content">
                            <div class="center-content">
                                <div class="blog-info">
                                    <div class="m-b-20">
                                        <div class="center-text">
                                            <i aria-hidden="true" class="fa fa-clock-o m-r-10"></i>
                                            <h6 class="m-r-25 font-blog">June 19, 2019</h6>
                                            <i aria-hidden="true" class="fa fa-map-marker m-r-10"></i>
                                            <h6 class="font-blog">Phonics ,Newyork</h6>
                                        </div>
                                    </div>
                                    <h5 class="blog-head font-600">Twice profit than before you</h5>
                                    <p class="para2">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since
                                        the 1500s,
                                        when an unknown printer took a galley of type and scrambled it to
                                        make a type.
                                    </p>
                                    <div class="btn-bottom m-t-20">
                                        <a class="text-uppercase" href="#">read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 blog-sec blog-list">
            <div class="blog-agency">
                <div class="row blog-contain ps-0 pe-0">
                    <div class="col-xl-3 col-lg-4 col-md-6 p-0">
                        <div class=" text-center">
                            <img alt="" class="img-fluid blog-img" src="{% static 'assets/images/agency/blog/3.png' %}">
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-6 p-0">
                        <div class="img-container center-content">
                            <div class="center-content">
                                <div class="blog-info">
                                    <div class="m-b-20">
                                        <div class="center-text">
                                            <i aria-hidden="true" class="fa fa-clock-o m-r-10"></i>
                                            <h6 class="m-r-25 font-blog">June 19, 2019</h6>
                                            <i aria-hidden="true" class="fa fa-map-marker m-r-10"></i>
                                            <h6 class="font-blog">Phonics ,Newyork</h6>
                                        </div>
                                    </div>
                                    <h5 class="blog-head font-600">Twice profit than before you</h5>
                                    <p class="para2">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since
                                        the 1500s,
                                        when an unknown printer took a galley of type and scrambled it to
                                        make a type.
                                    </p>
                                    <div class="btn-bottom m-t-20">
                                        <a class="text-uppercase" href="#">read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 blog-sec blog-list">
            <div class="blog-agency">
                <div class="row blog-contain ps-0 pe-0">
                    <div class="col-xl-3 col-lg-4 col-md-6 p-0">
                        <div class=" text-center">
                            <img alt="" class="img-fluid blog-img" src="{% static 'assets/images/agency/blog/4.jpg' %}">
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-6 p-0">
                        <div class="img-container center-content">
                            <div class="center-content">
                                <div class="blog-info">
                                    <div class="m-b-20">
                                        <div class="center-text">
                                            <i aria-hidden="true" class="fa fa-clock-o m-r-10"></i>
                                            <h6 class="m-r-25 font-blog">June 19, 2019</h6>
                                            <i aria-hidden="true" class="fa fa-map-marker m-r-10"></i>
                                            <h6 class="font-blog">Phonics ,Newyork</h6>
                                        </div>
                                    </div>
                                    <h5 class="blog-head font-600">Twice profit than before you</h5>
                                    <p class="para2">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since
                                        the 1500s,
                                        when an unknown printer took a galley of type and scrambled it to
                                        make a type.
                                    </p>
                                    <div class="btn-bottom m-t-20">
                                        <a class="text-uppercase" href="#">read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 blog-sec blog-list">
            <div class="blog-agency">
                <div class="row blog-contain ps-0 pe-0">
                    <div class="col-xl-3 col-lg-4 col-md-6 p-0">
                        <div class=" text-center">
                            <img alt="" class="img-fluid blog-img" src="{% static 'assets/images/agency/blog/6.jpg' %}">
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-6 p-0">
                        <div class="img-container center-content">
                            <div class="center-content">
                                <div class="blog-info">
                                    <div class="m-b-20">
                                        <div class="center-text">
                                            <i aria-hidden="true" class="fa fa-clock-o m-r-10"></i>
                                            <h6 class="m-r-25 font-blog">June 19, 2019</h6>
                                            <i aria-hidden="true" class="fa fa-map-marker m-r-10"></i>
                                            <h6 class="font-blog">Phonics ,Newyork</h6>
                                        </div>
                                    </div>
                                    <h5 class="blog-head font-600">Twice profit than before you</h5>
                                    <p class="para2">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since
                                        the 1500s,
                                        when an unknown printer took a galley of type and scrambled it to
                                        make a type.
                                    </p>
                                    <div class="btn-bottom m-t-20">
                                        <a class="text-uppercase" href="#">read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 blog-sec blog-list">
            <div class="blog-agency">
                <div class="row blog-contain ps-0 pe-0">
                    <div class="col-xl-3 col-lg-4 col-md-6 p-0">
                        <div class=" text-center">
                            <img alt="" class="img-fluid blog-img" src="{% static 'assets/images/agency/blog/2.jpg' %}">
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-6 p-0">
                        <div class="img-container center-content">
                            <div class="center-content">
                                <div class="blog-info">
                                    <div class="m-b-20">
                                        <div class="center-text">
                                            <i aria-hidden="true" class="fa fa-clock-o m-r-10"></i>
                                            <h6 class="m-r-25 font-blog">June 19, 2019</h6>
                                            <i aria-hidden="true" class="fa fa-map-marker m-r-10"></i>
                                            <h6 class="font-blog">Phonics ,Newyork</h6>
                                        </div>
                                    </div>
                                    <h5 class="blog-head font-600">Twice profit than before you</h5>
                                    <p class="para2">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since
                                        the 1500s,
                                        when an unknown printer took a galley of type and scrambled it to
                                        make a type.
                                    </p>
                                    <div class="btn-bottom m-t-20">
                                        <a class="text-uppercase" href="#">read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>