{% load static %}
<div class="col-xl-4 col-md-6">
    <div class="blog-agency">
        <div class="blog-contain">
            <img alt="" class="img-fluid" src="{% static 'assets/images/agency/blog/8.jpg' %}">
            <div class="img-container center-content">
                <div class="center-content">
                    <div class="blog-info">
                        <div class="m-b-20">
                            <div class="center-text">
                                <i aria-hidden="true" class="fa fa-clock-o m-r-10"></i>
                                <h6 class="m-r-25 font-blog">June 19, 2019</h6>
                                <i aria-hidden="true" class="fa fa-map-marker m-r-10"></i>
                                <h6 class="font-blog">Phonics ,Newyork</h6>
                            </div>
                        </div>
                        <h5 class="blog-head font-600">Twice profit than before you</h5>
                        <p class="para2">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the.
                        </p>
                        <div class="btn-bottom m-t-20">
                            <a class="text-uppercase" href="#">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-4 col-md-6">
    <div class="blog-agency">
        <div class="blog-contain">
            <img alt="" class="img-fluid" src="{% static 'assets/images/agency/blog/12.jpg' %}">
            <div class="img-container center-content">
                <div class="center-content">
                    <div class="blog-info">
                        <div class="m-b-20">
                            <div class="center-text"><i aria-hidden="true" class="fa fa-clock-o m-r-10"></i>
                                <h6 class="m-r-25 font-blog">June 19, 2019</h6>
                                <i aria-hidden="true" class="fa fa-map-marker m-r-10"></i>
                                <h6 class="font-blog">Phonics ,Newyork</h6>
                            </div>
                        </div>
                        <h5 class="blog-head font-600">Twice profit than before you</h5>
                        <p class="para2">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the.
                        </p>
                        <div class="btn-bottom m-t-20"><a class="text-uppercase" href="#">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-4 col-md-6">
    <div class="blog-agency">
        <div class="blog-contain">
            <img alt="" class="img-fluid" src="{% static 'assets/images/agency/blog/10.jpg' %}">
            <div class="img-container center-content">
                <div class="center-content">
                    <div class="blog-info">
                        <div class="m-b-20">
                            <div class="center-text">
                                <i aria-hidden="true" class="fa fa-clock-o m-r-10"></i>
                                <h6 class="m-r-25 font-blog">June 19, 2019</h6>
                                <i aria-hidden="true" class="fa fa-map-marker m-r-10"></i>
                                <h6 class="font-blog">Phonics ,Newyork</h6>
                            </div>
                        </div>
                        <h5 class="blog-head font-600">Twice profit than before you</h5>
                        <p class="para2">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the.
                        </p>
                        <div class="btn-bottom m-t-20"><a class="text-uppercase" href="#">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
