{% load static %}
<div class="col-lg-6">
    <div class="row">
        <div class="col-12 product_img_scroll image-scroll" data-sticky_column>
            <div>
                <div>
                    <img alt="" class="img-fluid"
                         src="{% static 'assets/images/inner-page/category/11.jpg' %}">
                </div>
                <div>
                    <img alt="" class="img-fluid"
                         src="{% static 'assets/images/inner-page/category/12.jpg' %}">
                </div>
                <div>
                    <img alt="" class="img-fluid"
                         src="{% static 'assets/images/inner-page/category/13.jpg' %}">
                </div>
                <div>
                    <img alt="" class="img-fluid"
                         src="{% static 'assets/images/inner-page/category/5.jpg' %}">
                </div>
                <div>
                    <img alt="" class="img-fluid"
                         src="{% static 'assets/images/inner-page/category/11.jpg' %}">
                </div>
            </div>
        </div>
    </div>
</div>