{% extends 'base-features.html' %}{% load static %}
{% block css %}
<!-- color css -->
<link href="{% static 'assets/css/inner-page.css' %}" rel="stylesheet" type="text/css">
<!--magnific popup css-->
<link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}

<!--breadcrumb section start-->
<section class="agency breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="breadcrumb-text text-center">features with form popup</h2>
                <ul class="breadcrumb justify-content-center">

                    <li><a href="#">gallery</a></li>
                    <li>form popup</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end-->

<!-- Login-popup section start -->
<section class="login-popup">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="text-center">
                    <h2 class="m-b-20">click here for the form popup</h2>
                    <a class="popup-with-form btn btn-default primary-btn" data-bs-target="#login-modal"
                       data-bs-toggle="modal">click here
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Login-popup section end -->

<!-- Login-modal section start -->
<div class="login-modal">
    <div aria-hidden="true" class="modal fade" id="login-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">                       
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-pills mb-5" id="pills-tab-login" role="tablist">
                        <li class="nav-item">
                            <a aria-controls="pills-home" aria-selected="true" class="nav-link active" data-bs-toggle="pill"
                               href="#pills-home" id="pills-home-tab" role="tab">Login</a>
                        </li>
                        <li class="nav-item">
                            <a aria-controls="pills-profile" aria-selected="false" class="nav-link" data-bs-toggle="pill"
                               href="#pills-profile" id="pills-profile-tab" role="tab">Sign up</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tab-Content">
                        <div aria-labelledby="pills-home-tab" class="tab-pane fade show active" id="pills-home"
                             role="tabpanel">
                            <!-- login-form -->
                            <form>
                                <div class="row g-3">
                                    <div class="form-group col-md-12">
                                        <label for="inputEmail">Email</label>
                                        <input class="form-control" id="inputEmail" placeholder="Email" type="email">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="inputPassword05">Password</label>
                                        <input class="form-control" id="inputPassword05" placeholder="Password"
                                               type="password">
                                    </div>
                                </div>
                                <button class="btn primary-btn btn-default text-uppercase">Sign up</button>
                            </form>
                            <!-- end login form -->
                        </div>
                        <div aria-labelledby="pills-profile-tab" class="tab-pane fade" id="pills-profile"
                             role="tabpanel">
                            <!-- sign up form -->
                            <form>
                                <div class="row g-3">
                                    <div class="form-group col-md-12">
                                        <label for="inputEmail05">Email</label>
                                        <input class="form-control" id="inputEmail05" placeholder="Email" type="email">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword04">Password</label>
                                        <input class="form-control" id="inputPassword04" placeholder="Password"
                                               type="password">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4">Confirm Password</label>
                                        <input class="form-control" id="inputPassword4" placeholder="Password"
                                               type="password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Address</label>
                                    <input class="form-control" id="inputAddress" placeholder="1234 Main St"
                                           type="text">
                                </div>

                                <button class="btn btn-default primary-btn text-uppercase">log in</button>
                            </form>
                            <!-- end sign up form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login-modal section end -->

<!-- footer start -->
<footer class="resume copyright copyright-bg inner-pages-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="link link-horizontal  text-center mb-3">
                    <img alt="" class="img-fluid" src="{% static 'assets/images/logo/5.png' %}">
                </div>
            </div>
            <div class="col-12">
                <div class="link link-horizontal">
                    <ul class="justify-content-center">
                        <li><a class="copyright-text" href="#">home</a></li>
                        <li><a class="copyright-text" href="#">couple</a></li>
                        <li><a class="copyright-text" href="#">invitation</a></li>
                        <li><a class="copyright-text" href="#">album </a></li>
                        <li><a class="copyright-text" href="#">friends say</a></li>
                        <li><a class="copyright-text" href="#">gift</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <div class="text-center">
                    <div class="social-link link-horizontal">
                        <ul class="justify-content-center">
                            <li><a class="copyright-text" href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
                            </li>
                            <li><a class="copyright-text" href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
                            </li>
                            <li><a class="copyright-text" href="#"><i aria-hidden="true" class="fa fa-google"></i></a>
                            </li>
                            <li><a class="copyright-text " href="#"><i aria-hidden="true"
                                                                       class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->

<!-- copyright start -->
<div class="agency copyright inner-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="link-horizontal">
                    <ul>
                        <li>
                            <a class="copyright-text" href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a class="copyright-text" href="#">Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <h6 class="copyright-text text-white text-end">Copyright ©2021 Unice by <i
                            aria-hidden="true"
                            class="fa fa-heart"></i>
                        pixelstrap</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- copyright end -->

{% endblock content %}
{% block scriptcontent %}
<!--magnific popup js-->
<script src="{% static 'assets/js/magnific-popup.js' %}"></script>
{% endblock scriptcontent %}