{% extends 'base-features.html' %}{% load static %}
{% block css %}
<!-- color css -->
<link href="{% static 'assets/css/inner-page.css' %}" rel="stylesheet" type="text/css">
 <!--magnific popup css-->
 <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}

<!-- breadcrumb section start -->
<section class="agency breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="breadcrumb-text text-center">features with zoom gallery</h2>
                <ul class="breadcrumb justify-content-center">

                    <li><a href="#">gallery</a></li>
                    <li>zoom gallery</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb section end -->

<!-- Gallery section start -->
<section class="resume portfolio-section zoom-gallery">
    <div class="container">
        <div class="row">
            <div class="col-12 filter-section">
                <div class="filter-container isotopeFilters">
                    <ul class="list-inline filter">
                        <li class="active"><a data-filter="*" href="#">All</a></li>
                        <li><a data-filter=".fashion" href="#">Fashion</a></li>
                        <li><a data-filter=".bags" href="#">Bags</a></li>
                        <li><a data-filter=".shoes" href="#">Shoes</a></li>
                        <li><a data-filter=".watch" href="#">Watch</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="isotopeContainer row">
            <div class="col-lg-3 col-sm-6 isotopeSelector shoes fashion bags">
                <div class="overlay">
                    <div class="border-portfolio">
                        <a class="zoom_gallery" data-source="http://500px.com/photo/32736307"
                           href="{% static 'assets/images/resume/work/1.jpg' %}" title="Into The Blue">
                            <div class="overlay-background">
                                <i aria-hidden="true" class="fa fa-plus"></i>
                            </div>
                            <img alt="" class="img-fluid blur-up lazyload "
                                 src="{% static 'assets/images/resume/work/1.jpg' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 isotopeSelector shoes fashion">
                <div class="overlay">
                    <div class="border-portfolio">
                        <a class="zoom_gallery" data-source=""
                           href="{% static 'assets/images/resume/work/2.jpg' %}" title="">
                            <div class="overlay-background">
                                <i aria-hidden="true" class="fa fa-plus"></i>
                            </div>
                            <img alt="" class="img-fluid blur-up lazyload "
                                 src="{% static 'assets/images/resume/work/2.jpg' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 isotopeSelector shoes fashion">
                <div class="overlay">
                    <div class="border-portfolio">
                        <a class="zoom_gallery" data-source=""
                           href="{% static 'assets/images/resume/work/3.jpg' %}" title="Light Sabre">
                            <div class="overlay-background">
                                <i aria-hidden="true" class="fa fa-plus"></i>
                            </div>
                            <img alt="" class="img-fluid blur-up lazyload "
                                 src="{% static 'assets/images/resume/work/3.jpg' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 isotopeSelector bags watch">
                <div class="overlay">
                    <div class="border-portfolio">
                        <a class="zoom_gallery" data-source=""
                           href="{% static 'assets/images/resume/work/4.jpg' %}" title="Light Sabre">
                            <div class="overlay-background">
                                <i aria-hidden="true" class="fa fa-plus"></i>
                            </div>
                            <img alt="" class="img-fluid blur-up lazyload "
                                 src="{% static 'assets/images/resume/work/4.jpg' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 isotopeSelector fashion watch">
                <div class="overlay">
                    <div class="border-portfolio">
                        <a class="zoom_gallery" data-source=""
                           href="{% static 'assets/images/resume/work/5.jpg' %}" title="Light Sabre">
                            <div class="overlay-background">
                                <i aria-hidden="true" class="fa fa-plus"></i>
                            </div>
                            <img alt="" class="img-fluid blur-up lazyload "
                                 src="{% static 'assets/images/resume/work/5.jpg' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 isotopeSelector watch">
                <div class="overlay">
                    <div class="border-portfolio">
                        <a class="zoom_gallery" data-source=""
                           href="{% static 'assets/images/resume/work/6.jpg' %}" title="Light Sabre">
                            <div class="overlay-background">
                                <i aria-hidden="true" class="fa fa-plus"></i>
                            </div>
                            <img alt="" class="img-fluid blur-up lazyload "
                                 src="{% static 'assets/images/resume/work/6.jpg' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 isotopeSelector shoes bags">
                <div class="overlay">
                    <div class="border-portfolio">
                        <a class="zoom_gallery" data-source=""
                           href="{% static 'assets/images/resume/work/7.jpg' %}" title="Light Sabre">
                            <div class="overlay-background">
                                <i aria-hidden="true" class="fa fa-plus"></i>
                            </div>
                            <img alt="" class="img-fluid blur-up lazyload" src="{% static 'assets/images/resume/work/7.jpg' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 isotopeSelector watch bags">
                <div class="overlay">
                    <div class="border-portfolio">
                        <a class="zoom_gallery" data-source=""
                           href="{% static 'assets/images/resume/work/8.jpg' %}" title="Light Sabre">
                            <div class="overlay-background">
                                <i aria-hidden="true" class="fa fa-plus"></i>
                            </div>
                            <img alt="" class="img-fluid blur-up lazyload" src="{% static 'assets/images/resume/work/8.jpg' %}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Gallery section end -->

<!-- footer start -->
<footer class="resume copyright copyright-bg inner-pages-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="link link-horizontal  text-center mb-3">
                    <img alt="" class="img-fluid" src="{% static 'assets/images/logo/5.png' %}">
                </div>
            </div>
            <div class="col-12">
                <div class="link link-horizontal">
                    <ul class="justify-content-center">
                        <li><a class="copyright-text" href="#">home</a></li>
                        <li><a class="copyright-text" href="#">couple</a></li>
                        <li><a class="copyright-text" href="#">invitation</a></li>
                        <li><a class="copyright-text" href="#">album </a></li>
                        <li><a class="copyright-text" href="#">friends say</a></li>
                        <li><a class="copyright-text" href="#">gift</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <div class="text-center">
                    <div class="social-link link-horizontal">
                        <ul class="justify-content-center">
                            <li><a class="copyright-text" href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
                            </li>
                            <li><a class="copyright-text" href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
                            </li>
                            <li><a class="copyright-text" href="#"><i aria-hidden="true" class="fa fa-google"></i></a>
                            </li>
                            <li><a class="copyright-text " href="#"><i aria-hidden="true"
                                                                       class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->

<!-- copyright start -->
<div class="agency copyright inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="link-horizontal">
                    <ul>
                        <li>
                            <a class="copyright-text" href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a class="copyright-text" href="#">Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <h6 class="copyright-text text-white text-end">Copyright ©2021 Unice by <i aria-hidden="true"
                                                                                                    class="fa fa-heart"></i>pixelstrap
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- copyright end -->

{% endblock content %}
{% block scriptcontent %}
<!--magnific popup js-->
<script src="{% static 'assets/js/magnific-popup.js' %}"></script>
<script src="{% static 'assets/js/isotope.min.js' %}"></script>
<script src="{% static 'assets/js/portfolio.js' %}"></script>
<!-- script js-->
<script src="{% static 'assets/js/zoom-gallery.js' %}"></script>
{% endblock scriptcontent %}