{% load static %}

<!--breadcrumb section start-->
<section class="agency breadcrumb-section bg-dark video-sec breadcrumb-slider p-0">

    <div class="blocks" data-vide-bg="{% static 'assets/video/sea.mp4' %}" data-vide-options="position: 0% 50%" id="block"
         style="width: 100%; height: 100%;"></div>

    <div class="container set-over">
        <div class="row">
            <div class="col-12"><h2 class="breadcrumb-text text-center">features with video-background</h2>
                <ul class="breadcrumb justify-content-center">

                    <li><a href="#">breadcrumb style</a></li>
                    <li>video-background</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end-->
