{% extends 'base.html' %}{% load static %}
{% block content %}

<!--breadcrumb section start-->
{% include 'layout/breadcrumb.html' %}
<!--breadcrumb section end -->

<!-- section start -->
<section class="agency blog-sec blog-sidebar single_blog_item">
    <div class="container">
        <div class="row">
            {% include 'blog/blog-details/blog-detail/components/blog-main.html' %}
            {% include 'blog/blog-details/blog-detail/components/blog-side.html' %}
            
        </div>
    </div>
</section>
{% endblock content %}