{% load static %}
<section class="app1 about bg-theme">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <div class="title title">
                    <div class="main-title">
                        <h2 class="text-white">About Unice</h2>
                    </div>
                    <div class="sub-title">
                        <p class="text-white para">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry.
                            Lorem Ipsum has been</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-7 col-lg-6 col-sm-12">
                <div class="row set-padding">
                    <div class="col-sm-6 counters">
                        <div class="abouts">
                            <div>
                                <img alt="" class="service-img img-fluid"
                                     src="{% static 'assets/images/app_landing1/about/Ellipse-3-copy.png' %}">
                                <h3 class="text-white">7576</h3>
                                <h5 class="text-white">happy clients</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 counters">
                        <div class="abouts">
                            <div>
                                <img alt="" class="service-img img-fluid"
                                     src="{% static 'assets/images/app_landing1/about/close.png' %}">
                                <h3 class="text-white">402</h3>
                                <h5 class="text-white">Tickets Closed</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 counters">
                        <div class="abouts">
                            <div>
                                <img alt="" class="service-img img-fluid"
                                     src="{% static 'assets/images/app_landing1/about/love.png' %}">
                                <h3 class="text-white">8899</h3>
                                <h5 class="text-white">Followers</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 counters">
                        <div class="abouts">
                            <div>
                                <img alt="" class="service-img img-fluid"
                                     src="{% static 'assets/images/app_landing1/about/coffee.png' %}">
                                <h3 class="text-white">85</h3>
                                <h5 class="text-white">Cups of Coffee</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="set-abs mobile mobile-img bottom-0">
        <div class="set-relative">
            <img alt="" class="img-fluid mobile-screen" src="{% static 'assets/images/app_landing1/about/1-1.png' %}">
            <div class="set-abs mobile rectangle r-2  center-content bottom-0">
                <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing1/icons/1-2.png' %}">
            </div>
            <div class="set-abs mobile rectangle center-content bottom-0">
                <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing1/Ellipse-2-copy-241.png' %}">
            </div>
            <div class="set-abs mobile center-content galaxy bottom-0">
                <img alt="" class="img-fluid" src="{% static 'assets/images/app_landing1/about/Layer-27.png' %}">
            </div>
        </div>
    </div>
</section>