{% load static %}
<section class="app1 pricing mb-0" id="plan">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <div class="title title1">
                    <div class="main-title">
                        <h2 class="font-primary">price Plan</h2>
                    </div>
                    <div class="sub-title">
                        <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel owl-theme pricing-slider price-margin">
                    <div class="item">
                        <div class="price-container  shadows text-center">
                            <div class="price-feature-container set-relative">
                                <div class="feature-text">
                                    <h3 class="feature-text-heading font-primary">Basic</h3>
                                    <hr/>
                                </div>
                                <div class="price-value">
                                    <h4 class="price">$5</h4>
                                </div>
                                <div class="price-features">
                                    <h5 class="price-feature">Up To 1 Exports</h5>
                                    <h5 class="price-feature">Limited Coustomization</h5>
                                    <h5 class="price-feature">30 day Validity</h5></div>
                                <a class=" btn btn-default btn-gradient text-white" href="#">purchase</a>
                                <div class="set-abs bottom-0">
                                    <img alt="" class="img-fluid pricing-img"
                                         src="{% static 'assets/images/app_landing1/pricing/11.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container shadows text-center">
                            <div class="price-feature-container set-relative">
                                <div class="feature-text">
                                    <h3 class="feature-text-heading font-primary">Standard</h3>
                                    <hr/>
                                </div>
                                <div class="price-value">
                                    <h4 class="price">$10</h4>
                                </div>
                                <div class="price-features">
                                    <h5 class="price-feature">Up To 1 Exports</h5>
                                    <h5 class="price-feature">Limited Coustomization</h5>
                                    <h5 class="price-feature">30 day Validity</h5></div>
                                <a class=" btn btn-default btn-gradient text-white" href="#">purchase</a>
                                <div class="set-abs bottom-0">
                                    <img alt="" class="img-fluid pricing-img"
                                         src="{% static 'assets/images/app_landing1/pricing/22.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container shadows text-center">
                            <div class="price-feature-container set-relative">
                                <div class="feature-text">
                                    <h3 class="feature-text-heading font-primary">Advance</h3>
                                    <hr/>
                                </div>
                                <div class="price-value">
                                    <h4 class="price">$15</h4>
                                </div>
                                <div class="price-features">
                                    <h5 class="price-feature">Up To 1 Exports</h5>
                                    <h5 class="price-feature">Limited Coustomization</h5>
                                    <h5 class="price-feature">30 day Validity</h5></div>
                                <a class=" btn btn-default btn-gradient text-white" href="#">purchase</a>
                                <div class="set-abs bottom-0">
                                    <img alt="" class="img-fluid pricing-img"
                                         src="{% static 'assets/images/app_landing1/pricing/33.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>