{% extends 'base.html' %}{% load static %}
{% block css %}
<!--magnific popup css-->
<link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
<!--breadcrumb section start-->
{% include 'layout/breadcrumb.html' %}

<!--breadcrumb section end-->

<!-- section start -->
<section class="portfolio-section agency blog blog-sec">
    <div class="container no-side">
        <div class="isotopeContainer row">
            {% include 'blog/blog-masonry/blog-masonry-no-side/components/blog-top.html' %}
            {% include 'blog/blog-masonry/blog-masonry-no-side/components/blog-bottom.html' %}
        </div>
    </div>
</section>
{% endblock content %}
{% block scriptcontent %}
<!--magnific popup js-->
<script src="{% static 'assets/js/magnific-popup.js' %}"></script>
<script src="{% static 'assets/js/isotope.min.js' %}"></script>
<script src="{% static 'assets/js/portfolio.js' %}"></script>
{% endblock scriptcontent %}