{% load static %}
<section class="event about bg bg-img bg-about">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title3">
                    <div class="main-title">
                        <h2 class=" text-white">About event</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 col-md-6">
                <div class="text-end">
                    <div class="announcer-img">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/event/1.jpg' %}">
                        <img alt="" class="img-fluid" src="{% static 'assets/images/event/1.jpg' %}">
                        <img alt="" class="img-fluid" data-tilt data-tilt-max="3" data-tilt-perspective="500"
                             data-tilt-speed="400" src="{% static 'assets/images/event/l3.jpg' %}">
                    </div>
                </div>
            </div>
            <div class="col-xl-5 offset-xl-1 col-lg-7 col-md-6">
                <div class="abouts center-text">
                    <div class="format">
                        <div class="format-small-text">
                            <h6 class="text-white borders-before text-uppercase"><span>event progress</span></h6>
                        </div>
                        <div class="format-head-text">
                            <h3 class="about-font-header text-white">Welcome To Business Meeting 2021</h3>
                        </div>
                        <div class="format-sub-text">
                            <p class="about-para">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                                the 1500s</p>
                            <p class="about-para">When an unknown printer took a galley of type and scrambled it
                                to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and
                                typesetting
                                industry. Lorem Ipsum has been the industry's</p>
                        </div>
                        <a class="btn btn-default " href="#">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>