{% load static %}
<div class="event copyright flex">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="link-horizontal d-flex align-content-lg-center h-100">
                    <ul>
                        <li>
                            <a class="center-content" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a class="center-content" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a class="center-content" href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a class="center-content" href="#">
                                <i class="fa fa-google"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <p class="copyright-text text-end text-white">© 2021 Unice. All Rights Reserved </p>
            </div>
        </div>
    </div>
</div>