{% load static %}
<section class="event portfolio-section zoom-gallery set-relative">
    <div class="circle">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title3">
                    <div class="main-title">
                        <h2><span>our</span> schedule</h2>
                    </div>
                    <div class="sub-title">
                        <P>Register now and reserve your seat for this <span>year's Unice,</span> the
                            largest <span>web development</span> and online marketing <span>conference in UK,</span>
                            covering everything you need to know in order to develop a successful online business.</P>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 filter-section">
                <div class="filter-container isotopeFilters">
                    <ul class="list-inline filter">
                        <li class="active"><a data-filter="*" href="#">All </a></li>
                        <li><a data-filter=".US-ZONE" href="#">Us Zone</a></li>
                        <li><a data-filter=".ANNUAL" href="#">Annual Event</a></li>
                        <li><a data-filter=".VISIT" href="#">Visit Event</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="isotopeContainer row">
            <div class="col-lg-4 col-md-4 col-sm-6 isotopeSelector VISIT">
                <div class="overlay">
                    <div class="border-portfolio">
                        <a class="zoom_gallery" data-source="http://500px.com/photo/32736307"
                           href="{% static 'assets/images/event/gallery/1.jpg' %}" title="Into The Blue">
                            <div class="overlay-background">
                                <i class="fa fa-link"></i>
                            </div>
                            <img alt="" class="img-fluid" src="{% static 'assets/images/event/gallery/1.jpg' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 isotopeSelector .US-ZONE">
                <div class="overlay">
                    <div class="border-portfolio">
                        <a class="zoom_gallery" data-source="http://500px.com/photo/32736307"
                           href="{% static 'assets/images/event/gallery/2.jpg' %}" title="Into The Blue">
                            <div class="overlay-background">
                                <i class="fa fa-link"></i>
                            </div>
                            <img alt="" class="img-fluid" src="{% static 'assets/images/event/gallery/2.jpg' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 isotopeSelector VISIT">
                <div class="overlay">
                    <div class="border-portfolio">
                        <a class="zoom_gallery" data-source="http://500px.com/photo/32736307"
                           href="{% static 'assets/images/event/gallery/3.jpg' %}" title="Into The Blue">
                            <div class="overlay-background">
                                <i class="fa fa-link"></i>
                            </div>
                            <img alt="" class="img-fluid" src="{% static 'assets/images/event/gallery/3.jpg' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 isotopeSelector US-ZONE">
                <div class="overlay">
                    <div class="border-portfolio">
                        <a class="zoom_gallery" data-source="http://500px.com/photo/32736307"
                           href="{% static 'assets/images/event/gallery/1.jpg' %}" title="Into The Blue">
                            <div class="overlay-background">
                                <i class="fa fa-link"></i>
                            </div>
                            <img alt="" class="img-fluid" src="{% static 'assets/images/event/gallery/1.jpg' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 isotopeSelector ANNUAL">
                <div class="overlay">
                    <div class="border-portfolio">
                        <a class="zoom_gallery" data-source="http://500px.com/photo/32736307"
                           href="{% static 'assets/images/event/gallery/2.jpg' %}" title="Into The Blue">
                            <div class="overlay-background">
                                <i class="fa fa-link"></i>
                            </div>
                            <img alt="" class="img-fluid" src="{% static 'assets/images/event/gallery/2.jpg' %}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>