{% load static %}
<section class="event pricing set-relative bg bg-img bg-about">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="title title3">
                    <div class="main-title">
                        <h2 class=" text-white">our pricing plan</h2>
                    </div>
                    <div class="sub-title">
                        <P class="text-white">Register now and reserve your seat for this
                            <span>year's Unice,</span> the largest <span>web development</span> and online marketing
                            <span>conference in UK,</span> covering everything you need to know in order to develop a
                            successful online business.</P>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="owl-carousel owl-theme pricing-slider">
                    <div class="item">
                        <div class="price-container shadows bg-white text-center">
                            <div class="price-feature-container set-relative">
                                <div class="feature-text">
                                    <span class="flaticon-rocket-ship feature-icon"></span>
                                    <h4 class="feature-text-heading bold text-uppercase font-primary">free</h4>
                                    <hr class="set-border">
                                </div>
                                <div class="price-features font-primary">
                                    <h6 class="price text-center-feature">Easy Installations</h6>
                                    <h6 class="price text-center-feature">Unlimited support</h6>
                                    <h6 class="price text-center-feature">Free Forever</h6>
                                </div>
                                <div class="price-value">
                                    <h6 class="price text-center font-primary">$<span
                                            class="large font-primary">0</span>/month</h6>
                                </div>

                                <a class="btn btn-default back-white" href="#">purchase</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container shadows bg-white text-center">
                            <div class="price-feature-container set-relative">
                                <div class="feature-text">
                                    <span class="flaticon-diamond feature-icon"></span>
                                    <h4 class="feature-text-heading bold text-uppercase font-primary">Silver</h4>
                                    <hr class="set-border">
                                </div>
                                <div class="price-features font-primary">
                                    <h6 class="price text-center-feature">Easy Installations</h6>
                                    <h6 class="price text-center-feature">Unlimited support</h6>
                                    <h6 class="price text-center-feature">Free Forever</h6>
                                </div>
                                <div class="price-value">
                                    <h6 class="price text-center font-primary">$<span
                                            class="large font-primary">70</span>/month
                                    </h6>
                                </div>

                                <a class="btn btn-default back-white" href="#">purchase</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="price-container shadows bg-white text-center">
                            <div class="price-feature-container set-relative">
                                <div class="feature-text">
                                    <span class="flaticon-pie-chart feature-icon"></span>
                                    <h4 class="feature-text-heading bold text-uppercase font-primary">Golden</h4>
                                    <hr class="set-border">
                                </div>
                                <div class="price-features font-primary">
                                    <h6 class="price text-center-feature">Easy Installations</h6>
                                    <h6 class="price text-center-feature">Unlimited support</h6>
                                    <h6 class="price text-center-feature">Free Forever</h6>
                                </div>
                                <div class="price-value">
                                    <h6 class="price text-center font-primary">$<span
                                            class="large font-primary">100</span>/month
                                    </h6>
                                </div>

                                <a class="btn btn-default back-white" href="#">purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>