{% load static %}
<section class="event schedule set-relative" id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center main-text text-uppercase m-b-0">
                            <span>schedule 1</span></h2>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="cal-time">
                    <div class="time">
                        <h4 class="text-capitalize monday-text">Monday, September 30, 2019</h4>
                    </div>
                </div>
                <div class="event-container scrollbar">
                    <div>
                        <div class=" cal-time events">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="schedule-event">
                                        <h5 class="names">Vicky Smith</h5>
                                        <img alt="" class="img-fluid schedule-img"
                                             src="{% static 'assets/images/event/icon.png' %}">
                                        <p class="schedule-description">Lorem Ipsum is simply dummy text of the printing
                                            and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of.</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="timing">
                                        <h5 class="event-time">08:00</h5>
                                        <div class="border-container">
                                            <div class="border-dashed"></div>
                                        </div>
                                        <h5 class="event-time">10:00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" cal-time events">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="schedule-event">
                                        <h5 class="names">Vicky Smith</h5>
                                        <img alt="" class="img-fluid schedule-img"
                                             src="{% static 'assets/images/event/icon.png' %}">
                                        <p class="schedule-description">Lorem Ipsum is simply dummy text of the printing
                                            and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of.</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="timing">
                                        <h5 class="active event-time center-content">08:00</h5>
                                        <div class="border-container">
                                            <div class="border-dashed active"></div>
                                        </div>
                                        <h5 class="active event-time center-content">10:00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" cal-time events">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="schedule-event">
                                        <h5 class="names">Vicky Smith</h5>
                                        <img alt="" class="img-fluid schedule-img"
                                             src="{% static 'assets/images/event/icon.png' %}">
                                        <p class="schedule-description">Lorem Ipsum is simply dummy text of the printing
                                            and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of.</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="timing">
                                        <h5 class="event-time center-content">08:00</h5>
                                        <div class="border-container">
                                            <div class="border-dashed"></div>
                                        </div>
                                        <h5 class="event-time center-content">10:00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" cal-time events">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="schedule-event">
                                        <h5 class="names">Vicky Smith</h5>
                                        <img alt="" class="img-fluid schedule-img"
                                             src="{% static 'assets/images/event/icon.png' %}">
                                        <p class="schedule-description">Lorem Ipsum is simply dummy text of the printing
                                            and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                            text ever since the 1500s, when an unknown printer took a galley of.</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="timing">
                                        <h5 class="event-time center-content">08:00</h5>
                                        <div class="border-container">
                                            <div class="border-dashed"></div>
                                        </div>
                                        <h5 class="event-time center-content">10:00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>