{% load static %}
<div aria-hidden="true" class="modal fade bd-example-modal-lg theme-modal" id="quick-view" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content quick-view-modal">
            <div class="modal-body">
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">                   
                </button>
                <div class="row">
                    <div class="col-lg-6 col-xs-12">
                        <div class="quick-view-img"><img alt="" class="img-fluid"
                                                         src="{% static 'assets/images/inner-page/category/1.jpg' %}"></div>
                    </div>
                    <div class="col-lg-6 rtl-text">
                        <div class="product-right">
                            <h2>Women Pink Shirt</h2>
                            <h3>$32.96</h3>
                            <ul class="color-variant d-flex">
                                <li class="bg-light0"></li>
                                <li class="bg-light1"></li>
                                <li class="bg-light2"></li>
                            </ul>
                            <div class="border-product">
                                <h6 class="product-title">product details</h6>
                                <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                                    doloremque laudantium</p>
                            </div>
                            <div class="product-description border-product">
                                <div class="size-box">
                                    <ul class="d-flex">
                                        <li class="active"><a href="#">s</a></li>
                                        <li><a href="#">m</a></li>
                                        <li><a href="#">l</a></li>
                                        <li><a href="#">xl</a></li>
                                    </ul>
                                </div>
                                <h6 class="product-title">quantity</h6>
                                <div class="qty-box">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <button class="btn quantity-left-minus" data-field="" data-type="minus"
                                                    type="button">
                                                <i aria-hidden="true" class="fa fa-angle-left"></i>
                                            </button>
                                        </span>
                                        <input class="form-control input-number" name="quantity" type="text" value="1">
                                        <span class="input-group-prepend">
                                            <button class="btn quantity-right-plus" data-field="" data-type="plus"
                                                    type="button">
                                                <i aria-hidden="true" class="fa fa-angle-right"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-buttons">
                                <a class="btn btn-default primary-btn radius-0" href="#">add to cart</a>
                                <a class="btn btn-default primary-btn radius-0" href="#">view detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>