{% load static %}
{% include 'tovo_website/index_components/components/home_section.html' %}
{% include 'tovo_website/index_components/components/about.html' %}
{% include 'tovo_website/index_components/components/feature.html' %}
{% include 'tovo_website/index_components/components/screenshot.html' %}
{% include 'tovo_website/index_components/components/team.html' %}
{% include 'tovo_website/index_components/components/blog.html' %}
{% include 'tovo_website/index_components/components/price.html' %}
{% include 'tovo_website/index_components/components/testimonial.html' %}
{% include 'tovo_website/index_components/components/contact.html' %}
{% include 'tovo_website/index_components/components/subscribe.html' %}
{% include 'tovo_website/index_components/components/map.html' %}