{% extends 'base-features.html' %}{% load static %}
{% block css %}
<link href="{% static 'assets/css/color-7.css' %}" rel="stylesheet" type="text/css">
<!--magnific popup css-->
<link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
{% include 'features/header-option/header-light/components/content.html' %}

{% endblock content %}
{% block scriptcontent %}
<!--owl js-->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<!--typed js-->
<script src="{% static 'assets/js/typed.min.js' %}"></script>
<!-- counter js-->
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
<!--magnific popup js-->
<script src="{% static 'assets/js/magnific-popup.js' %}"></script>
<script src="{% static 'assets/js/isotope.min.js' %}"></script>
<script src="{% static 'assets/js/portfolio.js' %}"></script>
<!-- AOS JS -->
<script src="{% static 'assets/js/aos.js' %}"></script>
<!-- script js-->
<script src="{% static 'assets/js/typed.js' %}"></script>
<script src="{% static 'assets/js/zoom-gallery.js' %}"></script>
<script src="{% static 'assets/js/script7.js' %}"></script>

{% endblock scriptcontent %}