{% extends 'base-home.html' %}{% load static %}
{% block css %}
<!-- Font Family-->
<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700,700i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<!-- color css -->
<link href="{% static 'assets/css/color-4.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/music-player.css' %}" rel="stylesheet">
<!--keyframe css-->
<link href="{% static 'assets/css/keyframes.css' %}" rel="stylesheet">
<!--owl carousel css-->
<link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet">
<!--magnific popup css-->
<link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
{% include 'home/music_layout/components/header.html' %}
<!-- header end-->
<!-- album section Start-->
{% include 'home/music_layout/components/album.html' %}
<!-- album section end-->
<!-- artist section Start-->
{% include 'home/music_layout/components/artist.html' %}
<!-- artist section end-->
<!-- sponsor section Start-->
{% include 'home/music_layout/components/sponsor.html' %}
<!-- sponsor section end-->
<!-- gallery section Start-->
{% include 'home/music_layout/components/gallery.html' %}
<!-- gallery section end-->
<!-- video section Start-->
{% include 'home/music_layout/components/video.html' %}
<!-- video section end-->
<!-- booking section Start-->
{% include 'home/music_layout/components/booking.html' %}
<!-- booking section end-->
<!-- blog section start-->
{% include 'home/music_layout/components/blog.html' %}
<!-- blog section end-->
<!-- subscribe section start-->
{% include 'home/music_layout/components/subscribe.html' %}
<!-- subscribe section end-->
<!-- testimonial section start-->
{% include 'home/music_layout/components/testimonial.html' %}
<!-- testimonial section end-->
<!-- footer section start-->
{% include 'home/music_layout/components/footer.html' %}
<!-- footer section end-->
<!-- copyright section start-->
{% include 'home/music_layout/components/copyright.html' %}
<!-- copyright section end-->
{% endblock content %}
{% block scriptcontent %}
<!--magnific popup js-->
<script src="{% static 'assets/js/magnific-popup.js' %}"></script>
<!--owl js-->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<!--owl js-->
<script src="{% static 'assets/js/aos.js' %}"></script>
<!-- tilt JS -->
<script src="{% static 'assets/js/vanilla-tilt.min.js' %}"></script>
<!-- script js-->
<script src="{% static 'assets/js/video-popup.js' %}"></script>
<script src="{% static 'assets/js/script4.js' %}"></script>
<!--music player js-->
<script src="{% static 'assets/js/musicplayer/jquery.jplayer.min.js' %}"></script>
<script src="{% static 'assets/js/musicplayer/jplayer.playlist.min.js' %}"></script>
<script src="{% static 'assets/js/layout-fix.js' %}"></script>
<script>
    function sidesection() {
        var sides = document.getElementById('side-section');
        if (sides.style.display === 'none') {
            sides.style.display = "block";
        } else {
            sides.style.display = "none";
        }
    }

    $(document).ready(function () {

        new jPlayerPlaylist({
            jPlayer: "#jquery_jplayer_1",
            cssSelectorAncestor: "#jp_container_1"
        }, [
            {
                title: "Cro Magnon Man",
                mp3: "http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3",
                oga: "http://www.jplayer.org/audio/ogg/TSP-01-Cro_magnon_man.ogg"
            },
            {
                title: "Your Face",
                mp3: "http://www.jplayer.org/audio/mp3/TSP-05-Your_face.mp3",
                oga: "http://www.jplayer.org/audio/ogg/TSP-05-Your_face.ogg"
            },
            {
                title: "Cyber Sonnet",
                mp3: "http://www.jplayer.org/audio/mp3/TSP-07-Cybersonnet.mp3",
                oga: "http://www.jplayer.org/audio/ogg/TSP-07-Cybersonnet.ogg"
            },
            {
                title: "Cro Magnon Man",
                mp3: "http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3",
                oga: "http://www.jplayer.org/audio/ogg/TSP-01-Cro_magnon_man.ogg"
            },
            {
                title: "Your Face",
                mp3: "http://www.jplayer.org/audio/mp3/TSP-05-Your_face.mp3",
                oga: "http://www.jplayer.org/audio/ogg/TSP-05-Your_face.ogg"
            },
            {
                title: "Cyber Sonnet",
                mp3: "http://www.jplayer.org/audio/mp3/TSP-07-Cybersonnet.mp3",
                oga: "http://www.jplayer.org/audio/ogg/TSP-07-Cybersonnet.ogg"
            },
            {
                title: "Tempered Song",
                mp3: "http://www.jplayer.org/audio/mp3/Miaow-01-Tempered-song.mp3",
                oga: "http://www.jplayer.org/audio/ogg/Miaow-01-Tempered-song.ogg"
            }
        ], {
            swfPath: "../../dist/jplayer",
            supplied: "oga, mp3",
            wmode: "window",
            useStateClassSkin: true,
            autoBlur: false,
            smoothPlayBar: true,
            keyEnabled: true
        });
    });
</script>
{% endblock scriptcontent %}