{% extends 'base-home.html' %}{% load static %}
{% block css %}
<!-- Font Family-->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<!-- color css -->
<link href="{% static 'assets/css/color-8.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/keyframes.css' %}" rel="stylesheet" type="text/css">
<!--owl carousel css-->
<link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet">
<!--magnific popup css-->
<link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
{% include 'home/sass_modern_layout/components/navbar.html' %}
<!-- Navbar section end-->
<!-- header section Start-->
{% include 'home/sass_modern_layout/components/header.html' %}
<!-- header section end-->
<!-- feature section-->
{% include 'home/sass_modern_layout/components/feature.html' %}
<!-- end feature section -->
<!-- build section start -->
{% include 'home/sass_modern_layout/components/build.html' %}
<!-- end build section-->
<!-- work section -->
{% include 'home/sass_modern_layout/components/work.html' %}
<!-- end work section -->
<!-- price table -->
{% include 'home/sass_modern_layout/components/price.html' %}
<!-- end price table -->
<!-- testimonial section -->
{% include 'home/sass_modern_layout/components/testimonial.html' %}
<!-- end testimonial section  -->
<!-- subscribe section -->
{% include 'home/sass_modern_layout/components/subscribe.html' %}
<!-- end subscribe section -->
<!-- faq section -->
{% include 'home/sass_modern_layout/components/faq.html' %}
<!-- end faq section -->
<!-- client section -->
{% include 'home/sass_modern_layout/components/client.html' %}
<!-- end client section -->
<!--footer start-->
{% include 'home/sass_modern_layout/components/footer.html' %}
<!--footer end-->
<!--copyright start-->
{% include 'home/sass_modern_layout/components/copyright.html' %}
<!--copyright end-->
{% endblock content %}
{% block scriptcontent %}
<!--magnific popup js-->
<script src="{% static 'assets/js/magnific-popup.js' %}"></script>
<!--owl js-->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<!--AOS js-->
<script src="{% static 'assets/js/aos.js' %}"></script>
<!-- script js-->
<script src="{% static 'assets/js/video-popup.js' %}"></script>
<script src="{% static 'assets/js/script8.js' %}"></script>
{% endblock scriptcontent %}