{% load static %}
<section class="portfolio multiple-carousel p-0">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel owl-theme gallery-slider" id="gallery-slider">
                    <div class="item">
                        <div class="imgs-carousel img1"></div>
                        <div class="abs-center w-100 text-container">
                            <h5 class="text-white overlay-text text-center">exclusive portfolio<span
                                    class="m-l-5">2019</span>
                            </h5>
                            <p class="right-side text-center">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. </p>
                        </div>

                    </div>
                    <div class="item">
                        <div class="imgs-carousel img2"></div>
                        <div class="abs-center w-100 text-container">
                            <h5 class="text-white overlay-text text-center">exclusive portfolio<span
                                    class="m-l-5">2019</span>
                            </h5>
                            <p class="right-side text-center">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. </p>
                        </div>

                    </div>
                    <div class="item">
                        <div class="imgs-carousel img3"></div>
                        <div class="abs-center w-100 text-container">
                            <h5 class="text-white overlay-text text-center">exclusive portfolio<span
                                    class="m-l-5">2019</span>
                            </h5>
                            <p class="right-side text-center">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. </p>
                        </div>

                    </div>
                    <div class="item">
                        <div class="imgs-carousel img4"></div>
                        <div class="abs-center w-100 text-container">
                            <h5 class="text-white overlay-text text-center">exclusive portfolio<span
                                    class="m-l-5">2019</span>
                            </h5>
                            <p class="right-side text-center">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. </p>
                        </div>

                    </div>
                    <div class="item">
                        <div class="imgs-carousel img5"></div>
                        <div class="abs-center w-100 text-container">
                            <h5 class="text-white overlay-text text-center">exclusive portfolio<span
                                    class="m-l-5">2019</span>
                            </h5>
                            <p class="right-side text-center">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>