{% load static %}
<div class="row partition-collection">
    <div class="col-lg-3 col-md-6">
        <div class="collection-block"><img alt="" class="img-fluid"
                                           src="{% static 'assets/images/inner-page/collection/1.jpg' %}">
            <div class="collection-content">
                <h4>(20 products)</h4>
                <h3>fashion</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p><a
                    class="btn btn-default primary-btn radius-0 m-t-10"
                    href="{% url 'shop_categories_left_sidebar' %}">shop now !</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="collection-block"><img alt="" class="img-fluid"
                                           src="{% static 'assets/images/inner-page/collection/3.jpg' %}">
            <div class="collection-content">
                <h4>(20 products)</h4>
                <h3>fashion</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p><a
                    class="btn btn-default primary-btn radius-0 m-t-10"
                    href="{% url 'shop_categories_left_sidebar' %}">shop now !</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="collection-block"><img alt="" class="img-fluid"
                                           src="{% static 'assets/images/inner-page/collection/5.jpg' %}">
            <div class="collection-content">
                <h4>(20 products)</h4>
                <h3>fashion</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p><a
                    class="btn btn-default primary-btn radius-0 m-t-10"
                    href="{% url 'shop_categories_left_sidebar' %}">shop now !</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="collection-block"><img alt="" class="img-fluid"
                                           src="{% static 'assets/images/inner-page/collection/6.jpg' %}">
            <div class="collection-content">
                <h4>(20 products)</h4>
                <h3>fashion</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p><a
                    class="btn btn-default primary-btn radius-0 m-t-10"
                    href="{% url 'shop_categories_left_sidebar' %}">shop now !</a>
            </div>
        </div>
    </div>
</div>