{% load static %}
<section class="demo-section section-py-space" id="dashboard">
    <div class="title"> 
      <h1>Dashboard</h1>
    </div>
    <div class="custom-container">
      <div class="row demo-block">
        <div class="col-lg-4 col-md-6 wow pulse">  
          <div class="demo-box">
            <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/landing/demo/default.jpg' %}" alt=""></div>
            <div class="demo-title"><a class="btn" href="{% url 'index' %}">Default</a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow pulse">  
          <div class="demo-box">
            <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/landing/demo/ecommerce.jpg' %}" alt=""></div>
            <div class="demo-title"><a class="btn" href="{% url 'dashboard_ecommerce' %}">Ecommerce</a></div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow pulse">  
          <div class="demo-box">
            <div class="img-wrraper"><img class="img-fluid" src="{% static 'assets/images/landing/demo/crypto.jpg' %}" alt=""></div>
            <div class="demo-title"><a class="btn" href="{% url 'dashboard_crypto' %}">Crypto</a></div>
          </div>
        </div>
      </div>
    </div>
  </section>