{% load static %}
<section class="core-feature section-py-space" id="core-feature">
    <div class="title">
      <h1>Unique Features            </h1>
    </div>
    <div class="custom-container">
      <div class="row feature-block">
        <div class="owl-carousel owl-theme" id="feature-js">
          <div class="item">
            <div class="feature-box">
              <div>
                <div class="icon-wrraper"><i data-feather="code"></i></div>
                <h4>Seamless Coding</h4>
                <p>We have crafted our templates very carefully and our code is W3C validated</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="feature-box">
              <div>
                <div class="icon-wrraper"><i data-feather="layout"></i></div>
                <h4>Lots of Table Example</h4>
                <p>We made sure that you get lots of table options to choose any example</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="feature-box">
              <div>
                <div class="icon-wrraper"><i data-feather="settings"></i></div>
                <h4>Easy to Customize</h4>
                <p>Our Template is easy to do any required changes customized</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="feature-box">
              <div>
                <div class="icon-wrraper"><i data-feather="upload-cloud"></i></div>
                <h4>Multiple File Uploads</h4>
                <p>Option Multiple Uploads for more than one file at one time.</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="feature-box">
              <div>
                <div class="icon-wrraper"><i data-feather="calendar"></i></div>
                <h4>Calendar Design</h4>
                <p>We have included Calendar application with Material art and other.</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="feature-box">
              <div>
                <div class="icon-wrraper"><i data-feather="image"></i></div>
                <h4>Gallery Options</h4>
                <p>Included gallery options for you to choose showcase products </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="feature-box">
              <div>
                <div class="icon-wrraper"><i data-feather="cpu"></i></div>
                <h4>Editors</h4>
                <p>Options to select the editors that you are comfortable with</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="feature-box">
              <div>
                <div class="icon-wrraper"><i data-feather="sliders"></i></div>
                <h4>Owl carousel</h4>
                <p>Touch enabled jQuery plugin that lets you create a beautiful responsive carousel</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="feature-box">
              <div>
                <div class="icon-wrraper"><i data-feather="bold"></i></div>
                <h4>Bootstrap</h4>
                <p>Cloudui is builted with latest version of bootstrap with compatible </p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="feature-box">
              <div>
                <div class="icon-wrraper"><i data-feather="codepen"></i></div>
                <h4>Data visualisation</h4>
                <p>A lots of customised charts libraries in the data visualisation</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="feature-box">
              <div>
                <div class="icon-wrraper"><i data-feather="airplay"></i></div>
                <h4>Fully responsive</h4>
                <p>100% fully responsive layout, It display well in any size of devices</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="feature-box">
              <div>
                <div class="icon-wrraper"><i data-feather="trello"></i></div>
                <h4>Rich components</h4>
                <p>A lots of UI components, plugins, widgets and bonus UI components.</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="feature-box">
              <div>
                <div class="icon-wrraper"><i data-feather="droplet"></i></div>
                <h4>3000s of icons</h4>
                <p>Over 3000+ all various type of icons to choose in template</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="feature-box">
              <div>
                <div class="icon-wrraper"><i data-feather="help-circle"></i></div>
                <h4>Support</h4>
                <p>we are always there as your backbone for any of your minor query</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="feature-box">
              <div>
                <div class="icon-wrraper"><i data-feather="trash-2"></i></div>
                <h4>Clean design</h4>
                <p>Clean and attractive design and error free pages in template.</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="feature-box">
              <div>
                <div class="icon-wrraper"><i data-feather="aperture"></i></div>
                <h4>Color templates</h4>
                <p>Dark and light templates available and other color also available</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>