{% load static %}
<section class="gym counter  bg-img3 bg1">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/gym/counter/happy-icon.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="text-white counts">1510</h2>
                        </div>
                        <div class="count-desc">
                            <h5 class="text-white">Satisfied Customers</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/gym/counter/project-icon.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="text-white counts">306</h2>
                        </div>
                        <div class="count-desc">
                            <h5 class="text-white">Projects Completed</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/gym/counter/work-icon.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="text-white counts">48502</h2>
                        </div>
                        <div class="count-desc">
                            <h5 class="text-white">Hours Worked</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/gym/counter/award-icon.png' %}">
                    <div class="counter-text">
                        <div class="count-number">
                            <h2 class="text-white counts">12</h2>
                        </div>
                        <div class="count-desc">
                            <h5 class="text-white">Awwards Winning</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>