{% extends 'base.html' %}

{% load static %}

{% block css %}
      <!-- Plugins css start-->
      <link rel="stylesheet" type="text/css" href="{% static 'assets/css/summernote.css'%}">
      <!-- Plugins css Ends-->
{% endblock  %}

{% block content %}

      <div class="page-body">
        {% include "layout/breadcrumb.html" %}
          <div class="container-fluid summer-note">

                {% include "miscellaneous/editors/summer-note/components/summernote.html" %}

             </div>
        </div>

{% endblock %}

{% block scriptcontent %}
        <!-- Plugins JS start-->
        <script src="{% static 'assets/js/jquery.ui.min.js'%}"></script>
        <script src="{% static 'assets/js/editor/summernote/summernote.min.js'%}"></script>
        <script src="{% static 'assets/js/editor/summernote/summernote.js'%}"></script>
        <script src="{% static 'assets/js/editor/summernote/summernote.custom.js'%}"></script>
        <script src="{% static 'assets/js/tooltip-init.js'%}"></script>
        <!-- Plugins JS Ends-->
{% endblock  %}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    


              


