{% load static %}

<!--breadcrumb section start-->
<section class="agency breadcrumb-section bg1 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="breadcrumb-text text-center">features with background</h2>
                <ul class="breadcrumb justify-content-center">

                    <li><a href="#">breadcrumb style</a></li>
                    <li>with background</li>
                </ul>
            </div>
        </div>
    </div>
</section>
