{% extends 'base-features.html' %}{% load static %}
{% block css %}
<!-- color css -->
<link href="{% static 'assets/css/inner-page.css' %}" rel="stylesheet" type="text/css">
 <!--owl carousel css-->
 <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet">
 <link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}

<!--breadcrumb section start-->
<section class="agency breadcrumb-section bg-dark breadcrumb-slider p-0">
    <div class="owl-carousel owl-theme img-slider">
        <div class="item">
            <div class="bg1"></div>
        </div>
        <div class="item">
            <div class="bg2"></div>
        </div>
        <div class="item">
            <div class="bg3"></div>
        </div>
        <div class="item">
            <div class="bg4"></div>
        </div>
    </div>
    <div class="container set-over">
        <div class="row">
            <div class="col-12"><h2 class="breadcrumb-text text-center">features with gallery background</h2>
                <ul class="breadcrumb justify-content-center">

                    <li><a href="#">breadcrumb style</a></li>
                    <li>gallery background</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--breadcrumb section end-->

<section class="app2 team-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center teams">
                <div class="our-team">
                    <div class="set-relative">
                        <div class="border-around overflow-hide m-auto">
                            <div class="set-relative overflow-hide">
                                <img alt="" class="img-fluid team" src="{% static 'assets/images/app_landing2/team/1.png' %}">
                                <div class="overlay-team set-abs">
                                    <img alt="" class="img-fluid wave"
                                         src="{% static 'assets/images/app_landing2/team/hover-wave-black.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="set-relative set-border">
                        <div class="set-abs top-0 borders"></div>
                    </div>
                    <div class="employee">
                        <h4 class="e-name text-center">ken pitersan</h4>
                        <h6 class="post text-center ">Seniour UI/Xi Designer</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center teams">
                <div class="our-team">
                    <div class="set-relative">
                        <div class="border-around overflow-hide m-auto">
                            <div class="set-relative overflow-hide">
                                <img alt="" class="img-fluid team" src="{% static 'assets/images/app_landing2/team/2.png' %}">
                                <div class="overlay-team set-abs">
                                    <img alt="" class="img-fluid wave"
                                         src="{% static 'assets/images/app_landing2/team/hover-wave-black.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="set-relative set-border">
                        <div class="set-abs top-0 borders"></div>
                    </div>
                    <div class="employee">
                        <h4 class="e-name text-center">ken pitersan</h4>
                        <h6 class="post text-center ">Seniour UI/Xi Designer</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center teams">
                <div class="our-team">
                    <div class="set-relative">
                        <div class="border-around overflow-hide m-auto">
                            <div class="set-relative overflow-hide">
                                <img alt="" class="img-fluid team" src="{% static 'assets/images/app_landing2/team/3.png' %}">
                                <div class="overlay-team set-abs">
                                    <img alt="" class="img-fluid wave"
                                         src="{% static 'assets/images/app_landing2/team/hover-wave-black.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="set-relative set-border">
                        <div class="set-abs top-0 borders"></div>
                    </div>
                    <div class="employee">
                        <h4 class="e-name text-center">ken pitersan</h4>
                        <h6 class="post text-center ">Seniour UI/Xi Designer</h6>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 text-center teams">
                <div class="our-team">
                    <div class="set-relative">
                        <div class="border-around overflow-hide m-auto">
                            <div class="set-relative overflow-hide">
                                <img alt="" class="img-fluid team" src="{% static 'assets/images/app_landing2/team/4.png' %}">
                                <div class="overlay-team set-abs">
                                    <img alt="" class="img-fluid wave"
                                         src="{% static 'assets/images/app_landing2/team/hover-wave-black.png' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="set-relative set-border">
                        <div class="set-abs top-0 borders"></div>
                    </div>
                    <div class="employee">
                        <h4 class="e-name text-center">ken pitersan</h4>
                        <h6 class="post text-center ">Seniour UI/Xi Designer</h6>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="event counter set-relative bg bg-img3 bg-about">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/event/counter/1.png' %}">
                    <div class="counter-text">
                        <h2 class="count-number text-center text-white counts">14</h2>
                        <h6 class="count-desc text-center text-white">Total Topics</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/event/counter/2.png' %}">
                    <div class="counter-text">
                        <h2 class="count-number text-center text-white counts">08</h2>
                        <h6 class="count-desc text-center text-white">Total Speaker</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/event/counter/3.png' %}">
                    <div class="counter-text">
                        <h2 class="count-number text-center text-white counts">28</h2>
                        <h6 class="count-desc text-center text-white">Total event</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6 counter-container">
                <div class="counters">
                    <img alt="" class="img-fluid counter-img" src="{% static 'assets/images/event/counter/4.png' %}">
                    <div class="counter-text">
                        <h2 class="count-number text-center text-white counts">9195</h2>
                        <h6 class="count-desc text-center text-white">Total attendance</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="saas1 faq testimonial-bg" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="faq-block">
                    <div>
                        <h3 class="frequent-text">Frequently Asked Questions</h3>
                        <h6>Our users are impatient. They're probably distracted too. Keep it simple and beautiful, fun
                            and
                            functional. Clean aesthetics supported by a strong concept is what we stand for.</h6>
                        <div class="accordion faq" id="accordionExample">
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse1"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample" id="collapse1" style="">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is
                                        a brand? A good one is.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse2"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample" id="collapse2">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is
                                        a brand? A good one is.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse3"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample" id="collapse3">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is
                                        a brand? A good one is.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div aria-expanded="false" class="card-header collapsed" data-bs-target="#collapse4"
                                     data-bs-toggle="collapse"
                                     role="heading">
                                    <a>
                                        <div class="fa fa-angle-right rotate"></div>
                                    </a>
                                    Do I need to make a payment?
                                </div>
                                <div class="collapse" data-parent="#accordionExample" id="collapse4">
                                    <div class="card-body">
                                        No one cares about products. People care about ideas. Is a product an idea?
                                        Noup. Is
                                        a brand? A good one is.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h6 class="link">Still have a question? Reach out to us: <a>demo@123.com</a></h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="faq-img-block">
                    <img alt="faq-person" class="img-fluid" src="{% static 'assets/images/saas1/faq-img.png' %}">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- footer start -->
<footer class="resume copyright copyright-bg inner-pages-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="link link-horizontal  text-center mb-3">
                    <img alt="" class="img-fluid" src="{% static 'assets/images/logo/5.png' %}">
                </div>
            </div>
            <div class="col-12">
                <div class="link link-horizontal">
                    <ul class="justify-content-center">
                        <li><a class="copyright-text" href="#">home</a></li>
                        <li><a class="copyright-text" href="#">couple</a></li>
                        <li><a class="copyright-text" href="#">invitation</a></li>
                        <li><a class="copyright-text" href="#">album </a></li>
                        <li><a class="copyright-text" href="#">friends say</a></li>
                        <li><a class="copyright-text" href="#">gift</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <div class="text-center">
                    <div class="social-link link-horizontal">
                        <ul class="justify-content-center">
                            <li><a class="copyright-text" href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a>
                            </li>
                            <li><a class="copyright-text" href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a>
                            </li>
                            <li><a class="copyright-text" href="#"><i aria-hidden="true" class="fa fa-google"></i></a>
                            </li>
                            <li><a class="copyright-text " href="#"><i aria-hidden="true"
                                                                       class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->

<!-- copyright start -->
<div class="agency copyright inner-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="link-horizontal">
                    <ul>
                        <li>
                            <a class="copyright-text" href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a class="copyright-text" href="#">Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <h6 class="copyright-text text-white text-end">Copyright ©2021 Unice by <i
                            aria-hidden="true"
                            class="fa fa-heart"></i>
                        pixelstrap</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- copyright end -->

{% endblock content %}
{% block scriptcontent %}
<!--owl js-->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<!-- script js-->
<script src="{% static 'assets/js/breadcrumb-gallery.js' %}"></script>
{% endblock scriptcontent %}